---
---
<div class="warning">
    <h2>&#xf071; ALERT! &#xf071; Advertisement plugin will be enabled by default by the next time</h2>
        <p>Perkedel NTLF+ASTR will enable the advertisement plugins by default by the next certain time soon<br/>
            Pls keep the advertisement on to help us pay the cost of the following reason bellow, OR<br/>
            You are free to disable ads in the setting for $0 if you don't want to help us.<br/>
            Simply set <code>Annoying Ads</code> to <code>OFF</code>.
            We are afraid eventually you may not be able to turn the ad off due to inflating cost to just even<br/>
            have the website or even at worst, simply our doing exist here.
            <!-- We have `default`, `on`, `off` -->
        </p>
        <h3>Reason for Advertisements:</h3>
            <ul>
                <li>Insert essential Subscription services related to running this business here, e.g.</li>
                <li>Linode. Serve data stuff Server Sidedly</li>
                <li>Netlify Boost. Traffic increased somehow, DDoS mitigation</li>
                <li>Domain. Nobody has <strong>permanent purchase domain to this day</strong>, wtf?!?!<br/>
                    wants it a broadcast frequency, etc., <strong>NO PECKING SINGLE OF THEM PROVIDES PERMANENT HOUSE!!!</strong><br/>
                    <span style="font-size:24px;font-weight:bold;">PECKING HELL!!!</span>
                </li>
            </ul>
</div>
<!-- if to enabled permanently, pls class the div to `error` with critical error symbol! -->