---

---
<details>
    <summary>&#xf05a; TIPS &#xf05a; if your IPFS client keeps failing</summary>
    <p class="info">
        &#xf05a; TIPS &#xf05a;: if the website's IPNS IPFS mirror kept failing, try disabling your IPFS.<br/>
        To disable IPFS, look at your IPFS extension icon on top right (the one with teal cube <mark style="color:teal;background:none">&#xf6a5;</mark>)<br/>
        Click to open & click the <mark style="color:blue;background:orange;border-radius:10px">&#x23fb;</mark> power and make sure it's gray <mark style="color:blue;background:gray;border-radius:10px">&#x23fb;</mark>, meaning it's <b>OFF</b>.<br/>
        Then retry by copying the address, paste, & reopen that. Say you have <code>example.neocities.org</code>, copy just the <code>example.neocities.org</code>, select all in that address bar, paste, and <code style="background:black;color:white">&#xf810; ENTER</code> to reopen the website under regular internet mode.<br/>
        Or maybe you can just (disable IPFS, ...) close that tab & reclick the link button again.
        </p>
</details>
