---
import MessageBoxTemplate from "@components/Messages/MessageBoxTemplate.astro";
---
<MessageBoxTemplate 
    severity={0}
    paragraphTitle={true} 
    headingTitle={"Kolmorolotzzet is severely overwhelmed & severely worried right now"} 
    detailSummary={"Important announcement from Admiral Zumi & Kolmorolotzzet department"} 
    opens={true}
    >
    <p lang="en">
        Admiral Zumi has received report from Kolmorolotzzet department that all of the workers are serverely tired busy managing assets,
        as well as experiencing tremendous amount of fear about the fate of all of the assets they've collecting 
        over the past few years.<br/>
        A discussion has been started regarding the opportunity to welcome all 3rd party hoarders preserve everything that kolmorolotzzet 
        had collected, to help relieve in event of tragedies such as data corruptions & losses.<br/>
        If X0p1r4t3 & Perkedel agree, we expectedly to prioritize publishing all assets 
        which are ones likely cause no bad consequences in doing so.<br/>
        With due respect, we expect for all gamers to be cooperative during this discussion and whatever decision Kaorfa will he finally choose. 
        We have been experiencing immense amount of sorrow due to loss of the assets we haven't yet acquired.<br/>
        For further information, please visit 
        <a href="https://github.com/Perkedel/perkedel-astro/issues/13" target="_blank" rel="noopener noreferrer">
            this GitHub Issue</a>. 
        Thancc cool and good.
    </p>
    <p lang="id">
        Laksamana Zumi telah menerima laporan dari departmen Kolmorolotzzet bahwa seluruh pekerja sangat kelelahan sibuk mengurus aset2,
        serta mengalami kekhawatiran yang amat besar mengenai nasib bagi semua aset2 yang telah mereka kumpulkan
        selama bertahun2 belakangan ini.<br/>
        Sebuah diskusi telah dimulai perihal kesempatan bagi para pengumpul untuk melestarikan semuanya yang kolmorolotzzet 
        telah kumpulkan, untuk meringankan jika seandainya terjadi tragedi seperti korupsi data & kehilangan data.<br/>
        Apabila X0p1r4t3 & Perkedel setuju, maka kami mengharapkan untuk mempublikasikan semua aset 
        yang tentunya yang tidak menyebabkan konsekuensi buruk dalam pelaksanaannya.<br/>
        Tanpa mengurangi rasa hormat, kami harap agar para gamers untuk bersikap kooperatif dalam diskusi ini dan apapun keputusan Kaorfa yang akhirnya akan ia pilih. 
        Kami sedang mengalami kesedihan yang amat mendalam atas hilangnya aset2 yang belum sempat kami dapatkan.<br/>
        Untuk informasi lebih lanjut, harap kunjungi
        <a href="https://github.com/Perkedel/perkedel-astro/issues/13" target="_blank" rel="noopener noreferrer">
            Issue GitHub ini</a>.
        Sekian dan Terima Kasih.
    </p>
</MessageBoxTemplate>