---
import MessageBoxTemplate from "@components/Messages/MessageBoxTemplate.astro";
---
<MessageBoxTemplate
    severity={0}
    paragraphTitle={true}
    headingTitle={"Perkedel Technologies is running out of disk space"}
    detailSummary={"Important announcement"}
    opens={false}
    >
    <p lang="en">
        Perkedel needs donation so we can have server
    </p>
    <p lang="id">
    </p>
</MessageBoxTemplate>
