---
import MessageBoxTemplate from "@components/Messages/MessageBoxTemplate.astro";
---
<MessageBoxTemplate
    severity={0}
    paragraphTitle={true}
    headingTitle={"Kolmorolotzzet is severely overwhelmed & severely worried right now"}
    detailSummary={"Important announcement from Admiral Zumi & Kolmorolotzzet department"}
    opens={false}
    >
    <p lang="en">
    </p>
    <p lang="id">
    </p>
</MessageBoxTemplate>
