---
import MessageBoxTemplate from "@components/Messages/MessageBoxTemplate.astro";
---
<MessageBoxTemplate severity={2} paragraphTitle={true} headingTitle={"Read Carefully"} detailSummary={"May possibly damage your camera, Read instruction real carefully!"} opens={true}>
    <a href={`javascript:openFullImage("https://wiki.magiclantern.fm/_media/led-with-card-door-open-280.jpg","LED Blinking & Card door open on the camera, pay attention!")`}>
        <img src="https://wiki.magiclantern.fm/_media/led-with-card-door-open-280.jpg" alt="LED Blinking & Card door open on the camera, pay attention!" style="float:right; max-width:15em;"/>
    </a>
    <ul>
        <li>Read the entire guide before performing any steps.</li>
        <li>You are responsible for any damage done to your camera.</li>
        <li><b style="font-size:1.4em;font-weight:bolder;">Never delete the Magic Lantern files from the card!</b> Format the card instead.</li>
        <li>
            After opening the card door, 
            <b class="error" style="font-size:1.4em;">always wait for LED confirmation</b> 
            (or for 5 seconds) before removing the card, 
            <mark style="font-weight:bold;font-size=1.4em;">even if your camera is turned off!!!</mark>
            </li>
        <li>
            Additionally for NEW INSTALL, 
            there is a bug regarding to libUSB which workaround is available according to 
            <a href="https://www.magiclantern.fm/forum/index.php?topic=17969.msg240894#msg240894" target="_blank" rel="noopener noreferrer">
                This petabyt's thread reply
                </a>
            </li>
    </ul>
    <p>
        Right after opening the card door, Canon firmware <b>accesses the card without turning on the LED</b> 
        (yes, with the main switch turned off). 
        If you remove the card too early, the camera will freeze and will drain the battery, 
        or even cause <mark>permanent damage</mark>! You will be running random code 
        (remember you are loading executable code from the card), 
        and we can't do anything about it without reflashing Canon firmware with our own code.
    </p>
</MessageBoxTemplate> 