---
import ButtonizedLink from '@components/ButtonizedLink.astro';
import EmbedRAWHTML from '@components/EmbedRAWHTML.astro';
import BackToTopButton from '@components/BackToTopButton.astro';
import EmbedVideo from '@components/Elements/EmbedVideo.astro';
import EmbedAudio from '@components/Elements/EmbedAudio.astro';
import MessageBoxTemplate from "@components/Messages/MessageBoxTemplate.astro";
---
<MessageBoxTemplate severity={1} paragraphTitle={true} headingTitle="May contains 69420" detailSummary="Fleeting nudity"><p>May chooses scene that may contains scene with partial / full nudity.<br/>Proceed at your own risk!</p></MessageBoxTemplate>