---

export interface Props {
    headingTitle?: string;
    detailSummary?: string;
    detailSay?: string;
    severity?:number;
    classe?:string;
    paragraphTitle?:Boolean;
    opens?:Boolean;
};

const{
    headingTitle = "",
    detailSummary = "",
    detailSay = "",
    severity = 0,
    classe = "",
    paragraphTitle = true,
    opens = false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<!-- https://stackoverflow.com/a/47488174/9079640 -->
<div class={(
    ()=>{
        switch(severity){
            case 0:
                return "info";
            case 1: 
                return "warning";
            case 2:
                return "error";
            case 3:
                return "busy";
            case 4:
                return "success";
            default:
                return "info";
        }
    }
)() + classe}>
    {paragraphTitle?<p style="font-size:1.5em;font-weight:bold;">
        {(()=>{
        switch(severity){
            case 0:
                return "";
            case 1:
                return "";
            case 2:
                return "";
            case 3:
                return "";
            case 4:
                return "";
            default:
                return "";
        }
    })() +headingTitle}
        </p>:<h2>{(()=>{
        switch(severity){
            case 0:
                return "";
            case 1:
                return "";
            case 2:
                return "";
            case 3:
                return "";
            case 4:
                return "";
            default:
                return "";
        }
    })() +headingTitle}</h2>}
    <!-- <h2>{(()=>{
        switch(severity){
            case 0:
                return "";
            case 1:
                return "";
            case 2:
                return "";
            case 3:
                return "";
            case 4:
                return "";
            default:
                return "";
        }
    })() +headingTitle}</h2> -->
    <details open={opens?"open":""}>
        <summary set:html={detailSummary}></summary>
        <p set:html={detailSay}></p>
        <slot></slot>
    </details>
</div>