---
---
<!--<hr>-->
<div class="error">
    <h2> 🛑 AW SHUCKS!!! 🛑</h2>
    <details>
      <summary>Zeronet deployment is canceled</summary>
      <p>In order to open port for my <a href="https://zeronet.io/" target="_blank" rel="noopener noreferrer">Zeronet</a> owning source, We have to subscribe Public Static IP from ISP which usually included by default on Corporate plans.<br>
        Our plan which is Home one does not have Public Static IP feature, which explains the reason of guaranteed failure for opening port despite correct step placing the details on the router setting.<br>
        Also, it appears our neither the router nor ISP we have been subscribed to, supports Universal Plug & Play (UnPnP) or whatever weird reason we forgot to discuss.<br>
        <br>
        So, sorry folks, no Zeronet at all for you. Ultimately canceled.<br>
        until we can find better ways without needing such complexity, for now we will use Odysee as <i>Website</i>, as our <i>homepage</i> in Odysee available <a href="https://odysee.com/@JOELwindows7:a/PINNED:c" target="_blank" rel="noopener noreferrer">here</a>.<br>
        <br>
        Click <a href="https://youtu.be/N0-8LSlmack?t=455" target="_blank" rel="noopener noreferrer">here</a> to learn more (video is in Bahasa Indonesia).
        </p>
    </details>
  </div>
  <!--<hr>-->