---
---
<div class="info">
    <h2>&#xf05a; Paid Games may still be eligible for showing</h2>
    <!-- https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_details -->
    <!-- https://www.w3schools.com/tags/tag_details.asp -->
    <details>
        <summary>Paid Games Lenience Mandate</summary>
        <p>According to Perkedel Lenience mandate <i>ah forgot we did not assign what date time number that talks about <code>Paid Games</code></i>,
            Games that costs more than $0 (<b>provided no egregious partialism or any other greeds on a case by case basis</b>) 
            are eligible for promotion with no additional cost required (coz infact we do not accept sponsor so paid softwares just show) 
            and with no restriction applied whatsoever.
        </p>
        <p style="font-size=.25em;"><mark class="warning">* This mandate may change or even revoke at any time.</mark></p>
    </details>
   
</div>