---
---
<div class="info">
    <h2>Paid Games may still be eligible for showing</h2>
    <p>According to Perkedel Lenience mandate <i>ah forgot we did not assign what date time number that talks about <code>Paid Games</code></i>,
        Games that costs more than $0 (<b>provided no egregious partialism or any other greeds on a case by case basis</b>) 
        are eligible for promotion with no additional cost required (coz infact we do not accept sponsor so paid softwares just show) 
        and with no restriction applied whatsoever.
    </p>
    <p style="font-size=.25em;">* This mandate may change or even revoke at any time.</p>
</div>