---
---
<div class="warning">
    <h2>&#xf071;⚠️ Paid / {">"}$0 softwares won't shows here</h2>
    <p>We apologize for inconveniences, however due to our policies regarding promotion of software products, 
        Paid / {">"}$0 / Not Gratis / Not Free as in Beer software <b>must not be shown & commented out (but not deleted)</b>.<br/>
        <i>We encourage all developers to share one to each other</i>.. <br/>
        Okay pardon for corporate-ly styled desperate reputation defense excuses. We absolutely hate paid software. Not to mention non-permanent paid softwares. 
        We have to steal parent's credit card or uh use money that hardly earned supposedly for foods just to get it in order to be productive fun or serious. 
        We want the games & apps for $0, no IAP, no whatever that keeps us from using the core, to its certain features in it.<br/>
        We do not accept sponsored promotion so your paid software shows here, <b>NO, absolutely illegal here</b>.<br/>
        Therefore if developers & publisher wish for those software to be eligible for promotion here, 
        <b>you have to waive all the paywalls, partialism, & all forms of Digital Restriction Management</b>, no skips allowed, 
        exclusive here it's $0.
        We will provide original buy links as a donation if people appreciated your products.
    </p>
</div>