---
---
<div class="warning">
    <h2>&#xf071;⚠️ Sparsdat / Piracy of active on sale software products are forbidden</h2>
    <details>
        <summary>Explanations</summary>
        <p>Perkedel nor X0p1r4t3 nor affiliates will not accept sparsdat contribution of active product, 
            software products that are still on sale & very common.<br/>
            <b>Unless any or some of the following:</b>
        </p>
        <ul>
            <li>File(s) is/are litterally gone, no longer found, poof to dust</li>
            <li>File(s) is/are too long overdue on a case by case basis</li>
            <li>File(s) is/are becomes rare these days, sought after, on a case by case basis</li>
            <li>File(s) is/are too long overdue forbidden for reuploads due to a certain reasons on a case by case basis</li>
            <li>Company/Individual has been bankrupt, so with their copyright restrictions</li>
            <li>Company/Individual has been acquired by an open source company (us or somebody), miraculously, & removed every nonsense restriction as all as possible (e.g. uploading source code publicly)</li>
            <li>Company/Individual has egregious greeds such as subcription only</li>
            <li>Company/Individual downtook a precious products for an egregious reason, <i>like an immature & snowflakes</i></li>
        </ul>
        <p>Additionally, we will not host any eligible to sparsdat files directly in here due to location of our hosting here on Earth. 
            If you have any question, Please consult with Admiral Zumi or representatives at X0p1r4t3 Support Center in Dasandim.
        </p>
    </details>
    
</div>