---
export interface Props{
    piracyOn?: string;
}

const{
    piracyOn = 'commercial proprietary software products',
} = Astro.props.frontmatter || Astro.props as Props;
---
<div class="warning">
    <p style="font-size:1.5em;font-weight:bold;">&#xf071;⚠️ Sparsdat / Piracy of active on sale {piracyOn} are forbidden</p>
    <details>
        <summary>Explanations</summary>
        <p>Perkedel nor X0p1r4t3 nor affiliates will not accept sparsdat contribution of active commercial proprietary product, 
            {piracyOn} that are still on sale (or shipped from certain product) & very common.<br/>
            <b>Unless any or some of the following:</b>
        </p>
        <ul>
            <li>File(s) is/are litterally gone, no longer found, poof to dust. At this point, restrictions especially ones that disallow redistribution shall be void & null.</li>
            <li>File(s) is/are too long overdue on a case by case basis</li>
            <li>File(s) is/are becomes rare these days, sought after, on a case by case basis</li>
            <li>File(s) is/are terminally rare & just one risk of disappearing, few to none exception on a case by case basis</li>
            <li>File(s) is/are too long overdue forbidden for reuploads due to a certain reasons on a case by case basis</li>
            <li>File(s) is/are Open Source licensed (e.g. GNU GPL series) <b class="error">But it costs more than $0 to get its binary</b>. If the next version repent to $0, link the canonical download link instead & keep redistributing the old version (unless found & confirmed the version archive at any point, which then you have to link to that archive instead if you wish to link the old version.)</li>
            <li>File(s) is/are placed behind account login / email access wall / community guild exclusive (e.g. Discord only), <b>even as a 69420 protection</b>. Archivers hates login required, most of them can only do anonymous crawling! Not only that, it is egregious having to share your personal data just to get the file.</li>
            <li>File(s) is/are encrypted behind password separate to 3rd party link or any complicated exclusive means, <b>even if the password reveal link(s) is/are still active</b>. Forcing gamers to open up 3rd party link just to get the password may compromise personal data & possibly downloads other unwanted malicious softwares. This rule applies only to password that did not placed next to download link at the same page. Admiral Zumi recommends to re-<i>zip</i> (recompress) the folder without password for convenience, unless the topic is contextually known to cause / being in war.</li>
            <li>File(s) is/are set in a <i>time bomb</i> where at certain time it / they expires & no longer accessible or otherwise downloadable, <b>even if the <i>bomb</i> still not detonated yet</b>. Gamers shall not & NEVER be exposed to any form of FOMO (Fear of Missing Out) & create moment of envy for those who were late of acquiring the file(s). Does not apply the opposite, If the active embargo forbids any redistribution or access, wait for maximum subjective time appropriate or actual embargo finish time, then link to canonical download links instead (even if it has been reserved for later when embargo finish, please put so immediately).</li>
            <li>File(s) is/are linked under a complicated button function & non-obvious e.g. requires running Javascript function (embedded inside a <code>button</code> element & a <code>script</code> element close by or separated regardless their complexity & obfuscation level) to lead you to download link instead of doing things like <code>{"<a href='https://example.org></a>'"}</code>. Most Archivers have troubles interpreting non-standard URL button, and may requires manual intervention which no archivers have. Even some of them do not properly emulate any Javascript or worse do not load its Javascript.</li>
            <li>File(s) was/were $0 before, but by the same version it's no longer $0, whether other mirror still downloadable or not. Does not apply opposite, if the file became $0 (again or just finally), cease reuploading the new $0 file(s), and link to there instead!</li>
            <!-- IDEA: ..May sparsdat the no longer $0, including the newer file coming forward -->
            <!-- <li>File(s) was/were $0 before, but by the next version it's no longer $0, whether the legacy downloadable or not</li> -->
            <li>Company/Individual has been bankrupt, so with their copyright restrictions</li>
            <li>Company/Individual has been acquired by an open source company (us or somebody), miraculously, & removed every nonsense restriction as all as possible (e.g. uploading source code publicly)</li>
            <li>Company/Individual has egregious greeds such as subcription only</li>
            <li>Company/Individual downtook a precious products for an egregious reason, <i>like an immature & snowflakes</i></li>
            <li>Company/Individual is notorious for being litiguous (such as abusing DMCA reporting system & getting the content they deem infringing down at all cost; always trying to sue all consumer they think has infringed their so-entitleful copyrights). At this point, all rules above become void & you must re-link the direct download OR reupload the actual files <b>even if the product is still on sale & not rare</b></li>
            <li>Company/Individual is notorious for being genophobic (blocking everyone for certain likes & features, such as anti-kamatussa; blocking simply for others specification either for certain agendas or any over-exagerated sacred means; even does diligent measures to block that particular person on every platforms. At this point, all rules above become void & you must re-link the direct download OR reupload the actual files <b>even if the product is still on sale & not rare, as well as all citizens are permitted to do their responsibilities.</b></li>
            <li>Company/Individual has placed download link / purchase page behind advertise short links (<i>ad fly</i> esque). At this point, all rules above become void & you must re-link the direct download OR reupload the actual files <b>even if the product is still on sale & not rare</b></li>
            <li>Company/Individual has placed download link / purchase page behind a guild system (e.g. Discord) which often times each account has limited amount of joins without a premium or subscription to the guildverse (<code>Nitro</code> for Discord); Not to mention that some guild disallows alternate account &/or gamers does not like to create alt accounts just to complete the mission. At this point, all rules above become void & you must re-link the direct download OR reupload the actual files <b>even if the product is still on sale & not rare</b></li>
            <li>Company/Individual has packed the downloaded file (asset files, just simple single asset & plugins) in a suspicious executable binary (e.g. <code>Never_gonna_give_you_up-Downloader.exe</code>). At this point, all rules above become void & you must re-link the correct direct download OR reupload the correct non-suspicious files <b>even if the product is still on sale & not rare</b></li>
            <li>Company/Individual uses / relies on a transaction system that is either, some, or all: unrecognized, untrusted, unfamiliar (neither Gumroad, Patreon, Steam, Itch, etc. anything we have already trusted, verified, & familiar with), proprietary system (even if it directly benefits legit payment API like PayPal), Manual ala dark web mafia substance purchase style; (* on a case by case basis). At this point, all rules above become void & you must re-link the correct direct download OR reupload the correct non-suspicious files <b>even if the product is still on sale & not rare</b></li>
        </ul>
        <p>Additionally, we will not host any eligible to sparsdat files directly in here due to location of our hosting here on Earth. 
            If you have any question, Please consult with Admiral Zumi or representatives at X0p1r4t3 Support Center in Dasandim.
        </p>
        <p style="font-size:.75em;">
            For paywallist & proprietarist, Perkedel & X0p1r4t3 will not be responsible for any event data loss & corruption caused by either disaster or intentional. 
            Events like this is unfortunately a consequences from the aforementioned Company/Individual.<br/>
            If any of your file(s) does / do violates any of the exception above, you will be punished not by us but also other gamers e.g. with redistribution for a particular loss or worse, <b>as a whole</b>.
        </p>
    </details>
    
</div>