---
---
<section style='align-items:center;justify-content: center;display:block;text-align:center;font-size:x-small;'>
    <!-- 
        https://tvtropes.org/pmwiki/pmwiki.php/Main/ThisIsAWorkOfFiction
     -->
    <p>
        <br/>
        This media is work of fiction. Names, characters, places, events, and products are either imaginary or used fictiously. Any similarity of person (dead or alive), events (actual or external), names, places, etc. are purely coincidental.
        <br/>
    </p>
</section>