---
---
<details>
    <summary>More information on reasons of listing used plugins on this page</summary>
        <ul>
            <li>Users needs to be given idea for what plugins we used to build this website</li>
            <li>In event of data leaks such as getting tele-market scams after hearing news of data leaks, data on sale, 
                and anything regarding unconsented data exchanges, Perkedel should be disclaimed & waived from any form of
                litigations & punishment for reasons related (at least on an extreme basis), 
                since Perkedel on handling Game save & other cookies never explicitly intent to do such exchange, 
                at least on personal basis.
                </li>
            <li>We would also try our best find & improve ways so that by the most extreme, none of your sensitive informations 
                (not to mention & especially data that if got leaked will destroy any of the reputation in an unwanted ways,) gets mishandled</li>
            <li>By being aware with the list above, users should & will have an idea for which one or some of them are <b>an / a bunch of Impostor(s) Among Us</b>, who is/are known for exchanging user activity data or even personal data.</li>
        </ul>
</details>