---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import CorePage from '../__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';
import CoreRedirect from './_CoreRedirects.astro';

export interface Props{
    redirectsToSauce?:String;
    videoURL?:String;
    imageURL?:String;
    thumbWidth?:String;
    thumbHeight?:String;
    nsfw?:Boolean;
    type?:String;
}

const{
    redirectsToSauce = 'https://perkedel.netlify.app/@JOELwindows7',
    videoURL = '/assets/misc/NTTS_DiscordTricks/goofy-site/huh.gif',
    imageURL = '/assets/misc/NTTS_DiscordTricks/goofy-site/misery.mp4',
    thumbWidth = '250',
    thumbHeight = '202',
    nsfw=false,
    type='video.other',
} = Astro.props.frontmatter || Astro.props as Props;
---
<!-- Directly from https://github.com/NoTextToSpeech/goofy-site/blob/main/index.html -->
<!DOCTYPE html>
<html>
  <head>

    <!-- Thumbnail image/gif -->
    <!-- <meta property="og:image" content="https://raw.githubusercontent.com/discowd-nitro/media-files/main/media/huh.gif"> -->
    <meta property="og:image" content={imageURL}>
    <meta property="og:type" content="video.other">
    
    <!-- Video Link -->
    <!-- <meta property="og:video:url" content="https://raw.githubusercontent.com/discowd-nitro/media-files/main/media/misery.mp4"> -->
    <meta property="og:video:url" content={videoURL}>
    <!-- If you want a seamless transition between your thumbnail size and video size, adjust these values to match your thumbnail resolution. -->
    <!-- However, it will be all wonky if your thumbnail is vertical and your video is horizontal. This works best with similar aspect ratios -->
    <meta property="og:video:height" content={thumbHeight}>
    <meta property="og:video:width" content={thumbWidth}>
    
    <!-- Stole the memes from https://github.com/iwakkrg/iwakkrg.github.io -->
    
    <!-- Redirect -->
    <meta http-equiv="refresh" content={"0; url="+redirectsToSauce+""} />
  </head>
  <body>
  </body>
</html>