---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout 
    title="Camera hacks! Canon Magic Lantern, CHDK, & Stuffs" 
    description="Perkedel NTLF+ASTR. Canon & Cameras Hacks!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, Canon, GoPro, DSLR, Mirrorless, Magic Lantern, CHDK"
    >
    <h1>Camera hacks! Canon Magic Lantern, CHDK, & Stuffs</h1>
        <p>Every hacks for cameras!</p>
        <h2>What to do?</h2>
        <ul>
            <li><ButtonizedLink href="https://magicLantern.fm" target="_blank" rel="noopener noreferrer">MagicLantern.fm</ButtonizedLink> Canon EOS DSLR (except EOS with PowerShot firmware)</li>
            <li><ButtonizedLink href="https://magiclantern.fm/downloads.html" target="_blank" rel="noopener noreferrer">MagicLantern Download which</ButtonizedLink></li>
            <li><ButtonizedLink href="https://builds.magiclantern.fm/" target="_blank" rel="noopener noreferrer">MagicLantern Builds</ButtonizedLink></li>
            <li><ButtonizedLink href="http://www.magiclantern.fm/forum/index.php?topic=16534.0" target="_blank" rel="noopener noreferrer">Portable EOS ROM Dumper</ButtonizedLink> models running EOS firmware, 2 ≤ DIGIC ≤ 8</li>
            <li><ButtonizedLink href="http://www.magiclantern.fm/forum/index.php?topic=25305.0" target="_blank" rel="noopener noreferrer">Canon EOS Basic Dumper</ButtonizedLink> all DIGIC 8 and 10 models</li>
            <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=14732.0" target="_blank" rel="noopener noreferrer">Canon EOS Display Test BIN</ButtonizedLink> needs MagicLantern OR create <code>FIR</code> out of this.</li>
            <li><ButtonizedLink href="https://foss.heptapod.net/magic-lantern/magic-lantern/" target="_blank" rel="noopener noreferrer">MagicLantern Browse Source code</ButtonizedLink> 
                Hosted in Heptapod <b class="error">& is Mercurial, not Git!</b> use <a href="https://tortoisehg.bitbucket.io/" target="_blank" rel="noopener noreferrer">TortoiseHg</a> (Windows), ??? (Linux). if asked login, try <code>guest</code> (both username & password). If still fail, well make Heptapod account??. <b class="success">No login required with TortoiseHg, just clone right click menu!</b>
                </li>
            <li><ButtonizedLink href="https://github.com/reticulatedpines/magiclantern_simplified" target="_blank" rel="noopener noreferrer">MagicLantern Simplified Source code</ButtonizedLink> Hosted in GitHub by <code>reticulatedpines</code></li>
            <li><ButtonizedLink href="https://chdk.fandom.com/" target="_blank" rel="noopener noreferrer">CHDK (Canon Hack Dev Kit)</ButtonizedLink> Canon PowerShot & IXUS (including EOS with PowerShot firmware)</li>
            <li><ButtonizedLink href="https://chdk.fandom.com/wiki/Downloads" target="_blank" rel="noopener noreferrer">CHDK Downloads & Infos</ButtonizedLink></li>
            <li><ButtonizedLink href="https://chdk.fandom.com/wiki/For_Developers" target="_blank" rel="noopener noreferrer">CHDK Developer</ButtonizedLink></li>
            <li><ButtonizedLink href="https://app.assembla.com/spaces/chdk/subversion/source/HEAD/trunk" target="_blank" rel="noopener noreferrer">CHDK Browse Source Code</ButtonizedLink> 
                Hosted at Assembla <b class="error">& is SVN, not Git</b>, use <a href="http://tortoisesvn.net" target="_blank" rel="noopener noreferrer">TortoiseSVN</a> (Windows), ??? (Linux). If you only preserve, use anything e.g. <code>guest</code> (both username & password) if Assembla asks you login, otherwise pls have account at assembla. <b class="success">just <code>guest</code> works in TortoiseSVN checkout right click menu!</b>
                </li>
            <li><ButtonizedLink href="https://chdk.setepontos.com/index.php" target="_blank" rel="noopener noreferrer">CHDK Forum</ButtonizedLink></li>
            <li><ButtonizedLink href="http://mighty-hoernsche.de/" target="_blank" rel="noopener noreferrer">CHDK Downloads Stable Autobuild</ButtonizedLink></li>
            <li><ButtonizedLink href="http://mighty-hoernsche.de/trunk" target="_blank" rel="noopener noreferrer">CHDK Downloads Unstable Autobuild</ButtonizedLink></li>
            <li><ButtonizedLink href="https://chdk.fandom.com/wiki/User_Written_Scripts" target="_blank" rel="noopener noreferrer">CHDK Scripts</ButtonizedLink></li>
            <li><ButtonizedLink href="https://web.archive.org/web/20170608030518fw_/http://pel.hu:80/down/" target="_blank" rel="noopener noreferrer">Pelican (pel.hu) Downloads</ButtonizedLink> Has EOSCard application</li>
            <li><ButtonizedLink href="https://chdk.fandom.com/wiki/CHDK_Links" target="_blank" rel="noopener noreferrer">CHDK Links</ButtonizedLink> Highlights of interesting & essential links around CHDK</li>
            <li><ButtonizedLink href="https://github.com/KonradIT/autoexechack" target="_blank" rel="noopener noreferrer">GoPro AutoExec</ButtonizedLink> GoPro Old Less than HERO 4.</li>
            <li><ButtonizedLink href="https://github.com/konradit/hero4hack" target="_blank" rel="noopener noreferrer">GoPro HERO4 Hack</ButtonizedLink></li>
            <li><ButtonizedLink href="https://www.goprofanatics.com/forum/threads/gopro-autoexec-ash-hacking-and-fw-studies.5179/" target="_blank" rel="noopener noreferrer">Konrad Iturbe's Thread about this GoPro Hack</ButtonizedLink></li>
            <li><ButtonizedLink href="http://github.com/hypoxic/hero4-session" target="_blank" rel="noopener noreferrer">GoPro HERO4 Session Hack</ButtonizedLink></li>
            <li><ButtonizedLink href="https://github.com/konradit/gpauto" target="_blank" rel="noopener noreferrer">GoPro HERO5 Hack</ButtonizedLink> with GPAuto.</li>
            <li><ButtonizedLink href="https://github.com/KonradIT/gopro-firmware" target="_blank" rel="noopener noreferrer">GoPro Firmware research</ButtonizedLink></li>
            <li><ButtonizedLink href="https://github.com/KonradIT/MagicLanternGoPro" target="_blank" rel="noopener noreferrer">Portable non-permanent GoPro autoexecs (Not MagicLantern)</ButtonizedLink></li>
            <li><ButtonizedLink href="https://konraditurbe.dev/hacking.html" target="_blank" rel="noopener noreferrer">Everything GoPro Hack Konrad Iturbe has!!!</ButtonizedLink> also his homepage at <a href="http://konraditurbe.dev" target="_blank" rel="noopener noreferrer">konraditurbe.dev</a></li>
            <li><ButtonizedLink href="https://github.com/ma1co/Sony-PMCA-RE" target="_blank" rel="noopener noreferrer">Sony Camera Reverse Engineering</ButtonizedLink> Did you know that Sony used to support extrnal modules & apps for their Alpha line up? called <b>PlayMemories Camera Apps (PMCA)</b>. Yes that's right! It's because that it is infact these cameras are essentially supports / runs Android!! 
                You can install more features for your Sony cameras, but unfortunately, <mark class="error">Most of them are paid!</mark> & also I said <i>used to</i> which means, <mark class="error">it's gone.</mark>
                </li>
            <li><ButtonizedLink href="https://github.com/ma1co/OpenMemories-Tweak" target="_blank" rel="noopener noreferrer">Install OpenMemories:Tweak First!</ButtonizedLink></li>
            <li><ButtonizedLink href="https://github.com/ma1co/fwtool.py" target="_blank" rel="noopener noreferrer">Dump Sony camera Firmware with <code>fwtool.py</code></ButtonizedLink></li>
            <li><ButtonizedLink href="https://github.com/ma1co/OpenMemories-AppList" target="_blank" rel="noopener noreferrer">OpenMemories App List Source code</ButtonizedLink> the live website stopped working, pls wait while we working on the software that reinterpret the <code>yaml</code> file to be placed on your site!</li>
            <li><ButtonizedLink href="https://youtu.be/WzqBOAnXbn4" target="_blank" rel="noopener noreferrer">BatamKamera's YouTube video about OpenMemories:Tweak & How to install</ButtonizedLink></li>
            <li><ButtonizedLink href="https://www.youtube.com/watch?v=Rr5KfL-Obh4" target="_blank" rel="noopener noreferrer">Aaron Prescott's YouTube video of how to install apps on your Sony camera with PlayMemories support</ButtonizedLink></li>
            <li><ButtonizedLink href="https://openmemories.readthedocs.io/devices.html" target="_blank" rel="noopener noreferrer">Supported Sony Cameras for the Reverse Engineering of OpenMemories: Tweak</ButtonizedLink></li>
            <li><ButtonizedLink href="https://openmemories.readthedocs.io/" target="_blank" rel="noopener noreferrer">OpenMemories Documentations</ButtonizedLink></li>
            <li><ButtonizedLink href="https://github.com/fujihack/fujihack" target="_blank" rel="noopener noreferrer">Fujihack</ButtonizedLink> Fujifilm camera hacks! <mark class="warning">does not include Instax hacks support</mark></li>
            <li><ButtonizedLink href="https://fujihack.github.io/" target="_blank" rel="noopener noreferrer">Fujihack Website</ButtonizedLink></li>
        </ul>
</Layout>