---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import ListKnownCanon from '@components/Elements/SparePart/ListKnownCanon.astro';
---
<Layout 
    title="Camera hacks! Canon Magic Lantern, CHDK, & Stuffs" 
    description="Perkedel NTLF+ASTR. Canon & Cameras Hacks!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, Canon, GoPro, DSLR, Mirrorless, Magic Lantern, MagicLantern, CHDK, NikonHacker, Nikon, Hacker, Nikon Hacker, Fujihack, Fujifilm, Fuji hack"
    >
    <h1>Camera hacks! Canon Magic Lantern, CHDK, & Stuffs</h1>
        <p>Every hacks for cameras!</p>
        <h2>List of Known cameras</h2>
            <h3>Canon</h3>
                <p>Here Canon</p>
                <ListKnownCanon/>
            <h3>GoPro</h3>
                <p>Here GoPro</p>
            <h3>Nikon</h3>
                <p>Here Nikon</p>
            <h3>Sony</h3>
                <p>Here Sony</p>
            <h4>Fujifilm</h4>
                <p>Here GoPro</p>
        <h2>What to do?</h2>
            <h3>Special Links</h3>
                <p>In this page, there is:</p>
                    <ul>
                        <li><ButtonizedLink href="SpecialCase">Camera Special Cases</ButtonizedLink> Attempts to make the camera hack works</li>
                    </ul>
            <h3>Magic Lantern</h3>
                <p>for EOS firmwares (except EOS M that uses Powershot / IXUS firmware)</p>
                    <ul>
                        <!-- Magic Lantern -->
                        <li><ButtonizedLink href="https://en.wikipedia.org/wiki/List_of_Canon_products" target="_blank" rel="noopener noreferrer">Wikipedia: List of Canon products</ButtonizedLink> (English version)</li>
                        <li><ButtonizedLink href="https://magicLantern.fm" target="_blank" rel="noopener noreferrer">MagicLantern.fm</ButtonizedLink> Canon EOS DSLR (except EOS with PowerShot firmware)</li>
                        <li><ButtonizedLink href="https://magiclantern.fm/downloads.html" target="_blank" rel="noopener noreferrer">MagicLantern Download which</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://builds.magiclantern.fm/" target="_blank" rel="noopener noreferrer">MagicLantern Builds</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://wiki.magiclantern.fm/install" target="_blank" rel="noopener noreferrer">MagicLantern How to install</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://wiki.magiclantern.fm/new-install" target="_blank" rel="noopener noreferrer">MagicLantern NEWER How to install</ButtonizedLink> Work in Progress</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=991.0" target="_blank" rel="noopener noreferrer">Getting started with development</ButtonizedLink> a1ex's thread of how to setup development.<br/>
                            Also one more thing. You better use VM / Container / Docker compiling this. Because I heard that a Docker used once said <i>Use Container.</i>, because using latest library often fails, because of different looks, mechanism, & configurations. 
                            So yeah, just.. trust me, I'm sorry. Get the one that definitely works for that version of configurations. 
                            Umm, only <a href="https://nanomad.magiclantern.fm/Development%20Box/" target="_blank" rel="noopener noreferrer">nanomad's VM link</a> works, 
                            the <a href="http://www.magiclantern.fm/forum/index.php?topic=7579.msg134989#msg134989" target="_blank" rel="noopener noreferrer">nikfreak's VM Google Drive link</a> <mark class="error">requires access</mark>
                            </li>
                        <li><ButtonizedLink href={"https://twitter.com/autoexec_bin/status/913530810686418944?s=20&t=fF9SVyo685E6_eq7Anp0SA"} target="_blank" rel="noopener noreferrer">(Twitter, GIF) Compiling Magic Lantern and QEMU on Ubuntu - just run the install script :)</ButtonizedLink></li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=16012.msg191686#msg191686"} target="_blank" rel="noopener noreferrer">Compiling Magic Lantern and QEMU on Mac</ButtonizedLink> a1ex's reply, <code>Latest qemu branch on a fresh Mac VM:</code></li>
                        <li><ButtonizedLink href="https://foss.heptapod.net/magic-lantern/magic-lantern/-/blob/branch/qemu/contrib/qemu/README.rst" target="_blank" rel="noopener noreferrer">MagicLantern How to QEMU</ButtonizedLink> How can I run Magic Lantern in QEMU? 
                            (Linux Only! use WSL or real Linux! here <a href="http://www.magiclantern.fm/forum/index.php?topic=20214.0" target="_blank" rel="noopener noreferrer">WSL info</a>)
                            </li>
                        <li><ButtonizedLink href="https://github.com/reticulatedpines/qemu-eos/tree/qemu-eos-v4.2.1/magiclantern" target="_blank" rel="noopener noreferrer">reticulatedpines how to qemu</ButtonizedLink> QEMU 4 how to compile NEW</li>
                        <li><ButtonizedLink href="https://github.com/reticulatedpines/qemu-eos" target="_blank" rel="noopener noreferrer">reticulatedpines' QEMU</ButtonizedLink> QEMU 4 version of QEMU EOS</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=16534.0" target="_blank" rel="noopener noreferrer">Portable EOS ROM Dumper</ButtonizedLink> models running EOS firmware, 2 ≤ DIGIC ≤ 8</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=25305.0" target="_blank" rel="noopener noreferrer">Canon EOS Basic Dumper</ButtonizedLink> all DIGIC 8 and 10 models</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=14732.0" target="_blank" rel="noopener noreferrer">Canon EOS Display Test BIN</ButtonizedLink> needs MagicLantern OR create <code>FIR</code> out of this.</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=12177.0" target="_blank" rel="noopener noreferrer">Finding Stubs</ButtonizedLink> Tutorial: finding stubs</li>
                        <li><ButtonizedLink href="https://foss.heptapod.net/magic-lantern/magic-lantern/" target="_blank" rel="noopener noreferrer">MagicLantern Browse Source code</ButtonizedLink> 
                            Hosted in Heptapod <b class="error">& is Mercurial, not Git!</b> use <a href="https://tortoisehg.bitbucket.io/" target="_blank" rel="noopener noreferrer">TortoiseHg</a> (Windows), ??? (Linux). if asked login, try <code>guest</code> (both username & password). If still fail, well make Heptapod account??. <b class="success">No login required with TortoiseHg, just clone right click menu!</b>
                            </li>
                        <li><ButtonizedLink href="https://github.com/reticulatedpines/magiclantern_simplified" target="_blank" rel="noopener noreferrer">MagicLantern Simplified Source code</ButtonizedLink> Hosted in GitHub by <code>reticulatedpines</code></li>
                        <li><ButtonizedLink href="https://github.com/ccritix/magic-lantern" target="_blank" rel="noopener noreferrer">MagicLantern ccritix Source code</ButtonizedLink> Hosted in GitHub by <code>ccritix</code></li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=26681.0" target="_blank" rel="noopener noreferrer">MagicLantern Not Dead Edition</ButtonizedLink> reticulatedpines here ported ML to 200D</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=20214.0" target="_blank" rel="noopener noreferrer">How to Compile MagicLantern On Windows 10 (with WSL) / Debian Ubuntu Linux</ButtonizedLink> Compiling Magic Lantern on Windows 10 (using its Linux subsystem)</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=15894.0" target="_blank" rel="noopener noreferrer">How to Compile MagicLantern On Windows 10 (with Cygwin MinGW-64)</ButtonizedLink> Compiling Magic Lantern with Cygwin/MinGW-64</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=15845.0" target="_blank" rel="noopener noreferrer"><!--How to Compile MagicLantern On Windows 10 (with Msys MinGW-64)--> Forum thread of msys MinGW</ButtonizedLink> Compiling ML on Windows with msys/MinGW - The Sequel</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=15845.msg154356#msg154356" target="_blank" rel="noopener noreferrer">How to Compile MagicLantern On Windows 10 (with Msys MinGW-64)</ButtonizedLink> Compiling ML on Windows with msys/MinGW - The Sequel</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=14725.0" target="_blank" rel="noopener noreferrer">How to Compile MagicLantern On Cloud with Codio</ButtonizedLink> Compiling Magic Lantern in the Cloud</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=991.0" target="_blank" rel="noopener noreferrer">Magic Lantern Development Get started</ButtonizedLink> a1ex's forum thread of Getting started with development</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=10774.0" target="_blank" rel="noopener noreferrer">Using TortoiseHG (GUI) - Working with branches - Creating Pull Request</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=12657.0" target="_blank" rel="noopener noreferrer">Want to help with development, without having to code?</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=9625.0" target="_blank" rel="noopener noreferrer">Easy Coding tasks</ButtonizedLink> a1ex's list of assignments of easy code tasks you can pick & help</li>
                        <li><ButtonizedLink href="https://github.com/coon42/magic-lantern-dev-kit/tree/master/cable/gerber" target="_blank" rel="noopener noreferrer">coon42's UART Connector gerber</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://a1ex.magiclantern.fm/bleeding-edge/200D/BOOT200D.FIR" target="_blank" rel="noopener noreferrer">a1ex's 200D Bootflag enabler</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=11108.0" target="_blank" rel="noopener noreferrer">FINAL MAGICLANTERN STICKIES</ButtonizedLink> The sticky to end all stickies. Read this first.</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=9517.0" target="_blank" rel="noopener noreferrer">Getting ML development machine up & running</ButtonizedLink> a list of threads that will help you in merging your own code to ML</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=23369.0" target="_blank" rel="noopener noreferrer">EOS 4000D / 3000D / Rebel T100 Development</ButtonizedLink> Joel has this DSLR, alas though, development seems has stopped</li>
                        <li><ButtonizedLink href="https://github.com/ccritix/magic-lantern/tree/branches/1300D/platform/4000D.100" target="_blank" rel="noopener noreferrer">EOS 4000D / 3000D / Rebel T100 Platform folder</ButtonizedLink> on ccritix's GitHub-ed ML source code</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=17969.0" target="_blank" rel="noopener noreferrer">EOS 1300D / Kiss X80 / Rebel T6 Development</ButtonizedLink> We were told by <code>a1ex</code> himself to go follow here after that main 3000D thread.</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=17969.525" target="_blank" rel="noopener noreferrer">EOS 1300D / Kiss X80 / Rebel T6 Go to the last page!</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=17969.msg237854#msg237854" target="_blank" rel="noopener noreferrer">EOS 1300D / Kiss X80 / Rebel T6 Go to the download message!</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=17969.msg240894#msg240894" target="_blank" rel="noopener noreferrer">EOS 1300D / Kiss X80 / Rebel T6 Important info regarding libUSB</ButtonizedLink> Zadig still seems very janky, slow, and destructive...</li>
                        <li><ButtonizedLink href="https://bitbucket.org/ccritix/magic-lantern-git/downloads/magiclantern-Nightly.2022Feb07.1300D110.zip" target="_blank" rel="noopener noreferrer">EOS 1300D / Kiss X80 / Rebel T6 ccritix build 2022-02-07 download now!</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=17969.msg236992#msg236992" target="_blank" rel="noopener noreferrer">EOS 1300D / Kiss X80 / Rebel T6 FIR missing so Walter asked us to go to this reply 483!</ButtonizedLink> is goes to <a href="https://docs.google.com/document/d/1PdUBSY9Ao1l8G-8axQo4XcFOP-bxDbqWvRK-hcXm0LY/edit" target="_blank" rel="noopener noreferrer">here</a>, which already you should to to that <a href="https://wiki.magiclantern.fm/new-install" target="_blank" rel="noopener noreferrer"><b>new install above</b></a>.
                            Again, basically you just better do the MLinstall & libUSB-ing your 1300D instead of FIR file like it was on CHDK, idk, I think.., The guide just expect you to have those <code>autoexec.bin</code> & the <code>ML</code> folder in the root of your memory card (SD) that's all.
                            </li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=24827.msg230622#msg230622" target="_blank" rel="noopener noreferrer">Canon EOS R5 / R6 Development reply 196!</ButtonizedLink> <code>yourboylloyd</code>: Yes you can help if you have firmware version 1.0.0. I'll give you some steps below on how to perform a ROM dump. ... (has link to <a href="https://sourceforge.net/projects/win32diskimager/" target="_blank" rel="noopener noreferrer">Win32Disk Imager</a> & <a href="https://drive.google.com/file/d/1eMcuERvIoRDS40Z9Iied5pUxLeo0yiHm/view?usp=sharing" target="_blank" rel="noopener noreferrer">R6 Dumper IMG</a></li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=16534.msg230684#msg230684" target="_blank" rel="noopener noreferrer">It was from here.</ButtonizedLink> Walter Schulz suggested to go to that EOS R6 dumper how.</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=17714" target="_blank" rel="noopener noreferrer">CHDK cpuinfo</ButtonizedLink>  (portable code, also digic 6)</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=14732.0" target="_blank" rel="noopener noreferrer">Display access from bootloader / Portable binary test</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=24926.0" target="_blank" rel="noopener noreferrer">1.3.6 Firmware 5D Mk3 (and other models) Downgrade / Rollback Tutorial</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://magiclantern.fm/forum/index.php?topic=18941.0" target="_blank" rel="noopener noreferrer">Firmware Update/Downdate?</ButtonizedLink> How to do Canon Firmware update</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=19417.0" target="_blank" rel="noopener noreferrer">Porting a Canon firmware update</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=19737.msg225763#msg225763" target="_blank" rel="noopener noreferrer">DIGIC 7 development (200D/SL2, 800D/T7i, 77D, 6D2) Give or take</ButtonizedLink> HELP mE!!!!</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=13335.0" target="_blank" rel="noopener noreferrer">Official statement about ML's GPL license and its violation</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://youtu.be/oY4RbCaadrc" target="_blank" rel="noopener noreferrer">Daniel C's / petabyt's YouTube video of How install ML on EOS 1300D / Kiss X80 / Rebel T6</ButtonizedLink> Please also read the description for latest updates</li>
                        <li><ButtonizedLink href="https://wiki.magiclantern.fm/new-install#troubleshooting_1300d_rebel_t6" target="_blank" rel="noopener noreferrer">Heads up for that 1300D</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://github.com/petabyt/mlinstall" target="_blank" rel="noopener noreferrer">MagicLantern installer</ButtonizedLink>by petabyt (same guy who made Fujihack). Install MagicLanter, enable bootflags, etc.</li>
                        <li><ButtonizedLink href="https://www.magiclantern.fm/forum/index.php?topic=26162.0" target="_blank" rel="noopener noreferrer">MagicLantern installer forum thread</ButtonizedLink> Magic Lantern USB Installation Tool</li>
                        <li><ButtonizedLink href="https://petabyt.github.io/mlinstall/MANUAL" target="_blank" rel="noopener noreferrer">MagicLantern installer Manual</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://github.com/petabyt/sequoia-ptpy" target="_blank" rel="noopener noreferrer">petabyt's research on enabling Canon bootflags</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://github.com/petabyt/magiclantern_simplified/commits/1300d" target="_blank" rel="noopener noreferrer">petabyt's ML commit's for 1300D</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://github.com/mcuee/libusb-win32/" target="_blank" rel="noopener noreferrer">Please resort your libUSB to here instead!</ButtonizedLink> mcue's libUSB filter installer</li>
                        <li><ButtonizedLink href={"https://twitter.com/autoexec_bin/status/1354138373687017474?s=20&t=CVVZQzPB-mOzOFNDj7FUDA"} target="_blank" rel="noopener noreferrer">MagicLantern's twitter reminder</ButtonizedLink></li>
                        <li><ButtonizedLink href={"https://pel.hu/eoscard/"} target="_blank" rel="noopener noreferrer">NEW! Pelican's EOSCARD & Original EOS firmwares</ButtonizedLink></li>
                        <li><ButtonizedLink href={"https://magiclantern.fandom.com/wiki/ASM_introduction"} target="_blank" rel="noopener noreferrer">ASM introduction</ButtonizedLink>Magic Lantern's Wikia article of ARM Assembly Introduction</li>
                        <li><ButtonizedLink href={"https://github.com/ilia3101/MLV-App"} target="_blank" rel="noopener noreferrer">MLV App</ButtonizedLink>Gratis & Open Source app to process & grade your Magic Lanter RAW Video. Basically <i>Lightroom</i> but for Magic Lantern Video (MLV) !</li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=24897.0"} target="_blank" rel="noopener noreferrer">armv7 simulator online - 01xz.net</ButtonizedLink> There are: 
                            <a href="https://cpulator.01xz.net/" target="_blank" rel="noopener noreferrer">https://cpulator.01xz.net/</a>, 
                            <a href="https://cpulator.01xz.net/?sys=arm" target="_blank" rel="noopener noreferrer">https://cpulator.01xz.net/?sys=arm</a>, 
                            & 
                            <a href="https://www.01xz.net/wiki/Project:About" target="_blank" rel="noopener noreferrer">https://www.01xz.net/wiki/Project:About</a>. 
                            Oh, they're same application, different navigations. Yeah, <a href="https://01xz.net/" target="_blank" rel="noopener noreferrer">01xz.net</a>.
                            </li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=1918.0"} target="_blank" rel="noopener noreferrer">Custom ML themes/menus!</ButtonizedLink></li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=26083.msg240872;topicseen#msg240872"} target="_blank" rel="noopener noreferrer">petabyt added Tetris game</ButtonizedLink> for this ML.</li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=23606.msg240639;topicseen#msg240639"} target="_blank" rel="noopener noreferrer">EOS 1500D / 2000D / Rebel T7 / Kiss X90 no progress</ButtonizedLink></li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=8823.0"} target="_blank" rel="noopener noreferrer">Progress from Nikon Hacker guys</ButtonizedLink></li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=24877.0"} target="_blank" rel="noopener noreferrer">Using DSLR as Webcam without capture card - Any tips?</ButtonizedLink> Contains many softwares such as <a href="http://www.digicamcontrol.com/download" target="_blank" rel="noopener noreferrer">digiCamControl</a> & <a href="https://obsproject.com" target="_blank" rel="noopener noreferrer">OBS</a>. These allows possibility for using your DSLR camera as a Webcam, <b>all without using sketchiest sloppyness or too expensive capture card</b>. Yeah, Canon just what the peck?!</li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=24660.0"} target="_blank" rel="noopener noreferrer">Ransomware on Canon cameras</ButtonizedLink> Ransomware on Canon cameras. Read Article <a href="https://www.digitalcameraworld.com/news/30-canon-cameras-at-risk-of-ransomware-canon-issues-firmware-advisory" target="_blank" rel="noopener noreferrer">here</a> & make sure your camera firmware is up to date whenever available, <mark>everything, not just WiFi.</mark>.</li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=26714"} target="_blank" rel="noopener noreferrer">JOELwindows7's TikTok Videos</ButtonizedLink> Videos related to DSLR I have posted on TikTok. seriously, idk what to contribute here because I'm getting stuck!</li>
                        <li><ButtonizedLink href={"https://github.com/reticulatedpines/magiclantern_simplified/issues/64"} target="_blank" rel="noopener noreferrer">Heads up for building ML on Ubuntu 22.04 LTS</ButtonizedLink> Serveral packages you need to have.</li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=26717.msg241021;topicseen#msg241021"} target="_blank" rel="noopener noreferrer">How to quit service mode on a Canon camera?</ButtonizedLink> Forum thread</li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=20507.0"} target="_blank" rel="noopener noreferrer">Canon 7D Factory Menu</ButtonizedLink> Forum thread</li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=20507.msg240093#msg240093"} target="_blank" rel="noopener noreferrer">Canon 7D Factory Menu, petabyt said..</ButtonizedLink> Forum thread</li>
                        <li><ButtonizedLink href={"https://magiclantern.fandom.com/wiki/Secret_menus"} target="_blank" rel="noopener noreferrer">Secret menus</ButtonizedLink> ML Wikia article</li>
                        <li><ButtonizedLink href={"https://magiclantern.fandom.com/wiki/Emulation"} target="_blank" rel="noopener noreferrer">https://magiclantern.fandom.com/wiki/Emulation</ButtonizedLink> ML Wikia article</li>
                        <li><ButtonizedLink href={"https://magiclantern.fandom.com/wiki/GPL_Tools/ARM_console"} target="_blank" rel="noopener noreferrer">ARM Console</ButtonizedLink> ML Wikia article.</li>
                        <li><ButtonizedLink href={"https://github.com/alexdu/ARM-console.git"} target="_blank" rel="noopener noreferrer">ARM Console Git</ButtonizedLink></li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=26634.0"} target="_blank" rel="noopener noreferrer">Overclock SD card 240 MHz preset for EOS 5D mk. III, M, 100D</ButtonizedLink> Fully Funded, download $0 available. <a href={"https://github.com/Perkedel/perkedel-astro/issues/new?assignees=JOELwindows7&labels=bug&template=bug.yml"} target="_blank" rel="noopener noreferrer">Report immediately under Bug Report <code>[Paywalled]</code> title tag</a> if there's a trap!</li>
                        <li><ButtonizedLink href={"https://www.magiclantern.fm/forum/index.php?topic=9517.msg110966#msg110966"} target="_blank" rel="noopener noreferrer"><code>rst2latex.py</code> not found</ButtonizedLink> do <code>sudo apt install apt-get install texlive-fonts-extra</code> & the <code>python-matplotlib</code> is not found idk where they are now. just get any matplotlib you could have with <code>synaptic!</code>. from <a href="https://www.magiclantern.fm/forum/index.php?topic=7579.25" target="_blank" rel="noopener noreferrer">here</a></li>
                        
                    </ul>
            <h3>CHDK</h3>
                <p>for PowerShot IXUS firmwares (including EOS M with PowerShot / IXUS firmware)</p>
                    <ul>
                        <!-- CHDK -->
                        <li><ButtonizedLink href="https://chdk.fandom.com/" target="_blank" rel="noopener noreferrer">CHDK (Canon Hack Dev Kit)</ButtonizedLink> Canon PowerShot & IXUS (including EOS with PowerShot firmware)</li>
                        <li><ButtonizedLink href="https://chdk.fandom.com/wiki/Downloads" target="_blank" rel="noopener noreferrer">CHDK Downloads & Infos</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://chdk.fandom.com/wiki/For_Developers" target="_blank" rel="noopener noreferrer">CHDK Developer</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://app.assembla.com/spaces/chdk/subversion/source/HEAD/trunk" target="_blank" rel="noopener noreferrer">CHDK Browse Source Code</ButtonizedLink> 
                            Hosted at Assembla <b class="error">& is SVN, not Git</b>, use <a href="http://tortoisesvn.net" target="_blank" rel="noopener noreferrer">TortoiseSVN</a> (Windows), ??? (Linux). If you only preserve, use anything e.g. <code>guest</code> (both username & password) if Assembla asks you login, otherwise pls have account at assembla. <b class="success">just <code>guest</code> works in TortoiseSVN checkout right click menu!</b>
                            </li>
                        <li><ButtonizedLink href="https://chdk.setepontos.com/index.php" target="_blank" rel="noopener noreferrer">CHDK Forum</ButtonizedLink></li>
                        <li><ButtonizedLink href="http://mighty-hoernsche.de/" target="_blank" rel="noopener noreferrer">CHDK Downloads Stable Autobuild</ButtonizedLink></li>
                        <li><ButtonizedLink href="http://mighty-hoernsche.de/trunk" target="_blank" rel="noopener noreferrer">CHDK Downloads Unstable Autobuild</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://chdk.fandom.com/wiki/User_Written_Scripts" target="_blank" rel="noopener noreferrer">CHDK Scripts</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://web.archive.org/web/20170608030518fw_/http://pel.hu:80/down/" target="_blank" rel="noopener noreferrer">Pelican (pel.hu) Downloads</ButtonizedLink> Has EOSCard application</li>
                        <li><ButtonizedLink href="https://chdk.fandom.com/wiki/CHDK_Links" target="_blank" rel="noopener noreferrer">CHDK Links</ButtonizedLink> Highlights of interesting & essential links around CHDK</li>
                        <li><ButtonizedLink href="https://chdk.fandom.com/wiki/USB_Remote" target="_blank" rel="noopener noreferrer">USB Remote</ButtonizedLink> Article about USB remote. How to USB Remote with CHDK</li>
                        <li><ButtonizedLink href="http://chdk.wikia.com/wiki/GPL:disassemble.pl" target="_blank" rel="noopener noreferrer">disassemble.pl</ButtonizedLink> ROM disassembler perl script. for DIGIC 2 to 8</li>
                        <li><ButtonizedLink href="http://chdk.wikia.com/wiki/User:Srsa_4c/GPL:disassemblev7.pl" target="_blank" rel="noopener noreferrer">disassemble7.pl</ButtonizedLink> ROM disassembler 7 perl script. for DIGIC 6 to 8</li>
                    </ul>
            <h3>Canon Official</h3>
                <p>Official Canon tools</p>
                    <ul>
                        <li><ButtonizedLink classe={"Dangerous"} href={"https://www.youtube.com/watch?v=cTW_be555Lk"} target="_blank" rel="noopener noreferrer">CanonUSA's YouTube video about EOS Webcam Utility PRO</ButtonizedLink> <mark class="error">Heads up! the <b>PRO is paid 💀💀💀💀💀💀💀💀💀💀💀💀💀🤓🤓🤓💀💀💀💀💀💀</b>! & free tier you now have is now severly limited. also the PRO is exclusive to USA atm (they said).</mark></li>
                        <li><ButtonizedLink classe={"Dangerous"} href={"https://www.usa.canon.com/cameras/eos-webcam-utility?utm_medium=social-organic&utm_source=yt&utm_campaign=eos_webcam_utility_pro_paid_launch&utm_term=discover-the-new-canon-eos_webcam_utility_pro-software"} target="_blank" rel="noopener noreferrer">EOS Webcam Utility PRO</ButtonizedLink> 
                            <mark class="error">
                                ARGH!!! You insane Motherpecker!!! I did not expect you too become like this.
                                We have been rooting for you you but hole!!! <b>Sony did license partialism things with VENICE</b>, and now you pecking too?!?!?
                                HELLOOOOOOOOO!!! DECENT QUALITY HDMI CABLE IS NOT EASY & CHEAP TO GET!!! NOT TO MENTION, The.. THe HDMI here our cameras is pecking MINI, we need to.. 
                                use adapter SOME-PECKING-HOW, to get this DONE. YOU GET IT?!?!
                                ALSOOO, CAPTURE_PECKING_CARD is not EASY & CHEAP EITHER, the cheap ones often not sturdy, has lots of cracklings & disconnects & all these unreliability poops. 
                                Yes, the MINI USB is hard, but that's not what we're talking today. 
                                IT IS THAT THINGY!!! WHY 💀🤓💀🤓💀🤓💀🤓💀🤓💀🤓!?!?!??!?!?!??!?!?<br/>
                                We've spent over $450 just for the mere worst camera the EOS 3000D / 4000D / Rebel T100. NOT TO MENTION, <b>We have to be in debt for 12 PECKING MONTHS!</b> 
                                Macbook not only expensive but you already & should know, has egregious walled garden like, ARGH <b>get the hell outta here, Apple!</b>
                                Now who makes the best webcam in the world? Smartphone manufacturer yess! their webcam records in 4K! 
                                Who knows there is Open Source & $0 implementation how to connect phone cam to PC, idk, I hope!<br/>
                                (The limitations for virtual device <code>EOS Webcam Utility Pro</code> are: the scenes you have, Effects, <b>Wireless pairing 💀 only in subscription</b>, resolution it upscales / downscales to, & frame rate it interpolates / subdivides to, I think..)
                            </mark>
                            </li>
                            <li><ButtonizedLink href={"https://image.canon"} target="_blank" rel="noopener noreferrer">image.canon</ButtonizedLink> Upload photos & videos from your Canon cameras. Free 10 GB storage</li>
                    </ul>
            <h3>GoPro</h3>
                <p>Hacks for GoPro<br/>
                    Be ha hacker LMAO
                </p>
                    <ul>
                        <!-- GoPro -->
                        <li><ButtonizedLink href="https://github.com/KonradIT/autoexechack" target="_blank" rel="noopener noreferrer">GoPro AutoExec</ButtonizedLink> GoPro Old Less than HERO 4.</li>
                        <li><ButtonizedLink href="https://github.com/konradit/hero4hack" target="_blank" rel="noopener noreferrer">GoPro HERO4 Hack</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://www.goprofanatics.com/forum/threads/gopro-autoexec-ash-hacking-and-fw-studies.5179/" target="_blank" rel="noopener noreferrer">Konrad Iturbe's Thread about this GoPro Hack</ButtonizedLink></li>
                        <li><ButtonizedLink href="http://github.com/hypoxic/hero4-session" target="_blank" rel="noopener noreferrer">GoPro HERO4 Session Hack</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://github.com/konradit/gpauto" target="_blank" rel="noopener noreferrer">GoPro HERO5 Hack</ButtonizedLink> with GPAuto.</li>
                        <li><ButtonizedLink href="https://github.com/KonradIT/gopro-firmware" target="_blank" rel="noopener noreferrer">GoPro Firmware research</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://github.com/KonradIT/MagicLanternGoPro" target="_blank" rel="noopener noreferrer">Portable non-permanent GoPro autoexecs (Not MagicLantern)</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://konraditurbe.dev/hacking.html" target="_blank" rel="noopener noreferrer">Everything GoPro Hack Konrad Iturbe has!!!</ButtonizedLink> also his homepage at <a href="http://konraditurbe.dev" target="_blank" rel="noopener noreferrer">konraditurbe.dev</a></li>
                    </ul>
            <h3>OpenMemories</h3>
                <p>Hacks for Sony cameras with PlayMemories support (Android yess)<br/>
                    more other Sony hack ways to come
                </p>
                    <ul>
                        <!-- Sony -->
                        <li><ButtonizedLink href="https://github.com/ma1co/Sony-PMCA-RE" target="_blank" rel="noopener noreferrer">Sony Camera Reverse Engineering</ButtonizedLink> Did you know that Sony used to support extrnal modules & apps for their Alpha line up? called <b>PlayMemories Camera Apps (PMCA)</b>. Yes that's right! It's because that it is infact these cameras are essentially supports / runs Android!! 
                            You can install more features for your Sony cameras, but unfortunately, <mark class="error">Most of them are paid!</mark> & also I said <i>used to</i> which means, <mark class="error">it's gone.</mark>
                            </li>
                        <li><ButtonizedLink href="https://github.com/ma1co/OpenMemories-Tweak" target="_blank" rel="noopener noreferrer">Install OpenMemories:Tweak First!</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://github.com/ma1co/fwtool.py" target="_blank" rel="noopener noreferrer">Dump Sony camera Firmware with <code>fwtool.py</code></ButtonizedLink></li>
                        <li><ButtonizedLink href="https://github.com/ma1co/OpenMemories-AppList" target="_blank" rel="noopener noreferrer">OpenMemories App List Source code</ButtonizedLink> the live website stopped working, pls wait while we working on the software that reinterpret the <code>yaml</code> file to be placed on your site!</li>
                        <li><ButtonizedLink href="https://youtu.be/WzqBOAnXbn4" target="_blank" rel="noopener noreferrer">BatamKamera's YouTube video about OpenMemories:Tweak & How to install</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://www.youtube.com/watch?v=Rr5KfL-Obh4" target="_blank" rel="noopener noreferrer">Aaron Prescott's YouTube video of how to install apps on your Sony camera with PlayMemories support</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://openmemories.readthedocs.io/devices.html" target="_blank" rel="noopener noreferrer">Supported Sony Cameras for the Reverse Engineering of OpenMemories: Tweak</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://openmemories.readthedocs.io/" target="_blank" rel="noopener noreferrer">OpenMemories Documentations</ButtonizedLink></li>
                        
                    </ul>
            <h3>Fujihacks</h3>
                <p>Hacks for Fujifilm</p>
                    <ul>
                        <!-- Fujifilm -->
                        <li><ButtonizedLink href="https://github.com/fujihack/fujihack" target="_blank" rel="noopener noreferrer">Fujihack</ButtonizedLink> Fujifilm camera hacks! <mark class="warning">does not include Instax hacks support</mark></li>
                        <li><ButtonizedLink href="https://fujihack.github.io/" target="_blank" rel="noopener noreferrer">Fujihack Website</ButtonizedLink></li>
                    </ul>
            <h3>Nikon Hacker</h3>
                <p>Hacks for Nikon DSLRs</p>
                    <ul>
                        <li><ButtonizedLink href="https://nikonhacker.com/" target="_blank" rel="noopener noreferrer">Nikon Hacker Website</ButtonizedLink> a forum</li>
                        <li><ButtonizedLink href="https://github.com/simeonpilgrim/nikon-firmware-tools" target="_blank" rel="noopener noreferrer">Nikon Hacker Firmware Tool GitHub</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://nikonhacker.com/viewforum.php?f=2" target="_blank" rel="noopener noreferrer">Nikon Hacker Firmwares</ButtonizedLink> Firmwares category</li>
                        <li><ButtonizedLink href="https://www.youtube.com/watch?v=7mt5gWlAvZA" target="_blank" rel="noopener noreferrer">(YouTube) The only camera hack you'll need for your Nikon (or any camera)</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://www.youtube.com/watch?v=ZzWnRGpHuC8" target="_blank" rel="noopener noreferrer">(YouTube) Nikon Firmware Hack Tutorial</ButtonizedLink></li>
                        <li><ButtonizedLink href="https://twitter.com/nikonhacker" target="_blank" rel="noopener noreferrer">(Twitter Profile) @nikonhacker</ButtonizedLink></li>
                        <li><ButtonizedLink href="http://www.obengplus.com/articles/3192/1/NikonHacker-seperti-Magic-Lantern-buka-D5100-D600-dan-D4-Video-HQ.html" target="_blank" rel="noopener noreferrer">ObengPlus' article about NikonHacker</ButtonizedLink></li>
                        <li><ButtonizedLink href={"https://nikonhacker.com/wiki/NikonEmulator"} target="_blank" rel="noopener noreferrer">Nikon Emulator</ButtonizedLink> NikonHacker Wiki article, how to emulator. Amusingly, <b class="success">it only needs the Firmware file from official Nikon website</b> unlike above where you need to dump it first. idk, could be, idk.</li>
                        <li><ButtonizedLink href={"http://nikonhacker.com/viewtopic.php?t=989"} target="_blank" rel="noopener noreferrer">Nikon Emulator Topic 1</ButtonizedLink></li>
                        <li><ButtonizedLink href={"http://nikonhacker.com/viewtopic.php?t=948"} target="_blank" rel="noopener noreferrer">Nikon Emulator Topic 2</ButtonizedLink></li>
                        <li><ButtonizedLink href={"https://nikonhacker.com/viewtopic.php?f=2&t=26"} target="_blank" rel="noopener noreferrer">Nikon Emulator Topic 0</ButtonizedLink> Download emulator. You may need to supply your own dumped ROM as usual. idk..</li>
                    </ul>
            <h3>Kodak</h3>
                <p>Hacks for Kodak</p>
                    <ul>
                        <li><ButtonizedLink href={"http://spritesmods.com/?art=zx3hack"} target="_blank" rel="noopener noreferrer">Hacking the Kodak Zx3</ButtonizedLink> mentioned from petabyt's copying the tetris thingy <a href="https://www.magiclantern.fm/forum/index.php?topic=26083.msg235591#msg235591" target="_blank" rel="noopener noreferrer">here</a></li>
                    </ul>
        <h2>Misc</h2>
            <h3>TikTok videos</h3>
                <p>Related to Photography & Videography

                </p>
                <p class="info">We intentionally did not embed all videos here due to privacy concern. Yes I know, we'll also get rid of clarity too if it is appropriate.</p>
                <ul>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7166904473372085530' target="_blank" rel="noopener noreferrer">Why Expensive cameras lacks built-in flash?</a></li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7165789243254541595' target="_blank" rel="noopener noreferrer">CHDK! Remote mode with a Powerbank / USB Power Supply</a></li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7165546770750115099' target="_blank" rel="noopener noreferrer">Trouble with EOS 3000D (4000D / Rebel T100)</a></li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7161725844984007962' target="_blank" rel="noopener noreferrer">(Bahasa Indonesia) What's that another switch on the Lens tube?</a></li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7161383251611897115' target="_blank" rel="noopener noreferrer">Pressing Playback while camera is off, EOS 4000D vs. PowerShot SX400IS.</a> EOS or any camera with ON/OFF switch or Mode OFF dial cannot view playback unlike Point & Shoot (PowerShot & IXUS) counterpart</li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7160724497522314523' target="_blank" rel="noopener noreferrer">Enabled High ISO speed</a> </li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7160702477627608346' target="_blank" rel="noopener noreferrer">Ironically, my EOS lacks Bahasa Indonesia</a> unlike PowerShot & IXUS counterpart, regardless of when such products were released. Not to mention, <b>Nikon DSLRs on the other hand supports Bahasa Indonesia</b> somehow.</li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7160320277463698715' target="_blank" rel="noopener noreferrer">Recording EOS 3000D flash in slowmo </a> with my Samsung Galaxy S20 FE</li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7160317259011886362' target="_blank" rel="noopener noreferrer">(Bahasa Indonesia) How to fix missing Back Button Auto-focus </a></li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7160132531050843418' target="_blank" rel="noopener noreferrer">(Bahasa Indonesia) How to fix missing DOF Preview button </a></li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7160128713554660635' target="_blank" rel="noopener noreferrer">(FUNNY LOL LMAO) Triki Triki but with DSLR camera's DOF Preview (Apperture expand shrink) </a></li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7159527671167257883' target="_blank" rel="noopener noreferrer">Unexplained messing around.</a> Serious, it's an exciting day that I finally owns atleast a DSLR after been dreaming this since high school</li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7159526865965976859' target="_blank" rel="noopener noreferrer">Where's the dummy battery wire slot opening </a> located between EOS 3000D & PowerShot SX400IS?</li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7159515078738431258' target="_blank" rel="noopener noreferrer">First attempt recording flash in slowmotion </a> with Samsung Galaxy S20 FE</li>
                    <li><a href='https://www.tiktok.com/@joelwindows7/video/7157601335246949658' target="_blank" rel="noopener noreferrer">The cursed song works!! <b>I FINALLY GOT A DSLR</b> </a> even though it's debted 12 months (Credit Card)</li>
                </ul>
                    
</Layout>