---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import TopRedditPostWceload from '@components/Elements/SparePart/TopRedditPostWceload.astro';
---
<Layout 
    title="Embedded Device Hacks | Windows CE, Arduino, Canon CHDK MagicLantern, RaspberryPi, etc." 
    description="Perkedel NTLF+ASTR. Embedded Hacks!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware"
    >
    <h1>Embedded Device Hacks!</h1>
        <p>Arduino, Windows CE & Mobile, Win32, Canon, etc.</p>
        <h2>Choose Realms</h2>
        <ul>
            <li><ButtonizedLink href="winCE"><Icon height="24px" name="simple-icons:windowsxp" /> <code>wceload.exe</code></ButtonizedLink>Windows CE, Mobile, & Phone Legacy</li>
            <li><ButtonizedLink href="Canon"><Icon height="24px" name="fa:camera" /> Canon Camera Hacks!</ButtonizedLink> Magic Lantern & CHDK! ft. Other cam hacks such as GoPro!</li>
            <li><ButtonizedLink href="Linux"><Icon height="24px" name="fa6-brands:linux" /> Linux!</ButtonizedLink> Raspberry Pi, Arch Linux, etc.</li>
            <li><ButtonizedLink href="Arduino"><Icon height="24px" name="file-icons:arduino" /> Arduino!</ButtonizedLink> Microcontrollers like Arduino, NodeMCU, etc.</li>
            <li><ButtonizedLink href="Sosumi"><Icon height="24px" name="fontisto:apple" /> Apple!</ButtonizedLink> Jailbreaks for iOS, macOS, Macbook, iPad, iPhone, etc.</li>
            <li><ButtonizedLink href="Android"><Icon height="24px" name="ant-design:android-filled" /> Android!</ButtonizedLink> Roots for every Androids, & other cool Android stuffs</li>
            <li><ButtonizedLink href="Java"><Icon height="24px" name="fluent-mdl2:java-logo" /> Java!</ButtonizedLink> Oracle Java stuffs. regular Java Jar, J2ME MIDP, Blu-ray, Minecraft Java, etc.</li>
            <li><ButtonizedLink href="SonyRolly"><Icon height="24px" name="fa-solid:egg" /> Sony Rolly!</ButtonizedLink> Sony Rolly & other MP3 Player hacks</li>
        </ul>
        <h2>Old Links</h2>
        <ul>
            <li><ButtonizedLink href="https://www.reddit.com/r/wceload/comments/uxnul7/windows_ce_images_vhds/" target="_blank" rel="noopener noreferrer">Reddit Post for wceload top links</ButtonizedLink></li>
            <li><ButtonizedLink href="https://www.reddit.com/r/wceload/comments/iu0krk/how_to_find_download_and_reinstall_wceloadexe/" target="_blank" rel="noopener noreferrer">Old Reddit Post for wceload top links</ButtonizedLink></li>
            <li><ButtonizedLink href="https://odysee.com/@JOELwindows7:a/How-to-Download-wceload-without-parenthesis:c?r=8i3uMUVRVBKeNJXdX6K6vxa9SdmPyWPB" target="_blank" rel="noopener noreferrer">Odysee copy of that Reddit post..</ButtonizedLink></li>
            <li><ButtonizedLink href="https://odysee.com/@JOELwindows7:a/How-to-Dowload---Reinstall-wceload.exe-on-device-that-cannot-CAB----%28GOLD-MINE:d?r=5QVnh7Qi8KKQzh7G7pWw9nkfaEGprCzM" target="_blank" rel="noopener noreferrer">Odysee here article..</ButtonizedLink></li>
        </ul>

        <h2>Reddit Posts</h2>
            <TopRedditPostWceload/>

</Layout>