---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout 
    title="Embedded Device Hacks | Windows CE, Arduino, Canon CHDK MagicLantern, RaspberryPi, etc." 
    description="Perkedel NTLF+ASTR. Embedded Hacks!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware"
    >
    <h1>Embedded Device Hacks!</h1>
        <p>Arduino, Windows CE & Mobile, Win32, Canon, etc.</p>
        <h2>Choose Realms</h2>
        <ul>
            <li><ButtonizedLink href="winCE"><Icon height="24px" name="simple-icons:windowsxp" /> <code>wceload.exe</code></ButtonizedLink>Windows CE, Mobile, & Phone Legacy</li>
            <li><ButtonizedLink href="Canon">Canon Camera Hacks!</ButtonizedLink> Magic Lantern & CHDK! ft. Other cam hacks such as GoPro!</li>
            <li><ButtonizedLink href="Linux">Linux!</ButtonizedLink> Raspberry Pi, Arch Linux, etc.</li>
            <li><ButtonizedLink href="Arduino">Arduino!</ButtonizedLink> Microcontrollers like Arduino, NodeMCU, etc.</li>
            <li><ButtonizedLink href="Sosumi">Apple!</ButtonizedLink> Jailbreaks for iOS, macOS, Macbook, iPad, iPhone, etc.</li>
            <li><ButtonizedLink href="Android">Android!</ButtonizedLink> Roots for every Androids, & other cool Android stuffs</li>
        </ul>
        <h2>Old Links</h2>
        <ul>
            <li><ButtonizedLink href="https://www.reddit.com/r/wceload/comments/uxnul7/windows_ce_images_vhds/" target="_blank" rel="noopener noreferrer">Reddit Post for wceload top links</ButtonizedLink></li>
            <li><ButtonizedLink href="https://www.reddit.com/r/wceload/comments/iu0krk/how_to_find_download_and_reinstall_wceloadexe/" target="_blank" rel="noopener noreferrer">Old Reddit Post for wceload top links</ButtonizedLink></li>
            <li><ButtonizedLink href="https://odysee.com/@JOELwindows7:a/How-to-Download-wceload-without-parenthesis:c?r=8i3uMUVRVBKeNJXdX6K6vxa9SdmPyWPB" target="_blank" rel="noopener noreferrer">Odysee copy of that Reddit post..</ButtonizedLink></li>
            <li><ButtonizedLink href="https://odysee.com/@JOELwindows7:a/How-to-Dowload---Reinstall-wceload.exe-on-device-that-cannot-CAB----%28GOLD-MINE:d?r=5QVnh7Qi8KKQzh7G7pWw9nkfaEGprCzM" target="_blank" rel="noopener noreferrer">Odysee here article..</ButtonizedLink></li>
        </ul>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/wceload/comments/uxnul7/windows_ce_images_vhds/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="1049" width="100%" scrolling="no"></iframe><br/>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/wceload/comments/iu0krk/how_to_find_download_and_reinstall_wceloadexe/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="1835" width="100%" scrolling="no"></iframe><br/>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/wceload/comments/l1dez3/beware_hoax_heres_the_correct_legit_android_tv/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="2540" width="100%" scrolling="no"></iframe><br/>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/wceload/comments/khx1t8/you_know_you_can_connect_gamepads_to_your/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="331" width="100%" scrolling="no"></iframe><br/>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/wceload/comments/khlcla/did_you_know_modern_phones_now_can_connect_to_any/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="376" width="100%" scrolling="no"></iframe><br/>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/wceload/comments/kgxpwx/update_upgrade_your_raspberry_pi_os_now/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="590" width="100%" scrolling="no"></iframe><br/>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/wceload/comments/jx1iqy/countdown_timer_for_windows_mobile_2003_check/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="185" width="100%" scrolling="no"></iframe><br/>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/wceload/comments/jx1how/russian_registration_required_huge_collection_of/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="257" width="100%" scrolling="no"></iframe><br/>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/wceload/comments/jx1h76/radium_pocketpc_demo_by_karma_studios/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="126" width="100%" scrolling="no"></iframe><br/>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/wceload/comments/ixkj9b/arduino_sample_the_lcd_2x16_via_i2c_module/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="250" width="100%" scrolling="no"></iframe><br/>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/wceload/comments/ivuu36/another_wince_emulator_image_found_winmobile_2003/?ref_source=embed&amp;ref=share&amp;embed=true&amp;theme=dark" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="738" width="100%" scrolling="no"></iframe><br/>

</Layout>