---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout 
    title="Commodore 64, Commander X16, & BASIC interpreter machines" 
    description="Perkedel NTLF+ASTR. Commodore 64!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, comoodore, 64, commander, X16"
    >
    <h1>Arduino & Other Microcontrollers</h1>
        <p>Every Microcontrollers stuffs! Arduino, NodeMCU, etc.</p>
        <h2>What to do?</h2>
        <ul>
            <!-- <li><ButtonizedLink href="winCE" target="_blank" rel="noopener noreferrer">???</ButtonizedLink></li> -->
            <li><ButtonizedLink href="https://youtu.be/i4gHaXOevVM" target="_blank" rel="noopener noreferrer">(YouTube, 8 bit guy) Commodore SX-64 repair and trivia</ButtonizedLink></li>
            <li><ButtonizedLink href="https://www.youtube.com/@The8BitGuy" target="_blank" rel="noopener noreferrer">8 Bit Guy YouTube channel</ButtonizedLink></li>
            <li><ButtonizedLink href="https://www.commanderx16.com/forum/index.php?/home/" target="_blank" rel="noopener noreferrer">Commander X16 Website</ButtonizedLink></li>
            <li><ButtonizedLink href="https://www.commanderx16.com/forum/index.php?/files/" target="_blank" rel="noopener noreferrer">Commander X16 App repository & Downloads</ButtonizedLink></li>
            <li><ButtonizedLink href="https://www.c64-wiki.com/wiki/Commander_X16" target="_blank" rel="noopener noreferrer">c64-wiki's article of Commander X16</ButtonizedLink></li>
            <li><ButtonizedLink href="https://github.com/commanderx16/x16-emulator" target="_blank" rel="noopener noreferrer">Commander X16 Emulator</ButtonizedLink></li>
            <li><ButtonizedLink href="https://github.com/commanderx16/x16-rom" target="_blank" rel="noopener noreferrer">Commander X16 ROM</ButtonizedLink></li>
            <li><ButtonizedLink href="https://github.com/commanderx16/" target="_blank" rel="noopener noreferrer">Commander X16 GitHub organisation</ButtonizedLink></li>
            <li><ButtonizedLink href="https://hackaday.com/2021/08/18/commander-x16-a-dreamy-8-bit-computer-comes-closer-to-reality/" target="_blank" rel="noopener noreferrer">Hackaday's article of Commander X16 about to launch</ButtonizedLink></li>
            <li><ButtonizedLink href="https://cc65.github.io/doc/cx16.html" target="_blank" rel="noopener noreferrer">Commander X16-specific information for cc65</ButtonizedLink></li>
            <li><ButtonizedLink href={"https://www.reddit.com/r/8BitGuy/comments/y1ole0/the_commander_x16_has_finally_arrived/?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=1&utm_content=share_button"} target="_blank" rel="noopener noreferrer">Reddit share YouTube video of Commander X16 launch</ButtonizedLink></li>
        </ul>
</Layout>