---
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf

export interface Props{
    linksButtons?:Array<Array<String | boolean | number>>;
} 

const {
    linksButtons= [],
} = Astro.props as Props;
---
<p class="BioButtonList" style='align-items:center;justify-content: center;display:block;text-align:center;'>
    {linksButtons.map(datas =>(
        <span style='margin-right:10px;margin-left:10px;'>
            <ButtonizedLink 
                classe="BioButtons BioButtonsSFW"
                href={datas[0]} 
                openInNewTab={!(datas[4] || false)}
                title={datas[1]} 
                >
                {datas[2] != ``?<img src={datas[2]} class='' height='24px'/>:<Fragment set:html={datas[3] || "&#xf059f"}></Fragment>}
            </ButtonizedLink>
        </span>
    ))}
</p>