---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';

export interface Props{
    src?:string;
    title?:string;
    alt?:string;
}

const{
    src = '',
    title = null,
    alt = null,
} = Astro.props.frontmatter || Astro.props as Props;
---
<a href={`javascript:openFullImage('${src}','${title || alt || src}','${alt}')`} title={alt || title || src}>
    <img class="hoverExpand" height="100px" src={src} title={title} alt={alt || title}/>
</a>