---
import Layout from '../../components/Layout.astro';
---
<Layout title="Another Folder">
    <h1>You are in another folder</h1>
    <p>Here is another folder yess</p>
    
    <p> <a class="Buttonnize" href="/">Go home</a> </p>
    
</Layout>