---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro';
// import GithubStats from 'astro-github-stats';
import DumpLinks from '@components/Elements/DumpLinks.astro';
import PluginsUsed from '@components/PluginsUsed.astro';
import { LicensesReport } from 'astro-licenses-report';
---
<Layout
    title="Credits"
    description="Perkedel NTLF+ASTR. links of everything involved developing this website"
    >
    <h1>Credits</h1>
        <p>The following are raw credits everything involved developing this website & other stuffs</p>
        <h2 id="Sauces">Licenses & Sauces of the Packages</h2>
        <!--https://code.juliancataldo.com/component/astro-licenses-report/-->
            <div style="overflow-x:auto;">
                <LicensesReport
                    useDevDependencies={true}
                    depth={2}
                    nameText={'Package'}
                    authorText={'Author'}
                    licenseText={'License'}
                    linkText={'Sauce URL'}
                />
            </div>
            <!--WHAT AN IDIOT!!! Div instead of Table tags?!?!?!??!?!?-->
        <h2 id="Plugins">Plugins used</h2>
            <PluginsUsed/>
        <h2 id="DumpLinks">Dump links</h2>
            <DumpLinks/>
</Layout>
