---
import Layout from '../../../components/Layout.astro';
import ButtonizedLink from '../../../components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import SFWExtraLinks from '../../../components/Elements/SFWExtraLinks.astro';
import RandomPlayMIDIs from '@components/Elements/SparePart/RandomPlayMIDIs.astro';
---
<Layout 
    title="MIDI"
    >
    <h1>MIDI stuffs 🎹🎹🎹🎹🎹🎹🎹🎹🎹</h1>
      <p>Checkout cool MIDI stuffs that we had lying around. We collect MIDI stuffs for decades, & sometimes we make our own yey!<br>
      We also have amazing MIDI related softwares & plugin that we have both somebody's & ours (original & edit) too as well.
        </p>
      <h2>Perkedel</h2>
      <ul>
        <li><a href="https://github.com/Perkedel/After-Church/tree/master/RAW%20files/MIDI" target="_blank" rel="noopener noreferrer">MIDI own folder (Original & Edits)</a></li>
        <!--<li style="size:72px"><a href="https://github.com/Perkedel/Personal_MIDI-Collection" target="_blank" rel="noopener noreferrer">MIDI ENTIRE COLLECTIONS</a></li>-->
        <li><a href="https://github.com/Perkedel/After-Church/tree/master/RAW%20files/Sekaiju%20Projects" target="_blank" rel="noopener noreferrer">Sekaiju projects</a></li>
        <li><a href="https://github.com/Perkedel/IvanC-MIDI-Play-Plugin" target="_blank" rel="noopener noreferrer">IvanC's MIDI Player VSTi for your VST host that lacks MIDI player or whatever.</a><br>
          (to Download latest build, head over to this <a href="https://github.com/Perkedel/IvanC-MIDI-Play-Plugin/tree/main/Builds" target="_blank" rel="noopener noreferrer">folder</a>. uh, sorry, <a href="https://github.com/Perkedel/IvanC-MIDI-Play-Plugin/tree/main/Builds/VisualStudio2022/x64/Release/VST3" target="_blank" rel="noopener noreferrer">here file</a>. also the <a href="https://github.com/Perkedel/IvanC-MIDI-Play-Plugin/tree/main/Builds/VisualStudio2022/x64/Release/LV2%20Plugin/IvanC-MIDI-Play-Plugin.lv2" target="_blank" rel="noopener noreferrer">LV2 ones</a>. You're welcome. Ah you know what, I should start releasing them, use the release page! yess.)
        </li>
      </ul>
        
      <h2>MANY MOAR!!! SORRY I CAN'T SORT YOU, YOU ARE TOO MANY!!! KEEP GOING!!!</h2>
      <ul>
        <li><a href="https://odysee.com/@X0P1R4T3-33NSVREENMNT-0FFICIAL:f/Slayer-of-Black-MIDI-collections:9" target="_blank" rel="noopener noreferrer">Entire Slayer of Alter's MIDI collection folder (reuploaded by Admiral Zumi)</a></li>
        <li><a href="https://yamahamusicsoft.com" target="_blank" rel="noopener noreferrer"><b class="mark-paid">(PAID)</b>Yamaha Musicsoft. has ASMR MIDIs for your luxury Yamaha Keyboard like Genos</a></li>
        <li><a href="https://hotlinecafe.com/midi.html" target="_blank" rel="noopener noreferrer">General MIDI Motel from hotlinecafe.com</a></li>
        <li><a href="https://freemidi.org" target="_blank" rel="noopener noreferrer">freemidi.org MIDI upload download</a></li>
        <li><a href="http://misaka.selfip.net/" target="_blank" rel="noopener noreferrer">SomethingUnreal's Website</a> also known as Robbi985</li>
        <li><a href="http://misaka.selfip.net/blog/?page_id=84#bawami" target="_blank" rel="noopener noreferrer">SomethingUnreal's BaWaMi</a> Waveform MIDI Player ft. PC Beep support</li>
        <li><a href="http://misaka.selfip.net/hosted_programs/update/bawami/" target="_blank" rel="noopener noreferrer">Download BaWaMi NOW!</a></li>
        <li><a href="http://misaka.selfip.net/blog/?page_id=84#bmm" target="_blank" rel="noopener noreferrer">SomethingUnreal's Bleeper Music Maker</a> (LEGACY) PC Beeper music generator & player</li>
        <li><a href="http://misaka.selfip.net/hosted_programs/update/bmm/" target="_blank" rel="noopener noreferrer">Download Bleeper Music Maker</a></li>
        <li><a href="http://misaka.selfip.net/F_s_t_v2_copy/" target="_blank" rel="noopener noreferrer">SomethingUnreal's MIDI Collection</a></li>
        <li><a href="http://misaka.selfip.net/88pmidi/index.html" target="_blank" rel="noopener noreferrer">SomethingUnreal's SC88 MIDI Collection</a> These MIDIs are designed exclusively for actual Roland SC88Pro, <b class="error">nothing else</b>. use either used hardware on eBay, or buy yourself the <a href="https://www.roland.com/us/products/rc_sound_canvas_va/" target="_blank" rel="noopener noreferrer">Roland SoundCanvas VA VSTi</a> <mark class='error'>(Contains DRM / Digital Restriction Management, the Roland Cloud client must kept running to make sure your purchases, I think..)</mark></li>
        <li><a href="http://misaka.selfip.net/blog/?page_id=84#88plcd" target="_blank" rel="noopener noreferrer">SomethingUnreal's SC88 LCD message generator</a> Generate the graph & top title text message for you MIDI file</li>
        <li><a href="https://archive.org/details/midijam_202003" target="_blank" rel="noopener noreferrer">MIDIjam archive</a> Just in case</li>
        <li><a href="http://www.gamesbyscott.com/midijam.htm" target="_blank" rel="noopener noreferrer">MIDIjam</a> Here the original website</li>
      </ul>

      <h2>Play MIDIs</h2>
        <RandomPlayMIDIs/>
</Layout>