---
import Layout from '../../../components/Layout.astro';
import ButtonizedLink from '../../../components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import SFWExtraLinks from '../../../components/Elements/SFWExtraLinks.astro';
import RandomPlayMIDIs from '@components/Elements/SparePart/RandomPlayMIDIs.astro';
import MessageBoxTemplate from '@components/Messages/MessageBoxTemplate.astro';
import SignYamahaPetition from '@components/Messages/SignYamahaPetition.astro';
---
<Layout
    title="MIDI"
    >
    <h1>MIDI stuffs 🎹🎹🎹🎹🎹🎹🎹🎹🎹</h1>
      <p>Checkout cool MIDI stuffs that we had lying around. We collect MIDI stuffs for decades, & sometimes we make our own yey!<br>
      We also have amazing MIDI related softwares & plugin that we have both somebody's & ours (original & edit) too as well.
        </p>
      <h2>Perkedel</h2>
      <ul>
        <li><a href="https://github.com/Perkedel/After-Church/tree/master/RAW%20files/MIDI" target="_blank" rel="noopener noreferrer">MIDI own folder (Original & Edits)</a></li>
        <!--<li style="size:72px"><a href="https://github.com/Perkedel/Personal_MIDI-Collection" target="_blank" rel="noopener noreferrer">MIDI ENTIRE COLLECTIONS</a></li>-->
        <li><a href="https://github.com/Perkedel/After-Church/tree/master/RAW%20files/Sekaiju%20Projects" target="_blank" rel="noopener noreferrer">Sekaiju projects</a></li>
        <li><a href="https://github.com/Perkedel/IvanC-MIDI-Play-Plugin" target="_blank" rel="noopener noreferrer">IvanC's MIDI Player VSTi for your VST host that lacks MIDI player or whatever.</a><br>
          (to Download latest build, head over to this <a href="https://github.com/Perkedel/IvanC-MIDI-Play-Plugin/tree/main/Builds" target="_blank" rel="noopener noreferrer">folder</a>. uh, sorry, <a href="https://github.com/Perkedel/IvanC-MIDI-Play-Plugin/tree/main/Builds/VisualStudio2022/x64/Release/VST3" target="_blank" rel="noopener noreferrer">here file</a>. also the <a href="https://github.com/Perkedel/IvanC-MIDI-Play-Plugin/tree/main/Builds/VisualStudio2022/x64/Release/LV2%20Plugin/IvanC-MIDI-Play-Plugin.lv2" target="_blank" rel="noopener noreferrer">LV2 ones</a>. You're welcome. Ah you know what, I should start releasing them, use the release page! yess.)
        </li>
      </ul>
      <SignYamahaPetition/>
      <h2>MANY MOAR!!! SORRY I CAN'T SORT YOU, YOU ARE TOO MANY!!! KEEP GOING!!!</h2>
      <ul>
        <li><a href="https://odysee.com/@X0P1R4T3-33NSVREENMNT-0FFICIAL:f/Slayer-of-Black-MIDI-collections:9" target="_blank" rel="noopener noreferrer">Entire Slayer of Alter's MIDI collection folder (reuploaded by Admiral Zumi)</a></li>
        <li><a href="https://netcavy.net/archive/midi/" target="_blank" rel="noopener noreferrer">ShinkoNet's MIDI files ever made</a> <mark class='error'>Restrictive licenses: No reuploads, egregious APRA AMCOS Licensed, limit download 1500 a year on free tier, donate AUD 247 to increase limit ro 4000, Requires paying another license for cover</mark></li>
        <li><a href="https://yamahamusicsoft.com" target="_blank" rel="noopener noreferrer"><b class="mark-paid">(PAID)</b>Yamaha Musicsoft. has ASMR MIDIs for your luxury Yamaha Keyboard like Genos</a></li>
        <li><a href="https://hotlinecafe.com/midi.html" target="_blank" rel="noopener noreferrer">General MIDI Motel from hotlinecafe.com</a></li>
        <li><a href="https://freemidi.org" target="_blank" rel="noopener noreferrer">freemidi.org MIDI upload download</a></li>
        <li><a href="http://misaka.selfip.net/" target="_blank" rel="noopener noreferrer">SomethingUnreal's Website</a> also known as Robbi985</li>
        <li><a href="http://misaka.selfip.net/blog/?page_id=84#bawami" target="_blank" rel="noopener noreferrer">SomethingUnreal's BaWaMi</a> Waveform MIDI Player ft. PC Beep support</li>
        <li><a href="http://misaka.selfip.net/hosted_programs/update/bawami/" target="_blank" rel="noopener noreferrer">Download BaWaMi NOW!</a></li>
        <li><a href="http://misaka.selfip.net/blog/?page_id=84#bmm" target="_blank" rel="noopener noreferrer">SomethingUnreal's Bleeper Music Maker</a> (LEGACY) PC Beeper music generator & player</li>
        <li><a href="http://misaka.selfip.net/hosted_programs/update/bmm/" target="_blank" rel="noopener noreferrer">Download Bleeper Music Maker</a></li>
        <li><a href="http://misaka.selfip.net/F_s_t_v2_copy/" target="_blank" rel="noopener noreferrer">SomethingUnreal's MIDI Collection</a></li>
        <li><a href="http://misaka.selfip.net/88pmidi/index.html" target="_blank" rel="noopener noreferrer">SomethingUnreal's SC88 MIDI Collection</a> These MIDIs are designed exclusively for actual Roland SC88Pro, <b class="error">nothing else</b>. use either used hardware on eBay, or buy yourself the <a href="https://www.roland.com/us/products/rc_sound_canvas_va/" target="_blank" rel="noopener noreferrer">Roland SoundCanvas VA VSTi</a> <mark class='error'>(Contains DRM / Digital Restriction Management, the Roland Cloud client must kept running to make sure your purchases, I think..)</mark></li>
        <li><a href="http://misaka.selfip.net/blog/?page_id=84#88plcd" target="_blank" rel="noopener noreferrer">SomethingUnreal's SC88 LCD message generator</a> Generate the graph & top title text message for you MIDI file</li>
        <li><a href="https://archive.org/details/midijam_202003" target="_blank" rel="noopener noreferrer">MIDIjam archive</a> Just in case</li>
        <li><a href="http://www.gamesbyscott.com/midijam.htm" target="_blank" rel="noopener noreferrer">MIDIjam</a> Here the original website</li>
        <li><a href="https://bestofmidi.tumblr.com/archive" target="_blank" rel="noopener noreferrer">Best Of MIDI Tumblr Archive</a></li>
        <li><a href="https://bestofmidi.tumblr.com" target="_blank" rel="noopener noreferrer">Best Of MIDI Tumblr</a></li>
        <li><a href="http://www.ossh.com/midi/" target="_blank" rel="noopener noreferrer">ossh.com MIDI folder</a></li>
        <li><a href="https://georgecolliermusic.com/" target="_blank" rel="noopener noreferrer">George Collier's sheet music</a> Makes sheet music out of random funny musics around the world, as seen
            <a href="https://youtu.be/xTzmxNgPnS8" target="_blank" rel="noopener noreferrer">On one of his YouTube video here</a>
            </li>
        <li><a href="https://www.midis101.com/free-midi/21752-asereje-las-ketchup" target="_blank" rel="noopener noreferrer">Asereje, ja jeje</a> on <a href='https://midis101.com' target="_blank" rel="noopener noreferrer">midis101.com</a> the Free MIDI</li>
        <li><a href="https://github.com/arduano/Kiva" target="_blank" rel="noopener noreferrer">Kiva</a> by arduano. Multithreaded falling piano MIDI player</li>
        <li><a href="https://github.com/KeppySoftware/OmniMIDI" target="_blank" rel="noopener noreferrer">OmniMIDI</a> by Keppy. SF2 MIDI OUT Driver, inspired from BASSMIDI Driver</li>
        <li><a href="https://github.com/KaleidonKep99/Steinway-B-211" target="_blank" rel="noopener noreferrer">Steinway-B-211 SFW</a> by Keppy. Keppy Steinway Soundfont realistic</li>
        <li><a href="https://github.com/rastating/Keppy-Steinway-Piano" target="_blank" rel="noopener noreferrer">Reupload Keppy Steinway</a> fork rastating. Keppy Steinway Soundfont</li>
        <li><a href="https://github.com/KaleidonKep99" target="_blank" rel="noopener noreferrer">Keppy's GitHub</a></li>
        <li><a href="https://github.com/kode54/BASSMIDI-Driver" target="_blank" rel="noopener noreferrer">BASSMIDI Driver</a> by kode54. SF2 MIDI OUT Driver, Archived</li>
        <li><a href="https://github.com/brian-pantano/PianoFromAbove" target="_blank" rel="noopener noreferrer">Piano From Above</a> by Brian Pantano. Black MIDI Player (old, use Kiva instead)</li>
        <li><a href="https://archive.org/details/yamaha-mid-radio-7.2-smaf-playback" target="_blank" rel="noopener noreferrer">Yamaha Mid Radio</a> Yamaha in Japan had this service. MIDI Player, plays MIDI & MMF files. Surprisingly, the <a href='https://download.music-eclub.com/' target="_blank" rel="noopener noreferrer">website</a> still alive to this day!, also Bonus, this <a href='https://www.kvraudio.com/forum/viewtopic.php?t=169094' target="_blank" rel="noopener noreferrer">Forum KVR Audio</a></li>
      </ul>

      <h2>Play MIDIs</h2>
        <RandomPlayMIDIs/>
</Layout>
