---
import Layout from '../../../components/Layout.astro';
import ButtonizedLink from '../../../components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import DonationLinks from '../../../components/Elements/DonationLinks.astro'
import ReferralLinks from '../../../components/Elements/ReferralLinks.astro'
---
<Layout 
    title="Donations" 
    author = "JOELwindows7"
    description="Perkedel NTLF+ASTR. Perkedel Technologies on Neocities. Pls donate! We want money, to buy stuff, so to show cool things for you gamers!"
    keywords="tech, fun, novelty, open source, gratis, free, donation, money, volunteer, donate, money, pengemis, miskin, kaya, poor, rich">
    <h1>Donation</h1>
        <p>Perkedel Technologies always provides you gamers, software all (tools & games) for $0, & hardware with appropriately priced as affordable as possible.<br>
        Unfortunately, life these days is costly, and we fear one day breathing (Oxygen, e.g.) would also becomes subscription either through pollution or various ways of egregious greeds.<br>
        That's why, we need money. I mean, we want money!! Not only needed but also to buy stuffs. stuffs that helps us create cool things (prioritizing hardwares of course, and some games, less tools).<br>
        It would be helpful, for those of you who had parent's revenue at your disposal to spend for me rather than uselessly scalping lots of sport cars for yourselves e.g.<br>
        See, since when the last time you opened garage for that car your great inf parent left over there covered with billions of dust bunnies?<br>
        I know, I would hoard alot too just like you gamers,<br> 
        but is your case helps billions of people cope for the data losses & downtook download links?<br>
        I mean, <b>USEFUL UTILITIES & GAMES SOURCE CODES!!!</b> yess. Man, almost there.<br>
        So please, I want & need money. thancc cool and good
        </p>
        <h2>Links</h2>
            <DonationLinks/>
        <h2>Referrals & Other Unecessary Referrals</h2>
            <ReferralLinks/>
</Layout>