---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import Mavrickle from '@components/Icons/Mavrickle.astro';

export interface Props{
    nsfw?:boolean;
}

const{
    nsfw = false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<div class="hideOverflowsSide">
    <section class="hideScroll preExpandSection" style="">
        <p style='text-align:center;font-size:2em;margin-top=50px;margin-bottom=50px;' class='info'>1 BLENDER 3D MODEL RENDER <b>1080p</b> = IDR 250000</p>
        <p style='text-align:center;font-size:2em;margin-top=50px;margin-bottom=50px;' class='info'>1 BLENDER 3D MODEL RENDER <b>4K</b> = IDR 500000</p>
        <p style='text-align:center;font-size:2em;margin-top=50px;margin-bottom=50px;' class='info'>1 BLENDER 3D MODEL RENDER <b>8K</b> = IDR 100000</p>
        <p>Contact Us through DM PM, Discord = <code>@JOELwindows7</code>.</p>
        <p>Use the Following Template, & please fill accordingly:</p>
        <p style='background-color:black;text-color:white'>
            <pre class='scrollOverflowsSide'>
                <code>
PLS_BLENDER_RENDER_SERVICE!

Files = 
    - SAUCE_URL_1, RESOLUTION_1
    - SAUCE_URL_2, RESOLUTION_2
    - ETC....
Discount Activator = 
    - SAUCE_1
    - SAUCE_2
    - ETC....
Username = YOUR_FOLDER_NAME_FOR_KOLMO
Assignment Due Date = YYYY-MM-DD
Pay With = YOUR_PAYMENT_CHOICE, TRANSACTION_PROOF_PRINT_SCREENSHOT_URL
Comments =
    WHATEVER_SAYS
                </code>
            </pre>
        </p>
        <p>Legends:</p>
        <ul>
            <li><b><code>Files</code> (required, Array: Strings & Strings short)</b>. Your URL of the Blender 3D Model you would like for us to render this transaction, and resolution you want to render this in.</li>
            <li><b><code>Discount Activator</code> (optional, Array Strings)</b>. Your URL of the Blender 3D Model you have for us to verify the discount for, <b>and no need to be rendered this transaction</b>. Read below under <a href='#discountSpecial'>Exclusive Discount Section</a> for the instruction.</li>
            <li><b><code>Username</code> (required, Strings)</b>. Your bucks cup name, to allow us give you exlusive special discounts. Also for showcase of appreciations if necessary.</li>
            <li><b><code>Assignment Due Date</code> (optional, ISO Date)</b>. If your purpose of this business is for your assignment, please write your due date so we can prioritize as fast as we can. There will be warranty if the render somehow gone exceeding assignment due date. Be sure not to rush these transactions since there will be <b class='warning'>no refund once your money have arrived to us!</b></li>
            <li><b><code>Pay With</code> (required, String Short & String)</b>. fill with Pay With ID below, comma, your URL of Screenshot of transaction proof (using upload here or other direct image file CDN). e.g. <code>JENIUS, https://example.com</code>.</li>
            <li><b><code>Comments</code> (optional, String Long)</b>. If you have any option or comment you'd like to say, feel free to leave them here. Otherwise, you may leave this empty.</li>
        </ul>
        <p>Accepted Payment Methods:</p>
        <ul>
            <li><ButtonizedLink href='#' openInNewTab={false}>Jenius: <code>$JOELwindows7</code></ButtonizedLink> Pay with ID = <code>JENIUS</code></li>
            <li><ButtonizedLink href='https://paypal.me/JOELwindows7' openInNewTab={true}>PayPal send cash</ButtonizedLink> Pay with ID = <code>PAYPAL</code></li>
        </ul>
    </section>
</div>
