---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf

export interface Props{
    nsfw?:boolean;
}

const{
    nsfw = false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<div class="hideOverflowsSide">
    <section class="hideScroll preExpandSection" style="">
        <p style='text-align:center;text-size:2em;margin-top=50px;margin-bottom=50px;'>1 BLENDER 3D MODEL RENDER = IDR 500000</p>
        <p>Contact Us through DM PM, Discord = <code>@JOELwindows7</code>.</p>
        <p>Use the Following Template:</p>
        <p style='background-color:black;text-color:white'>
            <pre>
                <code>
                    PLS_BLENDER_RENDER_SERVICE!

                    Files = 
                        - SAUCE_URL_1
                        - SAUCE_URL_2
                        - ETC....
                    Discount Activator = 
                        - SAUCE_1
                        - SAUCE_2
                        - ETC....
                    Username = YOUR_FOLDER_NAME_FOR_KOLMO
                    Assignment Due Date = YYYY-MM-DD
                </code>
            </pre>
        </p>
        <p>Legends:</p>
        <ul>
            <li><b><code>Files</code> (required, Array Strings)</b>. Your URL of the Blender 3D Model you would like for us to render this transaction.</li>
            <li><b><code>Discount Activator</code> (optional, Array Strings)</b>. Your URL of the Blender 3D Model you have for us to verify the discount for, <b>and no need to be rendered this transaction</b>. Read below under <a href='#discountSpecial'>Exclusive Discount Section</a> for the instruction.</li>
            <li><b><code>Username</code> (required, Strings)</b>. Your bucks cup name, to allow us give you exlusive special discounts. Also for showcase of appreciations if necessary.</li>
            <li><b><code>Assignment Due Date</code> (optional, ISO Date)</b>. If your purpose of this business is for your assignment, please write your due date so we can prioritize as fast as we can. There will be warranty if the render somehow gone exceeding assignment due date.</li>
        </ul>
    </section>
</div>
