---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import Mavrickle from '@components/Icons/Mavrickle.astro';

export interface Props{
    nsfw?:boolean;
}

const{
    nsfw = false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<div class="hideOverflowsSide">
    <p style='text-align:center;font-size:2em;margin-top=50px;margin-bottom=50px;' class="hideScroll fromCCWScroll info"><b>SPECIAL DISCOUNT FOR YOU!!!</b></p>
    <section class="hideScroll preExpandSection" style="background-color:darkorange;">
        <div class='row '>
            <div class='column colLeft colVertCenter'>
                <Mavrickle/>
            </div>
            <div class='column colVertCenter'>
                <p style='font-size:1.5em;'>Is there any of the file URL you send in either <code>Files</code> and/or <code>Discount Activator</code>, <b class='success'>GRATIS TO DOWNLOAD</b>, <b class='success'>Licensed in Free-Culture compliant licenses with no additional restriction added, like CC4.0-BY-SA</b>?</p>
                <p style='font-size:2em;'>DISCOUNT!!! You only need to pay <span style='font-size:2.5em;'>IDR 25K</span> per file!!!</p>
            </div>
        </div>
    </section>
    <section class="hideScroll preExpandSection" style="background-color:darkgreen;">
        <div class='row '>
            <div class='column colLeft colVertCenter'>
                <Mavrickle/>
            </div>
            <div class='column colVertCenter'>
                <p style='font-size:1.5em;'>Are there 30 of them?</p>
                <p style='font-size:2em;'>DISCOUNT UPGRADED!!! You only need to pay <span style='font-size:2.75em;'>IDR 10K</span> per file!!!</p>
            </div>
        </div>
    </section>
    <section class="hideScroll preExpandSection" style="background-color:darkblue;">
        <div class='row '>
            <div class='column colLeft colVertCenter'>
                <Mavrickle/>
            </div>
            <div class='column colVertCenter'>
                <p style='font-size:1.5em;'>Oh, 120 of them?!?</p>
                <p style='font-size:2em;'>DISCOUNT MAXIMUM UPGRADED!!! You only need to pay <span style='font-size:3em;'>IDR 5K</span> per file!!!</p>
                <p style='font-size:4em;' class='success'>& two of the files are GRATIS!!!</p>
            </div>
        </div>
    </section>
</div>