---
---
<section>
    <!-- TODO: make this module -->
    <h2>Visit our other social medias!</h2>
        <ul>
            <li><ButtonizedLink href='/apps/profile/@JOELwindows7' openInNewTab={false}>Other Accounts</ButtonizedLink></li>
            <li><ButtonizedLink href='https://odysee.com/$/invite/@JOELwindows7' openInNewTab={true}>Go to Odysee LBRY now!</ButtonizedLink></li>
        </ul>
</section>