---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf

export interface Props{
    nsfw?:boolean;
}

const{
    nsfw = false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<div class="hideOverflowsSide">
<section class="hideScroll preExpandSection" style="">
    <div class='row '>
        <div class='column colLeft colVertCenter'>
            PHOTO
        </div>
        <div class='column colVertCenter'>
            <p style='font-size:1.5em;'>Do you wanted to render a 3D Model,<br/> but your PC is too potato to finish the job real quick?</p>
        </div>
    </div>
</section>
<section class="hideScroll preExpandSection" style="background-color:darkred;">
    <div class='row '>
        <div class='column colLeft colVertCenter'>
            
            <p style='font-size:1.5em;'>
                Wanted to buy the PC to fix the issue, <b style='font-size:2em;'>But it's too expensive & overbudget?</b>
            </p>
        </div>
        <div class='column colVertCenter'>
            PHOTO
        </div>
    </div>
</section>
<p style='text-align:center;font-size:2em;margin-top=50px;margin-bottom=50px;' class='info'>Here 🫱. Let me help you.</p>
<section class="hideScroll fromFrontSideScroll preExpandSection" style="background-color:darkgreen; text-align=center;">
    <p style='text-align=center;font-size:2.5em;'>ONLY FOR IDR 50K</p>
    <p style='text-align=center;'>You can render any Blender 3D Model & Scene you'd like us to render for you.<br/>
    </p>
    <ul style='font-size:1.25em;'>
        <li style='font-size:1.25em;'>Max up to 4K with Quality of 240</li>
        <li style='font-size:1.25em;'>Cycles or Eevee? <b>DOESN'T MATTER!!!</b> Both accepted!</li>
        <li style='font-size:1.25em;'>WITH WARRANTY*!!! Renders in perceptually highest quality possible it can be, <b>OR FREE*</b>!!! and also <b>KEEP IT</b>!!</li>
        <li></li>
    </ul>
</section>
<p>* Terms & Conditions Applies</p>
</div>