---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout
    title="LINUX YEY"
    description="Perkedel NTLF+ASTR. Linux!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, Linux, Ubuntu, Arch Linux"
    >
    <h1>LINUX YEY</h1>
        <p>Every Linux series stuffs! Raspberry Pi, Arch Linux, Ubuntu, etc.</p>
        <h2>What to do?</h2>
        <ul>
            <li><ButtonizedLink href="https://www.raspberrypi.org/" target="_blank" rel="noopener noreferrer">Raspberry Pi website</ButtonizedLink></li>
            <li><ButtonizedLink href="https://github.com/jmcerrejon/PiKISS" target="_blank" rel="noopener noreferrer">PiKISS</ButtonizedLink> Easily install amazing stuffs on your Raspberry Pi</li>
            <li><ButtonizedLink href="https://misapuntesde.com/" target="_blank" rel="noopener noreferrer">José Cerrejón González website</ButtonizedLink> that guy made PiKISS above</li>
            <li><ButtonizedLink href="https://retropie.org.uk/" target="_blank" rel="noopener noreferrer">RetroPie</ButtonizedLink> Play Retro games easily (does not include copyrighted ROMs)</li>
            <li><ButtonizedLink href="https://emulationstation.org/" target="_blank" rel="noopener noreferrer">EmulationStation</ButtonizedLink> Emulation front ends, that bring all emulators & stuffs together complete with thumbnailing support.</li>
            <li><ButtonizedLink href="https://pi-hole.net/" target="_blank" rel="noopener noreferrer">PiHole</ButtonizedLink> Build your own DIY DNS server that blocks ad from network level, right at your house OR your own cloud server.</li>
            <li><ButtonizedLink href="https://www.truenas.com/" target="_blank" rel="noopener noreferrer">TrueNAS</ButtonizedLink> Formerly FreeNAS. Open Source NAS Operating System for your Data Center computers. Or any computer you slapped alot of harddisks to it.
                AFAIK, the Enterprise (which seems to be exclusively hardware or OEM) vs. Core ($0 public) hopefully is not that different other than the support center stuffs. Let us know immediately if you found partialism between these 2.
                Oh, <a href="https://www.truenas.com/compare-editions/" target="_blank" rel="noopener noreferrer">wait,</a> wait. No. the Enterprise has somekind of exclusive virtualization which I think is.. requires license anyways..
                Yeah we do not recognize who are you those all virtualization that is not comfort friendly.
                Nowhere to go! We had banned Unraid before due to core license nature! <br/>
                <mark>Note that there are 2 editions of TrueNas which OS based on</mark>. <code>Core</code> is the FreeBSD, & <code>Scale</code> is Debian.
            </li>
            <li><ButtonizedLink href="https://github.com/truenas/os" target="_blank" rel="noopener noreferrer">TrueNAS OS Base</ButtonizedLink> FreeBSD base for the TrueNAS Operating System.</li>
            <li><ButtonizedLink href="https://github.com/truenas" target="_blank" rel="noopener noreferrer">TrueNAS GitHub organisation</ButtonizedLink></li>
            <li><ButtonizedLink href="https://asahilinux.org/" target="_blank" rel="noopener noreferrer">Asahi Linux</ButtonizedLink> Install Arch Linux on your ARM (M1, M2, M etc.) MacBooks</li>
            <li><ButtonizedLink href="https://github.com/AsahiLinux" target="_blank" rel="noopener noreferrer">Asahi Linux GitHub organisation</ButtonizedLink> Source codes that Asahi Linux had</li>
            <li><ButtonizedLink href="https://www.system-rescue.org/" target="_blank" rel="noopener noreferrer">SystemRescueCD</ButtonizedLink> (now just System Rescue, & is Arch btw) Bootable Rescue Linux ISO to do IT fixing stuffs</li>
            <li><ButtonizedLink href="https://gitlab.com/systemrescue/systemrescue-sources" target="_blank" rel="noopener noreferrer">SystemRescueCD Source Code</ButtonizedLink> forked from Arch ISO btw</li>
            <li><ButtonizedLink href="https://archlinux.org/" target="_blank" rel="noopener noreferrer">Arch Linux</ButtonizedLink> btw</li>
            <li><ButtonizedLink href="https://github.com/romkatv/powerlevel10k" target="_blank" rel="noopener noreferrer">PowerLevel10K</ButtonizedLink> ZSH Theme yey!!!</li>
            <li><ButtonizedLink href="https://gitlab.archlinux.org/archlinux/archiso/" target="_blank" rel="noopener noreferrer">ArchISO Source code</ButtonizedLink></li>
            <li><ButtonizedLink href="https://youtu.be/S03eMlXTYVs" target="_blank" rel="noopener noreferrer">Joel's YouTube video of GRUB INIT TUNE of Guruku Tersayang</ButtonizedLink> Includes download link</li>
            <li><ButtonizedLink href="https://youtu.be/9yx3XzYnHV4" target="_blank" rel="noopener noreferrer">NovaSpirit Tech's YouTube video of How to Zoom meeting in Raspberry Pi</ButtonizedLink></li>
            <li><ButtonizedLink href="https://youtu.be/dzAoaFOJy7U" target="_blank" rel="noopener noreferrer">NovaSpirit Tech's YouTube video of How to x86 on ARM like Raspberry Pi</ButtonizedLink></li>
            <li><ButtonizedLink href="https://github.com/FundamentalFrequency" target="_blank" rel="noopener noreferrer">Fundamental Frequency & LMN-3</ButtonizedLink> The Open Source clone of <a href="https://teenage.engineering/products/op-1" target="_blank" rel="noopener noreferrer">Teenage Engineering OP-1</a> & derivatives.</li>
            <li><ButtonizedLink href="https://github.com/cnlohr/mini-rv32ima" target="_blank" rel="noopener noreferrer">cnlohr's RISC-V Emulator</ButtonizedLink> as seen on
              <a href="https://hackaday.com/2022/12/07/a-tiny-risc-v-emulator-runs-linux-with-no-mmu-and-yes-it-runs-doom/" target="_blank" rel="noopener noreferrer">Hackaday</a>,
              <a href="https://www.youtube.com/watch?v=uZMNK17VCMU" target="_blank" rel="noopener noreferrer">CNLohr's video showing that it runs Doom</a>,
              <a href="https://youtu.be/YT5vB3UqU_E" target="_blank" rel="noopener noreferrer">CNLohr's video written it this</a>.<br/>
              <a href="https://github.com/cnlohr/tinycc-win64-installer" target="_blank" rel="noopener noreferrer">CNLohr's tinyCC (Tiny C Compiler) Installer for Windows</a>,
              <a href="https://github.com/cntools/Install-TCC" target="_blank" rel="noopener noreferrer">cntool's tinyCC (Tiny C Compiler) Powershell install script</a>,
            </li>
            <li><ButtonizedLink href="https://audiolink.dev/" target="_blank" rel="noopener noreferrer">AudioLink Stuffs</ButtonizedLink> VRChat plugins & font</li>
            <li><ButtonizedLink href="https://www.raspberrypi.com/news/stare-down-your-gaming-opponent-with-this-dual-screen-raspberry-pi-400-powered-console/" target="_blank" rel="noopener noreferrer">Raspberry Pi Dual screen arcade</ButtonizedLink> Ashley Whittaker</li>
        </ul>
</Layout>
