/*Copy everything from our Perkedel NECT!*/


/* FONT PLS
https://askubuntu.com/questions/16556/embed-ubuntu-font-on-any-web-page
https://nerdfonts.com
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://github.com/ryanoasis/nerd-fonts/raw/master/css/nerd-fonts-generated.css');

/* @import url('https://mshaugh.github.io/nerdfont-webfonts/build/nerdfont-webfonts.css'); */


/* @import url('https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css'); */


/* @import url('https://cdnjs.cloudflare.com/ajax/libs/tingle/0.16.0/tingle.min.css'); */


/* @import url('https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.css'); */


/* @import url('https://cdn.plyr.io/3.7.3/plyr.css'); */


/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */


/* https://developer.mozilla.org/en-US/docs/Web/CSS/@layer */


/* @layer main { */


/*WHY THE PECK WON'T YOU SAVE?!?!??!?!?!?!??!?!?!*/

:root {
    /*
    https://codepen.io/CarlaVamp/pen/JjRNoVo
    https://github.com/ryanoasis/nerd-fonts#patched-fonts
    https://www.w3schools.com/css/css_font_google.asp
    https://mshaugh.github.io/nerdfont-webfonts/build/nerdfont-webfonts.css
    https://github.com/mshaugh/nerdfont-webfonts
    https://www.nerdfonts.com/
    */
    font-family: 'Ubuntu Nerd Font', 'Ubuntu-NF', 'Ubuntu', 'Segoe UI', Arial, Geneva, Verdana, sans-serif;
    /* https://youtu.be/nQzRTsjBXfQ */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme */
    color-scheme: light dark;
    /*
    https://www.w3schools.com/cssref/pr_class_cursor.asp
    https://www.w3schools.com/cssref/css_animatable.asp
    https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor
    https://www.w3schools.com/cssref/playit.asp?filename=playcss_cursor&preval=alias
    */
    cursor: url(https://github.com/Perkedel/After-Church/raw/master/RAW%20files/cursor.cc/VacuumSkoll.cur), default;
    /*
    https://www.digitalocean.com/community/tutorials/css-scrollbars
    https://css-tricks.com/almanac/properties/s/scrollbar/
    */
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: navy rgb(0, 0, 20);
    /* scroll thumb and track */
    /*
    https://www.w3schools.com/cssref/pr_scroll-behavior.php
    https://youtu.be/u4O2GKjgMlg
     */
    scroll-behavior: smooth;
    word-wrap: break-word;
}


/*
        Focus Visible Polyfill!
    This will hide the focus indicator if the element receives focus via the mouse,
    but it will still show up on keyboard focus.
    */

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
    outline: none;
}

:focus-visible {
    outline: 1px solid cyan;
    border-radius: 2px;
}


/**{*/


/*  font-family: Ubuntu, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/


/*margin:0;*/


/*}*/


/*https://css-tricks.com/couple-takes-sticky-footer/*/


/*html, body {*/


/*  height: 100%;*/


/*  margin: 0;*/


/*}*/

html {
    /*https://css-tricks.com/couple-takes-sticky-footer/*/
    /*height: 100%;*/
    min-height: 100%;
    position: relative;
    margin: 0;
    /*
    https://www.w3schools.com/cssref/pr_scroll-behavior.php
    https://youtu.be/u4O2GKjgMlg
     */
    /* scroll-behavior: smooth; */
}

body {
    /*
    https://codepen.io/CarlaVamp/pen/JjRNoVo
    https://github.com/ryanoasis/nerd-fonts#patched-fonts
    https://www.w3schools.com/css/css_font_google.asp
    https://mshaugh.github.io/nerdfont-webfonts/build/nerdfont-webfonts.css
    https://github.com/mshaugh/nerdfont-webfonts
    https://www.nerdfonts.com/
    */
    /* font-family: 'Ubuntu Nerd Font', 'Ubuntu-NF', 'Ubuntu', 'Segoe UI', Arial, Geneva, Verdana, sans-serif; */
    background-color: black;
    color: white;
    /* margin: 0 0 450px; */
    margin: 0;
    /*height: 100%;*/
    /*
    https://www.w3schools.com/css/css_image_gallery.asp
    https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive
    */
    box-sizing: border-box;
    /*https://stackoverflow.com/a/18066619/9079640*/
    /*
    https://www.w3schools.com/cssref/pr_class_cursor.asp
    https://www.w3schools.com/cssref/css_animatable.asp
    https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor
    https://www.w3schools.com/cssref/playit.asp?filename=playcss_cursor&preval=alias
    */
    /* cursor: url(https://github.com/Perkedel/After-Church/raw/master/RAW%20files/cursor.cc/VacuumSkoll.cur), default; */
    /*
    https://www.digitalocean.com/community/tutorials/css-scrollbars
    https://css-tricks.com/almanac/properties/s/scrollbar/
    */
    /* scrollbar-width: thin; */
    /* "auto" or "thin" */
    /* scrollbar-color: navy rgb(0, 0, 20); */
    /* scroll thumb and track */
    /*https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14*/
    /*min-height: 100vh;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*https://css-tricks.com/couple-takes-sticky-footer/*/
    min-height: 100%;
    /*display: grid;*/
    /*grid-template-rows: 1fr auto;*/
}

button {
    /*BUG! the button font did not inherit even placed in body. let's manually apply!*/
    font-family: 'Ubuntu Nerd Font', 'Ubuntu-NF', 'Ubuntu', 'Segoe UI', Arial, Geneva, Verdana, sans-serif;
    cursor: url(https://www.rw-designer.com/cursor-extern.php?id=181168), url(https://github.com/Perkedel/After-Church/raw/master/RAW%20files/rw-designer/Donut-select.cur), pointer;
}

button:hover {
    cursor: url(https://www.rw-designer.com/cursor-extern.php?id=181168), url(https://github.com/Perkedel/After-Church/raw/master/RAW%20files/rw-designer/Donut-select.cur), pointer;
}

hr {
    background: blue;
    color: rgb(0, 175, 175);
    margin: 0px;
    border-color: rgb(0, 175, 175);
}

main {
    /*https://css-tricks.com/couple-takes-sticky-footer/*/
    /*min-height: 100%;  */
    /*min-height: calc(100vh - 50px);*/
    /*min-height:100vh;*/
    /*min-height:fit-content;*/
    word-wrap: break-word;
}


/*https://www.w3schools.com/howto/howto_css_text_selection.asp*/

 ::selection {
    color: cyan;
    background: blue;
    border-radius: 1px;
}

 ::-moz-selection {
    /* Code for Firefox */
    color: cyan;
    background: blue;
    border-radius: 1px;
}

.noscript-msg {
    background-color: red;
    color: white;
    margin: 0;
    font-size: 2em;
}


/*scroll bar*/


/*
  https://www.w3schools.com/HOWTO/howto_css_custom_scrollbar.asp
  https://css-tricks.com/almanac/properties/s/scrollbar/
  https://www.digitalocean.com/community/tutorials/css-scrollbars
  https://codepen.io/devstreak/pen/dMYgeO
  */


/* width */

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    opacity: 0.5;
    border-radius: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgb(0, 0, 20);
    background: rgba(0, 0, 20, .25);
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    width: 5px;
    background: navy;
    background: rgba(0, 0, 128, .8);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    width: 10px;
    background: blue;
    background: rgba(0, 0, 155, .8);
}


/* Handle on click (& held) */

 ::-webkit-scrollbar-thumb:active {
    width: 10px;
    background: cyan;
    background: rgba(0, 255, 255, .8);
}


/* Corner where vertical & horizontal scrollbar met*/

 ::-webkit-scrollbar-corner {
    background: rgb(10, 20, 0);
}


/* the draggable resizing handle that appears at the bottom corner of some elements.*/

 ::-webkit-resizer {
    color: orange;
}


/*end scroll bar*/


/*linkre*/

a {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=181168), url(https://github.com/Perkedel/After-Church/raw/master/RAW%20files/rw-designer/Donut-select.cur), pointer;
    color: orange;
}

a:focus-visible {
    outline: 1px solid cyan;
    border-radius: 2px;
}

a:hover {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=181168), url(https://github.com/Perkedel/After-Church/raw/master/RAW%20files/rw-designer/Donut-select.cur), pointer;
    background-color: orange;
    color: navy;
    border-radius: 10px;
}

a:active {
    background-color: cyan;
    color: blue;
    border-radius: 10px;
}

a:visited {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=181168), url(https://github.com/Perkedel/After-Church/raw/master/RAW%20files/rw-designer/Donut-select.cur), pointer;
    color: darkmagenta;
}

a:visited:hover {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=181168), url(https://github.com/Perkedel/After-Church/raw/master/RAW%20files/rw-designer/Donut-select.cur), pointer;
    background-color: orange;
    color: navy;
}

a:visited:active {
    background-color: cyan;
    color: blue;
    border-radius: 10px;
}

header {
    color: white;
    /* display: flex; */
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: rgb(0, 35, 100);
    justify-content: flex-start;
    align-items: center;
    padding:1em;
    margin: 0;
}


/*
  header a{
    margin:0;
    padding:0;
    vertical-align:middle;
  }
  */

footer {
    /*https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14*/
    /*margin-top: 50px;*/
    /*https://css-tricks.com/couple-takes-sticky-footer/*/
    /*height: 50px;*/
    /*margin-top: -50px;*/
    /*height: 5px;*/
    /*grid-row-start: 2;*/
    /*grid-row-end: 3;*/
    /*position: relative;*/
    /*bottom:0;*/
    /*margin-top:1em;*/
    /*https://stackoverflow.com/a/18066619/9079640*/
    /* position: absolute; */
    bottom: 0;
    left: 0;
    /*height: 350px;*/
    width: 100%;
    /*overflow: hidden;*/
    word-wrap: break-word;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

header a,
header a:visited,
header a:hover,
header a:hover:visited {
    background: none;
    color: white;
    text-decoration: none;
}


/*
  header a:hover{
    background-color: rgb(0, 35, 150);
  }
  */

nav {
    /*display:inline-block;*/
    overflow: hidden;
    /*overflow-y:visible;*/
    font-weight: bold;
    z-index: 99;
    /* Make sure it does not overlap */
    position: -webkit-sticky;
    position: sticky;
    /* Safari */
    /*wtf, Neocities?! the position works! OH, wait, not all browser. but.. eh idk*/
    top: 0;
    margin: 0;
    /* https://css.glass/ */
    background: rgba(0, 0, 0, .25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 30px;
}


/* #navMoreDropdown {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
} */

nav .NavPutLeft {
    float: left;
}

nav .NavPutRight {
    float: right;
}

nav .NavHistoryPutLeft {
    float: left;
    /* display: inline-block; */
}

nav .NavHistoryPutRight {
    float: right;
    /* display: inline-block; */
}

nav ul {
    /*
    https://www.javatpoint.com/how-to-make-a-navigation-bar-in-html
    https://www.w3schools.com/Css/css_navbar.asp
    https://www.w3schools.com/Css/css_navbar_vertical.asp
    https://www.w3schools.com/Css/css_navbar_horizontal.asp
    */
    /*display:inline;  */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    /* float: left; */
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav a,
nav a:link,
nav a:visited {
    background-color: navy;
    outline: none;
    color: white;
    padding: 1em 1.5em;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


/*Remember, the visited statuses are also considered as a subgroup!*/

nav a:focus-visible {
    outline: 2px dashed cyan;
    border-radius: 5px;
}

nav a:hover,
nav a:visited:hover {
    background-color: blue;
    color: white;
}

nav a:active,
nav a:visited:active {
    background-color: orange;
    color: blue;
}


/*https://www.w3schools.com/cssref/sel_attribute_value.asp
  https://www.w3schools.com/cssref/sel_after.asp
  https://www.quora.com/Is-the-symbol-for-external-link-available-in-Unicode-If-so-how-do-I-get-in-on-my-Mac
  https://www.fileformat.info/info/unicode/char/29c9/index.htm
  'TWO JOINED SQUARES' (U+29C9)
  https://dafoster.net/articles/2018/11/24/why-isnt-the-external-link-symbol-in-unicode/

  */

a[target=_blank]::after,
a[target=blank]::after,
a[target*=blank]::after {
    content: ' 🔗 ';
}


/* https://www.w3schools.com/cssref/sel_attr_contain.php */

a[href*='youtube.com']::before,
a[href*='youtu.be']::before {
    content: ' ';
}

a[href*='lbry.']::before {
    content: url('https://api.iconify.design/simple-icons/lbry.svg') ,' ';
}

a[href*='//odysee.com']::before,
a[href*='odysee.com']::before,
a[href*='https://odysee.com']::before,
a[href*='https://odysee.tv']::before,
a[href*='https://help.odysee.tv']::before
{
    content: url('https://api.iconify.design/simple-icons/odysee.svg') ,' ';
}

a[href*='reddit.com']::before,
a[href*='red.it']::before,
a[href*='redd.it']::before {
    content: ' ';
}

a[href*='microsoft.com']::before,
a[href*='windows.com']::before,
a[href*='live.com']::before,
a[href*='microsoftonline.com']::before {
    content: ' ';
}

a[href*='magiclantern.fm']::before,
a[href*='magiclantern.fandom.com']::before {
    content: ' ';
}

a[href*='mighty-hoernsche.de']::before,
a[href*='chdk.fandom.com']::before {
    content: ' ';
}

a[href*='discord.com']::before,
a[href*='discord.gg']::before {
    content: 'ﭮ ';
}

a[href*='github.com']::before {
    content: ' ';
}

a[href*='gitlab.com']::before {
    content: ' ';
}

a[href*='//google.com']::before,
a[href*='.google.com']::before,
a[href*='//google.co.id']::before {
    content: ' ';
}

a[href*='drive.google.com']::before {
    content: ' ';
}

a[href*='play.google.com']::before {
    content: ' ';
}

a[href*='archive.org']::before {
    content: ' ';
}

a[href*='twitter.com']::before {
    content: ' ';
}

a[href*='tumblr.com']::before {
    /* Speaking of Tumblr, I am banned. peck you, Automattic! */
    /* Edit: No longer banned yey! */
    content: ' ';
}

a[href*='facebook.com']::before {
    content: ' ';
}

a[href*='instagram.com']::before {
    content: ' ';
}

a[href*='wa.me']::before {
    content: ' ';
}

a[href*='t.me']::before,
a[href*='telegram.org']::before {
    content: ' ';
}

a[href*='blender.org']::before {
    content: ' ';
}

a[href*='spotify.com']::before {
    content: ' ';
}

a[href*='soundcloud.com']::before {
    content: ' ';
}

a[href*='bandcamp.com']::before {
    content: 'ﭳ ';
}

a[href*='steampowered.com']::before {
    content: ' ';
}

a[href*='steamcommunity.com']::before {
    content: ' ';
}

a[href*='godotengine.org']::before {
    content: '';
}

a[href*='tiktok.com']::before {
    content: url('https://api.iconify.design/logos/tiktok-icon.svg'),'';
}


input {
    background-color: black;
    color: white;
}


/*https://www.w3schools.com/cssref/sel_focus.asp*/

input:focus {
    outline: 2px dashed cyan;
    background-color: darkorange;
    color: navy;
}

input:disabled {
    background-color: darkgray;
    color: gray;
}

.error {
    /*
    https://www.w3schools.com/colors/default.asp
    */
    background-color: darkred;
    color: white;
}

.error a:link {
    color: yellow;
}

.error a:active {
    color: cyan;
}

.error a:visited {
    color: gray;
}

.warning {
    background-color: orange;
    color: black;
}

.busy {
    background-color: yellow;
    color: black;
}

.success {
    background-color: darkgreen;
    color: white;
}

.info {
    background-color: darkblue;
    color: white;
}

.ListNoStyle {
    list-style-type: none;
}

.ListSeparateChildrenABit li {
    margin: 2px;
}

.ListDisplayTable {
    /* https://stackoverflow.com/a/30720612/9079640 */
    display:table;
}

.ListCenterContent {
    text-align: center;
}

.ListNoPadding{
    padding:0;
}

.ListLiNoPadding li {
    padding:0;
}


/*
  https://www.w3schools.com/css/css_image_gallery.asp
  https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive
  */

.ListGalleryStyle {
    list-style-type: none;
    padding: 0 6px;
    float: left;
    /*width: 24.99999%;*/
}

.ListGalleryStyle li
/*Gallery*/

{
    border: 1px solid orange;
}

.ListGalleryStyle li:hover
/*Gallery Hover*/

{
    border: 1px solid cyan;
}

.ListGalleryStyle li img {
    width: 100%;
    height: auto;
}

.ListGalleryStyle li p
/*desc*/

{
    padding: 1.2em;
    text-align: center;
}

.ButtonizeListChildrenLinks a {
    background-color: darkorange;
    outline: none;
    color: black;
    padding: 1em 1.5em;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*margin:20px;*/
}

.ButtonizeListChildrenLinks a:focus-visible {
    outline: 4px dashed cyan;
}

.ButtonizeListChildrenLinks a:hover {
    background-color: orange;
    color: navy;
}

.ButtonizeListChildrenLinks a:visited {
    background-color: darkmagenta;
    color: white;
}

.ButtonizeListChildrenLinks a:visited:hover {
    background-color: orange;
    color: navy;
}

.ButtonizeListChildrenLinks a:visited:active {
    background-color: cyan;
    color: blue;
}

.ButtonizeListChildrenLinks a:active {
    background-color: cyan;
    color: blue;
}

.Buttonnize {
    background-color: darkorange;
    outline: none;
    color: black;
    padding: 1em 1.5em;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.Buttonize:focus-visible {
    outline: 4px dashed cyan;
    border-radius: 4px;
}

.Buttonnize:hover {
    border-radius: 30px;
    background-color: orange;
    color: navy;
}

.Buttonnize:visited {
    background-color: darkmagenta;
    color: white;
}

.Buttonnize:active {
    background-color: cyan;
    color: blue;
}


/* Troubled version of it */

.Buttonnize.Dangerous {
    background-color: darkred;
    color: white;
}

.Buttonnize.Dangerous:hover {
    background-color: red;
    color: yellow;
}

a.Buttonnize.Dangerous:active {
    background-color: yellow;
    color: darkblue;
}

a.Buttonnize.Dangerous:visited:active {
    background-color: yellow;
    color: darkblue;
}

a.Buttonnize.Dangerous:visited {
    background-color: purple;
    color: white;
}

a.Buttonnize.Dangerous:visited:hover {
    background-color: rgb(255, 0, 51);
    color: yellow;
}

a.Buttonnize.Dangerous:visited:hover:active {
    background-color: yellow;
    color: darkblue;
}

.Dangerous::before {
    content: "⚠️";
}

.Dangerous::after {
    content: "⚠️";
}


/* Paywalled version of it */

.Paywalled {
    background-color: darkred;
    color: white;
}

.Paywalled:hover {
    background-color: red;
    color: yellow;
}

.Paywalled:active {
    background-color: yellow;
    color: darkblue;
}

.Paywalled:visited:active {
    background-color: yellow;
    color: darkblue;
}

.Paywalled:visited {
    background-color: purple;
    color: white;
}

.Paywalled:visited:hover {
    background-color: rgb(255, 0, 51);
    color: yellow;
}

.Paywalled:visited:hover:active {
    background-color: yellow;
    color: darkblue;
}

.Paywalled::before {
    content: "$$$";
}

.Paywalled::after {
    content: "$$$";
}


/* Spoiler Alert! Discord-like spoiler class yeah! */

.Spoiler {
    background-color: gray;
    color: gray;
}

.Spoiler:hover {
    background-color: inherit;
    color: inherit;
}


/* end spoiler alert */


/*DROP DOWN MENU
  https://www.w3schools.com/Css/css_dropdowns.asp
  https://www.w3schools.com/Css/tryit.asp?filename=trycss_dropdown_right
  */


/*
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    background-color: navy;
    outline: none;
    color: white;
    padding: 1em 1.5em;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: none;
    position: absolute;
    background-color: navy;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }*/


/* Style The Dropdown Button */

.dropbtn {
    /*font-size: 16px;*/
    /*border: none;*/
    /*cursor: pointer;*/
    background-color: navy;
    /*outline: none;*/
    color: white;
    /*padding: 1em 1.5em;*/
    border-radius: 30px;
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
}

.dropbtn:active,
.dropbtn:visited:active,
.dropbtn a:active,
dropbtn a:visited:active,
.dropbtn a:link {
    background-color: orange;
    color: blue;
}

.dropbtn:hover,
.dropbtn:visited:hover,
.dropbtn a:hover,
dropbtn a:visited:hover,
.dropbtn a:link:hover {
    background-color: blue;
    color: white;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    /*position: relative;*/
    /*display: inline-block;*/
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    /* https://www.w3schools.com/css/css_float_clear.asp */
    clear: both;
    display: none;
    /* position: absolute; */
    /*background-color: #f9f9f9;*/
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 100;
    /*https://stackoverflow.com/a/64148961/9079640*/
    top: 70px;
}

.dropdown-content::after {
    content: "";
    clear: both;
    display: table;
}


/* Links inside the dropdown */

.dropdown-content a {
    background-color: navy;
    border-radius: 30px;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    display: block;
    overflow: auto;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: orange;
    color: black;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: blue;
    border-radius: 30px;
}


/*end DROP DOWN*/

.code {
    /*https://www.w3schools.com/css/css_font.asp*/
    /*https://www.w3schools.com/tags/tag_font.asp*/
    font-family: 'UbuntuMono Nerd Font', 'UbuntuMono-NF', 'UbuntuMono', 'Consolas', "Lucida Console", "Courier New", monospace;
}


/*WHY THE PECK YOU DON'T SAY?!?!??!
  https://www.w3schools.com/tags/tag_code.asp

  */

code {
    /*https://www.w3schools.com/css/css_font.asp*/
    /*https://www.w3schools.com/tags/tag_font.asp*/
    font-family: 'UbuntuMono Nerd Font', 'UbuntuMono-NF', 'UbuntuMono', 'Consolas', "Lucida Console", "Courier New", monospace;
}

samp {
    /* https://www.w3schools.com/tags/tag_samp.asp */
    font-family: 'UbuntuMono Nerd Font', 'UbuntuMono-NF', 'UbuntuMono', 'Consolas', "Lucida Console", "Courier New", monospace;
}

kbd {
    /* https://www.w3schools.com/tags/tag_kbd.asp */
    border-radius: 2px;
    padding: 2px;
    border: 1px solid;
    font-family: 'UbuntuMono Nerd Font', 'UbuntuMono-NF', 'UbuntuMono', 'Consolas', "Lucida Console", "Courier New", monospace;
}

#backTopButton {
    /*
    https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
    */
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(0, 35, 100);
    /* Fallback coloreng*/
    background-color: rgba(0, 35, 100, .5);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 1em 1.5em;
    /* Some padding */
    border-radius: 30px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#backTopButton:focus-visible {
    outline: 2px dashed cyan;
    border-radius: 4px;
}

#backTopButton:hover {
    background-color: blue;
    /* Add a orange background on hover */
    background-color: rgba(0, 0, 255, .75);
    /* & pls be transparent too if you can*/
}

#backTopButton:active {
    background-color: orange;
    /* Add a orange background on click */
    background-color: rgba(255, 165, 0, 1);
    /* & pls be transparent too if you can*/
}

.SpecialityButton {
    /*
    https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
    */
    /* display: none; */
    /* Hidden by default */
    /* position: fixed; */
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(0, 35, 100);
    /* Fallback coloreng*/
    background-color: rgba(0, 35, 100, 1);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 1em 1.5em;
    /* Some padding */
    border-radius: 30px;
    /* Rounded corners */
    font-size: 1.2em;
    /* Increase font size */
}

.SpecialityButton:focus-visible {
    outline: 2px dashed cyan;
    border-radius: 4px;
}

.SpecialityButton:hover {
    background-color: blue;
    /* Add a orange background on hover */
    background-color: rgba(0, 0, 255, 1);
    /* & pls be transparent too if you can*/
}

.SpecialityButton:active {
    background-color: orange;
    /* Add a orange background on click */
    background-color: rgba(255, 165, 0, 1);
    /* & pls be transparent too if you can*/
}


/*RSS generator CSS for
  https://rss.bloople.net/
  */

.rss {
    font-family: 'Ubuntu Nerd Font', 'Ubuntu-NF', 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feed-title {
    font-family: 'Ubuntu Nerd Font', 'Ubuntu-NF', 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: white; */
}

.feed-desc {}

.feed-title-image {
    /*size: 100px 50px;  */
    height: 50px;
}


/* https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_tbody_css
    https://www.w3schools.com/tags/tag_thead.asp
    */

/* YOU IMBECILE!!! DIV DOES NOT HAVE ANYTHING!!! */
/* https://www.w3schools.com/tags/tag_table.asp */
div.table
{
    display:table;
    border-collapse:separate;
    border-spacing:2px;
    border-color:gray;
}
div.thead{ 
    display:table-header-group;
    vertical-align:middle;
    border-color:inherit;
}
div.tbody
{ 
    display:table-row-group;
    vertical-align:middle;
    border-color:inherit;
}
div.tfoot
{ 
    display:table-footer-group;
    vertical-align:middle;
    border-color:inherit;
}
div.th{  
    display:table-cell;
    vertical-align:inherit;
    font-weight:bold;
    text-align:center;
}
div.td{ 
    display:table-cell;
    vertical-align:inherit;
}
div.tr{  
    display: table-row;
    vertical-align:inherit;
    border-color:inherit;
}

table,
th,
td,
div.table,
div.th,
div.td {
    border: 1px solid blue;
    /* What an idiot! div, instead of proper table tags?!?!??! */
    word-wrap: break-word;
}

/* td a:visited, */


/* td .Buttonnize:visited {
        background-color: rgba(139, 0, 139, 0.25);
        color: white;
    } */


/* Tingle CSS */

.tingle-modal-box {
    background: rgb(2, 0, 36);
    color: white;
    cursor: url(https://github.com/Perkedel/After-Church/raw/master/RAW%20files/cursor.cc/VacuumSkoll.cur), default;
}

.tingle-modal-box__footer {
    background: rgb(0, 0, 17);
    color: white;
    cursor: url(https://github.com/Perkedel/After-Church/raw/master/RAW%20files/cursor.cc/VacuumSkoll.cur), default;
}

.tingle-btn {
    border-radius: 30px;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=181168), url(https://github.com/Perkedel/After-Church/raw/master/RAW%20files/rw-designer/Donut-select.cur), pointer;
}

.tingle-btn--primary {
    background-color: navy;
    color: white;
}

.tingle-btn--primary:hover {
    background-color: blue;
    color: white;
}

.tingle-btn--primary:active {
    background-color: cyan;
    color: blue;
}

.tingle-btn--danger {
    background-color: darkred;
    color: white;
}

.tingle-btn--danger:hover {
    background-color: red;
    color: white;
}

.tingle-btn--danger:active {
    background-color: yellow;
    color: blue;
}

.tingle-btn--default {
    background-color: darkgray;
    color: black;
}

.tingle-btn--default:hover {
    background-color: gray;
    color: black;
}

.tingle-btn--default:active {
    background-color: cyan;
    color: blue;
}

.hoverSection {
    background-color: inherit;
}

.hoverSection:hover {
    background-color: navy;
}

.hoverSection:active {
    background-color: blue;
}

.hidden {
    /* https://www.w3schools.com/tags/att_global_hidden.asp
    alternate to `hidden` attribute as in <p hidden></p>
    to trap & bamboozle stupid-bad-bot
    */
    display: none;
}

.hoverExpand {
    /* https://www.w3schools.com/howto/howto_css_zoom_hover.asp
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_zoom_hover
    */
    transition: transform .2s;
}

.hoverExpand:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.URLinfo--sauce {
    color: cyan;
}

.controls {
    background: darkslategrey;
    color: white;
}


/* SCROLL REVEAL PLS
https://youtu.be/T33NN_pPeNI
*/

.hideScroll {
    opacity: 0;
    filter: blur(5px);
    -ms-transition: all 1s;
    transition: all 1s;
    /* transform: translateX(-100px); */
    /* transform: translate(-100, 0); */
    /* overflow-x: auto; */
}

.hideScroll.showScroll {
    opacity: 1;
    filter: blur(0);
    -ms-transform: initial;
    transform: initial;
}

.hideScroll.fromLeftSideScroll:not(.showScroll) {
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    /* transform: translate(-100, 0); */
}

.hideScroll.fromRightSideScroll:not(.showScroll) {
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    /* transform: translate(-100, 0); */
}

.hideScroll.fromFrontSideScroll:not(.showScroll) {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    /* transform: translate(-100, 0); */
}

.hideScroll.fromBackSideScroll:not(.showScroll) {
    -ms-transform: scale(0);
    transform: scale(0);
    /* transform: translate(-100, 0); */
}

.hideScroll.fromUpSideScroll:not(.showScroll) {
    -ms-transform: translateY(100px);
    transform: translateY(100px);
}

.hideScroll.fromDownSideScroll:not(.showScroll) {
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
}


/* OH */

.hideScroll.fromCCWScroll:not(.showScroll) {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hideScroll.fromCWScroll:not(.showScroll) {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* HEH */

.hideScroll.fromSkewXRightScroll:not(.showScroll) {
    -ms-transform: skewX(45deg);
    transform: skewX(45deg);
}

.hideScroll.fromSkewXLeftScroll:not(.showScroll) {
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
}


/* GUSH */

.hideScroll.fromSkewYRightScroll:not(.showScroll) {
    -ms-transform: skewY(45deg);
    transform: skewY(45deg);
}

.hideScroll.fromSkewYLeftScroll:not(.showScroll) {
    -ms-transform: skewY(-45deg);
    transform: skewY(-45deg);
}


/* HUH */

.delayScroll:nth-child(1) {
    -ms-transition-delay: 200ms;
    transition-delay: 200ms;
}

.delayScroll:nth-child(2) {
    -ms-transition-delay: 400ms;
    transition-delay: 400ms;
}

.delayScroll:nth-child(3) {
    -ms-transition-delay: 600ms;
    transition-delay: 600ms;
}

.delayScroll:nth-child(4) {
    -ms-transition-delay: 800ms;
    transition-delay: 800ms;
}

.delayScroll:nth-child(5) {
    -ms-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.delayScroll:nth-child(6) {
    -ms-transition-delay: 1200ms;
    transition-delay: 1200ms;
    /* can we pls find more procedural way here?! */
}

.delayScroll:nth-child(6) {
    -ms-transition-delay: 1400ms;
    transition-delay: 1400ms;
    /* can we pls find more procedural way here?! */
}


/* END SCROLL REVEAL */

.preExpandSection {
    min-height: 600px;
}


/* AstroIcon */

#astroIconLight {
    display: none;
}

#astroIconDark {
    display: inherit;
}


/* Download Links
https://developer.mozilla.org/en-US/docs/Web/CSS/:checked
*/


/* #DownloadShowHideCheckBox:checked~.DownloadLinks {
    display: none;
} */


/* can go to none with JS */


/* #DownloadShowHideCheckBox:not(checked)~*.DownloadLinks {
    display: initial;
} */

.AnnoyingAdSpace {
    background-color: midnightblue;
    color: white;
}

.addressBarYeah{
    display:none;
}

.BioLinksList{
    /* use:
    - Listnostyle
    - ListNoPadding
    - center
    */
    list-style-type: none;
    margin: 0;
    margin-bottom: 4px;
    text-align: center;
    padding:0;
}

.BioLinks{
    width:75%;
}

.genitalDetachedAlert{
    /* for non-included enter link */
    font-size:.5em;
}

.SpecialityImageWide{
  /* https://jpegxl.info/art/
  yoink the CSS lol
   */
  max-width: 98vw;
  /* margin: 2em 0; */
  max-height: 100vh;
}

.hideOverflows{
  overflow:clip;
}

.hideOverflowsSide{
  overflow-x: clip;
  /* overflow-y: visible; */
}

/* MEDIA PLS!!!! */


/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme */

@media(prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

@media(prefers-color-scheme: light) {
    /* Light mode & Harry Potter print media
    for Harry Potter print media,
    please disable the background to save ink!
    We colored the background away from white
    to prevent burning eyes like with full white!
    */
     :root {
        scrollbar-color: rgb(171, 171, 222) rgb(0, 0, 189);
    }
    header {
        background-color: rgb(137, 255, 255);
        color: black;
    }
    header a,
    header a:visited,
    header a:hover,
    header a:hover:visited {
        color: black;
    }
    nav {
        background: rgba(255, 255, 255, .25);
    }
    body {
        background-color: rgb(187, 187, 221);
        color: black;
        /* scrollbar-color: rgb(171, 171, 222) rgb(0, 0, 189); */
    }
    .tingle-modal-box {
        background: rgb(168, 199, 225);
        color: black;
    }
    .tingle-modal-box__footer {
        background: rgb(54, 47, 255);
        color: black;
    }
     ::-webkit-scrollbar-track {
        background: rgb(171, 171, 222);
        background: rgba(171, 171, 222, .25);
    }
     ::-webkit-scrollbar-thumb {
        background: rgb(0, 0, 189);
        background: rgba(0, 0, 189, .8);
    }
     ::-webkit-scrollbar-thumb:active {
        background: greenyellow;
        background: rgba(136, 255, 0, 0.8);
    }
     ::-webkit-scrollbar-corner {
        background: rgb(71, 142, 0);
    }
     ::-webkit-resizer {
        color: brown;
    }
    .URLinfo--sauce {
        color: blue;
    }
    a {
        color: darkblue;
    }
    .controls {
        background: aquamarine;
        color: black;
    }
    #astroIconLight {
        display: inherit;
    }
    #astroIconDark {
        display: none;
    }
    .AnnoyingAdSpace {
        background-color: deepskyblue;
        color: black;
    }
}

@media only screen and (max-width: 700px) {
    .ListGalleryStyle {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media screen and (max-width: 600px) {
    html {
        /*https://css-tricks.com/couple-takes-sticky-footer/*/
        /*height: 100%;*/
        min-height: 0%;
        position: static;
    }
    body {
        /*https://stackoverflow.com/a/18066619/9079640*/
        margin: 0 0 0px;
    }
    footer {
        /*https://stackoverflow.com/a/18066619/9079640*/
        position: static;
        bottom: 0;
        left: 0;
        /*height: 350px;*/
        /*width: 100%;*/
        /*overflow: hidden;*/
    }
    /*
    https://www.w3schools.com/Css/tryit.asp?filename=trycss_navbar_horizontal_responsive
    */
    /* nav {
        position: static;
    } */
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*width: 60px;*/
    }
    nav a,
    nav a:link,
    nav a:visited {
        display: block;
    }
    nav li {
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    nav .NavPutLeft {
        float: none;
    }
    nav .NavPutRight {
        float: none;
    }
    nav .NavHistoryPutLeft {
        float: none;
        display: inline-block;
        /* Make sure it does not overlap */
        /* position: -webkit-sticky;
        position: sticky; */
    }
    nav .NavHistoryPutRight {
        float: right;
        display: inline-block;
        /* Make sure it does not overlap */
        /* position: -webkit-sticky;
        position: sticky; */
    }
    .ListGalleryStyle {
        width: 100%;
    }
    .BioLinks{
        /* width: 100%; */
    }
}

@media only print {
    /* Non Harry Potter print media CSS
    Harry Potter media should use Screen Light mode
     https://www.w3schools.com/css/css3_mediaqueries.asp */
    header {
        background-color: initial;
    }
    body {
        background-color: initial;
    }
    .Buttonnize {
        background-color: default;
        color: default;
        border: 2px solid darkorange;
    }
    .SpecialityButton {
        background-color: default;
        /* Set a background color */
        color: default;
        border: 2px solid darkblue;
        border-color: rgba(0, 0, 139, 0.5);
    }
    #backTopButton {
        background-color: default;
        /* Set a background color */
        color: default;
        border: 2px solid darkblue;
        border-color: rgba(0, 0, 139, 0.5);
    }
    nav {
        position: static;
    }
    nav a,
    nav a:link,
    nav a:visited {
        background-color: initial;
        color: darkblue;
        border: 2px solid darkblue;
    }
    .error {
        background-color: initial;
        color: initial;
        border: 2px solid red;
    }
    .warning {
        background-color: initial;
        color: initial;
        border: 2px solid orange;
    }
    .info {
        background-color: initial;
        color: initial;
        border: 2px solid blue;
    }
    .success {
        background-color: initial;
        color: initial;
        border: 2px solid green;
    }
    .busy {
        background-color: initial;
        color: initial;
        border: 2px solid yellow;
    }
    .ButtonizeListChildrenLinks a {
        background-color: initial;
        color: darkorange;
        border: 2px solid darkorange;
    }
    .ButtonizeListChildrenLinks a:visited {
        background-color: initial;
        color: darkorange;
        border: 2px solid darkorange;
    }
    .hideScroll {
        -ms-transition: none;
        transition: none;
        opacity: 1;
        filter: none;
        -ms-transform: none;
        transform: none;
    }
    .hideScroll.showScroll {
        opacity: 1;
        -ms-transform: none;
        transform: none;
    }
    .hideScroll.fromLeftSideScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromRightSideScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromFrontSideScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromBackSideScroll:not(.showScroll) {
        transform: none;
    }
    /* Oh */
    .hideScroll.fromUpSideScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromDownSideScroll:not(.showScroll) {
        transform: none;
    }
    /* eh */
    .hideScroll.fromCCWScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromCWScroll:not(.showScroll) {
        transform: none;
    }
    .SpecialityButton {
        background-color: initial;
    }
    .addressBarYeah{
        display: initial;
    }
}

@media (prefers-reduced-motion) {
     :root {
        scroll-behavior: initial;
    }
    .hideScroll {
        transition: none;
        filter: blur(0);
        opacity: 1;
        transform: none;
    }
    .hideScroll.showScroll {
        transition: none;
        filter: blur(0);
        opacity: 1;
        transform: none;
    }
    .hideScroll.fromLeftSideScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromRightSideScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromFrontSideScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromBackSideScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromFrontSideScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromBackSideScroll:not(.showScroll) {
        transform: none;
    }
    /* Oh */
    .hideScroll.fromUpSideScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromDownSideScroll:not(.showScroll) {
        transform: none;
    }
    /* eh */
    .hideScroll.fromCCWScroll:not(.showScroll) {
        transform: none;
    }
    .hideScroll.fromCWScroll:not(.showScroll) {
        transform: none;
    }
    .hoverExpand {
        transition: none;
    }
}


/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors */

@media(forced-colors:active) {
     :root {
        scrollbar-color: blue;
    }
     ::-webkit-scrollbar-track {
        /* background: rgb(171, 171, 222); */
        /* background: rgba(171, 171, 222, .25); */
        border: 1px solid white;
    }
     ::-webkit-scrollbar-thumb {
        /* background: rgb(0, 0, 189); */
        /* background: rgba(0, 0, 189, .8); */
        border: 1px solid black;
    }
     ::-webkit-scrollbar-thumb:active {
        /* background: greenyellow; */
        /* background: rgba(136, 255, 0, 0.8); */
        border: 1px solid cyan;
    }
     ::-webkit-scrollbar-corner {
        /* background: rgb(71, 142, 0); */
        border: 1px solid brown;
    }
     ::-webkit-resizer {
        /* color: brown; */
        border: 1px solid blue;
    }
    a:hover,
    a:visited:hover {
        border: 1px dashed;
    }
    a:active,
    a:visited:active {
        border: 1px solid cyan;
    }
    body {
        background-color: initial;
    }
    .Buttonnize {
        background-color: default;
        color: default;
        border: 2px solid darkorange;
    }
    .Buttonize:hover {
        border: 4px dashed;
    }
    .SpecialityButton {
        background-color: default;
        /* Set a background color */
        color: default;
        border: 2px solid darkblue;
        border-color: rgba(0, 0, 139, 0.5);
    }
    .SpecialityButton:hover {
        border: 2px dotted;
    }
    .SpecialityButton:active {
        border: 2px solid cyan;
    }
    #backTopButton {
        background-color: default;
        /* Set a background color */
        color: default;
        border: 2px solid darkblue;
        border-color: rgba(0, 0, 139, 0.5);
    }
    #backTopButton:hover {
        border: 2px dotted;
    }
    #backTopButton:active {
        border: 2px solid cyan;
    }
    nav a,
    nav a:link,
    nav a:visited {
        background-color: initial;
        color: blue;
        border: 2px solid blue;
    }
    nav a:hover,
    nav a:visited:hover {
        border: 2px dotted;
    }
    nav a:active,
    nav a:visited:active {
        border: 2px solid cyan;
    }
    .ButtonizeListChildrenLinks a {
        background-color: initial;
        color: darkorange;
        border: 2px solid darkorange;
    }
    .ButtonizeListChildrenLinks a:visited {
        background-color: initial;
        color: darkorange;
        border: 2px solid darkorange;
    }
    .ButtonizeListChildrenLinks a:hover,
    .ButtonizeListChildrenLinks a:visited:hover {
        border: 2px dotted;
    }
    .ButtonizeListChildrenLinks a:active,
    .ButtonizeListChildrenLinks a:visited:active {
        border: 2px solid cyan;
    }
    .error {
        /* background-color: initial;
        color: initial; */
        border: 2px solid red;
    }
    .warning {
        /* background-color: initial;
        color: initial; */
        border: 2px solid orange;
    }
    .info {
        /* background-color: initial;
        color: initial; */
        border: 2px solid blue;
    }
    .success {
        /* background-color: initial;
        color: initial; */
        border: 2px solid green;
    }
    .busy {
        /* background-color: initial;
        color: initial; */
        border: 2px solid yellow;
    }
    .tingle-modal-box {
        border: 1px solid blue;
    }
    .tingle-modal-box__footer {
        border: 1px solid blue;
    }
    .tingle-btn {
        border: 2px solid blue;
    }
    .tingle-btn--primary {
        border: 2px solid blue;
    }
    .tingle-btn--primary:hover {
        border: 2px dotted blue;
    }
    .tingle-btn--primary:active {
        border: 2px solid cyan;
    }
    .tingle-btn--danger {
        border: 2px solid red;
    }
    .tingle-btn--danger:hover {
        border: 2px dotted red;
    }
    .tingle-btn--danger:active {
        border: 2px solid cyan;
    }
    .tingle-btn--default {
        border: 2px solid white;
    }
    .tingle-btn--default:hover {
        border: 2px dotted white;
    }
    .tingle-btn--default:active {
        border: 2px solid cyan;
    }
}


/* } */


/* } */


/* } */


/* } */


/* } */
