---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import ListCells3DModelSFW from '@components/Elements/SparePart/ListCells3DModelSFW.astro';
---
<Layout 
    title="3D Models" 
    description="Perkedel NTLF+ASTR. Blendered 3D Models & Other 3D Models!"
    keywords="tech, fun, novelty, open source, gratis, free, 3D, models, blender, free 3d models, blend"
    >
    <h1>3D Models Pls (LITE VERSION)</h1>
        <p>Blender, FBX, Humanoids, Sculpts, etc.</p>
        <h2>What to do?</h2>
            <ul>
                <ListCells3DModelSFW/>
            </ul>

        <h2>Enter the FULL VERSION room, $0 & Permanent</h2>
            <p class="warning"><b style="font-size:24px;">18+! ONLY</b><br/> Full version room also lists 69420 URLs! Please make sure your biological age is at & above your mature age!<br/>
                For <i>Homo sapiens</i>, derivatives, & alike, it is <b>18 years old & up</b>.<br/>
                The entry is intentionally insecure so archivers can easily crawl into it. You're welcome.<br/>
                However, please have respect. You mental is very important.
            </p>
            <p><a href="enterNSFW">Enter</a></p>
</Layout>