---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout title="3D Models" description="Perkedel NTLF+ASTR. Blendered 3D Models & Other 3D Models!">
    <h1>3D Models Pls</h1>
        <p>Blender, FBX, Humanoids, Sculpts, etc.</p>
</Layout>