---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout 
    title="3D Models" 
    description="Perkedel NTLF+ASTR. Blendered 3D Models & Other 3D Models!"
    keywords="tech, fun, novelty, open source, gratis, free, 3D, models, blender, free 3d models, blend"
    >
    <h1>3D Models Pls</h1>
        <p>Blender, FBX, Humanoids, Sculpts, etc.</p>
        <h2>What to do?</h2>
        <ul>
            <li><ButtonizedLink href="https://github.com/Perkedel/After-Church/tree/master/RAW%20files/Blender" target="_blank" rel="noopener noreferrer">Entire Blender Collections</ButtonizedLink> <span class="warning">Contains some 69420</span> 
                Be sure to just clone entire <a href="https://github.com/Perkedel/After-Church/" target="_blank" rel="noopener noreferrer"><code>Perkedel/After-church</code></a> instead. 
                <b>EASY!</b> just use <a href="https://desktop.github.com" target="_blank" rel="noopener noreferrer">GitHub Desktop</a>! 
                Oh wait, you need <a href="https://git-annex.branchable.com/git-annex/" target="_blank" rel="noopener noreferrer">Git Annex</a>.., sync with <code>git annex sync --content</code> at the root of repository.
                </li>
            <!-- TODO: add NSFW external links page with `adult` rating, that links things such as `Smutba.se`  -->
        </ul>
</Layout>