---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout 
    title="Arduino & Other Microcontrollers" 
    description="Perkedel NTLF+ASTR. Arduino!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, Arduino, NodeMCU"
    >
    <h1>Arduino & Other Microcontrollers</h1>
        <p>Every Microcontrollers stuffs! Arduino, NodeMCU, etc.</p>
        <h2>What to do?</h2>
        <ul>
            <!-- <li><ButtonizedLink href="winCE" target="_blank" rel="noopener noreferrer">???</ButtonizedLink></li> -->
            <li><ButtonizedLink href="https://github.com/ninakali/chip_scavenger" target="_blank" rel="noopener noreferrer">Adventures of a chip scavenger</ButtonizedLink> ninakali's adventure of scaveging household electronic components. Did you know that many Smart TVs are basically a locked down PC?</li>
            <li><ButtonizedLink href="https://hackaday.com/2022/11/18/augmented-reality-workbench-helps-you-to-debug-your-boards/" target="_blank" rel="noopener noreferrer">Hackaday's article of AR Arduino Debugging</ButtonizedLink> Debug your Arduino with AR for much more intuitive Arduino debugging.</li>
            <li><ButtonizedLink href="https://github.com/ubicomplab/ar-debug-workbench" target="_blank" rel="noopener noreferrer">AR Arduino Debugging</ButtonizedLink> & <a href="https://youtu.be/RbENbf5WIfc" target="_blank" rel="noopener noreferrer">YouTube video</a></li>
        </ul>
</Layout>