---
import Layout from '@components/Layout.astro';
---
<Layout title="Another" description="another page in Perkedel NTLF+ASTR." keywords="tech, fun, novelty, open source, gratis, free">
<h1>Here Another</h1>
    <p>yeah!</p>
    <h2>Oh yeah</h2>
    
    <p><a class="Buttonnize" href="/">Back to home</a></p>
</Layout>