---
import LayoutEmbedGame from '../../../components/Layout/LayoutEmbedGame.astro'
---
<LayoutEmbedGame 
    title="Where is Loading Bar Functionality?"
    name = "Where is Loading Bar Functionality? Threaded loading research test for Godot"
    src="https://itch.io/embed-upload/2163827?color=000000"
    style = 'border:none;'
    height = '500px'
    width = '100%'
    author = 'JOELwindows7'
    description = 'Where is Loading Bar Functionality? Threaded loading research test for Godot'
    keywords = 'tech, fun, novelty, open source, gratis, free, game, html5, embed, embedded, web, online, game, game online, online game, free play, f2p, rogue, shooter, roguelike'
    favIcon ='/favicon.ico'
    favIconType ='image/x-icon'
    favIconAlt ='/favicon.gif'
    favIconAltType ='image/gif'
    SauceURLs = {[
        // ['Example','https://example.com','beforeLink','afterLink'],
        // ['Example2','https://example.org','beforeLink','afterLink'],
        ['https://github.com/Perkedel/Where_Is_LoadingBar_Functionality','https://github.com/Perkedel/Where_Is_LoadingBar_Functionality','Source Code',''],
        ['<mark class="info">Here hot top highlight code that makes it possible</mark>','https://github.com/Perkedel/Where_Is_LoadingBar_Functionality/blob/master/GameDVDCardtridge/WhereIsLoadingBarFunctions/Scenes/GenLoad.gd','<mark class="info">HIGHLIGHT</mark>',''],
        // ['<b>https://play.google.com/store/apps/details?id=com.Perkedel.tebenge</b>','https://play.google.com/store/apps/details?id=com.Perkedel.tebenge','<b>Google Play</b>','<b>RECOMMENDED</b>'],
        ['https://gotm.io/perkedel/loadingbar','https://gotm.io/perkedel/loadingbar','gotm.io (Play Online, FAST PERFORMANCE)',''],
        ['https://joelwindows7.itch.io/loading-bar-functionality','https://joelwindows7.itch.io/loading-bar-functionality','Itch.io',''],
        // ['https://gamejolt.com/games/tebenge/709885','https://gamejolt.com/games/tebenge/709885','GameJolt (Play Online only + OpenCX ModPCK)',''],
        ]}
    MiscEmbedsURLs = {[
        // ['Example','https://example.com','.75em', '200px'],
        // ['Example2','https://example.org','.75em', '200px'],
    ]}
    MiscEmbedsThings = {[
        // '<p>HELLO HELLO</p>',
        // '<p>HELLO HELLO2</p>',
        // '<iframe frameborder="0" src="https://itch.io/embed/620640?bg_color=000000&amp;fg_color=63c64d&amp;link_color=0484d1&amp;border_color=333333" width="552" height="167"><a href="https://joelwindows7.itch.io/loading-bar-functionality">Loading Bar Functionality by Perkedel Technologies</a></iframe>',
        // <iframe src="https://widgets.gamejolt.com/package/v1?key=raNqWoai" frameborder="0" width="500" height="245"></iframe>
        // <iframe src="https://widgets.gamejolt.com/package/v1?key=hkUy97sa" frameborder="0" width="500" height="245"></iframe>
    ]}
    ChangelogURL = './Changelogs'
    ChangelogIsExternalTab = {false}
    >
    
    <!-- Place your extra content here -->
    <!-- VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV -->
    <!-- https://docs.astro.build/en/core-concepts/astro-components/#slots -->
    <!-- <p slot="aboveEmbed"><strong>Here Above the embed</strong></p>
    <p slot="bellowEmbed"><strong>Here Bellow the embed</strong></p>
    <p slot="inDescription">in Description</p>
    <p slot="inMiscEmbeds">in misc embeds</p>
    <p>Hello extra slot</p> -->

    <iframe slot="inMiscEmbeds" frameborder="0" src="https://itch.io/embed/620640?bg_color=000000&amp;fg_color=63c64d&amp;link_color=0484d1&amp;border_color=333333" width="552" height="167"><a href="https://joelwindows7.itch.io/loading-bar-functionality">Loading Bar Functionality by Perkedel Technologies</a></iframe>
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

</LayoutEmbedGame>
<!-- IDEA: github action checkout other git, render, and then push the render to here -->
