---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';

export interface Props {
    entering?:string;
    addDescriptions?: string;
    addKeywords?: string;
}

const{
    entering = 'YOUR_APP',
    addDescriptions = 'YOUR_DESCRIPTION!',
    addKeywords = 'YOUR_KEYWORDS, bla, blan, something',
} = Astro.props.frontmatter || Astro.props as Props;

const canonicalURL:String = new URL(Astro.url.pathname, Astro.site);
const justURL:String = Astro.url.pathname;
---
<Layout 
    title={"Entering NSFW of " + entering}
    description={"Perkedel NTLF+ASTR. " + addDescriptions}
    keywords={"tech, fun, novelty, open source, gratis, free, Microsite, " + addKeywords}
    rating="adult"
    nsfwConfirmation={true}
    >
    <h1>Are you sure to enter 69420? <Icon style="color:red;" title="This red pill indicated on the top header bar means you are in a Not Safe For Work page." height="48px" name="gg:pill" /></h1>
        <p>You are about to enter 69420 of <b set:html={entering} style="background-color:blue;color:white;font-size:1.5em;"></b></p>
        <p>The following room page contains NSFW 69420!<br/>
            <mark class="warning">Usually, You must be at least 18+ for most beings OR any mature age of your being.</mark>
            Please be responsible, we intentionally do not bring complicated gate meaures<br/>
            so Archivers can crawl into easily<br/>
        </p>
        <p><a href={justURL + '/nsfw'} title="Consume the red pill you just picked" style="color:cyan;background-color:blue;border-radius:2px">&#xf0a9; enter &#xf0a8;</a> | <ButtonizedLink href=".." title="throw away the red pill"><span style="font-size:2.2em;font-weight:bolder;">🚫 GO BACK &#xfc38;</span></ButtonizedLink> </p>
        <details>
            <summary>FAQ</summary>
                <ul>
                    <li><b>Why not make user account system?</b> Perhaps it's an irony, unecessary, & egregious tempt to store 
                        somebody personal data just to get it done. 
                        Afterall, we already have mentioned that we would like to ensure every web archivers can crawl & preserve the latter page easily without disturbances. 
                        Removing this anonimity will destroy all crawlers that do not have login bearer feature, 
                        including but not limited to <a href="https://archive.org" target="_blank" rel="noopener noreferrer">Archive.org</a>.<br/>
                        If in worry, you should instead try & install somekind of parental control extension for your browser that blocks any web pages with <code>rating = "adult"</code> metadata tag.
                    </li>
                </ul>
        </details>
        <slot/>
        <p>Oh yeah, btw, be sure to <a href="https://web.archive.org/save" target="_blank" rel="noopener noreferrer">Save to Archive this page</a> 
            & that page there, just in case. thancc cool and good.
            </p>
</Layout>

<!-- <Icon style="color:magenta;" title="This Pinkest Pink colored breast pump indicated on the top header bar means you are in a Not Safe For Work page." height="48px" name="icon-park-outline:breast-pump" /> -->