---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout 
    title="Apple!!! iOS, macOS, tvOS, anyOS, MacBook, iPad, iPhone" 
    description="Perkedel NTLF+ASTR. Apple Jailbreaks!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, Apple, Jailbreak, jailbroken, iOS, jailbreaking"
    >
    <h1>Apple Jailbreaks! So Sue Me!</h1>
        <p>Every Apple stuffs! iOS, macOS, MacBook, iPad, iPhone, etc.</p>
        <h2>What to do?</h2>
        <ul>
            <!-- <li><ButtonizedLink href="winCE">???</ButtonizedLink></li> -->
            <li><ButtonizedLink href="https://asahilinux.org/" target="_blank" rel="noopener noreferrer">Asahi Linux</ButtonizedLink> Install Arch Linux on your ARM (M1, M2, M etc.) MacBooks</li>
            <li><ButtonizedLink href="https://github.com/AsahiLinux" target="_blank" rel="noopener noreferrer">Asahi Linux GitHub organisation</ButtonizedLink> Source codes that Asahi Linux had</li>
        </ul>
</Layout>