/* 
Homestuck CSS

Style to enhance Homestuck dialoging in HTML & its compatible derivatives.

You can now easily dialog faster & focus more to the dialog. With Lazy wrap, simply type your dialog inside, ensuring you typed the type followed by name correctly inside the class.

Only JOELwindows7 & commonly known by username & easy to know character name will this be called. or does it?

~~Icon before the name is not supported due to the limitation with CSS (e.g. `💢 Angery: ...`). We are currently working around this. Sorry, people, no fancy logo for now.~~ 
They work, but other interpreting does not. use CSS syntax, the space equals `+` in many programming language string concatenations, so it's like `url(https:://example.com/example.png) " Example: ..."`. There still few syntax only, e.g. lacks italic or bold syntax like `italic("bla bla bla")`.

by JOELwindows7
Perkedel Technologies
GNU AGPL v3
*/

/* Root */
/* HOW TO USE:
This area is to store values for below use.
Put your color, bg color, font, etc. here.
You can further make crazy with below classes
*/
:root {
    /* Hemospectrums. List of Blood Colors according to Alternia
    as fans whose collected the intels here 
    https://mspaintadventures.fandom.com/wiki/Hemospectrum
    also more intels:
    - https://en.wikipedia.org/wiki/Web_colors
    - https://www.w3schools.com/tags/ref_colornames.asp
    - https://www.w3.org/wiki/CSS/Properties/color/keywords

    It appears the original comic did not explicitly use color name,
    rather, they *hand drew* them.
    */
    --HS-Hemospectrum-Rust: #a10000; /* So.. is this basically same as iron / zat besi in *Homo sapiens*? Text color for Aradia Megido, HS2 Ruthie. Not to be confused with 🦀 Rust language, which is orange. */
    /*  */
    --HS-Hemospectrum-RustBright: #bb0000; /* Hiveswap Xefros Tritoh text color. */
    /*  */
    --HS-Hemospectrum-RustBrighter: #f42123; /* Hiveswap other character text color. */
    /*  */
    --HS-Hemospectrum-CandyRed: #ff0000; /* Red Cherub such as Cherub father, & Calliborn */
    /*  */
    --HS-Hemospectrum-Bronze: #a25203;
    /*  */
    --HS-Hemospectrum-BronzeBright: #b25900; /* Dammek Hiveswap text color. */
    /*  */
    --HS-Hemospectrum-BronzeBrighter: #cd7f32; /* Other Hiveswap Bronze character text color. */
    /*  */
    --HS-Hemospectrum-BronzeDim: #a15000; /* Tavros Text color. */
    /*  */
    --HS-Hemospectrum-Silver: #c0c0c0; /* No Silver 😭.. Silver Bell?? */
    /*  */
    --HS-Hemospectrum-Gold: #a1a100; /* also Sollux Captor text color */
    /*  */
    --HS-Hemospectrum-GoldBright: #abab1a; /* Hiveswap Gold character & Sewu families text color. */
    /*  */
    --HS-Hemospectrum-Lime: #658200; /* This is rare, Karkat's ♋ sign however looks grayer */
    /*  */
    --HS-Hemospectrum-LimeBright: #2ed73a; /* Lime Cherub such as Cherub mother, Calamity, Calliope not Hololive */
    /*  */
    --HS-Hemospectrum-Olive: #416600; /* also text color for Nepeta */
    /*  */
    --HS-Hemospectrum-OliveBright: #71a020; /* Text color for Hivewap */
    /*  */
    --HS-Hemospectrum-Jade: #078446;
    /*  */
    --HS-Hemospectrum-JadeBright: #008141; /* Text color for Kanaya Maryam */
    /*  */
    --HS-Hemospectrum-JadeBrighter: #2caa6b; /* Text color for Hiveswap Jade characters, not to be confused with Jade Harley */
    /*  */
    --HS-Hemospectrum-JadeGreener: #4ac925; /* a.k.a. Radioactive. Jade Harley's text color */
    /*  */
    --HS-Hemospectrum-Teal: #008282;
    /*  */
    --HS-Hemospectrum-TealBright: #26baba; /* Hiveswap text color. */
    /*  */
    --HS-Hemospectrum-Blue: #004182;
    /*  */
    --HS-Hemospectrum-BlueGreener: #005682; /* Who's error here, this is Vriska's & some other's blood color. */
    /*  */
    --HS-Hemospectrum-BlueBright: #3796c6; /* Many Blue characters featured in Hiveswap had this text color. */
    /*  */
    --HS-Hemospectrum-BlueParrot: #0049ff; /* Mierfa Durgas (Epilogue Universe C) had this text color. */
    /*  */
    --HS-Hemospectrum-BlueBluer: #0715cd; /* a.k.a. Blue pen. John Egbert text color */
    /*  */
    --HS-Hemospectrum-Indigo: #0021cb;
    /*  */
    --HS-Hemospectrum-IndigoDim: #000056; /* Use this for text color e.g. Equius Zahhak, Aradia but bot, etc. */
    /*  */
    --HS-Hemospectrum-IndigoBright: #6464ff; /* Hiveswap Indigo characters uses this text color. */
    /*  */
    --HS-Hemospectrum-Purple: #440a7f; /* pls no more discrepancies */
    /*  */
    --HS-Hemospectrum-PurpleDim: #2b0057; /* Oh, C'mon!! Gamzee Makara */
    /*  */
    --HS-Hemospectrum-PurpleBright: #a954ff; /* PROPAN, THE PAINT SPECIALIST!! Stop.. pls..; Hiveswap. */
    /*  */
    --HS-Hemospectrum-PurplePurpler: #B536DA; /* Rose Lalonde text color. */
    /*  */
    --HS-Hemospectrum-Violet: #6a006a; /* Yes, Violet is different. Text color, Eridan Ampora, cars like Maybach. */
    /*  */
    --HS-Hemospectrum-VioletBright: #791a79; /* Hiveswap text color. Fiamet. */
    /*  */
    --HS-Hemospectrum-Fuschia: #99004d; /* Highest of all. Feferi Peixes, Meenah Peixes, Betty Crocker / Condesce. also Google Nest Hub because OS Fuschia, cars like Rolls Royce. I & my descendants must control this because they tend to enslave everyone's beneath this color like pretty much arrogant leaders of galaxies. */
    /*  */
    --HS-Hemospectrum-FuschiaDim: #77003c; /* Text color for Feferi, Meenah, & Betty. */
    /*  */
    --HS-Hemospectrum-FuschiaDimmer: #6e003c; /* Text color for Hiveswap Trizza Tethis. */
    /*  */
    --HS-Hemospectrum-GrayTrue: #626262; /* Karkat's text color is this, not using his candy-red blood color. */
    
    /* end homospectrum */

    /* DEFINE VARIABLES */

    /* UNIVERSE OWNERS */
    /* JOELwindows7. Joel Robert Justiawan. Founder of Perkedel Technologies, 1st Kaorfa of Perkedel Cinematic Universe. */
    --HS-JOELwindows7-color: rgba(125,255,255,1);
    --HS-JOELwindows7-bgColor: rgba(0,0,50,.5);
    --HS-JOELwindows7-prefix: url('https://perkedel.netlify.app/assets/img/ezgif/perkedel_woosie_32.gif') " JOELwindows7: " / "Joel Robert Justiawan says, ";

    /* RUST BLOODED */
    /* Aradia Megido. */
    --HS-AradiaMegido-color: var(--HS-Hemospectrum-Rust);
    --HS-AradiaMegido-bgColor: rgba(0,0,0,0);
    --HS-AradiaMegido-prefix: "♈ Aradia Megido: " / "Aradia Megido says, ";

    /* Damara Megido. */
    --HS-AradiaMegido-color: var(--HS-Hemospectrum-Rust);
    --HS-AradiaMegido-bgColor: rgba(0,0,0,0);
    --HS-AradiaMegido-prefix: "♈🥵 Damara Megido: " / "Damara Megido says, ";

    /* Xefros Tritoh. */
    --HS-XefrosTritoh-color: var(--HS-Hemospectrum-RustBright);
    --HS-XefrosTritoh-bgColor: rgba(0,0,0,0);
    --HS-XefrosTritoh-prefix: "🦎 Xefros Tritoh: " / "Xefros Tritoh says, ";

    /* Diemen Xicali. */
    --HS-DiemenXicali-color: var(--HS-Hemospectrum-RustBrighter);
    --HS-DiemenXicali-bgColor: rgba(0,0,0,0);
    --HS-DiemenXicali-prefix: "🐃 Diemen Xicali: " / "Diemen Xicali says, ";

    /* Marsti Houtek. */
    --HS-MarstiHoutek-color: var(--HS-Hemospectrum-RustBrighter);
    --HS-MarstiHoutek-bgColor: rgba(0,0,0,0);
    --HS-MarstiHoutek-prefix: "🧑‍🚀 Marsti Houtek: " / "Marsti Houtek says, ";

    /* Ruthie. */
    --HS-Ruthie-color: var(--HS-Hemospectrum-RustBrighter);
    --HS-Ruthie-bgColor: rgba(0,0,0,0);
    --HS-Ruthie-prefix: "🍟 Ruthie: " / "Ruthie says, ";

    /* BRONZE BLOODED */
    /* Tavros Nitram, */
    --HS-TavrosNitram-color: var(--HS-Hemospectrum-BronzeDim);
    --HS-TavrosNitram-bgColor: rgba(0,0,0,0);
    --HS-TavrosNitram-prefix: "♉ Tavros Nitram: " / "Tavros Nitram says, ";

    /* Rufioh Nitram, */
    --HS-RufiohNitram-color: var(--HS-Hemospectrum-BronzeDim);
    --HS-RufiohNitram-bgColor: rgba(0,0,0,0);
    --HS-RufiohNitram-prefix: "♉🔥 Rufioh Nitram: " / "Rufioh Nitram says, ";

    /* Dammek. */
    --HS-Dammek-color: var(--HS-Hemospectrum-BronzeBright);
    --HS-Dammek-bgColor: rgba(0,0,0,0);
    --HS-Dammek-prefix: "🗝️ Dammek: " / "Dammek says, ";

    /* Chixie Roixmr. */
    --HS-ChixieRoixmr-color: var(--HS-Hemospectrum-BronzeBrighter);
    --HS-ChixieRoixmr-bgColor: rgba(0,0,0,0);
    --HS-ChixieRoixmr-prefix: "⚙️ Chixie Roixmr: " / "Chixie Roixmr says, ";

    /* Skylla Koriga. */
    --HS-SkyllaKoriga-color: var(--HS-Hemospectrum-BronzeBrighter);
    --HS-SkyllaKoriga-bgColor: rgba(0,0,0,0);
    --HS-SkyllaKoriga-prefix: "🤠 Skylla Koriga: " / "Skylla Koriga says, ";

    /* Treyaf. */
    --HS-Treyaf-color: var(--HS-Hemospectrum-BronzeBrighter);
    --HS-Treyaf-bgColor: rgba(0,0,0,0);
    --HS-Treyaf-prefix: "❔ Treyaf: " / "Treyaf says, ";

    /* SILVER BLOODED */

    /* GOLD BLOODED */
    /* Sollux Captor. */
    --HS-SolluxCaptor-color: var(--HS-Hemospectrum-Gold);
    --HS-SolluxCaptor-bgColor: rgba(0,0,0,0);
    --HS-SolluxCaptor-prefix: "♊ Sollux Captor: " / "Sollux Captor says, ";

    /* Mituna Captor. */
    --HS-MitunaCaptor-color: var(--HS-Hemospectrum-Gold);
    --HS-MitunaCaptor-bgColor: rgba(0,0,0,0);
    --HS-MitunaCaptor-prefix: "♊🥽 Mituna Captor: " / "Mituna Captor says, ";

    /* Azdaja Knelax. */
    --HS-AzdajaKnelax-color: var(--HS-Hemospectrum-GoldBright);
    --HS-AzdajaKnelax-bgColor: rgba(0,0,0,0);
    --HS-AzdajaKnelax-prefix: "👁️ Azdaja Knelax: " / "Azdaja Knelax says, ";

    /* Cirava Hermod. */
    --HS-CiravaHermod-color: var(--HS-Hemospectrum-GoldBright);
    --HS-CiravaHermod-bgColor: rgba(0,0,0,0);
    --HS-CiravaHermod-prefix: "📐 Cirava Hermod: " / "Cirava Hermod says, ";

    /* Folykl Darane. un-necessary   spa c e. */
    --HS-FolyklDarane-color: var(--HS-Hemospectrum-GoldBright);
    --HS-FolyklDarane-bgColor: rgba(0,0,0,0);
    --HS-FolyklDarane-prefix: "🐞 Folykl Darane: " / "Folykl Darane says, ";

    /* Kuprum Maxlol. */
    --HS-KuprumMaxlol-color: var(--HS-Hemospectrum-GoldBright);
    --HS-KuprumMaxlol-bgColor: rgba(0,0,0,0);
    --HS-KuprumMaxlol-prefix: "🎒 Kuprum Maxlol: " / "Kuprum Maxlol says, ";

    /* Pulo Sewu. Following Sewu trolls are OC from Perkedel Technologies. Son 1. Thousand Island. during times in Jakarta for short, this unnamed descendant got his name while visiting off shore mini island in Jakarta with similar name, kepulauan Seribu / Thousand isle. */
    --HS-PuloSewu-color: var(--HS-Hemospectrum-GoldBright);
    --HS-PuloSewu-bgColor: rgba(0,0,0,0);
    --HS-PuloSewu-prefix: "🏝️ Pulo Sewu: " / "Pulo Sewu says, ";

    /* Lawang Sewu. Son 2. Thousand Door. A defunct now museum Dutch era train station in Semarang. While visiting this place after immigrated for good to Semarang due to 98 May Chaos (Kerusuhan Mei 1998), the ancestor (mom / mama) saved this idea for later this second descendant. */
    --HS-LawangSewu-color: var(--HS-Hemospectrum-GoldBright);
    --HS-LawangSewu-bgColor: rgba(0,0,0,0);
    --HS-LawangSewu-prefix: "🚪 Lawang Sewu: " / "Lawang Sewu says, ";

    /* Malam Sewu CG. Son 3. Arabian Night / 1001 Malam. Somehow Arabian night got translated to 1001 night instead in Indonesian. Note though, Sewu families are Christian, only mama got interested in this quite bizzare name. The CG was later added by mama & Malam himself to complete the pun, as Siji in Java means Number 1. */
    --HS-MalamSewu-color: var(--HS-Hemospectrum-GoldBright);
    --HS-MalamSewu-bgColor: rgba(0,0,0,0);
    --HS-MalamSewu-prefix: "🌙 Malam Sewu CG: " / "Malam Sewu CG says, ";

    /* Konco Sewu. Son 4. Thousand Friends. Mama wished all families has *Thousand Friends*, philosophically meaning have lots of friends and as few as enemies as possible. Konco in Java means friend. */
    --HS-KoncoSewu-color: var(--HS-Hemospectrum-GoldBright);
    --HS-KoncoSewu-bgColor: rgba(0,0,0,0);
    --HS-KoncoSewu-prefix: "👥 Konco Sewu: " / "Konco Sewu says, ";

    /* Tumbuh Sewu. Son 5. Grows Thousands. Named after famous quote "Per once death, grows thousands" / "Mati satu, tumbuh seribu". */
    --HS-TumbuhSewu-color: var(--HS-Hemospectrum-GoldBright);
    --HS-TumbuhSewu-bgColor: rgba(0,0,0,0);
    --HS-TumbuhSewu-prefix: "🌱 Tumbuh Sewu: " / "Tumbuh Sewu says, ";

    /* Sikil Sewu. Son 6. Thousand Legs / Caterpillar Milipede. Named after a worm, that called thousand legs in Indonesian, which is just a milipede. Sikil in Java means Leg. */
    --HS-SikilSewu-color: var(--HS-Hemospectrum-GoldBright);
    --HS-SikilSewu-bgColor: rgba(0,0,0,0);
    --HS-SikilSewu-prefix: "👣 Sikil Sewu: " / "Sikil Sewu says, ";

    /* Ambarawa Sewu. Mom of Sewu family. Originally, Ambarawa had no last name, but since she likes number 1000, she added that one herself. Remember, Sewu in Java means One thousand. Coincidentally, the mama lusus (a Komodo) that named her Ambarawa, matches a town name in Semarang, like it was fated to be it. Please note, Ambarawa act a human shaped mother figure, while the real mother here is that mother lusus, a Komodo. And it appears we have lost tracked who is who, the matesprite was, coz the Drone didn't tell us, It just knocked random ones & filled random ones also. */
    --HS-AmbarawaSewu-color: var(--HS-Hemospectrum-GoldBright);
    --HS-AmbarawaSewu-bgColor: rgba(0,0,0,0);
    --HS-AmbarawaSewu-prefix: "♟️ Ambarawa Sewu: " / "Ambarawa Sewu says, ";
    /* Oh I know! it was.. Dlavem Ketrejim, who sat on one date night. wait this one hatches Pulo to Sikil. And oh yeah, that's the guy sitting watching TV every night, it's him, Papa. So, what's on the Night News (World News / Berita dalam Dunia) here on TVRI?
    the Grandpa wow, hold on a sec. No grandpa neither grandma, sort of, the... Komodo hatch Beforoviparly (because previous mom lusus died, Maryam disect egg and hatch it this). Then a Drone filled up from random Matesprites couple to this Komodo, and there's that Ambarawa. Pls wait, we are designing her siblings! Yeah Sewu aunties / Tante2 Sewu.
    */

    /* LIME BLOODED */
    /* Karkat Vantas. Karkat was supposedly Lime, but yeah you see, exterminations. So it's rare. Luckily, the Dolorosa saved him & raised him. OMG, Dolorosa, lol what?! No.. that... okay yeah. */
    --HS-KarkatVantas-color: var(--HS-Hemospectrum-GrayTrue);
    --HS-KarkatVantas-bgColor: rgba(0,0,0,0);
    --HS-KarkatVantas-prefix: "♋ Karkat Vantas: " / "Karkat Vantas says, ";

    /* Dlavem Ketrejim. Also hear me out, let's add one too that got lucky. He's too afraid to protest, all his friend & family died in this extermination. I gotta make them alive again & move them to Dasandim, claim them in Sorrow city, same city where Dasandim Intergalactic Law Enforcement Alliance is. Now you see, Ambarawa found some interesting trait that no other Alternian had back then. That's how she got him. He's alone, but got courage which unfortunately had to be told cryptically. I hope he don't fell overpolitical like my dad is. Watch contents carefully folks! */
    --HS-KarkatVantas-color: var(--HS-Hemospectrum-Lime);
    --HS-KarkatVantas-bgColor: rgba(0,0,0,0);
    --HS-KarkatVantas-prefix: "🏴‍☠️ Dlavem Ketrejim: " / "Dlavem Ketrejim says, ";

    /* OLIVE BLOODED */
    /* Nepeta Leijon. */
    --HS-NepetaLeijon-color: var(--HS-Hemospectrum-Olive);
    --HS-NepetaLeijon-bgColor: rgba(0,0,0,0);
    --HS-NepetaLeijon-prefix: "♌ Nepeta Leijon: :33 ⬅️ " / "Nepeta Leijon says, ";
    /* TODO: --HS-NepetaLeijon-customFace, default `:33`, can be filled into like `:DD` */

    /* Meulin Leijon. Mom. */
    --HS-MeulinLeijon-color: var(--HS-Hemospectrum-Olive);
    --HS-MeulinLeijon-bgColor: rgba(0,0,0,0);
    --HS-MeulinLeijon-prefix: "♌🔮 Meulin Leijon: ＼(=^..^)/ ⬅️ " / "Meulin Leijon says, ";
    /* TODO: Fore real, Meulin literally emotes her prefix emoji! try to have default, copy with if has attribute. */

    /* Will Smith Alternia. No, serious. Blame Hussie & all contributors involved in this, not me, not us. Not to be confused with real life Will Smith, that's different. */
    --HS-WillSmithAlternia-color: var(--HS-Hemospectrum-Olive);
    --HS-WillSmithAlternia-bgColor: rgba(0,0,0,0);
    --HS-WillSmithAlternia-prefix: "🤴 Alternian Will Smith: " / "Alternian Will Smith says, ";

    /* Boldir Lamati. She encloses her line inside a parenthesis, & triple the `?` in a question.*/
    --HS-BoldirLamati-color: var(--HS-Hemospectrum-OliveBright);
    --HS-BoldirLamati-bgColor: rgba(0,0,0,0);
    --HS-BoldirLamati-prefix: "🕵️‍♀️ Boldir Lamati: (" / "Boldir Lamati says, ";
    --HS-BoldirLamati-postfix: ")" / "";

    /* Konyyl Okimaw. */
    --HS-KonyylOkimaw-color: var(--HS-Hemospectrum-OliveBright);
    --HS-KonyylOkimaw-bgColor: rgba(0,0,0,0);
    --HS-KonyylOkimaw-prefix: " Konyyl Okimaw:" / "Konyyl Okimaw says, ";

    /* Polypa Goezee. Polipa.. Gizi?? sorry. She throws her sentence / line like a shuriken into a wall. use asterisk to separate clause * like a comma. *🧱 */
    --HS-PolypaGoezee-color: var(--HS-Hemospectrum-OliveBright);
    --HS-PolypaGoezee-bgColor: rgba(0,0,0,0);
    --HS-PolypaGoezee-prefix: "🔥⭐ Polypa Goezee:" / "Polypa Goezee says, ";
    --HS-PolypaGoezee-postfix: " *🧱" / "";

    /* JADE BLOODED */
    /* Kanaya Maryam. */
    --HS-KanayaMaryam-color: var(--HS-Hemospectrum-JadeBright);
    --HS-KanayaMaryam-bgColor: rgba(0,0,0,0);
    --HS-KanayaMaryam-prefix: "♍ Kanaya Maryam:" / "KanayaMaryam says, ";

    /* Porrim Maryam. Mom. Oh my God, the Dolorosa redirects to this Dolorosa & the title is also Porrim Maryam. People, uhh.. we set that Alternians will be different entity, while humans are merged. */
    --HS-PorrimMaryam-color: var(--HS-Hemospectrum-JadeBright);
    --HS-PorrimMaryam-bgColor: rgba(0,0,0,0);
    --HS-PorrimMaryam-prefix: "♍ Porrim Maryam:" / "Porrim Maryam says, ";

    /* (DEPRECATED, IS MERGED TO PORRIM) Dolorosa Maryam. Screw this poop! rename giant Porrim to Dolorosa!!! ahflijshljkghsejlkghsjlkhfzslid!!!. What the hell, Andrew?!?!?!?!?!??!?!?!?! Luckily she's okay with it, coz Signless doesn't care with names too much, including her. UGH!!!! Piece of poop! 🤯🤯🤯🤯🤯🤯🤯 I am confused right now!!! Diluar nalar coy!!!! */
    /* --HS-DolorosaMaryam-color: var(--HS-Hemospectrum-JadeBright);
    --HS-DolorosaMaryam-bgColor: rgba(0,0,0,0);
    --HS-DolorosaMaryam-prefix: "♍ Dolorosa Maryam:" / "Dolorosa Maryam says, "; */

    /* Swifer Eggmop. These are the Earth C's new Jade Alternians. */
    --HS-SwiferEggmop-color: var(--HS-Hemospectrum-JadeBright);
    --HS-SwiferEggmop-bgColor: rgba(0,0,0,0);
    --HS-SwiferEggmop-prefix: "🧹 Swifer Eggmop:" / "Swifer Eggmop says, ";

    /* Clipper Borden. & this. */
    --HS-CliperBorden-color: var(--HS-Hemospectrum-JadeBright);
    --HS-CliperBorden-bgColor: rgba(0,0,0,0);
    --HS-CliperBorden-prefix: "🖇️ Cliper Borden:" / "Cliper Borden says, ";

    /* Bronya Ursama. Now, Jade Hivewswaps. */
    --HS-BronyaUrsama-color: var(--HS-Hemospectrum-JadeBrighter);
    --HS-BronyaUrsama-bgColor: rgba(0,0,0,0);
    --HS-BronyaUrsama-prefix: "🐈‍⬛ Bronya Ursama:" / "Bronya Ursama says, ";

    /* Daraya Jonjet. */
    --HS-DarayaJonjet-color: var(--HS-Hemospectrum-JadeBrighter);
    --HS-DarayaJonjet-bgColor: rgba(0,0,0,0);
    --HS-DarayaJonjet-prefix: " Daraya Jonjet:" / "Daraya Jonjet says, ";

    /* Lanque Bombyx. */
    --HS-LanqueBombyx-color: var(--HS-Hemospectrum-JadeBrighter);
    --HS-LanqueBombyx-bgColor: rgba(0,0,0,0);
    --HS-LanqueBombyx-prefix: " Lanque Bombyx:" / "Lanque Bombyx says, ";

    /* Wanshi Adyata. */
    --HS-WanshiAdyata-color: var(--HS-Hemospectrum-JadeBrighter);
    --HS-WanshiAdyata-bgColor: rgba(0,0,0,0);
    --HS-WanshiAdyata-prefix: " Wanshi Adyata:" / "Wanshi Adyata says, ";

    /* Actias. */
    --HS-Actias-color: var(--HS-Hemospectrum-JadeBrighter);
    --HS-Actias-bgColor: rgba(0,0,0,0);
    --HS-Actias-prefix: " Actias:" / "Actias says, ";

    /* TEAL BLOODED */
    /* Terezi Pyrope. Thancc for helping us testing it this. Cool and good. She likes to L33T1FY & C4P1T4L1Z3 her lines */
    --HS-TereziPyrope-color: var(--HS-Hemospectrum-Teal);
    --HS-TereziPyrope-bgColor: rgba(0,0,0,0);
    --HS-TereziPyrope-prefix: "♎ Terezi Pyrope: " / "Terezi Pyrope says, ";

    /* Latula Pyrope. Tell you what? Redglare give this girl name same, Redglare becomes just redglare. How about that? aslkdjflksjad. */
    --HS-LatulaPyrope-color: var(--HS-Hemospectrum-Teal);
    --HS-LatulaPyrope-bgColor: rgba(0,0,0,0);
    --HS-LatulaPyrope-prefix: "♎ Latula Pyrope: " / "Latula Pyrope says, ";

    /* (DEPRECATED, IS MERGED TO LATULA) Redglare Pyrope. This is the original ancestor, remember that. Pls discuss whether this should change to also merge 2 of these into 1 just like for Humans will. We only have few years before this fork becomes canon here in Perkedel Cinematic Universe. */
    /* --HS-RedglarePyrope-color: var(--HS-Hemospectrum-Teal);
    --HS-RedglarePyrope-bgColor: rgba(0,0,0,0);
    --HS-RedglarePyrope-prefix: "♎ Redglare Pyrope: " / "Redglare Pyrope says, "; */

    /* Stelsa Sezyat. I think we should all agree, above post & pre scratches were time travel differences, much like for Humans. Anybody object here? */
    --HS-StelsaSezyat-color: var(--HS-Hemospectrum-TealBright);
    --HS-StelsaSezyat-bgColor: rgba(0,0,0,0);
    --HS-StelsaSezyat-prefix: " Stelsa Sezyat: " / "Stelsa Sezyat says, ";

    /* Tagora Gorjek. No, not Gojek! It's different. Also, what about "Betty Crocker" / Condesce? Oh.. like this. Meenah saw her future self that she's a... bad person. idk. */
    --HS-TagoraGorjek-color: var(--HS-Hemospectrum-TealBright);
    --HS-TagoraGorjek-bgColor: rgba(0,0,0,0);
    --HS-TagoraGorjek-prefix: " Tagora Gorjek: " / "Tagora Gorjek says, ";

    /* Tegiri Kalbur. */
    --HS-TegiriKalbur-color: var(--HS-Hemospectrum-TealBright);
    --HS-TegiriKalbur-bgColor: rgba(0,0,0,0);
    --HS-TegiriKalbur-prefix: " Tegiri Kalbur: " / "Tegiri Kalbur says, ";

    /* Tyzias Entykk. */
    --HS-TyziasEntykk-color: var(--HS-Hemospectrum-TealBright);
    --HS-TyziasEntykk-bgColor: rgba(0,0,0,0);
    --HS-TyziasEntykk-prefix: " Tyzias Entykk: " / "Tyzias Entykk says, ";

    /* Idarat Catlaz. */
    --HS-IdaratCatlaz-color: var(--HS-Hemospectrum-TealBright);
    --HS-IdaratCatlaz-bgColor: rgba(0,0,0,0);
    --HS-IdaratCatlaz-prefix: " Idarat Catlaz: " / "Idarat Catlaz says, ";

    /* Tiagon. */
    --HS-Tiagon-color: var(--HS-Hemospectrum-TealBright);
    --HS-Tiagon-bgColor: rgba(0,0,0,0);
    --HS-Tiagon-prefix: " Tiagon: " / "Tiagon says, ";

    /* Journo. */
    --HS-Journo-color: var(--HS-Hemospectrum-TealBright);
    --HS-Journo-bgColor: rgba(0,0,0,0);
    --HS-Journo-prefix: " Journo: " / "Journo says, ";

    /* Nufren. "=see you around never=", yeah, No friend, literally. How pitiful. */
    --HS-Nufren-color: var(--HS-Hemospectrum-TealBright);
    --HS-Nufren-bgColor: rgba(0,0,0,0);
    --HS-Nufren-prefix: " Nufren: =" / "Nufren says, ";
    --HS-Nufren-postfix: "=" / "";

    /* BLUE BLOODED */
    /* Vriska Serket. */
    --HS-VriskaSerket-color: var(--HS-Hemospectrum--BlueGreener);
    --HS-VriskaSerket-bgColor: rgba(0,0,0,0);
    --HS-VriskaSerket-prefix: "♏ Vriska Serket: " / "Vriska Serket says, ";

    /* Aranea Serket. Mom. You know what? fine. let's merge them each. These minds are merging just like that astronaut of Zathura film merged upon it revealed, the wished boy that came back was his young brother, on an alternate timeline to which there he did wished he gone, and regreted it, later we all see the main boy wished him back. Yeah you know. */
    --HS-AraneaSerket-color: var(--HS-Hemospectrum--BlueGreener);
    --HS-AraneaSerket-bgColor: rgba(0,0,0,0);
    --HS-AraneaSerket-prefix: "♏ Aranea Serket: " / "Aranea Serket says, ";

    /* Vrissy Maryam-Lalonde Serket. Daughter 1, from Vriska. */
    --HS-VrissySerket-color: var(--HS-Hemospectrum--BlueGreener);
    --HS-VrissySerket-bgColor: rgba(0,0,0,0);
    --HS-VrissySerket-prefix: "♏ Vriska Maryam-Lalonde Serket: " / "Vrissy Serket says, ";

    /* Sido Serket. Daughter 2, from Vriska. 1st ever daughter of Alternian born through humanoid birth system, literally dream / hope come true. Named after a company IRL, Sido Muncul (who makes Tolak Angin), meaning Dream / Hope comes true / Impian terwujud. Vriska here in Perkedel Cinematic Universe wished that she feels the pain of birthing like every humans do. So I made it this, so all Alternians can crossbreed across galaxies reliably. Infact that system is quite complicated & rather cruel, so I gotta add this, which is the only way I know of, and works well mostly. Really, this is Vriska's hope come true, hence this her name. Sido on the other hand can also means Jadi / Becomes, opposing Batal / Cancel. */
    --HS-SidoSerket-color: var(--HS-Hemospectrum--BlueGreener);
    --HS-SidoSerket-bgColor: rgba(0,0,0,0);
    --HS-SidoSerket-prefix: "♏ Sido Serket: " / "Sido Serket says, ";
    /* IDEA: Hey, pls regex that changes every occurences of `B`, & `b` into `8`. This has to be new CSS spec, will ya!!! */

    /* Mierfa Durgas. */
    --HS-MierfaDurgas-color: var(--HS-Hemospectrum--BlueParrot);
    --HS-MierfaDurgas-bgColor: rgba(0,0,0,0);
    --HS-MierfaDurgas-prefix: " Mierfa Durgas: " / "Mierfa Durgas says, ";

    /* Ardata Carmia. not ADATA!!! */
    --HS-ArdataCarmia-color: var(--HS-Hemospectrum--BlueBright);
    --HS-ArdataCarmia-bgColor: rgba(0,0,0,0);
    --HS-ArdataCarmia-prefix: " Ardata Carmia: " / "Ardata Carmia says, ";

    /* Elwurd. */
    --HS-Elwurd-color: var(--HS-Hemospectrum--BlueBright);
    --HS-Elwurd-bgColor: rgba(0,0,0,0);
    --HS-Elwurd-prefix: " ?????? Elwurd: " / "Unknown Elwurd says, ";

    /* Remele Namaaq. */
    --HS-RemeleNamaaq-color: var(--HS-Hemospectrum--BlueBright);
    --HS-RemeleNamaaq-bgColor: rgba(0,0,0,0);
    --HS-RemeleNamaaq-prefix: " Remele Namaaq: " / "Remele Namaaq says, ";

    /* Mallek Adalov. */
    --HS-MallekAdalov-color: var(--HS-Hemospectrum--BlueBright);
    --HS-MallekAdalov-bgColor: rgba(0,0,0,0);
    --HS-MallekAdalov-prefix: " Mallek Adalov: " / "Mallek Adalov says, ";

    /* Carla Zabji Ziem. an OC Alternian of Perkedel Technologies, not to be confused with Carlie Lamitiemd. She likes to wrap her line between lightnings just like her horn. She has electrocution abilities. She can even Defib ones heart, & hug ones to pacemaker 🫀. like Nepeta, she is a cardiophile. in fact, that's was my idea to tell Carla to buy Nepeta a stethoscope, lol! */
    --HS-CarlaZabjiZiem-color: var(--HS-Hemospectrum-BlueBright);
    --HS-CarlaZabjiZiem-bgColor: rgba(0,0,0,0);
    --HS-CarlaZabjiZiem-prefix: "⚡ Carla Zabji Ziem:" / "Carla Zabji Ziem says, ";
    --HS-CarlaZabjiZiem-postfix: " ⚡" / "";

    /* INDIGO BLOODED */
    /* Equius Zahhak. */
    --HS-EquiusZahhak-color: var(--HS-Hemospectrum-IndigoDim);
    --HS-EquiusZahhak-bgColor: rgba(0,0,0,0);
    --HS-EquiusZahhak-prefix: "♐ Equius Zahhak: 🏹" / "Equius Zahhak says, ";

    /* Horus Zahhak. Dad. Okay, keep in mind, some Universe D / Fanfic writers decided not to merge scratches. pls separate between like `Horrus` & `huh who`? like that on the before & after. Wait, still use this same class, and uh, we'll figure out the filler CSS attributing later, just have `(post)`, `(pre)` something like that for now, idk. */
    --HS-HorussZahhak-color: var(--HS-Hemospectrum-IndigoDim);
    --HS-HorussZahhak-bgColor: rgba(0,0,0,0);
    --HS-HorussZahhak-prefix: "♐ Horuss Zahhak: 🏹" / "Horuss Zahhak says, ";

    /* (Deprecated) Aradia bot. */
    --HS-AradiaBot-color: var(--HS-Hemospectrum-IndigoDim);
    --HS-AradiaBot-bgColor: rgba(0,0,0,0);
    --HS-AradiaBot-prefix: "♐ Equius Zahhak: 🏹" / "Equius Zahhak says, ";

    /* TODO: Pls more! Lord English ones is rather complicated! */

    /* IDEA: maybe add character whose icon changes depending on media selection. e.g. light is ☀️, dark is 🌙 idk.. */

    /* TODO: Pls template variables! Name Full, Call Name, "says" word

    /* IDEA: Who's character constantly shifts numbers?! so when 1 2 3 4 5, that person goes ! @ # $ % . Who? */
    
    */

    /* Unknown */
    /* --HS-Unknown-color: var(--HS-Hemospectrum-RustBrighter); */
    --HS-Unknown-bgColor: rgba(0,0,0,0);
    --HS-Unknown-prefix: "❔ ???: " / "Unknown person says, ";

    /* d */

}

/* COLOR OVERRIDENINGS */
/* What's this:

First, install text color basically. the prefix should be later.

*/

/* Unknown Character */
.HS, .HS.Unknown, .HS-Name, .HS-Dialog, .MsPaintAdventure, .HS.Unknown {
    /* no color */
}

/* JOELwindows7 */
.HS.JOELwindows7, .HS-Name.JOELwindows7, .HS-Dialog.JOELwindows7 {
    color: var(--HS-JOELwindows7-color);
    background-color: var(--HS-JOELwindows7-bgColor);
}

/* Vriska Serket */
.HS.VriskaSerket, .HS-Name.VriskaSerket, .HS-Dialog.VriskaSerket {
    color: var(--HS-VriskaSerket-color);
    background-color: var(--HS-VriskaSerket-bgColor);
}

/* Terezi Pyrope */
.HS.TereziPyrope, .HS-Name.TereziPyrope, .HS-Dialog.TereziPyrope {
    color: var(--HS-TereziPyrope-color);
    background-color: var(--HS-TereziPyrope-bgColor);
}

/* Nepeta Leijon */
.HS.NepetaLeijon, .HS-Name.NepetaLeijon, .HS-Dialog.NepetaLeijon {
    color: var(--HS-NepetaLeijon-color);
    background-color: var(--HS-NepetaLeijon-bgColor);
}

/* End Color overridenings */

/* Names */
/* HOW TO USE:
```html
Install empty span with class `HS-Name` followed with character name.
<span class='HS-Name JOELwindows7'/>: ...

OR better, put each line in each paragraph, since by default, paragraph line space has been decided, unlike with <br/> (Break line) which do not have space.
```
*/

.HS-Name {

}

.HS-Name.JOELwindows7 {
    /* Joel Robert Justiawan. Founder of Perkedel Technologies */
}

/* Dialog */
/* HOW TO USE:
Wrap your dialog text inside span with class `HS-Dialog` followed by character name.
```html
<span class='HS-Name JOELwindows7'/>: <span class='HS-Dialog JOELwindows7>Ahei, Dasandimian!</span>
```

Full Sample
```html
<span class='HS-Name JOELwindows7'/>: <span class='HS-Dialog JOELwindows7>Ahei, Dasandimian!</span> (some action if need be) <span class='HS-Dialog JOELwindows7>It's time!</span>
<br/>
<span class='HS-Name NepetaLeijon'/>: <span class='HS-Dialog NepetaLeijon>M33AAAAAAAAAAAAAAAAAAAAAUW!</span>
```
*/

.HS-Dialog {

}

.HS-Dialog.JOELwindows7 {

}

/* Lazy Line */
/* HOW TO USE:
Lazily wrap entire dialog line in a span with class `HS` followed with character name
```html
<span class='HS JOELwindows7'>Ahei, Dasandimian!</span>
<br/>
<span class='HS NepetaLeijon'>Ahei, Joel!</span>
```

OR better, put each line in each paragraph, since by default, paragraph line space has been decided, unlike with <br/> (Break line) which do not have space.
```html
<p class='HS JOELwindows7'>Ahei, Dasandimian!</p>

<p class='HS NepetaLeijon'>Ahei, Joel!</p>
```

Note, this will not work viably in Markdown, to ensure text editor compability & pretty much every compatiblity. use above one by one styling instead.
*/

/* Unknown Character */
.HS::before, .HS.Unknown::before {
    content: var(--HS-Unknown-prefix),
}

/* JOELwindows7 */
.HS.JOELwindows7::before {
    content: var(--HS-JOELwindows7-prefix);
}

/* Vriska Serket */
.HS.VriskaSerket::before {
    content: var(--HS-VriskaSerket-prefix);
}

/* Terezi Pyrope */
.HS.TereziPyrope::before {
    content: var(--HS-TereziPyrope-prefix);
}

/* Nepeta Leijon */
.HS.NepetaLeijon::before {
    content: var(--HS-NepetaLeijon-prefix);
}

/* 
Light mode compensators

In case you need to compensate contrast level depending on the color mode 

*/
@media(prefers-color-scheme: light){
    /* All colors should be optimized for dark mode 1st, then this light mode 2nd */
}

/* IDEA: will Denizen now? Rachel something, Joshua White.. */