---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import Midi from '@components/Elements/MidiPlayer.astro';
import EmbedAudio from '@components/Elements/EmbedAudio.astro';
import RandomPlayMIDIs from '@components/Elements/SparePart/RandomPlayMIDIs.astro';
import RandomLoudLinks from '@components/Elements/SparePart/RandomLoudLinks.astro';
import OwenWowTest from '@components/Elements/SparePart/OwenWowTest.astro';
import IncredibleQuips from '@components/Elements/SparePart/IncredibleQuips.astro';
import HoverExpandTest from '@components/Elements/SparePart/Experiments/HoverExpandTest.astro';
import ScrollRevealTest from '@components/Elements/SparePart/Experiments/ScrollRevealTest.astro';
import JPEGXLTest from '@components/Elements/SparePart/Experiments/JPEGXLTest.astro';
import YearOnNetlify from '@components/Elements/SparePart/Experiments/YearOnNetlify.astro';
---
<Layout title="Experiment Stubs" description="Stob" keywords="experiment, test, sample, examples">
    <h1>Experiment Stubs</h1>
        <p>Try one of our Test!</p>
        <h2>Dynamic Routes</h2>
            <ul>
                <li><ButtonizedLink href={"Cat"}>Cat Routes</ButtonizedLink> Static SSG Route</li>
                <li><ButtonizedLink href={"Slugterion"}>Multi Routes</ButtonizedLink> Multi Level Dynamic Page Route</li>
            <ul>
</Layout>
