---
import Layout from '../components/Layout.astro';
---

<Layout title="Perkedel NTLF">
  <h1>Perkedel NTLF+ASTR</h1>
	<p>Hello World. This is Perkedel Technologies website on Netlify with Astro framework</p>
</Layout>