---
import Layout from '../components/Layout.astro';
---

<Layout title="Perkedel NTLF+ASTR" description="Perkedel NTLF+ASTR. Perkedel Technologies on Netflify with Astro framework" keywords="tech, fun, novelty, open source, gratis, free">
  <h1>Perkedel NTLF+ASTR. 
    Welcome to <img src="/Perkedel Icon smallest.png"/> Perkedel Technologies Website on Netlify.com 
    <!-- <a href="https://www.netlify.com"> <img src="https://www.netlify.com/v3/img/components/netlify-color-accent.svg" alt="Deploys by Netlify" /> </a> -->
    <img src="https://www.netlify.com/v3/img/components/netlify-color-accent.svg" alt="Deploys by Netlify" /> 
    ft. <img width="18px" src="https://astro.build/assets/press/full-logo-light.svg" alt="Astro framework" />
  </h1>
  <p>Here's our Netlify site ft. Astro. Neocities is a Geocities inspired continuation that is also Open Source beside being $0*<br>
    <font size="2">* being a service means you are borrowing someone's spaces, which you have to pay for more features. <a href="https://www.netlify.com/pricing/" target="_blank" rel="noopener noreferrer">Learn More</a></font>
   </p>
	<p>Hello World. This is Perkedel Technologies website on Netlify with Astro framework</p>
  <a class="Buttonnize" href="daFolder">Go to daFolder</a>
</Layout>