---
import Layout from '../components/Layout.astro';
---

<Layout title="Perkedel NTLF+ASTR" description="Perkedel NTLF+ASTR. Perkedel Technologies on Netflify with Astro framework" keywords="tech, fun, novelty, open source, gratis, free">
  <h1>Perkedel NTLF+ASTR</h1>
	<p>Hello World. This is Perkedel Technologies website on Netlify with Astro framework</p>
  <a class="Buttonnize" href="daFolder">Go to daFolder</a>
</Layout>