---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import Midi from '@components/Elements/MidiPlayer.astro';
import EmbedAudio from '@components/Elements/EmbedAudio.astro';
import RandomPlayMIDIs from '@components/Elements/SparePart/RandomPlayMIDIs.astro';
import RandomLoudLinks from '@components/Elements/SparePart/RandomLoudLinks.astro';
import OwenWowTest from '@components/Elements/SparePart/OwenWowTest.astro';
import IncredibleQuips from '@components/Elements/SparePart/IncredibleQuips.astro';
import HoverExpandTest from '@components/Elements/SparePart/Experiments/HoverExpandTest.astro';
import ScrollRevealTest from '@components/Elements/SparePart/Experiments/ScrollRevealTest.astro';
import JPEGXLTest from '@components/Elements/SparePart/Experiments/JPEGXLTest.astro';
import YearOnNetlify from '@components/Elements/SparePart/Experiments/YearOnNetlify.astro';

export function getStaticPaths() {
  return [
    {params: {cat: 'shadow'}},
    {params: {cat: 'lemon'}},
    {params: {cat: 'stripe'}},
    {params: {cat: 'stripe/gray/calico'}},
    {params: {cat: 'stripe/gray'}},
    {params: {cat: undefined }},
  ];
}

const { cat } = Astro.params;
---
<Layout title={"Cat " + cat} description={"Meow " + cat} keywords={`experiment, test, sample, examples, meow, ${cat}`}>
    <h1>Cat {cat}</h1>
        <p>Meow meow, {cat}!</p>
        <ButtonizedLink href="https://docs.astro.build/en/core-concepts/routing/#static-ssg-mode" openInNewTab={true}>More about Static SSG Routes</ButtonizedLink>
</Layout>
