---
import CoreFaveLists from "./_CoreFaveLists.astro";
export interface Props{
    nsfw?:Boolean;
}

const{
    nsfw=false,
} = Astro.props as Props;
---
<CoreFaveLists nsfw={nsfw}>
    <Fragment slot="best">
        <li>Cardiophilia
            <ul>
                <li>Pounding</li>
                <li>Female</li>
                <li>Fast</li>
                <li>Tachycardia</li>
                <li>Ultrafast & Overclocked</li>
                <li>Visible</li>
                <li>Loud</li>
                <li>Special, Exotic & Novelty materials</li>
                <li>Xray: Colorized</li>
                <li>Touch & Handle</li>
                <li>Squeeze (safe)</li>
                {nsfw?<Fragment>
                    <li>Sexually Stimulated: Orgasm</li>
                    
                </Fragment>:``}
            </ul>
        </li>
        <!-- <li></li> -->
        <li>Technologies
            <ul>
                <li>Computers
                    <ul>
                        <li>Desktop</li>
                        <li>VR</li>
                        <li>Game Consoles (semi-embedded)</li>
                        <li>Embedded & Exotics</li>
                        <li>Highest performing</li>
                        <li>Overclock</li>
                    </ul>
                </li>
                <li>
                    MIDI
                    <ul>
                        <li>High quality musics & covers</li>
                        <li>Benefits vocal audios</li>
                        <li>Benefits vocal systems (such as VOCALOID)</li>
                        <li>Benefits exotic codes (XG with its SysEx's & XF's, Chords, RGB LED lightings, Display, etc.)</li>
                    </ul>
                </li>
                <li>Paywallism
                    <ul>
                        <li>Free to Own permanently</li>
                        <li>100% Discount</li>
                    </ul>
                </li>
                <li>Partialism
                    <ul>
                        <li>Pre-inclusion all DLCs in this purchase, no extra cost, only pay main price</li>
                    </ul>
                </li>
                <li>Vehicles
                    <ul>
                        <li>Engine types: Electric (Full EV)</li>
                        <li>Form factor: Car (4 wheeled)</li>
                        <li>Drive train: Individual each wheel (4WD, each motor drives each wheel), selectible modes</li>
                        <li>All bells and whistles</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Furry (humanoid)</li>
        <li>Felines (cats)
            <ul>
                <li>Types: Domestic (irl pet), Humanoid (furry)</li>
            </ul>
        </li>
        <li>Canines (dogs)
            <ul>
                <li>zero aggresiveness</li>
            </ul>
        </li>
        <li> Rodents (mouse, rats, hamsters, guinea pigs)
            <ul>
                <li>Types: Domestic (irl pet), Humanoid (furry)</li>
            </ul>
        </li>
        <li><b style="font-size:x-large;">Heterosexuality</b></li>
        {nsfw?<Fragment>
            <!-- <li></li> -->
            <li>Latex Rubber
                <ul>
                    <li>Suit: Skimp, Normal (cat suit), Partial, Full Wrap</li>    
                    <li>Shiny (low roughness)</li>    
                    <li>Metallic (high metallic)</li>    
                    <li>Transparent & Clear (transmission & low alpha)</li>    
                    <li>Special & exotic shader codes e.g.: novel lighting reactions, hologram effects, etc.</li>    
                    <li>(<i>EXAMPLE MATERIAL STANDARD</i>) Swimsuit</li> 
                    <li>Condition: Pristine, Permanent Pristine</li>    
                </ul>
            </li>
            <li>Slime (material)</li>
            <li>Crystal (material)</li>
            <li>Breastplay
                <ul>
                    <li>Size: Giant, Largest, Large</li>       
                </ul>
            </li>
            <li>
                Sex
                <ul>
                    <li>Target: Crotch (default), Breast (paizuri)</li>    
                </ul>
            </li>
            <li>Vore
                <ul>
                    <li>Condition: slide away, hotel & camp setling (such as enjoy stomach)</li>
                    <li>Extras: heartbeat</li>
                </ul>
            </li>
            <li>Micro
                <ul>
                    <li>Location: Chest, Heart organ, inside heart organ</li>
                </ul>
            </li>
            <li>X-ray
                <ul>
                    <li>Target: Chest (heart organ)</li>
                </ul>
            </li>
        </Fragment>:``}
    </Fragment>

    <Fragment slot='okay'>
        <li>Cardiophilia
            <ul>
                <li>Breathhold</li>
                <li>Quiet</li>
                <li>Squeeze</li>
                <li>Take it off</li>
                {nsfw?<Fragment>
                    <!-- <li></li> -->
                    
                </Fragment>:``}
            </ul>
        </li>
        
        <li>Technologies
            <ul>
                <li>Vehicles
                    <ul>
                        <li>Form factors: Otopet / Scooter (2 Wheeled), Quad bike / ATV (4 Wheeled)</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>Canines (dogs)
            <ul>
                <li>Types: Humanoid (furry)</li>
            </ul>
        </li>
        <li>Vibes
            <ul>
                <li>Appreciations:
                    <ul>
                        <li>Liked & Favourited</li>
                        <li>Positive Comments</li>
                    </ul>
                </li>
            </ul>
        </li>
        {nsfw?<Fragment>
            <li>Breastplay
                <ul>
                    <li>Size: Medium</li>
                    <li>Grope</li>    
                    <li>Sucking</li>    
                    <li>Squeeze & Milk</li>    
                    <li>Squirt</li>    
                    <li>Cleavage</li>    
                </ul>
            </li>
            <li>Latex Rubber
                <ul>
                    <li>Matte (medium to high roughness)</li>  
                    <li>Opaque (medium to high roughness in trasmission & low alpha)</li>  
                    <li>Condition: any good, scuffed</li>
                </ul>    
            </li>
            <li>
                Sex
                <ul>
                    <li>Target: Bare (outside e.g. cum to face)</li>    
                </ul>
            </li>
            <li>X-ray
                <ul>
                    <li>Target: any</li>
                </ul>
            </li>
            <li>Belly
                <ul>
                    <li>Swipe</li>
                </ul>
            </li>
        </Fragment>:``}
    </Fragment>

    <Fragment slot="maybe">
        
        <li>Cardiophilia
            <ul>
                <li>Breathhold</li>
                <li>Mechanical failures & explosions</li>
                <li>Arrythmia</li>
                <li>Bradycardia</li>
                <li>Squeeze (unsafe & harmful)</li>
                {nsfw?<Fragment>
                    
                    <li>Sexually Stimulated: Masturbation</li>
                </Fragment>:``}
            </ul>
        </li>
        <li>Technologies
            <ul>
                <li>Vehicles
                    <ul>
                        <li>Form factors: Motorcycle (2 wheeled)</li>
                    </ul>
                </li>
                <li>Paywallism
                    <ul>
                        <li>Single Purchase</li>
                        <li>Low price in ratio of worthness</li>
                        <li>Discounted</li>
                    </ul>
                </li>
                <li>MIDI
                    <ul>
                        <li>Non-highest quality (but not too low, subpar) music & covers</li>
                        <li>Did not benefit any sophistications (such as XG & its SysEx's)</li>
                    </ul>
                </li>
            </ul>
        </li>
        
        <li> Assorted Throbbings
            <ul>
                <li>Non-living Object</li>
                {nsfw?<Fragment>
                    <li>Penis</li>
                    <li>Vagina</li>
                </Fragment>:``}
            </ul>
        </li>
        <li>Belly
            <ul>
                <li>Expanding & Inflating (Inflation)</li>
            </ul>
        </li>
        <!-- <li></li> -->
        <li>Canines (dogs)
            <ul>
                <li>Types: Domestic</li>
            </ul>
        </li>
        <li>Vibes
            <ul>
                <li>Feedback
                    <ul>
                        <li>Constructive</li>
                    </ul>
                </li>
            </ul>
        </li>
        
        {nsfw?<Fragment>
            <li></li>
            <li>Latex Rubber
                <ul>
                    <li>Condition: Torn, Scratched</li>  
                </ul>    
            </li>
            <li>
                Cum
                <ul>
                    <li>Target: any</li>    
                </ul>
            </li>
            <li>
                Sex
                <ul>
                    <li>Target: oral</li>    
                </ul>
            </li>
            <li>Breastplay
                <ul>
                    <li>Size: Small, null (flat / pettan)</li>       
                </ul>
            </li>
            <li>Moobs (plumpy male pecs)</li>
            <li>Vore
                <ul>
                    <li>Condition: any safe</li>
                </ul>
            </li>
        </Fragment>:``}
    </Fragment>

    <Fragment slot="no">

        <li>Cardio troubles
            <ul>
                <li>CPR (Cardio Pulmonary Resusitation): <i>all</i></li>
                <li>Heart attack: <i>all</i></li>
                <li>Mirrored / Situs inversus / Dextrocardia (heart organ on the starboard / right)</li>
            </ul>
        </li>
        <!-- <li></li> -->
        <li>Technologies
            <ul>
                <li>Computers
                    <ul>
                        <li>Worst performing (potato)</li>
                        <li>not highest end of today</li>
                        <li>not highest end of today</li>
                    </ul>
                </li>
                <li>Loss of medias
                    <ul>
                        <li>404 not found</li>
                        <li>Copyright strike</li>
                        <li>Deleted for personal reason (such as <i>I have been harrassed, FNF mod deleted</i>)</li>
                    </ul>
                </li>
                <li>Access Preventions
                    <ul>
                        <li>Any reason</li>
                        <li style="font-size:x-large;" class="error">Blocked</li>
                    </ul>
                </li>
                <li>Proprietarism, but not limited to
                    <ul>
                        <li>Copyrighted</li>
                        <li>Freeware (especially with fatal caveats)</li>
                        <li>Personal use only</li>
                        <li>License betrayal (was open source, now no longer)</li>
                    </ul>
                </li>
                <li>Paywallism
                    <ul>
                        <li>High price</li>
                        <li>Subscription only</li>
                        <li>Price betrayal (was gratis, now no longer)</li>
                    </ul>
                </li>
                <li>Partialisms, such as
                    <ul>
                        <li>Microtransactions</li>
                        <li>Microtransactions required to complete game</li>
                        <li>Personal use only, buy <i>license for commercial</i> use DLC</li>
                        <li>content inclusion betrayal (was full package, now separated in paid DLC)</li>
                        <li>Censored (i.e. subscribe to Patreon / Ko-fi / Boosty / etc. to obtain uncensored)</li>
                    </ul>
                </li>
                <li>
                    MIDI
                    <ul>
                        <li>Tin can soundfont</li>
                        <li>Audio to MIDI blatantly</li>
                        <li>Lazily made</li>
                    </ul>
                </li>
                <li>Vehicles
                    <ul>
                        <li>Engine types: Internal Combustion, any contains ICE</li>
                        <li>Drive train: non-highest end such as: 2WD, RWD only, FWD only</li>
                        <li>Lacked any of the bell(s) and/or whistle(s)</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Smoking
            <ul>
                <li>Cigar Classics</li>
                <li>Modern</li>
                <li>Pipe</li>
                <li>Vape</li>
                <li>External (receives smoke from someone's smoking): any</li>
                {nsfw?<Fragment>
                    <li>Ganja & Marijuana</li>    
                </Fragment>:``}
                <li style="font-size:xx-large;font-weight:bolder">all</li>
            </ul>
        </li>
        <li>Canines (dogs)
            <ul>
                <li>High aggressiveness</li>
            </ul>
        </li>
        <li>Poisoning (Character dying in poison)</li>
        <li>Choking: all</li>
        <li><b style="font-size:x-large;">LGBT: All, such as</b>
            <ul>
                <li>Homosexuality (Gay & Lesbian)</li>
                <li>Asexuality (No gender)</li>
                <li>Queer (indecisive gender)</li>
                <li>Trans (change gender)</li>
                <li>Bisexuality (go to both gender)</li>
                <li>Pansexuality (go to any gender)</li>
                <li>etc.</li>
            </ul>

            <span style="font-size:small;">Disclaimer: Kaorfa nor entirity of Perkedel along with affiliates despise any gamers who had above LGBT specifications. Please report any harmful despisers you find.</span>
        </li>
        
        <li> Assorted Throbbings
            <ul>
                <!-- <li></li> -->
                {nsfw?<Fragment>
                    
                    <li>Snouts & Faces</li>
                    <li>Limbs: legs, hands</li>
                </Fragment>:``}
            </ul>
            
        </li>
        <!-- <li></li> -->
        <li>Vibes
            <ul>
                <li>Toxicity
                    <ul>
                        <li class="error">Blocked:
                            <ul>
                                <li style="font-size:x-large;" >Boundary building</li>
                                <li>In defense of</li>
                                <li>etc.</li>
                            </ul>
                        </li>
                        <li>Harrassment: no reason</li>
                        <li>Opinion agendas</li>
                        <li>Spam Scammer</li>
                    </ul>
                </li>
                <li>Feedback
                    <ul>
                        <li>Destructive</li>
                        <li>Hatred upon terrible past doings (being received at)</li>
                    </ul>
                </li>
            </ul>
        </li>
        {nsfw?<Fragment>
            <li>Bestialisty / Zoophilia (Non-humanoid animal(s) x humanoid(s))</li>
            <li>Non-humane sex (such as <i>Mechanophilia</i> (humanoid x car))</li>
            <li>Breast torture
                <ul>
                    <li>Cut slice</li>       
                    <li>Cook</li>       
                </ul>
            </li>    
            <li>Gore
                <ul>
                    <li>Dismemberment</li>    
                    <li>Abortion</li>    
                    <li>Wounds & damagings</li>    
                </ul>    
            </li>
            <!-- <li></li> -->
            <li>Moobs (plumpy male pecs)</li>
            <li>Anal</li>
            <li>Shamer: all</li>
            <li>Cooked (being fried and/or oven toasted)</li>
            <li>Vore
                <ul>
                    <li>Condition: any harmful (e.g. munched)</li>
                </ul>
            </li>
            <li>
                Sex
                <ul>
                    <li>Target: <abbr title="Anal sex is extremely risky & dangerous, as it could cause bacterial infections & other unwanted infectious disease! Only do this if not real!!">anal</abbr></li>    
                </ul>
            </li>
        </Fragment>:``}
    </Fragment>
</CoreFaveLists>