---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout 
    title="Windows CE, Mobile, & Phone Legacy" 
    description="Perkedel NTLF+ASTR. Embedded Hacks!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, windows ce"
    >
    <h1>Windows CE, Mobile, & Phone Legacy</h1>
        <p>Every Windows CE series stuffs</p>
        <h2>What to do?</h2>
        <ul>
            <li><ButtonizedLink href="https://ppcplanet.org/" target="_blank" rel="noopener noreferrer">Pocket PC Planet</ButtonizedLink> Collected Windows CE & Mobile classic applications + serveral new original apps</li>
            <li><ButtonizedLink href="http://appcatalog.ppcplanet.org/" target="_blank" rel="noopener noreferrer">Pocket PC Planet App Catalog</ButtonizedLink> Brand new App Store for Windows CE & Mobile. <a href="https://github.com/Pocket-PC-Planet/PPCP-AppCatalog" target="_blank" rel="noopener noreferrer">Source code pls</a>!! also <a href="https://github.com/Pocket-PC-Planet" target="_blank" rel="noopener noreferrer">GitHub Organisation pls</a></li>
        </ul>
</Layout>