---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import PlaySoundButton from '../PlaySoundButton.astro';
import SpotifyContainsDRM from '@components/Messages/SpotifyContainsDRM.astro';
// import { Time } from '@astro-github-elements/time';

const dumpQuik:Array<Array<string>> = [
    // Sauce URL, Button Label, Author, Info
    // [`https://youtube.com/playlist?list=PLoenwhUTF1kFzQ8rggbQDLCmLLiOJTpSR`,`Joel's Memes YouTube Playlist`,`JOELwindows7`,`Yes, my meme!`],
    [`https://youtu.be/u7diIVMGiYo`,`The Infamouse Booba clip that made Aria go VIRAL`,`Offline Network`,`While Aria opens the upper cabinet, the bulgogi bottle fell onto her boobs & bounces. poing!!!`],
    [`https://youtube.com/playlist?list=PLCH9Nc-e33qH9KuteMYCyiAgRibMe-sVn`,`Playlist Horrible Mobile game ads`,`collected by Potato Pseudo Gamer`,`These are cringe mobile game ads, some may even not suitable for children in every ways.`],
    [`https://youtu.be/f46rh64ag4o`,`Compilation Horrible Mobile game ads 2020 No. 3`,`collected by intervention`,`These are cringe mobile game ads, some may even not suitable for children in every ways.`],
    [`https://youtu.be/Yke9BhP1uks`,`All Mafia City Ads`,`collected by Averroes`,`That's how Mafia works`],
    [`https://www.nexusmods.com/residentevil32020/mods/633`,`Jill's Latex suit PAWG Edition DX11 mod for RE3 Remake`,`Muinainen`,``],
    [`https://www.umodder.com/archive/38761`,`Jill's Latex suit Full Rubber Jet Black mod for RE3 Remake`,`???`,``],
    [`https://youtu.be/dbkG9PpHuQk`,`Knick Knack original animation Pixar`,`reuploaded by Bootleg Ultraman`,``],
    [`https://www.pixiv.net/en/artworks/99575048`,`#GrisSwimsuit`, `VERTIGRIS`, ``],
    [`https://twitter.com/VERTIGRIS_ART/status/1545100141270532096?t=dCDsmIkAKgnw23W5OYPYpg&s=19`,`#GrisSwimsuit`, `VERTIGRIS`, ``],
    [`https://twitter.com/VERTIGRIS_ART/status/1479502744968957954?t=tz2b9DtxLq2xfKG9hqJUbw&s=19`,`#GrisSwimsuit Draw your OC in This Challenge`, `VERTIGRIS`, ``],
    [`https://thisvid.com/videos/revenge24/`,`Revenge - Video 11`, `reuploaded by Oskharlopmar`, `Stolen from <a href='https://twitter.com/omyuriceart' target="_blank" rel="noopener noreferrer">omyuriceart</a>, pls real sauce!`],
    [`https://twitter.com/TyroneStash?s=20`,`TyroneStash Twitter`, ``, `Black & White or Retro Color 2D comics & comic styled animations`],
    [`https://www.pixiv.net/en/users/35601322`,`TyroneStash Pixiv`, ``, `Black & White or Retro Color 2D comics & comic styled animations`],
    [`https://www.pixiv.net/en/artworks/105540064#manga`,`Akemi 1-2 Censored`, `TyroneStash`, `Sex the Akemi`],
    [`https://twitter.com/TyroneStash/status/1627337357627367424?s=20`,`Akemi 1-2`, `TyroneStash`, `Sex the Akemi`],
    [`https://youtu.be/BmxbqBJHV4U`,`Yamete Kudasai, Ah`, `clip Alice`, `sfx`],
    [`https://twitter.com/TyroneStash/status/1292343014287904768?s=20`,` Why do women only like jerks who treats them like shit? Comiced`, `TyroneStash`, ``],
    [`https://twitter.com/TyroneStash/status/1292341488756686848?s=20`,` Why do women only like jerks who treats them like shit? Comiced Dick`, `TyroneStash`, ``],
    [`https://knowyourmeme.com/memes/subcultures/monster-girl-quest`,` Monster Girl Quest Series Know your meme`, ``, ``],
    [`https://youtube.com/shorts/KKK33BoEwJI?feature=share`,`Airani Lofiteen switches all Project Diva characters to swimsuit & screamed as she saw the results.`, ``, ``],
    [`https://billwurtz.com/`,`bill wurtz website`, ``, `surreal Jazz animated songs`],
]
---
{
    dumpQuik.map(stuff => (
    <li><ButtonizedLink href={stuff[0]} target="_blank" rel="noopener noreferrer" set:html={stuff[1]}></ButtonizedLink> <span set:html={stuff[2]}>. </span><span set:html={stuff[3]}></span></li>
    ))
}