---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import ServerDesolate from '@components/Messages/ServerDesolate.astro';
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href={"https://discord.gg/62xXqEW"} target="_blank" rel="noopener noreferrer">Perkedel Technologies DSCD</ButtonizedLink> 
    Yes, indeed, there is Cardiophile Rooms! 
    & Nope, <b class='success'>we won't ban just because of your something</b>, 
    we're not those moderators. We're trying too, just be a good person, easy, idk..<br/>
    Btw, one last time. Why do you want Discord servers? Oh, I see. not all contents in here, I get it. 
    Yeah we should & working on convincing every gamers here to post Request so that we can put them right here.<br/>
    Pls pls PLS! While there are a bunch of initiatives of archiving discord chat logs, it's not intuitive & their arhives <b class="error">will be impossible to find by regular search</b>. 
    We want you gamers to put everything here so that when you 
    <a href="https://web.archive.org/save" target="_blank" rel="noopener noreferrer">Save Archive this website</a>, 
    it & all assets will be there, forever, <i><u>theoretically</u></i>.
    </li>
<li><ButtonizedLink href={"https://discord.gg/eme5Ayp "} target="_blank" rel="noopener noreferrer">Heart Haven</ButtonizedLink></li>
<li><ButtonizedLink href={"https://discord.gg/wPr2XTf "} target="_blank" rel="noopener noreferrer">Heartbeats and Everything else</ButtonizedLink></li>
<li><ButtonizedLink href={"https://discord.gg/euSmTTx "} target="_blank" rel="noopener noreferrer">Cardiophiles of Aperona</ButtonizedLink> <ServerDesolate/></li>
<li><ButtonizedLink href={"https://discord.gg/NgT2Hzj "} target="_blank" rel="noopener noreferrer">Cosmic Heart Netherverse</ButtonizedLink></li>