---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import PlaySoundButton from '../PlaySoundButton.astro';
import SpotifyContainsDRM from '@components/Messages/SpotifyContainsDRM.astro';
// import { Time } from '@astro-github-elements/time';

const dumpQuik:Array<Array<string>> = [
    // Sauce URL, Button Label, Author, Info
    [`https://youtube.com/playlist?list=PLoenwhUTF1kFzQ8rggbQDLCmLLiOJTpSR`,`Joel's Memes YouTube Playlist`,`JOELwindows7`,`Yes, my meme!`],
    [`https://youtu.be/ArJe--CGatg`,`Momiji plays flute`,`Daniel Renard`, `oh yess, this cute one.`],
    [`https://youtu.be/82R3FH-n7-Y`,`Giancarlo will face you now. Far Cry 6`,`Ubisoft`, `HAHAHAH!! I was acting. <b class='error'>or was I?</b>`],
    [`https://youtu.be/1xhz2BR7SVY`,`Submerge Tylenol Rapid Release Gel tablet into a bowl of water`,`What Happens`, ``],
    [`https://youtube.com/shorts/PGThll6-i08?feature=share`,`LEGO used to help mold a concrete bed foundation`,`HomeMadeModern`, ``],
    [`https://youtu.be/jBktddQX47U`,`Fully Operational huh? Clip Flap jacksdflkjasdkfklasdkf`,`kraklp0p`, ``],
    [`https://youtube.com/shorts/O64iobAfWD4?feature=share`,`Alicia & boyfriend tries a cinema in Zurich, it is very uncomfortable & tiring`,`AliciaMillennium`, `They tried a cinema somewhere in Zurich. The situation is baffling as the size of one theater is really small, narrow legroom, and other discomforts. So much in the middle of film has 10 minutes break. Well, I agree to people said in the comments, XXI (& every theaters in Indonesia pretty much) is way better than everyone else. It's luxurious, wide legroom, big size, best sound & visuals, and best & hygienic facilities, also best Snacks & beverages. and since is way comfortable, there is no break needed at all!`],
    [`https://youtu.be/77fAMqoYPPM`,`Dolby Spheres 7.1 intro (double D)`,`Dolby`, `the famous intro for Surround sound 7.1 Speakered theatre`],
    [`https://youtu.be/t4G9wSjNyjk`,`Dolby Spheres 7.1 intro (7.1)`,`Dolby`, `the famous intro for Surround sound 7.1 Speakered theatre`],
    [`https://youtu.be/H46Kil1k-m8`,`Dolby Escape animation`,`Dolby`, ``],
    [`https://youtu.be/KA6azZALMiE`,`Dolby Silent animation`,`Dolby`, ``],
    [`https://youtu.be/pd_6WN9GVtQ`,`Dolby Conductor intro`,`Dolby`, `for Atmos speakered theatre`],
    [`https://youtu.be/3TOlN9dLpi8`,`Dolby Horizon trailer`,`Dolby`, `for Atmos speakered theatre`],
    [`https://youtu.be/AcJ3jPh_294`,`Dolby 3D Glasses PSA`,`Dolby`, `for Dolby 3D powered theatre`],
    [`https://en.wikipedia.org/wiki/Roundhay_Garden_Scene?wprov=sfla1`,`Roundhay Garden Scene Wikipedia article`,``, `one of the 1st or earliest ever film.`],
    [`https://en.wikipedia.org/wiki/The_Horse_in_Motion#%3A%7E%3Atext%3DThe_Horse_in_Motion_is%2Cthe_photographs_in_June_1878.?wprov=sfla1`,`The Horse in Motion Wikipedia article`,``, `Very first ever film`],
    [`https://youtu.be/Fve_lHIPa-I`,`Unravel`,`pls jp name`, `Tokyo Ghoul song`],
    [`https://youtube.com/@ScrubDaddyOfficial`,`Scrub Daddy YouTube Channel`,``, `Scrub Daddy is a series of kitchen cleaning product, famous for their all-effective sponge called <code>Scrub Daddy</code>`],
    [`https://youtu.be/DEXDDyb6t2o`,`Secondhand Serenade - Fall For You`,``, `Because tonight will be the night I will fall for you`],
    [`https://youtube.com/shorts/o4cTO-jfxnM?feature=share`,`pls tape balloon`,`y._.y`, `Balloon made out of nano tape`],
    [`https://youtu.be/a_3UQYo599g`,`I made a poo poo, <b>AEAE</b>`,`KirillKa2D`, ``],
    [`https://youtu.be/IxE1txIgwdA`,`Mighty Eagle No.`,`clip by dog man`, ``],
    [`https://youtu.be/3j6W0RpxzEg`,`I could probably beat ramiel in a fight`,`Boritoz109`, `NEVER FLIP BIRD TOWARDS RAMIEL!!!`],
    [`https://youtube.com/playlist?list=PL0DBiKbNt4jSmzxrq9GVbClbHNo7xiMtP`,`Reuploaded Timotainment facts Playlist`,`Collected by Nash Peleuses`, ``],
    [`https://youtube.com/playlist?list=PLFMbFHOzYoqZAlVTkr-5_73dlgwg7A160`,`Reuploaded Meme Lads Playlist`,`Reuploaded & Collected by wolfboyft`, ``],
    [`https://youtube.com/playlist?list=PLfLS9kF3xAaiVvroxyPRRBLhR3YdXr_-z`,`Meme Lads. Meme songs playlist`,`Collected by Chris R. Witt`, ``],
    [`https://youtu.be/5jKZ9KGtee0`,`Squish that cat`,`Cavin Weber`, `all you have to do it squish that cat`],
    [`https://youtu.be/XR3KWRDK3_U`,`Terry Bozzio - Guitar Center Drum Off 2011 pt. 1`,`Guitar Center`, `Ultimate many Drum kit`],
    [`https://www.reddit.com/r/kraccbacc/comments/109s161/follow_up_to_my_previous_post_the_full_archive_of/?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=1&utm_content=share_button`,`Reupload Kracc Bacc`,`u/BigAlOopine`, ``],
    [`https://drive.google.com/drive/u/0/mobile/folders/199FiRtxnC1V3k1OGvs2ihcE8ve0zUl72`,`Reupload Kracc Bacc Drive`,`u/BigAlOopine`, ``],
    [`https://www.reddit.com/r/kraccbacc/comments/10agwma/created_an_archive_of_every_kracc_bacc_video/?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=1&utm_content=share_button`,`Reupload Kracc Bacc`,`u/sir___dog / sir dog sus`, ``],
    [`https://archive.org/details/kraccbacc`,`Reupload Kracc Bacc Archive`,`u/sir___dog / sir dog sus`, ``],
    [`https://www.reddit.com/r/funny/comments/i4jao3/what_if_we_use_100_of_our_brain/?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=1&utm_content=share_button`,`What if we use 100% of our brain? Charging iPhone illegally it explodes`,`u/KhalifaXZ`, ``],
    [`https://youtu.be/7ecYoSvGO60`,`Morty crashes into Simpsons couch gag & destroyed them`,`Adult Swim`, ``],
    [`https://youtu.be/IdeSN54Ndo0`,`In Shapes`,`Blue Zoo Animation Studio`, `Be yourself, & don't be ashamed about your body. ye.`],
    [`https://youtu.be/y5rita8a9_E`,`Organ Stories`,`Splapp-me-do`, `damage progress to body inside`],
    [`https://youtube.com/shorts/Wx-GlG8HSM8?feature=share`,`Borzoi. Why would you leave me for him`,`DrawzillaZZZ`, ``],
    [`https://youtube.com/@StormXF3`,`StormXF3 YouTube Channel`,``, `Pony Animation in real life`],
    [`https://youtube.com/shorts/tmNeGjOJ1VY?feature=share`,`Tap maine coon orange belly`,`Sahabatpetualang28`, ``],
    [`https://youtu.be/wbkSICKLgbU`,`Open na noor FULL VIDEO`,`ItsDK`, ``],
    [`https://youtu.be/LdXu6hxEdEk`,`RED HEAT (1988) (Arnold Schwarzenegger) CLIP, <i>Cocainum!</i>. `,`JoBlo Movie Clips`, ``],
    [`https://youtu.be/g3d33AjzA-8`,`All 50+ Autodesk software explained in 12 Minutes `,`Humtog`, `Autodesk had every softwares for every industry sectors!!!`],
    [`https://youtu.be/IAMKRuuLczM`,`This is my come milk explodos`,`AnAverage2KMobilePlayer`, ``],
    [`https://youtu.be/rrNFXRyvtKE`,`YOU FOOL! I HAVE 70 ALTERNATIVE ACCOUNTS!`,`SonicGamingTV2019`, ``],
    [`https://youtu.be/Onk8ZYA-ibg`,`Failed Foxy Jumpscare FNAF`,`[Mustafaxy💀 ]`, `Foxy jumpscares nano second before the 6 AM reached, which is still 6 AM.`],
    [`https://youtu.be/q4vy7BcAVJg`,`Hampter`,`Breadcrumbx`, ``],
    [`https://youtu.be/7L3EK7JFj7c`,`Obamna Soda 3D (no 3D model)`,`Cheese Man Media`, ``],
    [`https://youtu.be/30Ysa3A2WMU`,`Oh my God... I get it.`,`Regan clip`, ``],
    [`https://youtu.be/jO3KC_mvE74`,`LOOOOOO...`,`7th Helix`, `Merrie Melodies clip`],
    [`https://youtu.be/uKYV2qjYIS0`,`Spoodemr-man across the spooder-verse trailer`,`Laugh Over Life parody`, ``],
    [`https://youtu.be/repSd3g9Njg`,`YOU'VE BEEN HOODWINKED BABY`,`hypnadot`, ` Conker gameplay`],
    [`https://youtu.be/R5n2Fk1pAXo`,`Hatsune Miku Brain Excercise`,`reuploaded by rediakaikai`, ``],
    [`https://nico.ms/sm7017661?ref=other_cap_off`,`Hatsune Miku Brain Excercise`,`hapi⇒`, ``],
    [`https://gensmak.com/`,`Gensmak. Trivia Card Game for every generations. Has Web version`,``, ``],
    [`https://youtube.com/shorts/AMZYXLVmAWA?feature=share`,`Gensmak review`,`xSadShadowx`, ``],
    [`https://youtu.be/BsIa_LKojJI`,`Antony C - You've been trolled`,``, ``],
    [`https://youtu.be/F4zEAPZxtBA`,`Trololo man now`,`MURINSKIY`, `Edward Khill (🪦) outside in snow`],
    [`https://youtu.be/PL8CD8PjVmA`,`Trololo 2012 Live`, `David Smolyanov`, `Edward Khill (🪦) live show`],
    [`https://youtube.com/@MgagsClipsFun`,`Mgags Clips YouTube Channel`, ``, `Magic secrets exposed`],
    [`https://youtu.be/dVfePYjW3MI`,`D1ofAquavibe - The Party Troll`, ``, ``],
    [`https://youtu.be/UHTFCZgm6HU`,`D1ofAquavibe - The Happy Troll`, ``, ``],
    [`https://youtu.be/gkTb9GP9lVI`,`Eduard Khill - I'm glad I am finally back home (Trolololo song)`, `reuploaded by JwHDify`, ``],
    [`https://youtube.com/playlist?list=PLYliyBNJWxNRyPVFuLG3rRcEZ9Uda3dUV`,`Trolling Music Playllist`, `stubby.junior collection`, ``],
    [`https://youtu.be/rvfcXTuMerQ`,`Kratos Car`, `Acysu`, ``],
    [`https://youtu.be/ZWIsdmFy-uA`,`Grilled Obama Cheese Sandwich`, `Typo Joe MMXXIII`, ``],
    [`https://youtu.be/4aKBiPRHocY`,`Brush Animated Shorts`, `Garrett Animates`, ``],
    [`https://youtu.be/QrK1ipUYYW4`,`Voicemail from my Dad animated`, `Garrett Animates`, ``],
    [`https://youtu.be/JnkAlwMjalc`,`Animating Arms`, `Doodley`, ``],
    [`https://youtube.com/shorts/IILQHXAExrg?feature=share`,`Stockfish Chess AI vs. Tandy Chess Computer`, `BuildyBryce`, ``],
    [`https://youtube.com/shorts/6NNIccaxBV8?feature=share`,`Sigma Cat`, `argenby`, ``],
    [`https://youtube.com/@JKBrickworks`,`JK Brickworks YouTube channel`, ``, `LEGO custom builds`],
    [`https://youtu.be/EneC23krrrM`,`No no, you're still.. HOLDING ON!! LET GO.`, `reactionvids clip`, `Star Wars: The Last Jedi`],
    [`https://youtu.be/vhuY8Kcm_Hg`,`No? Check under your foreskin. Card burst from guy's crotch`, `meme archive reuploads`, ``],
    [`https://youtu.be/F90Cw4l-8NY`,`Bastille - Pompeii`, ``, `But if you close your eyes. EY YO, coz it almost feels like nothing changed at all...`],
    [`https://youtu.be/ON_F0M0qGkM`,`Horizontally spinning bocchi`, `volare`, `Rat replace with Bocchi the Rock`],
    [`https://youtu.be/_lFlmFoGhjc`,`You gonna miss me when I'm gun`, `BlackCap Productions`, `When I'm Gone but handgun`],
    [`https://youtu.be/cmSbXsFE3l8`,`Anna Kendrick - Cups`, ``, `When I'm Gone`],
    [`https://youtu.be/8I9Tjmz-z2U`,`Getaway 2022: Part 6 Wilpena to Arkaroola`, `RMichael`, ``],
    [`https://youtu.be/fRvlBczUDXs`,`Getaway 2022: Part 6 Wilpena to Arkaroola but just the Wild Budgies`, `RMichael`, ``],
    [`https://youtube.com/@Vincoo`,`Vincoo YouTube Channel`, ``, `owns meme posting website <a href='https://lahelu.com' target="_blank" rel="noopener noreferrer">Lahelu.com</a>`],
    [`https://lahelu.com`,`lahelu.com`, ``, `Meme posting website`],
    [`https://youtu.be/5GSBsxBfKi8`,`Original Acumalaka`, `reuploaded by Kurizu Meme`, ``],
    [`https://youtu.be/VtGvTT2r_o4`,`Acumalaka`, `reuploaded by Meme sound efects`, ``],
    [`https://youtu.be/vBe0_Rh1Th0`,`Acumalaka Full loud`, `reuploaded by Giga-N8888`, ``],
    [`https://youtu.be/wVmZD4pZ9PE`,`Acumalaka Semi full`, `reuploaded by Random Ajalah`, ``],
]
---
{
    dumpQuik.map(stuff => (
    <li><ButtonizedLink href={stuff[0]} target="_blank" rel="noopener noreferrer" set:html={stuff[1]}></ButtonizedLink> <span set:html={stuff[2]}>. </span><span set:html={stuff[3]}></span></li>
    ))
}
