---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import ServerDesolate from '@components/Messages/ServerDesolate.astro';
import EighteenPlusOnly from '@components/Messages/EighteenPlusOnly.astro';
import DidNotMarkNSFWProperly from '@components/Messages/DidNotMarkNSFWProperly.astro';
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href={"https://discord.gg/cbSjHzxrgs "} target="_blank" rel="noopener noreferrer"><s>Retro Hearts</s></ButtonizedLink> <EighteenPlusOnly/> <mark class='error'>Invalid invite, I lost this server too. Retro / smol og (owner) said he was <b>cleaning up</b> & put new rule that kicks lurker. Not sure he's telling the truth, because this bug in Discord cannot tell if we were banned or just kicked. Let us know if there something different on your side or same with you</mark></li>
<li><ButtonizedLink href={"https://discord.gg/SaeVAwx "} target="_blank" rel="noopener noreferrer">Dream Comes True, Roxy's</ButtonizedLink> <DidNotMarkNSFWProperly/></li>
<li><ButtonizedLink href={"https://discord.gg/ePdtTjf "} target="_blank" rel="noopener noreferrer">Ichor Mongrel's lair</ButtonizedLink> <EighteenPlusOnly/></li>
<li><ButtonizedLink href={"https://discord.gg/RhGdThEDN3 "} target="_blank" rel="noopener noreferrer">Heart Castle</ButtonizedLink> <EighteenPlusOnly/></li>