---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import ServerDesolate from '@components/Messages/ServerDesolate.astro';
import DidNotMarkNSFWProperly from '@components/Messages/DidNotMarkNSFWProperly.astro';

export interface Props{
    nsfw?:boolean;

}

const{
    nsfw=false,

}= Astro.props.frontmatter || Astro.props as Props;
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href={"https://haitouch.ga/me/salty"} target="_blank" rel="noopener noreferrer"><Icon height="24px" name="ph:hand-palm" /> Salty Trivia with Candy Barre</ButtonizedLink> YDKJ Clone Fangame, <b class="info">Made with Godot Engine</b> (yaaaaaaaaaaaaaay). & <b class='info'>it's Open Source</b> (YAAAAAAAAAAAAAASSSS).
<a href="https://github.com/JapanYoshi/salty" target="_blank" rel="noopener noreferrer">Here Source Code</a>, & the <a href="https://github.com/JapanYoshi/salty_data" target="_blank" rel="noopener noreferrer">Data template of it</a>.
<b class="warning">Careful for the data though</b>, just take the project files except the folder <code>q</code> which is full of audio files, <b class="warning">& it's BEEFY BIG!!!!</b></li>
<li><ButtonizedLink href={"https://github.com/Perkedel/ydkj-salty"} target="_blank" rel="noopener noreferrer">You Don't Know Jack: Unauthorized Saltiness</ButtonizedLink> Salty Trivia with JOELwindows7 (& <code> f r  e n D s </code>). Attempted to mod that Salty Trivia game above. Coming Soon. we're currently figuring out how does this work & attempt to hack it this, then bring it back later.</li>
<li><ButtonizedLink href={"https://store.steampowered.com/franchise/jackboxgames/list/37450/"} target="_blank" rel="noopener noreferrer">Every classic You Don't Know Jack's</ButtonizedLink> Buy all of them pls!</li>
<li><ButtonizedLink href={"https://store.steampowered.com/franchise/jackboxgames/list/37448"} target="_blank" rel="noopener noreferrer">Every Jackbox Party Packs</ButtonizedLink> Buy all of them pls! Sure you wouldn't wanna forget all of these!</li>
<li><ButtonizedLink href={"https://store.steampowered.com/bundle/9164/The_Jackbox_Party_Quintpack/"} target="_blank" rel="noopener noreferrer">Jackbox Party Quintpack</ButtonizedLink> Jacbox Party 1 to 5 Bundle!!! Sure don't wanna miss this deal yeah!</li>
<li><ButtonizedLink href={"https://store.steampowered.com/app/1755580/The_Jackbox_Party_Starter/?curator_clanid=33030169"} target="_blank" rel="noopener noreferrer">Jackbox Party Starter</ButtonizedLink> Start the party with these all games!</li>
<li>
    JOELwindows7's YKDJ Episode Sketches!<br/>
    These are episode sketch for our fan clone You Don't Know Jack stuffs.
    <ul>
        <li><ButtonizedLink href={"https://odysee.com/@JOELwindows7:a/ydkj-salty-trivia:c"} target="_blank" rel="noopener noreferrer">Ep 1. Salty Trivia with JOELwindows7</ButtonizedLink> for Salty Trivia with Candy Barre framework. <a href="https://github.com/Perkedel/After-Church/blob/master/Documents/Misc/ydkj-salty-trivia.md" target="_blank" rel="noopener noreferrer">Backup</a>, <ButtonizedLink href={"https://lbry.projectsegfau.lt/@JOELwindows7:a/ydkj-salty-trivia:c"} target="_blank" rel="noopener noreferrer">Librarian backup</ButtonizedLink></li>
        <li><ButtonizedLink href={"https://github.com/Perkedel/After-Church/blob/master/Documents/Misc/ydkj-its-japanese.md"} target="_blank" rel="noopener noreferrer">Ep 2. The moment we found that it's Japanese / Tulah's Tokopedia Store</ButtonizedLink> for Salty Trivia with Candy Barre framework</li>
        <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">Ep 3. (FINAL) ??? / ???</ButtonizedLink> for Salty Trivia with Candy Barre framework</li>
        <li><ButtonizedLink href={"https://odysee.com/@JOELwindows7:a/ydkj-retempted-questionings:5"} target="_blank" rel="noopener noreferrer">Retempted Questionings</ButtonizedLink> for Project Triviatron framework. <ButtonizedLink href={"https://lbry.projectsegfau.lt/@JOELwindows7:a/ydkj-retempted-questionings:5"} target="_blank" rel="noopener noreferrer">Librarian backup</ButtonizedLink></li>
        <li><ButtonizedLink href={"https://odysee.com/@JOELwindows7:a/ydkj-name-reaction-2022:2"} target="_blank" rel="noopener noreferrer">(Not episode) Name Triggers</ButtonizedLink> for Project Triviatron framework. <ButtonizedLink href={"https://lbry.projectsegfau.lt/@JOELwindows7:a/ydkj-name-reaction-2022:2"} target="_blank" rel="noopener noreferrer">Librarian backup</ButtonizedLink></li>
        <li><ButtonizedLink href={"https://odysee.com/@JOELwindows7:a/ydkj-healthyever-green-sauce-mayonaise:6"} target="_blank" rel="noopener noreferrer">Healthyever GreenSauce</ButtonizedLink> for Project Triviatron framework. <ButtonizedLink href={"https://lbry.projectsegfau.lt/@JOELwindows7:a/ydkj-healthyever-green-sauce-mayonaise:6"} target="_blank" rel="noopener noreferrer">Librarian backup</ButtonizedLink></li>
        <li><ButtonizedLink href={"https://odysee.com/@JOELwindows7:a/ydkj-f-u-reaction:e"} target="_blank" rel="noopener noreferrer">(not episode) <code>{nsfw?"Fuck":"8888"} you</code> triggers</ButtonizedLink> for Project Triviatron framework. <ButtonizedLink href={"https://lbry.projectsegfau.lt/@JOELwindows7:a/ydkj-f-u-reaction:e"} target="_blank" rel="noopener noreferrer">Librarian backup</ButtonizedLink></li>
        <li><ButtonizedLink href={"https://odysee.com/@JOELwindows7:a/wwtbam-jack-twist:6"} target="_blank" rel="noopener noreferrer">(Who Wants to be a Millionaire?) Jack Twisting</ButtonizedLink> for Project Cashbig framework. <ButtonizedLink href={"https://lbry.projectsegfau.lt/@JOELwindows7:a/wwtbam-jack-twist:6"} target="_blank" rel="noopener noreferrer">Librarian backup</ButtonizedLink></li>
        <li>Here's one idea. Okay, so, to not make server overwhelm, we only accept episodes that its UUID matches with the whitelist on our server. So if you e.g., play our mod episode that has this UUID, and that matches with our own host's Whitelist, remote multiplayer works. Otherwise reject. Well you should do that too! implement some kind of UUID whitelist matching, so your server only allows your official episodes. <b>OR..</b><br/>
        have some kind of subscription so modders can borrow your server, I recommend for certain time, quota time used only when episode plays which has these traffics. Easiest. They can choose this, if no time, idk.. I prefer own Host, we got Firebase like you used already, idk..<br/>
        btw, where the hell is the Firebase HaiTouch multiplayer source code?
        </li>
    </ul>
</li>
<li><ButtonizedLink href={"https://www.youtube.com/live/ZPOQDm0Q2eM?feature=share"} target="_blank" rel="noopener noreferrer">Happy Juice 24/7 Jackbox Games Auto-host</ButtonizedLink> Play along random Jackbox Games (selected by audience votes) with other gamers, <b>for $0</b>!!! So <code>Raid</code> now & join the game! up to 8 Players then <b class='info'>10000 Audiences!!!</b></li>
<li><ButtonizedLink href={"https://youtube.com/playlist?list=PLFL8Ke_djZ5eTb4j8ndqT9jvGQUgn4S_2"} target="_blank" rel="noopener noreferrer">All YDKJ Games' top gameplay (PC, DS, PS1, etc.)</ButtonizedLink> Some YDKJ gameplays including different platforms</li>
<li><ButtonizedLink href={"https://youtube.com/playlist?list=PLVluaY6vozLRCyLB8tzxVsypxyjuBbLNS"} target="_blank" rel="noopener noreferrer">YKDJ Ouya Episodes Gameplay</ButtonizedLink> </li>
<li><ButtonizedLink href={"https://youtube.com/playlist?list=PLvi4ER7ttSIpgZAUkS0jYt8mVBu-DozPW"} target="_blank" rel="noopener noreferrer">YDKJ every Segues</ButtonizedLink> Playlist Chev James</li>
<li><ButtonizedLink href={"https://youtu.be/UCV8AH1ZHFA"} target="_blank" rel="noopener noreferrer">Trivia Murder Party final round but with YDKJ Full Stream Jack Attack music</ButtonizedLink> <b class='error'>No modding instruction or download.</b></li>
<li><ButtonizedLink href={"https://youtube.com/playlist?list=PLyFbLMctvKhycZqvTqq3Vvaw8lJLXulGL"} target="_blank" rel="noopener noreferrer">YDKJ Full Stream Dank Edition (Happy Juice Mods) Replays</ButtonizedLink> <b class='error'>No modding instruction or download.</b>. Playlist from Linda Compton, Recorded by Fidovinnie & Truston Leong The Drift Pro</li>
<li><ButtonizedLink href={"https://youtu.be/-wRcfRiXQlI"} target="_blank" rel="noopener noreferrer">All Jackbox Intros</ButtonizedLink> Recorded by Pokemonpro2458</li>
<li><ButtonizedLink href={"https://youtu.be/dKAWJsKCfyc"} target="_blank" rel="noopener noreferrer">All YDKJ 2011 video files</ButtonizedLink> Ripped by TheDarkSid3r, with added notes.</li>
<li><ButtonizedLink href={"https://youtu.be/dPWUiI4pXF0"} target="_blank" rel="noopener noreferrer">M. Bubbles as a way of life</ButtonizedLink> Ripped by Tere-zander</li>
<li><ButtonizedLink href={"https://youtu.be/CFw7FsPwcBs"} target="_blank" rel="noopener noreferrer">The "Disabled" bottle in Jackbox picker</ButtonizedLink> Ripped by TheDarkSid3r</li>
<li><ButtonizedLink href={"https://youtube.com/playlist?list=PL2k9EPpqbnW5c8kwNz2wJURVQGwMaxQZD"} target="_blank" rel="noopener noreferrer">Playlist archive of YDKJ TV Show</ButtonizedLink> Ripped by cirothungol; collected by BearArmyCadet27951</li>
