---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import PlaySoundButton from '../PlaySoundButton.astro';
import SpotifyContainsDRM from '@components/Messages/SpotifyContainsDRM.astro';
// import { Time } from '@astro-github-elements/time';

const dumpQuik:Array<Array<string>> = [
    // Sauce URL, Button Label, Author, Info
    // [`https://youtube.com/playlist?list=PLoenwhUTF1kFzQ8rggbQDLCmLLiOJTpSR`,`Joel's Memes YouTube Playlist`,`JOELwindows7`,`Yes, my meme!`],
    [`https://youtu.be/u7diIVMGiYo`,`The Infamouse Booba clip that made Aria go VIRAL`,`Offline Network`,`While Aria opens the upper cabinet, the bulgogi bottle fell onto her boobs & bounces. poing!!!`],
    [`https://youtube.com/playlist?list=PLCH9Nc-e33qH9KuteMYCyiAgRibMe-sVn`,`Playlist Horrible Mobile game ads`,`collected by Potato Pseudo Gamer`,`These are cringe mobile game ads, some may even not suitable for children in every ways.`],
    [`https://youtu.be/f46rh64ag4o`,`Compilation Horrible Mobile game ads 2020 No. 3`,`collected by intervention`,`These are cringe mobile game ads, some may even not suitable for children in every ways.`],
    [`https://youtu.be/Yke9BhP1uks`,`All Mafia City Ads`,`collected by Averroes`,`That's how Mafia works`],
]
---
{
    dumpQuik.map(stuff => (
    <li><ButtonizedLink href={stuff[0]} target="_blank" rel="noopener noreferrer" set:html={stuff[1]}></ButtonizedLink> <span set:html={stuff[2]}>. </span><span set:html={stuff[3]}></span></li>
    ))
}