---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import PlaySoundButton from '../PlaySoundButton.astro';
import SpotifyContainsDRM from '@components/Messages/SpotifyContainsDRM.astro';
// import { Time } from '@astro-github-elements/time';

export interface Props{
    nsfw?:boolean;

}

const{
    nsfw=false,

}= Astro.props.frontmatter || Astro.props as Props;

const dumpQuik:Array<Array<string>> = [
    // Sauce URL, Button Label, Author, Info
    [`https://youtube.com/playlist?list=PLoenwhUTF1kFzQ8rggbQDLCmLLiOJTpSR`,`Joel's Memes YouTube Playlist`,`JOELwindows7`,`Yes, my meme!`],
    [`https://youtu.be/ArJe--CGatg`,`Momiji plays flute`,`Daniel Renard`, `oh yess, this cute one.`],
    [`https://youtu.be/82R3FH-n7-Y`,`Giancarlo will face you now. Far Cry 6`,`Ubisoft`, `HAHAHAH!! I was acting. <b class='error'>or was I?</b>`],
    [`https://youtu.be/hU5_-liJ_bY`,`Giancarlo will face you now. Far Cry 6, snip cut no watermark`,`Clip Chand Co. Films`, `HAHAHAH!! I was acting. <b class='error'>or was I?</b>`],
    [`https://youtu.be/1xhz2BR7SVY`,`Submerge Tylenol Rapid Release Gel tablet into a bowl of water`,`What Happens`, ``],
    [`https://youtube.com/shorts/PGThll6-i08?feature=share`,`LEGO used to help mold a concrete bed foundation`,`HomeMadeModern`, ``],
    [`https://youtu.be/jBktddQX47U`,`Fully Operational huh? Clip Flap jacksdflkjasdkfklasdkf`,`kraklp0p`, ``],
    [`https://youtube.com/shorts/O64iobAfWD4?feature=share`,`Alicia & boyfriend tries a cinema in Zurich, it is very uncomfortable & tiring`,`AliciaMillennium`, `They tried a cinema somewhere in Zurich. The situation is baffling as the size of one theater is really small, narrow legroom, and other discomforts. So much in the middle of film has 10 minutes break. Well, I agree to people said in the comments, XXI (& every theaters in Indonesia pretty much) is way better than everyone else. It's luxurious, wide legroom, big size, best sound & visuals, and best & hygienic facilities, also best Snacks & beverages. and since is way comfortable, there is no break needed at all!`],
    [`https://youtu.be/77fAMqoYPPM`,`Dolby Spheres 7.1 intro (double D)`,`Dolby`, `the famous intro for Surround sound 7.1 Speakered theatre`],
    [`https://youtu.be/t4G9wSjNyjk`,`Dolby Spheres 7.1 intro (7.1)`,`Dolby`, `the famous intro for Surround sound 7.1 Speakered theatre`],
    [`https://youtu.be/H46Kil1k-m8`,`Dolby Escape animation`,`Dolby`, ``],
    [`https://youtu.be/KA6azZALMiE`,`Dolby Silent animation`,`Dolby`, ``],
    [`https://youtu.be/pd_6WN9GVtQ`,`Dolby Conductor intro`,`Dolby`, `for Atmos speakered theatre`],
    [`https://youtu.be/3TOlN9dLpi8`,`Dolby Horizon trailer`,`Dolby`, `for Atmos speakered theatre`],
    [`https://youtu.be/AcJ3jPh_294`,`Dolby 3D Glasses PSA`,`Dolby`, `for Dolby 3D powered theatre`],
    [`https://en.wikipedia.org/wiki/Roundhay_Garden_Scene?wprov=sfla1`,`Roundhay Garden Scene Wikipedia article`,``, `one of the 1st or earliest ever film.`],
    [`https://en.wikipedia.org/wiki/The_Horse_in_Motion#%3A%7E%3Atext%3DThe_Horse_in_Motion_is%2Cthe_photographs_in_June_1878.?wprov=sfla1`,`The Horse in Motion Wikipedia article`,``, `Very first ever film`],
    [`https://youtu.be/Fve_lHIPa-I`,`Unravel`,`pls jp name`, `Tokyo Ghoul song`],
    [`https://youtube.com/@ScrubDaddyOfficial`,`Scrub Daddy YouTube Channel`,``, `Scrub Daddy is a series of kitchen cleaning product, famous for their all-effective sponge called <code>Scrub Daddy</code>`],
    [`https://youtu.be/DEXDDyb6t2o`,`Secondhand Serenade - Fall For You`,``, `Because tonight will be the night I will fall for you`],
    [`https://youtube.com/shorts/o4cTO-jfxnM?feature=share`,`pls tape balloon`,`y._.y`, `Balloon made out of nano tape`],
    [`https://youtu.be/a_3UQYo599g`,`I made a poo poo, <b>AEAE</b>`,`KirillKa2D`, ``],
    [`https://youtu.be/IxE1txIgwdA`,`Mighty Eagle No.`,`clip by dog man`, ``],
    [`https://youtu.be/3j6W0RpxzEg`,`I could probably beat ramiel in a fight`,`Boritoz109`, `NEVER FLIP BIRD TOWARDS RAMIEL!!!`],
    [`https://youtube.com/playlist?list=PL0DBiKbNt4jSmzxrq9GVbClbHNo7xiMtP`,`Reuploaded Timotainment facts Playlist`,`Collected by Nash Peleuses`, ``],
    [`https://youtube.com/playlist?list=PLFMbFHOzYoqZAlVTkr-5_73dlgwg7A160`,`Reuploaded Meme Lads Playlist`,`Reuploaded & Collected by wolfboyft`, ``],
    [`https://youtube.com/playlist?list=PLfLS9kF3xAaiVvroxyPRRBLhR3YdXr_-z`,`Meme Lads. Meme songs playlist`,`Collected by Chris R. Witt`, ``],
    [`https://youtu.be/5jKZ9KGtee0`,`Squish that cat`,`Cavin Weber`, `all you have to do it squish that cat`],
    [`https://youtu.be/XR3KWRDK3_U`,`Terry Bozzio - Guitar Center Drum Off 2011 pt. 1`,`Guitar Center`, `Ultimate many Drum kit`],
    [`https://www.reddit.com/r/kraccbacc/comments/109s161/follow_up_to_my_previous_post_the_full_archive_of/?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=1&utm_content=share_button`,`Reupload Kracc Bacc`,`u/BigAlOopine`, ``],
    [`https://drive.google.com/drive/u/0/mobile/folders/199FiRtxnC1V3k1OGvs2ihcE8ve0zUl72`,`Reupload Kracc Bacc Drive`,`u/BigAlOopine`, ``],
    [`https://www.reddit.com/r/kraccbacc/comments/10agwma/created_an_archive_of_every_kracc_bacc_video/?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=1&utm_content=share_button`,`Reupload Kracc Bacc`,`u/sir___dog / sir dog sus`, ``],
    [`https://archive.org/details/kraccbacc`,`Reupload Kracc Bacc Archive`,`u/sir___dog / sir dog sus`, ``],
    [`https://www.reddit.com/r/funny/comments/i4jao3/what_if_we_use_100_of_our_brain/?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=1&utm_content=share_button`,`What if we use 100% of our brain? Charging iPhone illegally it explodes`,`u/KhalifaXZ`, ``],
    [`https://youtu.be/7ecYoSvGO60`,`Morty crashes into Simpsons couch gag & destroyed them`,`Adult Swim`, ``],
    [`https://youtu.be/IdeSN54Ndo0`,`In Shapes`,`Blue Zoo Animation Studio`, `Be yourself, & don't be ashamed about your body. ye.`],
    [`https://youtu.be/y5rita8a9_E`,`Organ Stories`,`Splapp-me-do`, `damage progress to body inside`],
    [`https://youtube.com/shorts/Wx-GlG8HSM8?feature=share`,`Borzoi. Why would you leave me for him`,`DrawzillaZZZ`, ``],
    [`https://youtube.com/@StormXF3`,`StormXF3 YouTube Channel`,``, `Pony Animation in real life`],
    [`https://youtube.com/shorts/tmNeGjOJ1VY?feature=share`,`Tap maine coon orange belly`,`Sahabatpetualang28`, ``],
    [`https://youtu.be/wbkSICKLgbU`,`Open na noor FULL VIDEO`,`ItsDK`, ``],
    [`https://youtu.be/LdXu6hxEdEk`,`RED HEAT (1988) (Arnold Schwarzenegger) CLIP, <i>Cocainum!</i>. `,`JoBlo Movie Clips`, ``],
    [`https://youtu.be/g3d33AjzA-8`,`All 50+ Autodesk software explained in 12 Minutes `,`Humtog`, `Autodesk had every softwares for every industry sectors!!!`],
    [`https://youtu.be/IAMKRuuLczM`,`This is my come milk explodos`,`AnAverage2KMobilePlayer`, ``],
    [`https://youtu.be/rrNFXRyvtKE`,`YOU FOOL! I HAVE 70 ALTERNATIVE ACCOUNTS!`,`SonicGamingTV2019`, ``],
    [`https://youtu.be/Onk8ZYA-ibg`,`Failed Foxy Jumpscare FNAF`,`[Mustafaxy💀 ]`, `Foxy jumpscares nano second before the 6 AM reached, which is still 6 AM.`],
    [`https://youtu.be/q4vy7BcAVJg`,`Hampter`,`Breadcrumbx`, ``],
    [`https://youtu.be/7L3EK7JFj7c`,`Obamna Soda 3D (no 3D model)`,`Cheese Man Media`, ``],
    [`https://youtu.be/30Ysa3A2WMU`,`Danny Devito. Oh my God... I get it.`,`Regan clip`, ``],
    [`https://youtu.be/NdxWyzF_dIw`,`Danny Devito. Oh my God... I get it. subbed`,`Moon's Meme Dump clip`, ``],
    [`https://youtu.be/jO3KC_mvE74`,`LOOOOOO...`,`7th Helix`, `Merrie Melodies clip`],
    [`https://youtu.be/uKYV2qjYIS0`,`Spoodemr-man across the spooder-verse trailer`,`Laugh Over Life parody`, ``],
    [`https://youtu.be/repSd3g9Njg`,`YOU'VE BEEN HOODWINKED BABY`,`hypnadot`, ` Conker gameplay`],
    [`https://youtu.be/R5n2Fk1pAXo`,`Hatsune Miku Brain Excercise`,`reuploaded by rediakaikai`, ``],
    [`https://nico.ms/sm7017661?ref=other_cap_off`,`Hatsune Miku Brain Excercise`,`hapi⇒`, ``],
    [`https://gensmak.com/`,`Gensmak. Trivia Card Game for every generations. Has Web version`,``, ``],
    [`https://youtube.com/shorts/AMZYXLVmAWA?feature=share`,`Gensmak review`,`xSadShadowx`, ``],
    [`https://youtu.be/BsIa_LKojJI`,`Antony C - You've been trolled`,``, ``],
    [`https://youtu.be/F4zEAPZxtBA`,`Trololo man now`,`MURINSKIY`, `Edward Khill (🪦) outside in snow`],
    [`https://youtu.be/PL8CD8PjVmA`,`Trololo 2012 Live`, `David Smolyanov`, `Edward Khill (🪦) live show`],
    [`https://youtube.com/@MgagsClipsFun`,`Mgags Clips YouTube Channel`, ``, `Magic secrets exposed`],
    [`https://youtu.be/dVfePYjW3MI`,`D1ofAquavibe - The Party Troll`, ``, ``],
    [`https://youtu.be/UHTFCZgm6HU`,`D1ofAquavibe - The Happy Troll`, ``, ``],
    [`https://youtu.be/gkTb9GP9lVI`,`Eduard Khill - I'm glad I am finally back home (Trolololo song)`, `reuploaded by JwHDify`, ``],
    [`https://youtube.com/playlist?list=PLYliyBNJWxNRyPVFuLG3rRcEZ9Uda3dUV`,`Trolling Music Playllist`, `stubby.junior collection`, ``],
    [`https://youtu.be/rvfcXTuMerQ`,`Kratos Car`, `Acysu`, ``],
    [`https://youtu.be/ZWIsdmFy-uA`,`Grilled Obama Cheese Sandwich`, `Typo Joe MMXXIII`, ``],
    [`https://youtu.be/4aKBiPRHocY`,`Brush Animated Shorts`, `Garrett Animates`, ``],
    [`https://youtu.be/QrK1ipUYYW4`,`Voicemail from my Dad animated`, `Garrett Animates`, ``],
    [`https://youtu.be/JnkAlwMjalc`,`Animating Arms`, `Doodley`, ``],
    [`https://youtube.com/shorts/IILQHXAExrg?feature=share`,`Stockfish Chess AI vs. Tandy Chess Computer`, `BuildyBryce`, ``],
    [`https://youtube.com/shorts/6NNIccaxBV8?feature=share`,`Sigma Cat`, `argenby`, ``],
    [`https://youtube.com/@JKBrickworks`,`JK Brickworks YouTube channel`, ``, `LEGO custom builds`],
    [`https://youtu.be/EneC23krrrM`,`No no, you're still.. HOLDING ON!! LET GO.`, `reactionvids clip`, `Star Wars: The Last Jedi`],
    [`https://youtu.be/vhuY8Kcm_Hg`,`No? Check under your foreskin. Card burst from guy's crotch`, `meme archive reuploads`, ``],
    [`https://youtu.be/F90Cw4l-8NY`,`Bastille - Pompeii`, ``, `But if you close your eyes. EY YO, coz it almost feels like nothing changed at all...`],
    [`https://youtu.be/ON_F0M0qGkM`,`Horizontally spinning bocchi`, `volare`, `Rat replace with Bocchi the Rock`],
    [`https://youtu.be/_lFlmFoGhjc`,`You gonna miss me when I'm gun`, `BlackCap Productions`, `When I'm Gone but handgun`],
    [`https://youtu.be/cmSbXsFE3l8`,`Anna Kendrick - Cups`, ``, `When I'm Gone`],
    [`https://youtu.be/8I9Tjmz-z2U`,`Getaway 2022: Part 6 Wilpena to Arkaroola`, `RMichael`, ``],
    [`https://youtu.be/fRvlBczUDXs`,`Getaway 2022: Part 6 Wilpena to Arkaroola but just the Wild Budgies`, `RMichael`, ``],
    [`https://youtube.com/@Vincoo`,`Vincoo YouTube Channel`, ``, `owns meme posting website <a href='https://lahelu.com' target="_blank" rel="noopener noreferrer">Lahelu.com</a>`],
    [`https://lahelu.com`,`lahelu.com`, ``, `Meme posting website`],
    [`https://youtu.be/5GSBsxBfKi8`,`Original Acumalaka`, `reuploaded by Kurizu Meme`, ``],
    [`https://youtu.be/VtGvTT2r_o4`,`Acumalaka`, `reuploaded by Meme sound efects`, ``],
    [`https://youtu.be/vBe0_Rh1Th0`,`Acumalaka Full loud`, `reuploaded by Giga-N8888`, ``],
    [`https://youtu.be/wVmZD4pZ9PE`,`Acumalaka Semi full`, `reuploaded by Random Ajalah`, ``],
    [`https://vt.tiktok.com/ZS8HLHFu9/`,`Tutorial How to Sit`, `Angry Emo Fish`, `Low Quality Meme`],
    [`https://vt.tiktok.com/ZS8HLBe72/`,`Tutorial How to Call`, `Angry Emo Fish`, `Low Quality Meme`],
    [`https://www.tiktok.com/@angry_emo_fish?_t=8a9XqZe7U4f&_r=1`,`Angry Emo Fish TikTok channel`, ``, `Low Quality Meme`],
    [`https://vt.tiktok.com/ZS8HDm1Qe/`,`China Lore pls this weird lmao`, `BAKU`, ``],
    [`https://youtu.be/fG7qz66Ty48`,`EEEEEEEE, it's in the game`, `Electro`, ``],
    [`https://youtu.be/9Mby6_RFlKk`,`Why are These People Allowed TO Have Children?!`, `MaximBrady`, `<i>Ladies & Gentlemen. I I.., I think my brain has commited suicide.</i>`],
    [`https://youtu.be/9t3qXXJSaKk`,`Bababooey full clip`, `reuploaded by Codex`, ``],
    [`https://youtu.be/Qskm9MTz2V4`,`Sheet Music Boss - RUSH E`, ``, ``],
    [`https://youtu.be/w9CMqN04b38`,`Stan Twitter: Animoji head turning to Mask by Dream`, `Ethan Teehee`, ``],
    [`https://youtu.be/enBlo_KiRTk`,`Markiplier plays horror game & shout <i>triple k</i>`, `clip No Context Markiplier`, ``],
    [`https://youtu.be/LLJzwktdOFI`,`Among Us theme Indian`, `Dairomold`, ``],
    [`https://youtu.be/FWgfBWKUP_o`,`Animated 3D Valiant Hero Henry Stickmin`, `Victor is Bored (victor_summery)`, ``],
    [`https://youtu.be/X9fFMUJ9bUQ`,`all dna production logo outro <i>Hi, I'm Paul!</i>`, `clip collected by Random YouTube Crap`, ``],
    [`https://youtu.be/H9sOkH8bhGA`,`I DEFY YOU HEARTMAN, Spongebob clip`, `ImmaPatrick2`, ``],
    [`https://youtu.be/sE8pQqv5JQg`,`Jink is angy`, `Empty cat 🦇`, ``],
    [`https://youtu.be/Dq_jcUgBzt8`,`EA Sport famous intro`, `recorded by Jolan Agbuya`, `E, A, Sports. it's in the game.`],
    [`https://youtu.be/74qsaPK6TCc`,`EEEEEEEEEEEEEEEE`, `Meme edit VIRTUAL ESSENCE`, ``],
    [`https://youtu.be/ThJapGxptKw`,`EEEEEEEEEEEEEEEE blackhole`, `Meme edit VIRTUAL ESSENCE`, ``],
    [`https://youtu.be/npaR8g-jdFU`,`EEEEEEEEEEEEEEEE enters & leaves`, `Meme edit VIRTUAL ESSENCE`, ``],
    [`https://youtu.be/H-_ElQRDDzk`,`E, E E. E E E E.`, `FUnky Dinosaur`, ``],
    [`https://youtu.be/mOanPc8Vhmw`,`E A E, YEAY`, `COuntryclubguy`, ``],
    [`https://youtube.com/@Blippi`,`Blippi YouTube Channel`, ``, `Educational videos for Kids. Explores stuffs around the world featuring Blippi (& sometimes Meekah).`],
    [`https://youtube.com/@PrinceEa`,`Prince Ea YouTube Channel`, ``, `Motivational Film Speech`],
    [`https://youtu.be/eIlT52j3lSo`,`What is that Rushed Vent`, `⚡S4MMY⭐`, ``],
    [`https://youtu.be/8lks80dbMUQ`,`Avenged Sevenfold - Natural Born Killer`, ``, ``],
    [`https://youtu.be/Jp02zEGc3cM`,`Feddy`, `Mechas`, ``],
    [`https://youtube.com/@rocketjump`,`fredieww / Rocket Jump YouTube Channel`, ``, `funny CGI film`],
    [`https://youtu.be/H6T1FW7qMxA`,`Hello mother${(nsfw?`fucker`:`pecker`)}`, `reuploaded by OMGBERAW`, ``],
    [`https://youtu.be/Qr3GAFsXX_I`,`Look at this dude`, `reuploaded by PewDiePie Pie (not PewDiePie)`, ``],
    [`https://youtube.com/@angethegreat`,`Ange the Great YouTube Channel`, ``, `Engine Audio Simulator`],
    [`https://github.com/Engine-Simulator/engine-sim-community-edition`,`Engine Simulator Community Edition (Empty source code)`, `Ange the Great`, `Engine Audio Simulator`],
    [`https://github.com/ange-yaghi/engine-sim`,`Engine Simulator Original Source code`, `Ange the Great`, `Engine Audio Simulator`],
    [`https://youtu.be/XgNI_haDmAA`,`Sonic eats lemon & dies`, `Oliver Teesdale`, ``],
    [`https://youtu.be/MCP8_DP52yo`,`Paimon eats lemon & dies`, `Syn`, ``],
    [`https://youtu.be/fQOmAT457_A`,`Paul Wilbur - For Your Name Is Holy (Sebab namaMu Kudus)`, ``, ``],
    [`https://youtu.be/WRLjNzTAT-M`,`Unovans Be Like`, `Animated by PEAR, ft. _R0ACH__`, ``],
    [`https://twitter.com/TheCappuccino04/status/1331828511238201349?s=20`,`Unovans Be Like`, `TheCappuccino04`, ``],
    [`https://youtube.com/@engineerguyvideo`,`Engineer Guy YouTube Channel`, ``, `Pls, where has he been? no uploads anymore!`],
    [`https://youtu.be/PdCgmL1EocU`,`Give Me Rent!; You get your rent WHEN YOU FIX THIS DAMN DOOR!!`, `Clark Kent's clip (not Superman one)`, ``],
    [`https://youtu.be/39UDZMgPg5k`,`Was ist dein Lieblingsfach`, `Levon`, ``],
    [`https://youtu.be/sLgz57tguKo`,`Måneskin - Beggin'`, ``, ``],
    [`https://youtu.be/tyYwOEKKcZc`,`Troye Sivan - Angel Baby`, ``, ``],
    [`https://youtube.com/playlist?list=PLMJCbUcidpbqoaR6VGgynUMWdMeuvpfkG`,`Subway Surfers Animated Series`, `SYBO TV`, ``],
    [`https://youtu.be/6WIaOj5YLH8`,`Bocchi the Apex Legend`, `reuploaded by pls Mandarin name`, `parody the Apex Legend`],
    [`https://m.bilibili.com/video/BV1Wy4y1X7W1?ts=1677340283&spmid=333.401.click.share&h5_buvid=2D8D7CAA-AA37-DAA5-4C4A-2013DB6CE39367928infoc&unique_k=&bsource=&openid=&wxfid=&page=0`,`Bocchi the Apex Legend`, `ZhYiyii`, `parody the Apex Legend`],
    [`https://youtu.be/3CxKzbuTZbA`,`Play the music with telephone keypad tone`, `pls jp name`, ``],
    [`https://youtu.be/drYe1He5YfI`,`Flight React ception`, `turtle999`, ``],
    [`https://youtu.be/9CwyJXnJWwM`,`flightreacts gets scared for 8 minutes`, `clip FTC Productions`, ``],
    [`https://youtu.be/jO8o5LLmpR8`,`flightreacts scream greenscreen`, `clip greenscreened Joseph Tolmes`, ``],
    [`https://youtu.be/yxvijbVlr4o`,`oh the floor cracked, I believe I might fall`, `VerticalPlug`, `<b class='warning'>Profanity</b>`],
    [`https://youtube.com/shorts/kt4JnEnsUZE?feature=share`,`Attempt catch Pikachu went wrong Critical`, `SQUiNK`, `<b class='warning'>Fantasy gore</b>`],
    [`https://vt.tiktok.com/ZS8HfFgpj/`,`slap mannequin head bonk`, `Washoma`, ``],
    [`https://vt.tiktok.com/ZS8HfSpTP/`,`Carl don't feel so good Lady Gaga bad romance`, `reupload Glamrock_Freddy`, ``],
    [`https://vt.tiktok.com/ZS8HfY7MD/`,`Five Knights at Freddy's FNAF edit fantasy`, `80'sDarkfantasy`, ``],
    [`https://vt.tiktok.com/ZS8HfhCS6/`,`Love you So tiktok sound`, `The King Khan & BBQ Show`, ``],
    [`https://youtu.be/2owaKucyU1Y`,`Horrible Windows 95 Commercial [Retro 90's Ad]`, `reuploaded by Atombombmother`, ``],
    [`https://youtu.be/Ci28GVh5_Bs`,`Amen Break Sample 136 BPM`, `Clipped by tavolga`, ``],
    [`https://youtu.be/DGWmt-KEbV4`,`Bocchi holds A-Site, Counter Strike`, `tenshii`, ``],
    [`https://gist.github.com/rxaviers/7360908`,`Markdown Checklist cheat sheet`, `rxraviers`, ``],
    [`https://youtube.com/@ArcadeAssassin`,`Arcade Assassin YouTube Channel`, ``, `${(nsfw?`Shit`:`Poop`)}post Childish Windows Movie Maker style memes`],
    [`https://youtu.be/YZrErQfqVjE`,`COMEDY`, `Sr Pelo`, ``],
    [`https://youtube.com/@SrPelo`,`Sr Pelo YouTube Channel`, ``, `Funi memes`],
    [`https://youtube.com/@DalangPelo`,`Dalang Pelo YouTube Channel`, ``, `Not to be confused!`],
    [`https://youtu.be/7WYIu0mRXYQ`,`Vinesauce & Gawr Gura plays Fireworks Mania & explosion gone funi crazy`, `clipped by Vtuber Clips To Speen To`, ``],
    [`https://youtu.be/J0AXIZgB5ts`,`half life bird`, `b2xgh2st`, ``],
    [`https://youtube.com/playlist?list=PLvxQ-bIWiMnnwVEjI_I3V0pwZ7hLgt9Vd`,`Half Life Memes Collections Beter V2`, `Playlist by Blaine Menear`, ``],
    [`https://youtu.be/UP1mKveeNIA`,`Half Life PC Building`, `edit meme clips`, ``],
    [`https://youtu.be/HzBRbWtUL08`,`Half Life Cooking Pelmeni`, `TheMostUpset`, ``],
    [`https://youtu.be/W5Sq71VTJ9Q`,`Mareux - The Perfect Girl`, ``, ``],
    [`https://youtu.be/vZOxYmQgxiM`,`Silo noor, Open the noor Half Life`, `Eltorro64Sus`, ``],
    [`https://youtube.com/@purinharumaki_karameru`,`Purinharumaki Karameru YouTube Channel`, ``, `funi cat & axolotl exageration moments animations`],
    [`https://youtu.be/L4queDKbTHY`,`Hey Spongebob Horn`, `Loopy Doop`, ``],
    [`https://youtu.be/cy8P-z5YjOE`,`Airhorn sound effect long`, `HyperView`, ``],
    [`https://youtu.be/9PpXu-2fPHc`,`Aerosmith - Dream On`, ``, ``],
    [`https://youtu.be/c4ZsqBWTOAw`,`48 FPS Animation`, `Mayde`, `This is 48 frames per second. <b style='font-size:large;'>AAAAAAAAAAA!!!!</b>`],
    [`https://twitter.com/mayyde/status/1386913431601795073?s=20`,`48 FPS Animation`, `Mayde`, `This is 48 frames per second. <b style='font-size:large;'>AAAAAAAAAAA!!!!</b>`],
    [`https://twitter.com/mayyde/status/1386914388746063872?s=20`,`48 FPS Animation Interpolated DAIN`, `Mayde`, `This is 48 frames per second. <b style='font-size:large;'>AAAAAAAAAAA!!!!</b>`],
    [`https://youtube.com/@camman18`,`camman18 YouTube Channel`, ``, `Minecraft streamer Pro Parkour Get Diamond Challenges`],
    [`https://youtu.be/5JQBPK94UI8`,`Here's your Liver Back.`, `Luke Correia`, ``],
    [`https://youtube.com/@ThisDoesNotCompute`,`This Does not Compute YouTube Channel`, ``, `Old Retro stuffs Reviews`],
    [`https://youtu.be/D1K5vDgFOoA`,`Patrick, nice c${nsfw?`ock`:`888`} editeh`, `Master-Yoshi`, ``],
    [`https://youtube.com/shorts/oXfkbzaj39g?feature=share`,`Peter the new Don of Quahog`, `clip notfamilyguy2469`, ``],
    [`https://knowyourmeme.com/memes/wesley-snipes-crying`,`Wesley Snipes Crying, Know Your Memes`, ``, ``],
    [`https://youtu.be/K4lTsRzlorA`,`Wesley Snipes Crying, New Jack City (2011) - My Brother's Keeper Scene (8/10)`, `Movieclips clip`, ``],
    [`https://youtube.com/shorts/SObe-lU3FSI?feature=share`,`They forgot to put Double Jump - Buck Thunder II`, `CyphersPitGaming gameplay`, ``],
    [`https://youtube.com/shorts/t6IfQo6DgU8?feature=share`,`Rush Hour 1 Behind the Scene Fight scene`, `clip christiancagadasvlogs`, ``],
    [`https://youtu.be/a0DbzUe-r4Q`,`Fazlija - HELIKPTER (Official Video) prod. by JOKER`, ``, ``],
    [`https://youtu.be/3ExGuHWdXCE`,`Fazlija - HELIKPTER `, ``, ``],
    [`https://knowyourmeme.com/memes/skull-cow-isnt-real-it-cant-hurt-you`,`Skull Cow Isn't Real, It Can't Hurt you, Know your Memes `, ``, ``],
    [`https://knowyourmeme.com/memes/all-your-base-are-belong-to-us`,`All your base are belong to us, Know your Memes `, ``, ``],
    [`https://knowyourmeme.com/memes/uh-oh-you-found-the-toothpaste-big-and-small-house-toothbrush-minigame`,`Uh oh you found a toothpaste Big & Small House, Know your Memes `, ``, ``],
    [`https://knowyourmeme.com/memes/hand-pointing-a-gun`,`Hand gun point clip art, Know your Memes `, ``, ``],
    [`https://youtube.com/@raredoodle`,`Rare Doodle YouTube Channel `, ``, `Animation. Queen Bee & Worker Bee`],
    [`https://youtu.be/Pf0qhD98BsQ`,`Bocchi the "rock"`, `DEEPPEN`, `Literally rock`],
    [`https://youtu.be/9u3QegRE5sA`,`An Average MJD Video`, `Michael MJD`, `And the power just went out 🗿.`],
    [`https://youtu.be/ZVXT0pnNJZ4`,`Masha clip lip sync to ${nsfw?`poosie clean poosie tight poosie fresh`:`pussy clean pussy tight pussy fresh`}`, `Kxsen`, ``],
    [`https://youtu.be/7gkcDr6AzKY`,`Fake MrBeast THE FOG IS COMING`, `mr giggler`, ``],
    [`https://youtu.be/pcw-JItoL1U`,`FNAF 3 It's been so long Medieval remix`, `Magentium`, ``],
    [`https://youtu.be/hBmpMMkXz6Y`,`Gura Ankha`, `King Kman`, ``],
    [`https://youtu.be/O6ntAHa2tXE`,`Jiafei scream`, `reuploaded by DoctorDoggie`, ``],
    [`https://youtu.be/M-t6iGy9QzA`,`uh oh, you found the toothpaste. Let's make things clear, I can clean my teeth by myself okay.`, `Gameplay clip purowith_dagun`, `Big & Small house swf`],
    [`https://youtu.be/sC4dg2OShVQ`,`uh oh, you found the toothpaste. Let's make things clear, I can clean my teeth by myself okay.`, `Gameplay clip me when the`, `Big & Small house swf`],
    [`https://youtu.be/GPizHVKpZuo`,`Adventure in the Molar System`, `Colgate`, ``],
    [`https://youtube.com/@Peekaboo_Kidz`,`Peekaboo Kidz YouTube Channel`, ``, `Colorful animation educational science`],
    [`https://youtu.be/uRMhG2erQT0`,`Mickey Mouse oh boy cheese`, `Mayde`, `the cheese is attached to a mouse trap & Mickey touched it triggering it.`],
    [`https://youtu.be/qlLlDAOj4uM`,`Video Games Failling Screams Compilation`, `ArsenickA`, ``],
    [`https://youtube.com/shorts/SUb14WCbdRs?feature=share`,`You're Gonna Carry Me?!, Splatoon Shorts`, `SinisSeaSalt`, ``],
    [`https://youtube.com/shorts/SUb14WCbdRs?feature=share`,`You're Gonna Carry Me?!, Splatoon Shorts`, `SinisSeaSalt`, ``],
    [`https://youtube.com/shorts/VbdrWqOEZ5Q?feature=share`,`Why Babies avoids grass?`, `VargasDaily`, `A compilations of lifted babies lowered to proximity above grass shows that they lifted their feet avoiding these grass. A pinned comment by m.mdafootballer states that they do this because babies have very sensitive skin, & as parents lowers them to grass, they'll feel this spikey radiation on the proximity & contact skin area which is <b>very uncomfortable</b>.`],
    [`https://youtube.com/playlist?list=PLIEJSEcgHPS0NScvIuHYkQQZm9C2l-itm`,`FFXIV Memes Playlist`, `Fae Nevermore collections`, `Final Fantasy 14 memes`],
    [`https://www.pixiv.net/en/artworks/99575048`,`#GrisSwimsuit`, `VERTIGRIS`, ``],
    [`https://twitter.com/VERTIGRIS_ART/status/1545100141270532096?t=dCDsmIkAKgnw23W5OYPYpg&s=19`,`#GrisSwimsuit`, `VERTIGRIS`, ``],
    [`https://twitter.com/VERTIGRIS_ART/status/1479502744968957954?t=tz2b9DtxLq2xfKG9hqJUbw&s=19`,`#GrisSwimsuit Draw your OC in This Challenge`, `VERTIGRIS`, ``],
    [`https://vt.tiktok.com/ZS89hDHwb/`,`Repost Choke 2 finger counter-act fail`, `reupload tuilatyy`, ``],
    [`https://vt.tiktok.com/ZS89hbaCU/`,`AI illustrate Elmo x Snoop Dog mashup`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89hHxsN/`,`Miley Cyrus FloWhopers`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89h5Pet/`,`COPS Entertainer`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89hbUed/`,`Star Wars Fart Menace`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89hSXWM/`,`1950 Down with the Sickness`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89hfYtC/`,`NFL Theme but more explodos`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89hVLWj/`,`Cat at door mueooow!`, `cat_at_door`, ``],
    [`https://vt.tiktok.com/ZS89huQRF/`,`Macaroni, with chicken strips, ah!`, `reuploaded by user79092715158`, ``],
    [`https://vt.tiktok.com/ZS89h5RYY/`,`Macaroni, with chicken strips, ahhhhhhaaaaaa crash!`, `Kyle`, ``],
    [`https://vt.tiktok.com/ZS89hmEQY/`,`Ready for 2. Seatbelt error but it's not & surprise`, `Richard the Mountain Monster Fall ride operator`, ``],
    [`https://www.tiktok.com/@chickinpickin420?_t=8aFceuHeKrB&_r=1`,`Tommy de Bourbon TikTok channel`, ``, `Spongebob Hawaii style desk guitar`],
    [`https://vt.tiktok.com/ZS89huQTC/`,`Mannequin Head slap, Ta ta ta. Potrobatre dete SLAP!!!`, `Washoma`, ``],
    [`https://vt.tiktok.com/ZS89hS4oR/`,`Cat angy and shout like a girl meAAoew`, `wwhu4`, ``],
    [`https://youtu.be/nXzb7532K8E`,`Korone: I'm a dog, okay.`, `Caroline Director`, ``],
    [`https://youtu.be/EAZ3urYgO8E`,`Hi Herbert Original reupload`, `reupload pls arabic name`, ``],
    [`https://youtu.be/eammlLyQaxs`,`Viajeros en Lirickas - Quiero Tenerte`, ``, ``],
    [`https://youtu.be/mEGvXw2AoXY`,`Cupcakke Gulp Gulp Gulp`, `I love paris`, ``],
    [`https://youtu.be/0TNwHbK5iFU`,`Fanmade Heart Attack chilling alert in Ring Fit`, `NoPLo`, ``],
    [`https://youtube.com/@Adhemz`,`Adhemz YouTube Channel`, ``, `Reaction Duets funny realistically it could've been like this. The Boys, Defence tips callouts`],
    [`https://youtube.com/@paryssbryanne`,`Paryss Bryanne YouTube Channel`, ``, `Muscular Fit Woman`],
    [`https://www.instagram.com/p/Cn2tc8Bt-Bo/?igshid=OTJlNzQ0NWM=`,`Reuploaded bag of popcorn illusion leg thinnening`, `thatbeautyyvibee`, `Yes, the leg thinnening effect is because of that bag of popcorn. look again!`],
    [`https://www.instagram.com/p/Cn2tc8Bt-Bo/?igshid=OTJlNzQ0NWM=`,`black kitty qchuaw`, `blackcatsmylove`, ``],
    [`https://twitter.com/thecypherden?s=21&t=AsaaUynbZ6ywn82FWKOT_Q`,`CypherDen Twitter`, ``, ``],
    [`https://twitter.com/thecypherden/status/1143257165085532160?t=jPD3RXiYl0awPmiFEuzOuQ&s=19`,`CypherDen Nailed the Axe throw`, `CypherDen`, ``],
    [`https://www.instagram.com/p/Co8A0I1vCrQ/?igshid=OTJlNzQ0NWM=`,`eldritch life is hard`, `mishacak3s`, ``],
    [`https://youtu.be/5WGTCsk3KC4`,`Magnus Eriksson - Married Life; Up Pixar`, ``, ``],
    [`https://youtube.com/shorts/uzSE77dkkhk?feature=share`,`How Radial Engine Works Pt. 3`, `ianjimmerson12`, ``],
    [`https://youtube.com/@colinfurze`,`colinfurze YouTube Channel`, ``, `Crazy vehicle mods & other crazy builds stuffs!`],
    [`https://youtube.com/shorts/LDEAGLzqRk0?feature=share`,`My mom allows me to play fortnite with coca cola, isn't that cool?! <b>YIPEEE!!!!</b>`, `reupload by recyclingstation2370`, ``],
    [`https://youtu.be/0E15Mw7pjJw`,`reduce reuse ecyce`, `reupload by Internet Things, by bassoonman`, ``],
    [`https://vt.tiktok.com/ZS89D1xjx/`,`reduce reuse ecyce`, `reupload by SW LDN Greenpeace, by bassoonman`, ``],
    [`https://vt.tiktok.com/ZS89DN4nd/`,`reduce reuse  ecyc e`, `bassoonman`, ``],
    [`https://youtube.com/shorts/4Vvc_eXyKns?feature=share`,`Summarize a Wikipedia article`, `DKID Media`, `append or replace language with <code>simple</code> in the Wikipedia URL beginning. e.g, you have <a href='https://id.wikipedia.org/wiki/Indonesia' target="_blank" rel="noopener noreferrer">https://id.wikipedia.org/wiki/Indonesia</a>. with Simple, it'll be <a href='https://simple.wikipedia.org/wiki/Indonesia' target="_blank" rel="noopener noreferrer">https://<b style='font-size:large;'>simple</b>.wikipedia.org/wiki/Indonesia</a>. This basically changes language to English Simple.`],
    [`https://twitter.com/cursedpairing/status/1538915458497142784?s=20`,`Yay non ship stuff, Among Us crying eyes`, `cursedpairing`, `& <a href='https://twitter.com/JOELwindows7/status/1575159253685653504?s=20' target="_blank" rel="noopener noreferrer">reply</a>`],
    [`https://mobile.twitter.com/victory_summery`,`Vic is Bored (victory_summery) Twitter`,``, `3D Modeller & Animator`],
    [`https://rentry.org/voldy`,`Voldy, Stable Diffusion AI GUI`,`rentry.org`, ``],
    [`https://youtube.com/@Telepurte`,`Telepurte YouTube channel`,``, `Animation 2D with bit of suggestive thiccness.`],
    [`https://youtu.be/5-mPEKPIjxE`,`Can I get a, HAAAAAAAAAAAAAAAAAAAAAAAA; Super Saiyan & Doom`,`Sergeant Williepete`, ``],
    [`https://youtube.com/shorts/nWFR6s_ksA4?feature=share`,`Peter Griffin broke the 4th wall fan parody`,`MrMrPurple`, ``],
    [`https://wornontv.net/`,`WornOnTV.net`,``, `What are these actor wore on the set, plus where to buy those.`],
    [`https://www.deviantart.com/scorpion87/art/Bmw-z4-51505247`,`BMW Z4 Green; Whatsapp Drip Car`,`Scorpion87`, ``],
    [`https://knowyourmeme.com/memes/drip-car#fn6`,`BMW Z4 Green; Whatsapp Drip Car; Know Your Memes`,``, ``],
    [`https://youtube.com/shorts/wMn-2KRie2I?feature=share`,`Hammerhead worm`,`LindsayNikole`, `This Hammerhead worm is invasive, its slime is toxic & it liquifies earthworms & consume them. It comes from SouthEast Asia and it has been spreading worldwide. If you see this, you must dissolve it immediately by trapping them in a jar full of salt or vinegar, OR freeze them 24 hours until they dissolve.`],
    [`https://youtube.com/shorts/owCWNtWPg6Y?feature=share`,`Super heat base vacuum`, `flemdogscience`, ``],
    [`https://vt.tiktok.com/ZS89puy6M/`,`Nothing like a mango on a fork.....YEAH`, `reuploaded by Jimmy`, ``],
    [`https://youtube.com/shorts/wE0qZRgyrwc?feature=share`,`Nothing like a mango on a fork.....YEAH interpolated 1080p60`, `reuploaded by mamaiymacrimidal`, ``],
    [`https://youtube.com/shorts/K4_9vDsXpGk?feature=share`,`Nothing like a mango on a fork unedited interpolated 1080p60`, `reuploaded by mamaiymacrimidal`, ``],
    [`https://youtu.be/rlkSMp7iz6c`,`Bout hit'em with this furry ${nsfw?`shit`:`8888`}; x3 nose uwu`, `animated by Cruncchy, senzawa cover`, ``],
    [`https://youtu.be/h6DNdop6pD8`,`bad copypasta rap; x3 nose uwu`, `senzawa cover`, `original instrumental privated`],
    [`https://youtu.be/zziJeJ0DdMI`,`SONG NAME x3 nose uwu instrumental GONE!`, `reuploaded by RankAmateur FeelgoodMachine`, `original instrumental privated`],
    [`https://knowyourmeme.com/memes/rawr-x3-you-so-warm`,`bad copypasta rap; x3 nose uwu; Know your Meme`, ``, `original instrumental privated, name still not mentioned`],
    [`https://youtu.be/xmDqILHP4is`,`bad copypasta rap2`, `senzawa cover`, ``],
    [`https://youtu.be/S5cHBB9tVos`,`GILLABEATS - SHAKUHACHI`, ``, ``],
    [`https://www.reddit.com/r/copypasta/comments/30tnk8/gomenasai_my_name_is_kensama_original_ken_sama/`,`bad copypasta rap2`, `r/Faze_noscoper`, ``],
    [`https://youtu.be/tlRByTaOjkE`,`awoo.mp4`, `senzawa`, ``],
    [`https://youtu.be/TDXCqSMpD4c`,`how i sneeze uwu`, `senzawa`, ``],
    [`https://knowyourmeme.com/memes/haiiiii-_-hi-hiiiiii-3-haiiiiii-hii-3`,`hai hi hii, Know your memes`, ``, ``],
    [`https://youtu.be/7awd-y_DTQY`,`Ugh, fine, I guess you are my little pogchamp, come here.`, `PEAR. voice by gothmei (<a href='https://twitter.com/gothmei/status/1309307834677571585' target="_blank" rel="noopener noreferrer">tweet</a> gone)`, ``],
    [`https://youtube.com/@TArrow`,`TArrow YouTube Channel`, ``, `2D Animation featuring Farah & this crazy guy`],
    [`https://youtu.be/tk260d77lqw`,`Bring Me The Horizon - Can you Feel My Heart (instrumental)`, `tgvcrap`, `Gigachad song`],
    [`https://youtu.be/QJJYpsA5tv8`,`Bring Me The Horizon - Can you Feel My Heart`, ``, `Gigachad song`],
    [`https://youtube.com/shorts/e77k4VpFKBM?feature=share`,`Photo the Gura (cosplayed by manjiu1001) underwater`, `manjiu1001`, ``],
    [`https://youtu.be/FrQnTfxFZrA`,`AronChupa, Little Sis Nora - The Woodchuck Song`, ``, ``],
    [`https://youtu.be/SwXKJVAN36s`,`Cast to Family Room TV`, `reupload? Krissanthumum`, ``],
    [`https://youtu.be/ALubA2dxPxg`,`can read Japanese; Left 4 Dead moment`, `gameplay Kora`, `Let me se, uh.. "Taki, I love you. Goodbye."`],
    [`https://youtu.be/PtDiXhjSIfs`,`AROS review`, `Dan Wood`, ``],
    [`https://youtu.be/De_S2dQw19s`,`Hey Spongebob, AISDJFOIAHJSIOLEFH`, `reupload Lindox`, ``],
    [`https://youtu.be/hbqoaJ8sKsQ`,`Arash - Broken Angel`, ``, `I'm so lonely`],
    [`https://youtu.be/GP-vIk2_TPk`,`Winston Churchil Quotes`, `not Winston Churchill`, ``],
    [`https://youtube.com/shorts/tpCHppNUCPk?feature=share`,`ANON NOOOOO`, `Gianni Matragrano ft. TabsterBlaster`, ``],
    [`https://youtu.be/OJ3SRV8QPfU`,`<b>E</b> meme`, `ROHU`, ``],
    [`https://youtu.be/UbWG3yXRkC0`,`Bunga Citra Lestari - Dance Tonight`, ``, ``],
    [`https://youtu.be/WQQD4n9ijy8`,`Amongus got long hands`, `Mayde`, ``],
    [`https://youtu.be/EPCVqt0JNfE`,`I know My voice sucks`, `maitt14`, ``],
    [`https://youtu.be/sFVuhXeJ8t4`,`Nokia Business Update`, `NOKIA`, `Nokia got new logo`],
    [`https://youtu.be/YPZNtHKUZSM`,`God Damn; Gah dayum; Ahh Aghyum!!`, `clip Engers`, `Goofy ah 21 Century Humor sfx`],
    [`https://youtu.be/bLt242CG3uE`,`DJ Tocando crazy scratches; DJ OH GOD!!!`, `Felipe Linz`, ``],
    [`https://youtu.be/wSFbcTnpFCY`,`Not the King - Messages`, ``, `ErDev moment`],
    [`https://youtu.be/xpqqKRlqZfU`,`Payless Experiment`, `Payless`, `Payless experiments by rebrand to Palessi (but no Palessi), and make shoes looks expensive & costs like luxury. Once customer purchased it, the truth revealed that it's basically this shoe for much less & the money paid gets refunded, while letting them to keep the item.`],
    [`https://youtube.com/playlist?list=PL9dVkiittGaDdQlPsX0g9jJ01UkEHAsaw`,`Payless Experiment Playlist`, `Payless`, `All videos about this`],
    [`https://youtu.be/3DnTIPI5u6A`,`I ate my grandma`, `Unique me`, ``],
    [`https://youtu.be/_uN2aPIdVYI`,`chat with 3 week old kitten`, `Cindy Congdon`, ``],
    [`https://youtu.be/Q16KpquGsIc`,`Ronald McDonald Insanity; UN Ronald was him; Touhou McD remix`, `reuploaded by mrhoseshoe`, `<a href='https://sp.nicovideo.jp/watch/sm1919148' target="_blank" rel="noopener noreferrer">original</a> gone`],
    [`https://youtu.be/2-hSoW6yo6M`,`PlEaAaAsE`, `Mayde`, ``],
    [`https://youtube.com/shorts/V1kl10DXtyc?feature=share`,`Cat moms be like`, `eeveeandyoshi`, ``],
    [`https://youtu.be/fFfeKnPCgDE`,`accidentally spray painted to own eyes`, `ejiejidayo`, ``],
    [`https://youtube.com/shorts/9kGWAhYF0xg?feature=share`,`Robot Tattoo despite 2D, almost looks real`, `JustNKD`, ``],

    [`https://twitter.com/kanauru/status/1423602701535911942?t=bPNKHtf9eaD4GYfgT3-M5g&s=19`,`Animated Pikamee plays Connect 4`, `Kanauru`, ``],
    [`https://twitter.com/amanopikamee/status/1630915928723521544?t=bPNKHtf9eaD4GYfgT3-M5g&s=19`,`<b class='error'>(NOT FUNNY, HORRIBLE NEWS)</b> Pikamee Graduation announcement`, `Amano Pikamee`, ``],
    [`https://youtu.be/w_ejnHxTWrU`,`<b class='error'>(NOT FUNNY, HORRIBLE NEWS)</b> Pikamee Graduation announcement`, `Amano Pikamee`, ``],
    [`https://twitter.com/VOMS_Project/status/1630917621750145029?t=bPNKHtf9eaD4GYfgT3-M5g&s=19`,`<b class='error'>(NOT FUNNY, HORRIBLE NEWS)</b> Pikamee Graduation announcement`, `VOMS Project`, `VODs & YouTube Channel will be <b style='font-size:large;' class='error'>privated</b>, Social media will cease activity`],
    [`https://twitter.com/VOMS_Project/status/1630917777111252995?t=bPNKHtf9eaD4GYfgT3-M5g&s=19`,`<b class='error'>(NOT FUNNY, HORRIBLE NEWS)</b> Pikamee Graduation announcement EN`, `VOMS Project`, `VODs & YouTube Channel will be <b style='font-size:large;' class='error'>privated</b>, Social media will cease activity`],
    [`https://odysee.com/@JOELwindows7:a/graduation-of-pikamee:c`,`<b class='error'>(NOT FUNNY, HORRIBLE NEWS)</b> Pikamee Graduation info collection`, `JOELwindows7`, `VODs & YouTube Channel will be <b style='font-size:large;' class='error'>privated</b>, Social media will cease activity`],
    
]
---
{
    dumpQuik.map(stuff => (
    <li><ButtonizedLink href={stuff[0]} target="_blank" rel="noopener noreferrer" set:html={stuff[1]}></ButtonizedLink> <Fragment set:html={stuff[2]}> </Fragment>. <Fragment set:html={stuff[3]}></Fragment></li>
    ))
}
