---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import ServerDesolate from '@components/Messages/ServerDesolate.astro';
import DidNotMarkNSFWProperly from '@components/Messages/DidNotMarkNSFWProperly.astro';

export interface Props{
    nsfw?:boolean;

}

const{
    nsfw=true,

}= Astro.props.frontmatter || Astro.props as Props;
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href={"https://youtu.be/zd7zuqDWgA0"} target="_blank" rel="noopener noreferrer">You Don't Know Cock gameplay</ButtonizedLink> Gameplay by Tere-zander. Download: <a href="https://www.reddit.com/r/Primus/comments/i3ai3t/you_dont_know_cock/" target="_blank" rel="noopener noreferrer">Windows</a>, <a href="https://macintoshgarden.org/games/you-dont-know-cock" target="_blank" rel="noopener noreferrer">Mac Classic</a>. There is no lewd here.</li>
<li><ButtonizedLink href={"https://youtu.be/ifnvAJGGnLo"} target="_blank" rel="noopener noreferrer">EARWAX all sounds</ButtonizedLink> collected by r3dsauc3, thancc sprawlii!. here <a href='https://drive.google.com/drive/folders/1c4Ic1qt116fEEdkW47KXwvKP01Z8UKBf' target="_blank" rel="noopener noreferrer">drive all</a></li>
<li>
    JOELwindows7's YKDJ NSFW Episode Sketches!<br/>
    These are episode sketch for our fan clone You Don't Know Jack stuffs.
    And these are the NSFW episodes
    <ul>
        <li><ButtonizedLink href={"https://github.com/Perkedel/After-Church/blob/master/Documents/Misc/ydkj-cunt.md"} target="_blank" rel="noopener noreferrer">Ep Special R34. You Don't Know Cunt</ButtonizedLink> for Salty Trivia with Candy Barre framework. I was forced by gamers to voice over episode after I just wanted to leave.</li>
    </ul>
</li>
