---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import ServerDesolate from '@components/Messages/ServerDesolate.astro';
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href={"https://twitter.com/ValidHeretic/status/1255551041266843648?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">Valid Heretic's Belladonna Blender 3D Model</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/Idsaybucketsof2/status/1571839727183040512?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">Idsaybucketsofart's Mangle Blender 3D model</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/Xaz3D/status/1576437778010632193?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">Xaz3D's Meowskull 3D model</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/zebjzz/status/1597991451702747136?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">Zebjo's KM Style Whisper & Tangle SFM 3D model</ButtonizedLink> Message Zebjo if you'd like to port to Blender</li>
<li><ButtonizedLink href={"https://twitter.com/zebjzz/status/1600191362074259456?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">Zebjo's KM Style Whisper & Tangle Announce release</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/Diag34K/status/1601832582286438400?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">Diag34K's Lanolin SFM 3D Model</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/heart_fetis/status/1517875657040347136?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">heart_fetis's Feel her heart Video</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/yukisuke_gt/status/1589172726937587712?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">Yukisuke's Examine & Doppler her heart Video</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/yukisuke_gt/status/1601551759704723457?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">Yukisuke's & then stab her heart Video</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/SpeedoNSFW/status/1595937508029865985?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">Speedo's Yoruichi Beach play Video</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/SpicyF4u/status/1636373640039243778?t=gcwQTemTDhC85s6fWTknuw&s=19"} target="_blank" rel="noopener noreferrer">Spicy4U's Evil Marcy nude Xray torso reveal heart & stomach organs</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/Jourd4n_/status/1343092750225272833?t=yn5eqM7pzuizaqTNO9mTkw&s=19"} target="_blank" rel="noopener noreferrer">Jourd4n's Derpina can be never not hot</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/blook_ester_lol/status/1343182615285678080?t=yn5eqM7pzuizaqTNO9mTkw&s=19"} target="_blank" rel="noopener noreferrer">blook_ester_lol's Derpina can never be hot nvm</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/blook_ester_lol/status/1343182643689476102?t=yn5eqM7pzuizaqTNO9mTkw&s=19"} target="_blank" rel="noopener noreferrer">blook_ester_lol's Derpina can never be hot nvm 2</ButtonizedLink></li>