---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import ServerDesolate from '@components/Messages/ServerDesolate.astro';
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink></li> -->
<li><ButtonizedLink href={"https://twitter.com/DANCADA_3D/status/1491244970644471809?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">DANCADA_3D's Sonic Hedgehog Blender 3D Model</ButtonizedLink></li>

<li><ButtonizedLink href={"https://twitter.com/pablodp606/status/1222622166149140482?s=20&t=7YdauZfQBa9wUE7m6N41eg"} target="_blank" rel="noopener noreferrer">Pablo Dobaro's Cloth Sculpt Blender development log</ButtonizedLink></li>

<li><ButtonizedLink href={"https://twitter.com/kanauru/status/1423602701535911942?t=bPNKHtf9eaD4GYfgT3-M5g&s=19"} target="_blank" rel="noopener noreferrer">Pikamee plays Connect 4</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/amanopikamee/status/1630915928723521544?t=bPNKHtf9eaD4GYfgT3-M5g&s=19"} target="_blank" rel="noopener noreferrer">Pikamee graduation announement</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/VOMS_Project/status/1630917621750145029?t=bPNKHtf9eaD4GYfgT3-M5g&s=19"} target="_blank" rel="noopener noreferrer">Pikamee graduation announement from VOMS</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/VOMS_Project/status/1630917777111252995?t=bPNKHtf9eaD4GYfgT3-M5g&s=19"} target="_blank" rel="noopener noreferrer">Pikamee graduation announement from VOMS EN</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/Raziel10000/status/1630969741954220032?t=bPNKHtf9eaD4GYfgT3-M5g&s=19"} target="_blank" rel="noopener noreferrer">Another info Graduate Pikame</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/ToastCrust/status/1630953751673716743?t=bPNKHtf9eaD4GYfgT3-M5g&s=19"} target="_blank" rel="noopener noreferrer">Another info Graduate Pikame</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/Magdaraya559/status/1630924973459005445?t=bPNKHtf9eaD4GYfgT3-M5g&s=19"} target="_blank" rel="noopener noreferrer">Another info Graduate Pikame,...</ButtonizedLink></li>
