---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import ServerDesolate from '@components/Messages/ServerDesolate.astro';
---
<li><ButtonizedLink href="https://prismlauncher.org/" target="_blank" rel="noopener noreferrer">Prism Launcher</ButtonizedLink> 
    Comprehensive Minecraft Java launcher, featuring easier mod installers. 
    Source code 
    <a href="https://github.com/PrismLauncher/PrismLauncher" target="_blank" rel="noopener noreferrer">
        at this GitHub repo
        </a>.
    </li>
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">???</ButtonizedLink></li> -->
<li><ButtonizedLink href={"https://lambdaurora.dev/optifine_alternatives"} target="_blank" rel="noopener noreferrer">LambdAurora's List of Optifine alternative</ButtonizedLink>
    List of Optifine alternatives.<br/>
    older list:
        <ul>
            <li><a href="https://gist.github.com/LambdAurora/1f6a4a99af374ce500f250c6b42e8754" target="_blank" rel="noopener noreferrer"><code>optifine_alternatives_fabric.md</code> gist</a></li>
        </ul>
    </li>
<li><ButtonizedLink href={"https://gist.github.com/CarbonGhost/748742abff3a7386940f1c5de42afe69"} target="_blank" rel="noopener noreferrer">CarbonGhost's List of Optifine Alternative</ButtonizedLink> (spoiler alert, OptiFine is Proprietary Gratis & the cape only be acquirable by donating)</li>
<li><a href="https://client.badlion.net/id" target="_blank" rel="noopener noreferrer">Badlion Client</a> a Minecraft Launcher that manages mods as PhoenixSC did used!</li>
<li><a href="https://prismlauncher.org/" target="_blank" rel="noopener noreferrer">Badlion Client</a> a profile managed Minecraft Launcher that manages mods as every guides for Steam Deck recommends! here source code <a href="https://github.com/PrismLauncher/PrismLauncher" target="_blank" rel="noopener noreferrer">Source code pls</a></li>
<li><ButtonizedLink href={"https://youtu.be/wDeIV0IafvY"} target="_blank" rel="noopener noreferrer">Minecraft 4Kb</ButtonizedLink>Minecraft 4 Kilobytes editions from Java 4K Challenge (& is a winner back then). <a href="https://archive.org/details/Minecraft4K" target="_blank" rel="noopener noreferrer">here Download</a></li>