---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import PlaySoundButton from '../PlaySoundButton.astro';
import SpotifyContainsDRM from '@components/Messages/SpotifyContainsDRM.astro';
// import { Time } from '@astro-github-elements/time';

export interface Props{
    nsfw?:boolean;

}

const{
    nsfw=false,

}= Astro.props.frontmatter || Astro.props as Props;

const dumpQuik:Array<Array<string>> = [
    // Sauce URL, Button Label, Author, Info
    [`https://youtube.com/playlist?list=PLoenwhUTF1kFzQ8rggbQDLCmLLiOJTpSR`,`Joel's Memes YouTube Playlist`,`JOELwindows7`,`Yes, my meme!`],
    [`https://youtu.be/ArJe--CGatg`,`Momiji plays flute`,`Daniel Renard`, `oh yess, this cute one.`],
    [`https://youtu.be/82R3FH-n7-Y`,`Giancarlo will face you now. Far Cry 6`,`Ubisoft`, `HAHAHAH!! I was acting. <b class='error'>or was I?</b>`],
    [`https://youtu.be/hU5_-liJ_bY`,`Giancarlo will face you now. Far Cry 6, snip cut no watermark`,`Clip Chand Co. Films`, `HAHAHAH!! I was acting. <b class='error'>or was I?</b>`],
    [`https://youtu.be/1xhz2BR7SVY`,`Submerge Tylenol Rapid Release Gel tablet into a bowl of water`,`What Happens`, ``],
    [`https://youtube.com/shorts/PGThll6-i08?feature=share`,`LEGO used to help mold a concrete bed foundation`,`HomeMadeModern`, ``],
    [`https://youtu.be/jBktddQX47U`,`Fully Operational huh? Clip Flap jacksdflkjasdkfklasdkf`,`kraklp0p`, ``],
    [`https://youtube.com/shorts/O64iobAfWD4?feature=share`,`Alicia & boyfriend tries a cinema in Zurich, it is very uncomfortable & tiring`,`AliciaMillennium`, `They tried a cinema somewhere in Zurich. The situation is baffling as the size of one theater is really small, narrow legroom, and other discomforts. So much in the middle of film has 10 minutes break. Well, I agree to people said in the comments, XXI (& every theaters in Indonesia pretty much) is way better than everyone else. It's luxurious, wide legroom, big size, best sound & visuals, and best & hygienic facilities, also best Snacks & beverages. and since is way comfortable, there is no break needed at all!`],
    [`https://youtu.be/77fAMqoYPPM`,`Dolby Spheres 7.1 intro (double D)`,`Dolby`, `the famous intro for Surround sound 7.1 Speakered theatre`],
    [`https://youtu.be/t4G9wSjNyjk`,`Dolby Spheres 7.1 intro (7.1)`,`Dolby`, `the famous intro for Surround sound 7.1 Speakered theatre`],
    [`https://youtu.be/H46Kil1k-m8`,`Dolby Escape animation`,`Dolby`, ``],
    [`https://youtu.be/KA6azZALMiE`,`Dolby Silent animation`,`Dolby`, ``],
    [`https://youtu.be/pd_6WN9GVtQ`,`Dolby Conductor intro`,`Dolby`, `for Atmos speakered theatre`],
    [`https://youtu.be/3TOlN9dLpi8`,`Dolby Horizon trailer`,`Dolby`, `for Atmos speakered theatre`],
    [`https://youtu.be/AcJ3jPh_294`,`Dolby 3D Glasses PSA`,`Dolby`, `for Dolby 3D powered theatre`],
    [`https://en.wikipedia.org/wiki/Roundhay_Garden_Scene?wprov=sfla1`,`Roundhay Garden Scene Wikipedia article`,``, `one of the 1st or earliest ever film.`],
    [`https://en.wikipedia.org/wiki/The_Horse_in_Motion#%3A%7E%3Atext%3DThe_Horse_in_Motion_is%2Cthe_photographs_in_June_1878.?wprov=sfla1`,`The Horse in Motion Wikipedia article`,``, `Very first ever film`],
    [`https://youtu.be/Fve_lHIPa-I`,`Unravel`,`pls jp name`, `Tokyo Ghoul song`],
    [`https://youtube.com/@ScrubDaddyOfficial`,`Scrub Daddy YouTube Channel`,``, `Scrub Daddy is a series of kitchen cleaning product, famous for their all-effective sponge called <code>Scrub Daddy</code>`],
    [`https://youtu.be/DEXDDyb6t2o`,`Secondhand Serenade - Fall For You`,``, `Because tonight will be the night I will fall for you`],
    [`https://youtube.com/shorts/o4cTO-jfxnM?feature=share`,`pls tape balloon`,`y._.y`, `Balloon made out of nano tape`],
    [`https://youtu.be/a_3UQYo599g`,`I made a poo poo, <b>AEAE</b>`,`KirillKa2D`, ``],
    [`https://youtu.be/IxE1txIgwdA`,`Mighty Eagle No.`,`clip by dog man`, ``],
    [`https://youtu.be/3j6W0RpxzEg`,`I could probably beat ramiel in a fight`,`Boritoz109`, `NEVER FLIP BIRD TOWARDS RAMIEL!!!`],
    [`https://youtube.com/playlist?list=PL0DBiKbNt4jSmzxrq9GVbClbHNo7xiMtP`,`Reuploaded Timotainment facts Playlist`,`Collected by Nash Peleuses`, ``],
    [`https://youtube.com/playlist?list=PLQpyKPAwxukdt3b25lPjdSnaxxFjTQWf1`,`Other facts Playlist`,`Collected by Oil`, ``],
    [`https://youtube.com/playlist?list=PL8BOssru-xo1WqIqTSqJZGBylLH4hPmSY`,`Every Facts Playlist`,`Collected by ping pong productions`, ``],
    [`https://youtube.com/playlist?list=PLFMbFHOzYoqZAlVTkr-5_73dlgwg7A160`,`Reuploaded Meme Lads Playlist`,`Reuploaded & Collected by wolfboyft`, ``],
    [`https://youtube.com/playlist?list=PLfLS9kF3xAaiVvroxyPRRBLhR3YdXr_-z`,`Meme Lads. Meme songs playlist`,`Collected by Chris R. Witt`, ``],
    [`https://youtu.be/5jKZ9KGtee0`,`Squish that cat`,`Cavin Weber`, `all you have to do it squish that cat`],
    [`https://youtu.be/XR3KWRDK3_U`,`Terry Bozzio - Guitar Center Drum Off 2011 pt. 1`,`Guitar Center`, `Ultimate many Drum kit`],
    [`https://www.reddit.com/r/kraccbacc/comments/109s161/follow_up_to_my_previous_post_the_full_archive_of/?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=1&utm_content=share_button`,`Reupload Kracc Bacc`,`u/BigAlOopine`, ``],
    [`https://drive.google.com/drive/u/0/mobile/folders/199FiRtxnC1V3k1OGvs2ihcE8ve0zUl72`,`Reupload Kracc Bacc Drive`,`u/BigAlOopine`, ``],
    [`https://www.reddit.com/r/kraccbacc/comments/10agwma/created_an_archive_of_every_kracc_bacc_video/?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=1&utm_content=share_button`,`Reupload Kracc Bacc`,`u/sir___dog / sir dog sus`, ``],
    [`https://archive.org/details/kraccbacc`,`Reupload Kracc Bacc Archive`,`u/sir___dog / sir dog sus`, ``],
    [`https://www.reddit.com/r/funny/comments/i4jao3/what_if_we_use_100_of_our_brain/?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=1&utm_content=share_button`,`What if we use 100% of our brain? Charging iPhone illegally it explodes`,`u/KhalifaXZ`, ``],
    [`https://youtu.be/7ecYoSvGO60`,`Morty crashes into Simpsons couch gag & destroyed them`,`Adult Swim`, ``],
    [`https://youtu.be/IdeSN54Ndo0`,`In Shapes`,`Blue Zoo Animation Studio`, `Be yourself, & don't be ashamed about your body. ye.`],
    [`https://youtu.be/y5rita8a9_E`,`Organ Stories`,`Splapp-me-do`, `damage progress to body inside`],
    [`https://youtube.com/shorts/Wx-GlG8HSM8?feature=share`,`Borzoi. Why would you leave me for him`,`DrawzillaZZZ`, ``],
    [`https://youtube.com/@StormXF3`,`StormXF3 YouTube Channel`,``, `Pony Animation in real life`],
    [`https://youtube.com/shorts/tmNeGjOJ1VY?feature=share`,`Tap maine coon orange belly`,`Sahabatpetualang28`, ``],
    [`https://youtu.be/wbkSICKLgbU`,`Open na noor FULL VIDEO`,`ItsDK`, ``],
    [`https://youtu.be/LdXu6hxEdEk`,`RED HEAT (1988) (Arnold Schwarzenegger) CLIP, <i>Cocainum!</i>. `,`JoBlo Movie Clips`, ``],
    [`https://youtu.be/g3d33AjzA-8`,`All 50+ Autodesk software explained in 12 Minutes `,`Humtog`, `Autodesk had every softwares for every industry sectors!!!`],
    [`https://youtu.be/IAMKRuuLczM`,`This is my come milk explodos`,`AnAverage2KMobilePlayer`, ``],
    [`https://youtu.be/rrNFXRyvtKE`,`YOU FOOL! I HAVE 70 ALTERNATIVE ACCOUNTS!`,`SonicGamingTV2019`, ``],
    [`https://youtu.be/Onk8ZYA-ibg`,`Failed Foxy Jumpscare FNAF`,`[Mustafaxy💀 ]`, `Foxy jumpscares nano second before the 6 AM reached, which is still 6 AM.`],
    [`https://youtu.be/q4vy7BcAVJg`,`Hampter`,`Breadcrumbx`, ``],
    [`https://youtu.be/7L3EK7JFj7c`,`Obamna Soda 3D (no 3D model)`,`Cheese Man Media`, ``],
    [`https://youtu.be/30Ysa3A2WMU`,`Danny Devito. Oh my God... I get it.`,`Regan clip`, ``],
    [`https://youtu.be/NdxWyzF_dIw`,`Danny Devito. Oh my God... I get it. subbed`,`Moon's Meme Dump clip`, ``],
    [`https://youtu.be/jO3KC_mvE74`,`LOOOOOO...`,`7th Helix`, `Merrie Melodies clip`],
    [`https://youtu.be/uKYV2qjYIS0`,`Spoodemr-man across the spooder-verse trailer`,`Laugh Over Life parody`, ``],
    [`https://youtu.be/repSd3g9Njg`,`YOU'VE BEEN HOODWINKED BABY`,`hypnadot`, ` Conker gameplay`],
    [`https://youtu.be/R5n2Fk1pAXo`,`Hatsune Miku Brain Excercise`,`reuploaded by rediakaikai`, ``],
    [`https://nico.ms/sm7017661?ref=other_cap_off`,`Hatsune Miku Brain Excercise`,`hapi⇒`, ``],
    [`https://gensmak.com/`,`Gensmak. Trivia Card Game for every generations. Has Web version`,``, ``],
    [`https://youtube.com/shorts/AMZYXLVmAWA?feature=share`,`Gensmak review`,`xSadShadowx`, ``],
    [`https://youtu.be/BsIa_LKojJI`,`Antony C - You've been trolled`,``, ``],
    [`https://youtu.be/F4zEAPZxtBA`,`Trololo man now`,`MURINSKIY`, `Edward Khill (🪦) outside in snow`],
    [`https://youtu.be/PL8CD8PjVmA`,`Trololo 2012 Live`, `David Smolyanov`, `Edward Khill (🪦) live show`],
    [`https://youtube.com/@MgagsClipsFun`,`Mgags Clips YouTube Channel`, ``, `Magic secrets exposed`],
    [`https://youtu.be/dVfePYjW3MI`,`D1ofAquavibe - The Party Troll`, ``, ``],
    [`https://youtu.be/UHTFCZgm6HU`,`D1ofAquavibe - The Happy Troll`, ``, ``],
    [`https://youtu.be/gkTb9GP9lVI`,`Eduard Khill - I'm glad I am finally back home (Trolololo song)`, `reuploaded by JwHDify`, ``],
    [`https://youtube.com/playlist?list=PLYliyBNJWxNRyPVFuLG3rRcEZ9Uda3dUV`,`Trolling Music Playllist`, `stubby.junior collection`, ``],
    [`https://youtu.be/rvfcXTuMerQ`,`Kratos Car`, `Acysu`, ``],
    [`https://youtu.be/ZWIsdmFy-uA`,`Grilled Obama Cheese Sandwich`, `Typo Joe MMXXIII`, ``],
    [`https://youtu.be/4aKBiPRHocY`,`Brush Animated Shorts`, `Garrett Animates`, ``],
    [`https://youtu.be/QrK1ipUYYW4`,`Voicemail from my Dad animated`, `Garrett Animates`, ``],
    [`https://youtu.be/JnkAlwMjalc`,`Animating Arms`, `Doodley`, ``],
    [`https://youtube.com/shorts/IILQHXAExrg?feature=share`,`Stockfish Chess AI vs. Tandy Chess Computer`, `BuildyBryce`, ``],
    [`https://youtube.com/shorts/6NNIccaxBV8?feature=share`,`Sigma Cat`, `argenby`, ``],
    [`https://youtube.com/@JKBrickworks`,`JK Brickworks YouTube channel`, ``, `LEGO custom builds`],
    [`https://youtu.be/EneC23krrrM`,`No no, you're still.. HOLDING ON!! LET GO.`, `reactionvids clip`, `Star Wars: The Last Jedi`],
    [`https://youtu.be/vhuY8Kcm_Hg`,`No? Check under your foreskin. Card burst from guy's crotch`, `meme archive reuploads`, ``],
    [`https://youtu.be/F90Cw4l-8NY`,`Bastille - Pompeii`, ``, `But if you close your eyes. EY YO, coz it almost feels like nothing changed at all...`],
    [`https://youtu.be/ON_F0M0qGkM`,`Horizontally spinning bocchi`, `volare`, `Rat replace with Bocchi the Rock`],
    [`https://youtu.be/_lFlmFoGhjc`,`You gonna miss me when I'm gun`, `BlackCap Productions`, `When I'm Gone but handgun`],
    [`https://youtu.be/cmSbXsFE3l8`,`Anna Kendrick - Cups`, ``, `When I'm Gone`],
    [`https://youtu.be/8I9Tjmz-z2U`,`Getaway 2022: Part 6 Wilpena to Arkaroola`, `RMichael`, ``],
    [`https://youtu.be/fRvlBczUDXs`,`Getaway 2022: Part 6 Wilpena to Arkaroola but just the Wild Budgies`, `RMichael`, ``],
    [`https://youtube.com/@Vincoo`,`Vincoo YouTube Channel`, ``, `owns meme posting website <a href='https://lahelu.com' target="_blank" rel="noopener noreferrer">Lahelu.com</a>`],
    [`https://lahelu.com`,`lahelu.com`, ``, `Meme posting website`],
    [`https://youtu.be/5GSBsxBfKi8`,`Original Acumalaka`, `reuploaded by Kurizu Meme`, ``],
    [`https://youtu.be/VtGvTT2r_o4`,`Acumalaka`, `reuploaded by Meme sound efects`, ``],
    [`https://youtu.be/vBe0_Rh1Th0`,`Acumalaka Full loud`, `reuploaded by Giga-N8888`, ``],
    [`https://youtu.be/wVmZD4pZ9PE`,`Acumalaka Semi full`, `reuploaded by Random Ajalah`, ``],
    [`https://vt.tiktok.com/ZS8HLHFu9/`,`Tutorial How to Sit`, `Angry Emo Fish`, `Low Quality Meme`],
    [`https://vt.tiktok.com/ZS8HLBe72/`,`Tutorial How to Call`, `Angry Emo Fish`, `Low Quality Meme`],
    [`https://www.tiktok.com/@angry_emo_fish?_t=8a9XqZe7U4f&_r=1`,`Angry Emo Fish TikTok channel`, ``, `Low Quality Meme`],
    [`https://vt.tiktok.com/ZS8HDm1Qe/`,`China Lore pls this weird lmao`, `BAKU`, ``],
    [`https://youtu.be/fG7qz66Ty48`,`EEEEEEEE, it's in the game`, `Electro`, ``],
    [`https://youtu.be/9Mby6_RFlKk`,`Why are These People Allowed TO Have Children?!`, `MaximBrady`, `<i>Ladies & Gentlemen. I I.., I think my brain has commited suicide.</i>`],
    [`https://youtu.be/9t3qXXJSaKk`,`Bababooey full clip`, `reuploaded by Codex`, ``],
    [`https://youtu.be/Qskm9MTz2V4`,`Sheet Music Boss - RUSH E`, ``, ``],
    [`https://youtu.be/w9CMqN04b38`,`Stan Twitter: Animoji head turning to Mask by Dream`, `Ethan Teehee`, ``],
    [`https://youtu.be/enBlo_KiRTk`,`Markiplier plays horror game & shout <i>triple k</i>`, `clip No Context Markiplier`, ``],
    [`https://youtu.be/LLJzwktdOFI`,`Among Us theme Indian`, `Dairomold`, ``],
    [`https://youtu.be/FWgfBWKUP_o`,`Animated 3D Valiant Hero Henry Stickmin`, `Victor is Bored (victor_summery)`, ``],
    [`https://youtu.be/X9fFMUJ9bUQ`,`all dna production logo outro <i>Hi, I'm Paul!</i>`, `clip collected by Random YouTube Crap`, ``],
    [`https://youtu.be/H9sOkH8bhGA`,`I DEFY YOU HEARTMAN, Spongebob clip`, `ImmaPatrick2`, ``],
    [`https://youtu.be/sE8pQqv5JQg`,`Jink is angy`, `Empty cat 🦇`, ``],
    [`https://youtu.be/Dq_jcUgBzt8`,`EA Sport famous intro`, `recorded by Jolan Agbuya`, `E, A, Sports. it's in the game.`],
    [`https://youtu.be/74qsaPK6TCc`,`EEEEEEEEEEEEEEEE`, `Meme edit VIRTUAL ESSENCE`, ``],
    [`https://youtu.be/ThJapGxptKw`,`EEEEEEEEEEEEEEEE blackhole`, `Meme edit VIRTUAL ESSENCE`, ``],
    [`https://youtu.be/npaR8g-jdFU`,`EEEEEEEEEEEEEEEE enters & leaves`, `Meme edit VIRTUAL ESSENCE`, ``],
    [`https://youtu.be/H-_ElQRDDzk`,`E, E E. E E E E.`, `FUnky Dinosaur`, ``],
    [`https://youtu.be/mOanPc8Vhmw`,`E A E, YEAY`, `COuntryclubguy`, ``],
    [`https://youtube.com/@Blippi`,`Blippi YouTube Channel`, ``, `Educational videos for Kids. Explores stuffs around the world featuring Blippi (& sometimes Meekah).`],
    [`https://youtube.com/@PrinceEa`,`Prince Ea YouTube Channel`, ``, `Motivational Film Speech`],
    [`https://youtu.be/eIlT52j3lSo`,`What is that Rushed Vent`, `⚡S4MMY⭐`, ``],
    [`https://youtu.be/8lks80dbMUQ`,`Avenged Sevenfold - Natural Born Killer`, ``, ``],
    [`https://youtu.be/Jp02zEGc3cM`,`Feddy`, `Mechas`, ``],
    [`https://youtube.com/@rocketjump`,`fredieww / Rocket Jump YouTube Channel`, ``, `funny CGI film`],
    [`https://youtu.be/H6T1FW7qMxA`,`Hello mother${(nsfw?`fucker`:`pecker`)}`, `reuploaded by OMGBERAW`, ``],
    [`https://youtu.be/Qr3GAFsXX_I`,`Look at this dude`, `reuploaded by PewDiePie Pie (not PewDiePie)`, ``],
    [`https://youtube.com/@angethegreat`,`Ange the Great YouTube Channel`, ``, `Engine Audio Simulator`],
    [`https://github.com/Engine-Simulator/engine-sim-community-edition`,`Engine Simulator Community Edition (Empty source code)`, `Ange the Great`, `Engine Audio Simulator`],
    [`https://github.com/ange-yaghi/engine-sim`,`Engine Simulator Original Source code`, `Ange the Great`, `Engine Audio Simulator`],
    [`https://youtu.be/XgNI_haDmAA`,`Sonic eats lemon & dies`, `Oliver Teesdale`, ``],
    [`https://youtu.be/MCP8_DP52yo`,`Paimon eats lemon & dies`, `Syn`, ``],
    [`https://youtu.be/fQOmAT457_A`,`Paul Wilbur - For Your Name Is Holy (Sebab namaMu Kudus)`, ``, ``],
    [`https://youtu.be/WRLjNzTAT-M`,`Unovans Be Like`, `Animated by PEAR, ft. _R0ACH__`, ``],
    [`https://twitter.com/TheCappuccino04/status/1331828511238201349?s=20`,`Unovans Be Like`, `TheCappuccino04`, ``],
    [`https://youtube.com/@engineerguyvideo`,`Engineer Guy YouTube Channel`, ``, `Pls, where has he been? no uploads anymore!`],
    [`https://youtu.be/PdCgmL1EocU`,`Give Me Rent!; You get your rent WHEN YOU FIX THIS DAMN DOOR!!`, `Clark Kent's clip (not Superman one)`, ``],
    [`https://youtu.be/39UDZMgPg5k`,`Was ist dein Lieblingsfach`, `Levon`, ``],
    [`https://youtu.be/sLgz57tguKo`,`Måneskin - Beggin'`, ``, ``],
    [`https://youtu.be/tyYwOEKKcZc`,`Troye Sivan - Angel Baby`, ``, ``],
    [`https://youtube.com/playlist?list=PLMJCbUcidpbqoaR6VGgynUMWdMeuvpfkG`,`Subway Surfers Animated Series`, `SYBO TV`, ``],
    [`https://youtu.be/6WIaOj5YLH8`,`Bocchi the Apex Legend`, `reuploaded by pls Mandarin name`, `parody the Apex Legend`],
    [`https://m.bilibili.com/video/BV1Wy4y1X7W1?ts=1677340283&spmid=333.401.click.share&h5_buvid=2D8D7CAA-AA37-DAA5-4C4A-2013DB6CE39367928infoc&unique_k=&bsource=&openid=&wxfid=&page=0`,`Bocchi the Apex Legend`, `ZhYiyii`, `parody the Apex Legend`],
    [`https://youtu.be/3CxKzbuTZbA`,`Play the music with telephone keypad tone`, `pls jp name`, ``],
    [`https://youtu.be/drYe1He5YfI`,`Flight React ception`, `turtle999`, ``],
    [`https://youtu.be/9CwyJXnJWwM`,`flightreacts gets scared for 8 minutes`, `clip FTC Productions`, ``],
    [`https://youtu.be/jO8o5LLmpR8`,`flightreacts scream greenscreen`, `clip greenscreened Joseph Tolmes`, ``],
    [`https://youtu.be/yxvijbVlr4o`,`oh the floor cracked, I believe I might fall`, `VerticalPlug`, `<b class='warning'>Profanity</b>`],
    [`https://youtube.com/shorts/kt4JnEnsUZE?feature=share`,`Attempt catch Pikachu went wrong Critical`, `SQUiNK`, `<b class='warning'>Fantasy gore</b>`],
    [`https://vt.tiktok.com/ZS8HfFgpj/`,`slap mannequin head bonk`, `Washoma`, ``],
    [`https://vt.tiktok.com/ZS8HfSpTP/`,`Carl don't feel so good Lady Gaga bad romance`, `reupload Glamrock_Freddy`, ``],
    [`https://vt.tiktok.com/ZS8HfY7MD/`,`Five Knights at Freddy's FNAF edit fantasy`, `80'sDarkfantasy`, ``],
    [`https://vt.tiktok.com/ZS8HfhCS6/`,`Love you So tiktok sound`, `The King Khan & BBQ Show`, ``],
    [`https://youtu.be/2owaKucyU1Y`,`Horrible Windows 95 Commercial [Retro 90's Ad]`, `reuploaded by Atombombmother`, ``],
    [`https://youtu.be/Ci28GVh5_Bs`,`Amen Break Sample 136 BPM`, `Clipped by tavolga`, ``],
    [`https://youtu.be/DGWmt-KEbV4`,`Bocchi holds A-Site, Counter Strike`, `tenshii`, ``],
    [`https://gist.github.com/rxaviers/7360908`,`Markdown Checklist cheat sheet`, `rxraviers`, ``],
    [`https://youtube.com/@ArcadeAssassin`,`Arcade Assassin YouTube Channel`, ``, `${(nsfw?`Shit`:`Poop`)}post Childish Windows Movie Maker style memes`],
    [`https://youtu.be/YZrErQfqVjE`,`COMEDY`, `Sr Pelo`, ``],
    [`https://youtube.com/@SrPelo`,`Sr Pelo YouTube Channel`, ``, `Funi memes`],
    [`https://youtube.com/@DalangPelo`,`Dalang Pelo YouTube Channel`, ``, `Not to be confused!`],
    [`https://youtu.be/7WYIu0mRXYQ`,`Vinesauce & Gawr Gura plays Fireworks Mania & explosion gone funi crazy`, `clipped by Vtuber Clips To Speen To`, ``],
    [`https://youtu.be/J0AXIZgB5ts`,`half life bird`, `b2xgh2st`, ``],
    [`https://youtube.com/playlist?list=PLvxQ-bIWiMnnwVEjI_I3V0pwZ7hLgt9Vd`,`Half Life Memes Collections Beter V2`, `Playlist by Blaine Menear`, ``],
    [`https://youtu.be/UP1mKveeNIA`,`Half Life PC Building`, `edit meme clips`, ``],
    [`https://youtu.be/HzBRbWtUL08`,`Half Life Cooking Pelmeni`, `TheMostUpset`, ``],
    [`https://youtu.be/W5Sq71VTJ9Q`,`Mareux - The Perfect Girl`, ``, ``],
    [`https://youtu.be/vZOxYmQgxiM`,`Silo noor, Open the noor Half Life`, `Eltorro64Sus`, ``],
    [`https://youtube.com/@purinharumaki_karameru`,`Purinharumaki Karameru YouTube Channel`, ``, `funi cat & axolotl exageration moments animations`],
    [`https://youtu.be/L4queDKbTHY`,`Hey Spongebob Horn`, `Loopy Doop`, ``],
    [`https://youtu.be/cy8P-z5YjOE`,`Airhorn sound effect long`, `HyperView`, ``],
    [`https://youtu.be/9PpXu-2fPHc`,`Aerosmith - Dream On`, ``, ``],
    [`https://youtu.be/c4ZsqBWTOAw`,`48 FPS Animation`, `Mayde`, `This is 48 frames per second. <b style='font-size:large;'>AAAAAAAAAAA!!!!</b>`],
    [`https://twitter.com/mayyde/status/1386913431601795073?s=20`,`48 FPS Animation`, `Mayde`, `This is 48 frames per second. <b style='font-size:large;'>AAAAAAAAAAA!!!!</b>`],
    [`https://twitter.com/mayyde/status/1386914388746063872?s=20`,`48 FPS Animation Interpolated DAIN`, `Mayde`, `This is 48 frames per second. <b style='font-size:large;'>AAAAAAAAAAA!!!!</b>`],
    [`https://youtube.com/@camman18`,`camman18 YouTube Channel`, ``, `Minecraft streamer Pro Parkour Get Diamond Challenges`],
    [`https://youtu.be/5JQBPK94UI8`,`Here's your Liver Back.`, `Luke Correia`, ``],
    [`https://youtube.com/@ThisDoesNotCompute`,`This Does not Compute YouTube Channel`, ``, `Old Retro stuffs Reviews`],
    [`https://youtu.be/D1K5vDgFOoA`,`Patrick, nice c${nsfw?`ock`:`888`} editeh`, `Master-Yoshi`, ``],
    [`https://youtube.com/shorts/oXfkbzaj39g?feature=share`,`Peter the new Don of Quahog`, `clip notfamilyguy2469`, ``],
    [`https://knowyourmeme.com/memes/wesley-snipes-crying`,`Wesley Snipes Crying, Know Your Memes`, ``, ``],
    [`https://youtu.be/K4lTsRzlorA`,`Wesley Snipes Crying, New Jack City (2011) - My Brother's Keeper Scene (8/10)`, `Movieclips clip`, ``],
    [`https://youtube.com/shorts/SObe-lU3FSI?feature=share`,`They forgot to put Double Jump - Buck Thunder II`, `CyphersPitGaming gameplay`, ``],
    [`https://youtube.com/shorts/t6IfQo6DgU8?feature=share`,`Rush Hour 1 Behind the Scene Fight scene`, `clip christiancagadasvlogs`, ``],
    [`https://youtu.be/a0DbzUe-r4Q`,`Fazlija - HELIKPTER (Official Video) prod. by JOKER`, ``, ``],
    [`https://youtu.be/3ExGuHWdXCE`,`Fazlija - HELIKPTER `, ``, ``],
    [`https://knowyourmeme.com/memes/skull-cow-isnt-real-it-cant-hurt-you`,`Skull Cow Isn't Real, It Can't Hurt you, Know your Memes `, ``, ``],
    [`https://knowyourmeme.com/memes/all-your-base-are-belong-to-us`,`All your base are belong to us, Know your Memes `, ``, ``],
    [`https://knowyourmeme.com/memes/uh-oh-you-found-the-toothpaste-big-and-small-house-toothbrush-minigame`,`Uh oh you found a toothpaste Big & Small House, Know your Memes `, ``, ``],
    [`https://knowyourmeme.com/memes/hand-pointing-a-gun`,`Hand gun point clip art, Know your Memes `, ``, ``],
    [`https://youtube.com/@raredoodle`,`Rare Doodle YouTube Channel `, ``, `Animation. Queen Bee & Worker Bee`],
    [`https://www.tiktok.com/@raredoodle`,`Rare Doodle TikTok `, ``, `Animation. Queen Bee & Worker Bee`],
    [`https://vt.tiktok.com/ZS8CBUhqJ/`,`Michael Jackson like longleg spider `, `raredoodle`, ``],
    [`https://vt.tiktok.com/ZS8CpC8Xh/`,`<code>But, the kid is not my son</code> voices like Michael Jackson `, `Mommy pig`, ``],
    [`https://vt.tiktok.com/ZS8CpbWcS/`,`<code>But, the kid is not my son</code> voices like Michael Jackson (SOUND)`, `Mommy pig`, ``],
    [`https://youtu.be/Pf0qhD98BsQ`,`Bocchi the "rock"`, `DEEPPEN`, `Literally rock`],
    [`https://youtu.be/9u3QegRE5sA`,`An Average MJD Video`, `Michael MJD`, `And the power just went out 🗿.`],
    [`https://youtu.be/ZVXT0pnNJZ4`,`Masha clip lip sync to ${nsfw?`poosie clean poosie tight poosie fresh`:`pussy clean pussy tight pussy fresh`}`, `Kxsen`, ``],
    [`https://youtu.be/7gkcDr6AzKY`,`Fake MrBeast THE FOG IS COMING`, `mr giggler`, ``],
    [`https://youtu.be/pcw-JItoL1U`,`FNAF 3 It's been so long Medieval remix`, `Magentium`, ``],
    [`https://youtu.be/hBmpMMkXz6Y`,`Gura Ankha`, `King Kman`, ``],
    [`https://youtu.be/O6ntAHa2tXE`,`Jiafei scream`, `reuploaded by DoctorDoggie`, ``],
    [`https://youtu.be/M-t6iGy9QzA`,`uh oh, you found the toothpaste. Let's make things clear, I can clean my teeth by myself okay.`, `Gameplay clip purowith_dagun`, `Big & Small house swf`],
    [`https://youtu.be/sC4dg2OShVQ`,`uh oh, you found the toothpaste. Let's make things clear, I can clean my teeth by myself okay.`, `Gameplay clip me when the`, `Big & Small house swf`],
    [`https://youtu.be/GPizHVKpZuo`,`Adventure in the Molar System`, `Colgate`, ``],
    [`https://youtube.com/@Peekaboo_Kidz`,`Peekaboo Kidz YouTube Channel`, ``, `Colorful animation educational science`],
    [`https://youtu.be/uRMhG2erQT0`,`Mickey Mouse oh boy cheese`, `Mayde`, `the cheese is attached to a mouse trap & Mickey touched it triggering it.`],
    [`https://youtu.be/qlLlDAOj4uM`,`Video Games Failling Screams Compilation`, `ArsenickA`, ``],
    [`https://youtube.com/shorts/SUb14WCbdRs?feature=share`,`You're Gonna Carry Me?!, Splatoon Shorts`, `SinisSeaSalt`, ``],
    [`https://youtube.com/shorts/SUb14WCbdRs?feature=share`,`You're Gonna Carry Me?!, Splatoon Shorts`, `SinisSeaSalt`, ``],
    [`https://youtube.com/shorts/VbdrWqOEZ5Q?feature=share`,`Why Babies avoids grass?`, `VargasDaily`, `A compilations of lifted babies lowered to proximity above grass shows that they lifted their feet avoiding these grass. A pinned comment by m.mdafootballer states that they do this because babies have very sensitive skin, & as parents lowers them to grass, they'll feel this spikey radiation on the proximity & contact skin area which is <b>very uncomfortable</b>.`],
    [`https://youtube.com/playlist?list=PLIEJSEcgHPS0NScvIuHYkQQZm9C2l-itm`,`FFXIV Memes Playlist`, `Fae Nevermore collections`, `Final Fantasy 14 memes`],
    [`https://www.pixiv.net/en/artworks/99575048`,`#GrisSwimsuit`, `VERTIGRIS`, ``],
    [`https://twitter.com/VERTIGRIS_ART/status/1545100141270532096?t=dCDsmIkAKgnw23W5OYPYpg&s=19`,`#GrisSwimsuit`, `VERTIGRIS`, ``],
    [`https://twitter.com/VERTIGRIS_ART/status/1479502744968957954?t=tz2b9DtxLq2xfKG9hqJUbw&s=19`,`#GrisSwimsuit Draw your OC in This Challenge`, `VERTIGRIS`, ``],
    [`https://vt.tiktok.com/ZS89hDHwb/`,`Repost Choke 2 finger counter-act fail`, `reupload tuilatyy`, ``],
    [`https://vt.tiktok.com/ZS89hbaCU/`,`AI illustrate Elmo x Snoop Dog mashup`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89hHxsN/`,`Miley Cyrus FloWhopers`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89h5Pet/`,`COPS Entertainer`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89hbUed/`,`Star Wars Fart Menace`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89hSXWM/`,`1950 Down with the Sickness`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89hfYtC/`,`NFL Theme but more explodos`, `There I Ruined It.`, ``],
    [`https://vt.tiktok.com/ZS89hVLWj/`,`Cat at door mueooow!`, `cat_at_door`, ``],
    [`https://vt.tiktok.com/ZS89huQRF/`,`Macaroni, with chicken strips, ah!`, `reuploaded by user79092715158`, ``],
    [`https://vt.tiktok.com/ZS89h5RYY/`,`Macaroni, with chicken strips, ahhhhhhaaaaaa crash!`, `Kyle`, ``],
    [`https://vt.tiktok.com/ZS89hmEQY/`,`Ready for 2. Seatbelt error but it's not & surprise`, `Richard the Mountain Monster Fall ride operator`, ``],
    [`https://www.tiktok.com/@chickinpickin420?_t=8aFceuHeKrB&_r=1`,`Tommy de Bourbon TikTok channel`, ``, `Spongebob Hawaii style desk guitar`],
    [`https://vt.tiktok.com/ZS89huQTC/`,`Mannequin Head slap, Ta ta ta. Potrobatre dete SLAP!!!`, `Washoma`, ``],
    [`https://vt.tiktok.com/ZS89hS4oR/`,`Cat angy and shout like a girl meAAoew`, `wwhu4`, ``],
    [`https://youtu.be/nXzb7532K8E`,`Korone: I'm a dog, okay.`, `Caroline Director`, ``],
    [`https://youtu.be/EAZ3urYgO8E`,`Hi Herbert Original reupload`, `reupload pls arabic name`, ``],
    [`https://youtu.be/eammlLyQaxs`,`Viajeros en Lirickas - Quiero Tenerte`, ``, ``],
    [`https://youtu.be/mEGvXw2AoXY`,`Cupcakke Gulp Gulp Gulp`, `I love paris`, ``],
    [`https://youtu.be/0TNwHbK5iFU`,`Fanmade Heart Attack chilling alert in Ring Fit`, `NoPLo`, ``],
    [`https://youtube.com/@Adhemz`,`Adhemz YouTube Channel`, ``, `Reaction Duets funny realistically it could've been like this. The Boys, Defence tips callouts`],
    [`https://youtube.com/@paryssbryanne`,`Paryss Bryanne YouTube Channel`, ``, `Muscular Fit Woman`],
    [`https://www.instagram.com/p/Cn2tc8Bt-Bo/?igshid=OTJlNzQ0NWM=`,`Reuploaded bag of popcorn illusion leg thinnening`, `thatbeautyyvibee`, `Yes, the leg thinnening effect is because of that bag of popcorn. look again!`],
    [`https://www.instagram.com/p/Cn2tc8Bt-Bo/?igshid=OTJlNzQ0NWM=`,`black kitty qchuaw`, `blackcatsmylove`, ``],
    [`https://twitter.com/thecypherden?s=21&t=AsaaUynbZ6ywn82FWKOT_Q`,`CypherDen Twitter`, ``, ``],
    [`https://twitter.com/thecypherden/status/1143257165085532160?t=jPD3RXiYl0awPmiFEuzOuQ&s=19`,`CypherDen Nailed the Axe throw`, `CypherDen`, ``],
    [`https://www.instagram.com/p/Co8A0I1vCrQ/?igshid=OTJlNzQ0NWM=`,`eldritch life is hard`, `mishacak3s`, ``],
    [`https://youtu.be/5WGTCsk3KC4`,`Magnus Eriksson - Married Life; Up Pixar`, ``, ``],
    [`https://youtube.com/shorts/uzSE77dkkhk?feature=share`,`How Radial Engine Works Pt. 3`, `ianjimmerson12`, ``],
    [`https://youtube.com/@colinfurze`,`colinfurze YouTube Channel`, ``, `Crazy vehicle mods & other crazy builds stuffs!`],
    [`https://youtube.com/shorts/LDEAGLzqRk0?feature=share`,`My mom allows me to play fortnite with coca cola, isn't that cool?! <b>YIPEEE!!!!</b>`, `reupload by recyclingstation2370`, ``],
    [`https://youtu.be/0E15Mw7pjJw`,`reduce reuse ecyce`, `reupload by Internet Things, by bassoonman`, ``],
    [`https://vt.tiktok.com/ZS89D1xjx/`,`reduce reuse ecyce`, `reupload by SW LDN Greenpeace, by bassoonman`, ``],
    [`https://vt.tiktok.com/ZS89DN4nd/`,`reduce reuse  ecyc e`, `bassoonman`, ``],
    [`https://youtube.com/shorts/4Vvc_eXyKns?feature=share`,`Summarize a Wikipedia article`, `DKID Media`, `append or replace language with <code>simple</code> in the Wikipedia URL beginning. e.g, you have <a href='https://id.wikipedia.org/wiki/Indonesia' target="_blank" rel="noopener noreferrer">https://id.wikipedia.org/wiki/Indonesia</a>. with Simple, it'll be <a href='https://simple.wikipedia.org/wiki/Indonesia' target="_blank" rel="noopener noreferrer">https://<b style='font-size:large;'>simple</b>.wikipedia.org/wiki/Indonesia</a>. This basically changes language to English Simple.`],
    [`https://twitter.com/cursedpairing/status/1538915458497142784?s=20`,`Yay non ship stuff, Among Us crying eyes`, `cursedpairing`, `& <a href='https://twitter.com/JOELwindows7/status/1575159253685653504?s=20' target="_blank" rel="noopener noreferrer">reply</a>`],
    [`https://mobile.twitter.com/victory_summery`,`Vic is Bored (victory_summery) Twitter`,``, `3D Modeller & Animator`],
    [`https://rentry.org/voldy`,`Voldy, Stable Diffusion AI GUI`,`rentry.org`, ``],
    [`https://youtube.com/@Telepurte`,`Telepurte YouTube channel`,``, `Animation 2D with bit of suggestive thiccness.`],
    [`https://youtu.be/5-mPEKPIjxE`,`Can I get a, HAAAAAAAAAAAAAAAAAAAAAAAA; Super Saiyan & Doom`,`Sergeant Williepete`, ``],
    [`https://youtube.com/shorts/nWFR6s_ksA4?feature=share`,`Peter Griffin broke the 4th wall fan parody`,`MrMrPurple`, ``],
    [`https://wornontv.net/`,`WornOnTV.net`,``, `What are these actor wore on the set, plus where to buy those.`],
    [`https://www.deviantart.com/scorpion87/art/Bmw-z4-51505247`,`BMW Z4 Green; Whatsapp Drip Car`,`Scorpion87`, ``],
    [`https://knowyourmeme.com/memes/drip-car#fn6`,`BMW Z4 Green; Whatsapp Drip Car; Know Your Memes`,``, ``],
    [`https://youtube.com/shorts/wMn-2KRie2I?feature=share`,`Hammerhead worm`,`LindsayNikole`, `This Hammerhead worm is invasive, its slime is toxic & it liquifies earthworms & consume them. It comes from SouthEast Asia and it has been spreading worldwide. If you see this, you must dissolve it immediately by trapping them in a jar full of salt or vinegar, OR freeze them 24 hours until they dissolve.`],
    [`https://youtube.com/shorts/owCWNtWPg6Y?feature=share`,`Super heat base vacuum`, `flemdogscience`, ``],
    [`https://vt.tiktok.com/ZS89puy6M/`,`Nothing like a mango on a fork.....YEAH`, `reuploaded by Jimmy`, ``],
    [`https://youtube.com/shorts/wE0qZRgyrwc?feature=share`,`Nothing like a mango on a fork.....YEAH interpolated 1080p60`, `reuploaded by mamaiymacrimidal`, ``],
    [`https://youtube.com/shorts/K4_9vDsXpGk?feature=share`,`Nothing like a mango on a fork unedited interpolated 1080p60`, `reuploaded by mamaiymacrimidal`, ``],
    [`https://youtu.be/rlkSMp7iz6c`,`Bout hit'em with this furry ${nsfw?`shit`:`8888`}; x3 nose uwu`, `animated by Cruncchy, senzawa cover`, ``],
    [`https://youtu.be/h6DNdop6pD8`,`bad copypasta rap; x3 nose uwu`, `senzawa cover`, `original instrumental privated`],
    [`https://youtu.be/zziJeJ0DdMI`,`SONG NAME x3 nose uwu instrumental GONE!`, `reuploaded by RankAmateur FeelgoodMachine`, `original instrumental privated`],
    [`https://knowyourmeme.com/memes/rawr-x3-you-so-warm`,`bad copypasta rap; x3 nose uwu; Know your Meme`, ``, `original instrumental privated, name still not mentioned`],
    [`https://youtu.be/xmDqILHP4is`,`bad copypasta rap2`, `senzawa cover`, ``],
    [`https://youtu.be/S5cHBB9tVos`,`GILLABEATS - SHAKUHACHI`, ``, ``],
    [`https://www.reddit.com/r/copypasta/comments/30tnk8/gomenasai_my_name_is_kensama_original_ken_sama/`,`bad copypasta rap2`, `r/Faze_noscoper`, ``],
    [`https://youtu.be/tlRByTaOjkE`,`awoo.mp4`, `senzawa`, ``],
    [`https://youtu.be/TDXCqSMpD4c`,`how i sneeze uwu`, `senzawa`, ``],
    [`https://knowyourmeme.com/memes/haiiiii-_-hi-hiiiiii-3-haiiiiii-hii-3`,`hai hi hii, Know your memes`, ``, ``],
    [`https://youtu.be/7awd-y_DTQY`,`Ugh, fine, I guess you are my little pogchamp, come here.`, `PEAR. voice by gothmei (<a href='https://twitter.com/gothmei/status/1309307834677571585' target="_blank" rel="noopener noreferrer">tweet</a> gone)`, ``],
    [`https://youtube.com/@TArrow`,`TArrow YouTube Channel`, ``, `2D Animation featuring Farah & this crazy guy`],
    [`https://youtu.be/tk260d77lqw`,`Bring Me The Horizon - Can you Feel My Heart (instrumental)`, `tgvcrap`, `Gigachad song`],
    [`https://youtu.be/QJJYpsA5tv8`,`Bring Me The Horizon - Can you Feel My Heart`, ``, `Gigachad song`],
    [`https://youtube.com/shorts/e77k4VpFKBM?feature=share`,`Photo the Gura (cosplayed by manjiu1001) underwater`, `manjiu1001`, ``],
    [`https://youtu.be/FrQnTfxFZrA`,`AronChupa, Little Sis Nora - The Woodchuck Song`, ``, ``],
    [`https://youtu.be/SwXKJVAN36s`,`Cast to Family Room TV`, `reupload? Krissanthumum`, ``],
    [`https://youtu.be/ALubA2dxPxg`,`can read Japanese; Left 4 Dead moment`, `gameplay Kora`, `Let me se, uh.. "Taki, I love you. Goodbye."`],
    [`https://youtu.be/PtDiXhjSIfs`,`AROS review`, `Dan Wood`, ``],
    [`https://youtu.be/De_S2dQw19s`,`Hey Spongebob, AISDJFOIAHJSIOLEFH`, `reupload Lindox`, ``],
    [`https://youtu.be/hbqoaJ8sKsQ`,`Arash - Broken Angel`, ``, `I'm so lonely`],
    [`https://youtu.be/GP-vIk2_TPk`,`Winston Churchil Quotes`, `not Winston Churchill`, ``],
    [`https://youtube.com/shorts/tpCHppNUCPk?feature=share`,`ANON NOOOOO`, `Gianni Matragrano ft. TabsterBlaster`, ``],
    [`https://youtu.be/OJ3SRV8QPfU`,`<b>E</b> meme`, `ROHU`, ``],
    [`https://youtu.be/UbWG3yXRkC0`,`Bunga Citra Lestari - Dance Tonight`, ``, ``],
    [`https://youtu.be/WQQD4n9ijy8`,`Amongus got long hands`, `Mayde`, ``],
    [`https://youtu.be/EPCVqt0JNfE`,`I know My voice sucks`, `maitt14`, ``],
    [`https://youtu.be/sFVuhXeJ8t4`,`Nokia Business Update`, `NOKIA`, `Nokia got new logo`],
    [`https://youtu.be/YPZNtHKUZSM`,`God Damn; Gah dayum; Ahh Aghyum!!`, `clip Engers`, `Goofy ah 21 Century Humor sfx`],
    [`https://youtu.be/bLt242CG3uE`,`DJ Tocando crazy scratches; DJ OH GOD!!!`, `Felipe Linz`, ``],
    [`https://youtu.be/wSFbcTnpFCY`,`Not the King - Messages`, ``, `ErDev moment`],
    [`https://youtu.be/xpqqKRlqZfU`,`Payless Experiment`, `Payless`, `Payless experiments by rebrand to Palessi (but no Palessi), and make shoes looks expensive & costs like luxury. Once customer purchased it, the truth revealed that it's basically this shoe for much less & the money paid gets refunded, while letting them to keep the item.`],
    [`https://youtube.com/playlist?list=PL9dVkiittGaDdQlPsX0g9jJ01UkEHAsaw`,`Payless Experiment Playlist`, `Payless`, `All videos about this`],
    [`https://youtu.be/3DnTIPI5u6A`,`I ate my grandma`, `Unique me`, ``],
    [`https://youtu.be/_uN2aPIdVYI`,`chat with 3 week old kitten`, `Cindy Congdon`, ``],
    [`https://youtu.be/Q16KpquGsIc`,`Ronald McDonald Insanity; UN Ronald was him; Touhou McD remix`, `reuploaded by mrhoseshoe`, `<a href='https://sp.nicovideo.jp/watch/sm1919148' target="_blank" rel="noopener noreferrer">original</a> gone`],
    [`https://youtu.be/2-hSoW6yo6M`,`PlEaAaAsE`, `Mayde`, ``],
    [`https://youtube.com/shorts/V1kl10DXtyc?feature=share`,`Cat moms be like`, `eeveeandyoshi`, ``],
    [`https://youtu.be/fFfeKnPCgDE`,`accidentally spray painted to own eyes`, `ejiejidayo`, ``],
    [`https://youtube.com/shorts/9kGWAhYF0xg?feature=share`,`Robot Tattoo despite 2D, almost looks real`, `JustNKD`, ``],

    [`https://twitter.com/kanauru/status/1423602701535911942?t=bPNKHtf9eaD4GYfgT3-M5g&s=19`,`Animated Pikamee plays Connect 4`, `Kanauru`, ``],
    [`https://twitter.com/amanopikamee/status/1630915928723521544?t=bPNKHtf9eaD4GYfgT3-M5g&s=19`,`<b class='error'>(NOT FUNNY, HORRIBLE NEWS)</b> Pikamee Graduation announcement`, `Amano Pikamee`, ``],
    [`https://youtu.be/w_ejnHxTWrU`,`<b class='error'>(NOT FUNNY, HORRIBLE NEWS)</b> Pikamee Graduation announcement`, `Amano Pikamee`, ``],
    [`https://twitter.com/VOMS_Project/status/1630917621750145029?t=bPNKHtf9eaD4GYfgT3-M5g&s=19`,`<b class='error'>(NOT FUNNY, HORRIBLE NEWS)</b> Pikamee Graduation announcement`, `VOMS Project`, `VODs & YouTube Channel will be <b style='font-size:large;' class='error'>privated</b>, Social media will cease activity`],
    [`https://twitter.com/VOMS_Project/status/1630917777111252995?t=bPNKHtf9eaD4GYfgT3-M5g&s=19`,`<b class='error'>(NOT FUNNY, HORRIBLE NEWS)</b> Pikamee Graduation announcement EN`, `VOMS Project`, `VODs & YouTube Channel will be <b style='font-size:large;' class='error'>privated</b>, Social media will cease activity`],
    [`https://odysee.com/@JOELwindows7:a/graduation-of-pikamee:c`,`<b class='error'>(NOT FUNNY, HORRIBLE NEWS)</b> Pikamee Graduation info collection`, `JOELwindows7`, `<b class='error'>(NOT FUNNY, HORRIBLE NEWS)</b> VODs & YouTube Channel will be <b style='font-size:large;' class='error'>privated</b>, Social media will cease activity`],
    [`https://youtu.be/5a3GB-ZUygE`,`Pikamee kettlemetal musiced`, `Hodakam`, ``],
    [`https://youtu.be/yU--byqsZXw`,`Pikamee Clip no context`, `ClipChama`, ``],
    [`https://www.youtube.com/live/l8Rb8DGDay0?feature=share`,`Pikamee Chit Chat 2021-09-16`, `Amano Pikamee`,`VODs & YouTube Channel will be <b style='font-size:large;' class='error'>privated</b>, Social media will cease activity`],
    [`https://youtu.be/bbAUCUdIUis`,`Pikamee Kettle Laugh`, `Hazwan`,``],
    [`https://note.com/maromi_ika/n/na976638a7a35`,`<b class='error'>(NOT FUNNY)</b> (JP) 日本のオタクに知って欲しい、西洋のオタクスラング「Proship」という単語の意味と「Proshipper」という概念 「Note.com」`, `maromi_ika`, `Guides about what is <i>PROSHIP</i> & how these Twitter Yakuza / American Yakuza / Online karens / Toxic people weaponized this for a harrassment campaign`],
    [`https://youtu.be/mw4ZnaBUlTE`,`Whoah`, `Mayde`, `Slipped`],
    [`https://youtu.be/ct4q440Vl0M`,`Emoji stop laughing and points at door`, `MentalShots`, ``],
    [`https://youtu.be/lfE-Ao6yZvo`,`Monte Booker - Kolors ft. Smino`, ``, `Goopie dance tiktok song`],
    [`https://vt.tiktok.com/ZS8xR5KHS/`,`reupload Goopie dance Kolors`, `goopie new account`, `Goopie dance tiktok song`],
    [`https://youtu.be/c72UIIYMWs8`,`Andrew Huang - Sparkle Mountain`, ``, ``],
    [`https://youtu.be/YFHHGETsxkE`,`Papers Please Short film`, `Nikita Ordynskiy`, ``],
    [`https://youtu.be/UDLcUsPugtw`,`Hey Macklemore, can we go Thrift Shopping?`, `reuploaded by Keomorus`, `No. original Taylor Hodgson-Scott`],
    [`https://youtu.be/u3K8VlxVLKo`,`BIG DUEL`, `Taylor Hodgson-Scott`, ``],
    [`https://youtu.be/Q3oItpVa9fs`,`Cymatics`, `Nigel John Stanford`, ``],
    [`https://youtu.be/cHjhdFh2oso`,`We are almost at the end of the movie & we haven't used all our footages!`, `martin energy`, ``],
    [`https://youtu.be/gSQqHsR6Vfs`,`Copycat Meme`, `Stariaat`, `<mark class='warning'>Contains blood drops & mad people</mark>`],
    [`https://youtu.be/M-IUQMCjpAg`,`Wonderland Meme | Collab with Stariaat`, `Wolfychu`, ``],
    [`https://youtu.be/gpNNpZAeSXE`,`Local Dog`, `KorotozTH`, ``],
    [`https://youtu.be/ETK_2k1a4fk`,`IpoChan, IS THIS JOJO REFERENCE?!`, `IpoChan`, ``],
    [`https://youtu.be/3QxBAcYqmEo`,`404Sight Trailer`, `Retro Yeti Games`, `Net Neutrality parkour game`],
    [`https://youtu.be/9DF_dycXasE`,`Most Annoying Smartphone sounds`, `Dave Bennett (OpenSourceGangster)`, ``],
    [`https://youtu.be/sMKoNBRZM1M`,`Mario coincidental PingPong`, `Fadem12`, `PingPong fail accidentally rhymes with Super Mario song intro`],
    [`https://youtu.be/UmLLwuDZtcA`,`Drake & Josh, Josh runs into Oprah, HEY WATCH IT WATCH IT`, `clip TV & Movies Tube`, ``],
    [`https://youtu.be/kmcFa9zVic8`,`Don't pee on the floor, use the commodore`, `gameplay eygrett`, `game is Stupid Invaders`],
    [`https://vt.tiktok.com/ZS8xRgens/`,`beat boy oonce oonce v2 cover`, `S_Rank_Chocobo`, ``],
    [`https://vt.tiktok.com/ZS8xR4gYM/`,`Roti Jordan but Cupcakke gulp`, `The Kampagngers`, ``],
    [`https://youtube.com/shorts/4xzpdkORoxA?feature=share`,`DOn't touch wire nah nope`, `JuiceyMonae clip`, ``],
    [`https://youtube.com/shorts/B7Pnla4hX20?feature=share`,`Somebody used to know just the voice meme`, `musicdiary0812 clip`, ``],
    [`https://youtu.be/3DSvkXxgNC0`,`Miku eat lemon and dies, animated`, `Sleepycandie0.x cover`, ``],
    [`https://youtu.be/pd6dCUiqo2w`,`Miku eat lemon and dies`, `Official Staircase`, ``],
    [`https://youtu.be/_yTWEXyYa1s`,`Among us Chinese letter remix`, `The Fellow Weirdos reupload`, ``],
    [`https://youtube.com/shorts/d1ZvEqv7z_c?feature=share`,`My Booty don't jiggle jiggle, it's firm`, `youshortsforanimal reupload`, ``],
    [`https://youtube.com/shorts/iRZj57DkDds?feature=share`,`Someone give question answer in chat`, `NutshellAnimation`, ``],
    [`https://youtu.be/ZDm6j92DshA`,`Byeah`, `private pyle`, ``],
    [`https://youtube.com/@carsandwater`,`carsandwater YouTube Channel`, ``, `Red Hot Nickel Ball. <b class='error'>Where is he now?!</b>`],
    [`https://youtu.be/oLaOsNwmieE`,`Roomie - Fabulous (Feat. PewDiePie)`, `PewDiePie`, ``],
    [`https://youtu.be/5pEPpNpbnCI`,`Roomie - Brofist (Feat. PewDiePie)`, `PewDiePie`, ``],
    [`https://youtu.be/lxw3C5HJ2XU`,`Schmoyoho - Jabba the Hutt (Feat. PewDiePie)`, `PewDiePie`, ``],
    [`https://youtu.be/gme0R-Q3lvw`,`PewDiePie Cocomelon disstrack`, `PewDiePie (reupload NTN)`, ``],
    [`https://youtu.be/6Dh-RL__uN4`,`PewDiePie - ${nsfw?`bitch`:`8888`} lasagna`, `PewDiePie`, `T Series Disstrack`],
    [`https://youtu.be/PHgc8Q6qTjc`,`PewDiePie - Congratulation`, `PewDiePie`, `T Series won subscriber anyways`],
    [`https://youtu.be/9Is0wr87RzY`,`Asobi Asobase Kendama`, `clip Inoryan`, ``],
    [`https://youtu.be/Fz0c-3BGLjg`,`Asobi Asobase Kendama attempt recreate`, `Eyo`, ``],
    [`https://youtu.be/FC0-ruWO8-4`,`GET DOWN ZAHRA`, `ninerlives`, ``],
    [`https://youtu.be/eLYhnBaWOzc`,`ULTRA DRAGON DREAM FEET`, `LENNOZ`, ``],
    [`https://youtu.be/MlU-v3p_NIQ`,`THE LAST DREAM HANDS`, `LENNOZ`, ``],
    [`https://youtu.be/3K3MMtoG8rY`,`INFINITE DRAGON DREAM FEET`, `LENNOZ`, ``],
    [`https://youtu.be/3KFKzlfD5Lw`,`Lacheque - Dragonfruit Salad`, ``, ``],
    [`https://youtu.be/NApxz5bSl20`,`twinning.mp4`, `kcat729`, ``],
    [`https://youtu.be/5L1tr0PIx20`,`Double Dream Feet`, `John Jacobson`, ``],
    [`https://youtu.be/dm7yAWpX1Mc`,`Double Dream Hands`, `John Jacobson`, ``],
    [`https://youtu.be/dm7yAWpX1Mc`,`Double Dream Hands`, `John Jacobson, reupload fisheloph`, ``],
    [`https://youtu.be/vQQxMC8i3Lw`,`Double Dream Hands Dance`, `adobo`, ``],
    [`https://youtu.be/OItoPcSXvJw`,`when you stub your toe`, `waveretro`, ``],
    [`https://youtu.be/XkPCvUlwFIg`,`Warning (unused Ring Fit Adventure soundtrack)`, `NoPlo`, `Congratulations, you have heart attack! (why you got Daft Punk here?!)`],
    [`https://youtu.be/WPkMUU9tUqk`,`Jones BBQ Foot Massage`, `bigdogeatchild`, ``],
    [`https://youtu.be/xVYyjOBKAeQ`,`2005 Honda Accord Jumpscare`, `mediocre memes`, ``],
    [`https://www.instagram.com/tv/CpIPi6MKu5k/?igshid=OTJlNzQ0NWM=`,`New Nokia Logo`, `NOKIA`, ``],
    [`https://instagram.com/sarahandersencomics?igshid=OTJlNzQ0NWM=`,`Sarah Andersen Instagram`, ``, `relatable comics`],
    [`https://www.instagram.com/p/CDXT6Oyj3H3/?igshid=OTJlNzQ0NWM=`,`infamous Goth Emo couple`, `reniedraws`, `classic legendary clip art`],
    [`https://www.instagram.com/p/CECgwsZjENM/?igshid=OTJlNzQ0NWM=`,`infamous Goth Emo couple remake`, `reniedraws`, `classic legendary clip art`],
    [`https://www.instagram.com/p/CgQtF4-u-Qd/?igshid=OTJlNzQ0NWM=`,`It's National Hot Dog Day`, `Popeye the foodie dog`, ``],
    [`https://www.instagram.com/p/CeprHe7JF3Q/?igshid=OTJlNzQ0NWM=`,`Wawa`, `nikoandkota.toro`, `Oh, the misery`],
    [`https://instagram.com/anymalu_real?igshid=OTJlNzQ0NWM=`,`Animalu Instagram`, ``, ``],
    [`https://www.instagram.com/p/CZ80uavuwkx/?igshid=OTJlNzQ0NWM=`,`Kitsune Skull's Sky ref`, `kitsuneskulls ⚠️`, ``],
    [`https://www.instagram.com/reel/Cba3maIgLhq/?igshid=OTJlNzQ0NWM=`,`doing cardio be like`, `blogicomics`, `& runnin' runnin'; bg song only inspires from heartbeat`],
    [`https://instagram.com/blogicomics?igshid=OTJlNzQ0NWM=`,`blogicomics Instagram`, ``, `life of a girl who loves to workout as much as she loves eating`],
    [`https://instagram.com/aliaadelia.v?igshid=OTJlNzQ0NWM=`,`Alia Adelia Instagram`, ``, `Vtuber`],
    [`https://youtube.com/shorts/FZPA-irRxBw?feature=share`,`Did I?; telling my cat not to puke on my bed`, `pineylub`, ``],
    [`https://youtube.com/playlist?list=PLDQIFZEk5M9ZabrPMeWgHJOI_TX4-YOul`,`Gamecube parodies Playlist`, `TDB`, ``],
    [`https://youtu.be/FM3vHBC7Fvg`,`Smooth Gamecube`, `Frozzy`, `Smooth Criminal perfectly on beat with Nintendo Gamecube intro`],
    [`https://youtu.be/yUGZwlLoZh0`,`No one cares, in Disney Castle classic style`, `lolvermillion`, ``],
    [`https://youtu.be/lTxn2BuqyzU`,`Watermelon: A Cautionary tale`, `CGMeetup`, `unravel-less watermelon mutation meme`],
    [`https://youtu.be/ADqZHhmyosQ`,`Watermelon: A Cautionary tale unravel`, `Stemford Fate`, ``],
    [`https://youtu.be/JX9erODQu0w`,`Big Game Burger King`, `Burger King`, ``],
    [`https://youtu.be/VrDfSZ_6f4U`,`Kid Cudi - Day 'N' Nite`, ``, `Now look at this`],
    [`https://youtu.be/sIlNIVXpIns`,`Look at this Graph`, `parody Lemon`, ``],
    [`https://youtu.be/T3rXdeOvhNE`,`Nickelback - Photograph`, ``, `Look at this photograph`],
    [`https://youtu.be/_XNkBqLvhQ0`,`GARRY!!! THERE'S A BOMB DUAR IMMEDIATELY`, `Gsbuxhdhd Bdhdhhry`, ``],
    [`https://youtu.be/wOJMCwuA39E`,`GARRY!!! THERE'S A BOMB STRAPPED IN MY CHEST`, `clip chancho240`, ``],
    [`https://youtu.be/5l6l9T2w1DQ`,`GARRY!!! THERE'S A BOMB STRAPPED IN MY CHEST`, `clip Ethan The Cartoon Fan`, `HD`],
    [`https://youtu.be/7Bl2KyUbewI?t=66`,`Original Hamburger SFX; Robotnik is Politically Incorrect, YouTube Poop`, `KroboProductions (reuploaded by KroboProductions Memorial)`, ``],
    [`https://www.reddit.com/r/GetMotivated/comments/rxpa4/there_may_be_a_girl_for_you_yet/?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=1&utm_content=share_button`,`There may be a girl for you yet.; Why do women only like jerks who treats them like ${nsfw?`shit`:`poop`}?`, `u/NonAmerican`, `from r/GetMotivated.`],
    [`https://youtu.be/e2UmxWFsrE4`,`There may be a girl for you yet.; Why do women only like jerks who treats them like ${nsfw?`shit`:`poop`}?`, `epic skeleton`, ``],
    
    [`https://knowyourmeme.com/memes/why-do-women-only-like-stupid-jerks-who-treat-them-like-shit`,`There may be a girl for you yet.; Why do women only like jerks who treats them like ${nsfw?`shit`:`poop`}?, Know Your Meme`, `u/NonAmerican`, `from r/GetMotivated.`],
    [`https://youtu.be/TDcRN9t2czc`,`Why do women only like among us?`, `Dolan Dark`, `Second channel`],
    [`https://youtu.be/C2q_2fI6-kw`,`ALINA MALINA - NEVER GET USED TO PEOPLE (LEMINYA)`, ``, ``],
    [`https://youtu.be/7hUbvIJ0Hnw`,`ALINA MALINA - NEVER GET USED TO PEOPLE (LEMINYA) FULL`, `Never get used to people`, ``],
    [`https://youtu.be/6bV4_9TBpGE`,`ALINA MALINA - NEVER GET USED TO PEOPLE (LEMINYA) GLITCHLESS`, `Redbeat`, ``],
    [`https://youtu.be/87pOVazMIY0`,`Fake MrBeast FNAF Jumpscare`, `Lucas production`, ``],
    [`https://youtu.be/3m3oEBlW7v8`,`Morty this is wrong music`, `idontgoout`, ``],
    [`https://youtu.be/ZsBxbY4LZbo`,`Rick & Morty Parody Ric & Mort`, `Rigamarole`, ``],
    [`https://youtu.be/3gDSoReHW9I`,`portal but tickrate is at 400`, `shops`, ``],
    [`https://id.wikipedia.org/wiki/Bang_One?wprov=sfla1`,`Mr. One (Bang One, read: On-ae) the tvOne Mascot, Wikipedia Indonesia`, ``, ``],
    [`https://youtube.com/shorts/B6vFEQhu2uQ?feature=share`,`Pizza Tower Humor, Astromech droid flavor, R2D2`, `jeffystreet`, ``],
    [`https://youtu.be/iiDXBbHRTN4`,`YDKJ The Lost Gold ${nsfw?`Fuck`:`F`} you into Gorrilla Hunter broken game`, `TheAdamlee23`, ``],
    [`https://youtu.be/FADAAzoIL3Q`,`which way to th eliving without a brain seminar, don't be late. Squidward SPongebob`, `im in the houses like carpet`, ``],
    [`https://youtube.com/shorts/Q6Zx5bJHSuU?feature=share`,`Bottle cutter stringer DIY`, `MrNik01`, `take a bottle cap. puncture a couple of line slits perpendicular to the other, bit apart from center. above & below the slit between, slice just the cylinder. fold upon the slice, out inard, so both slit meets. put the knife towards both slit. Now, to stringify the bottle, insert initial string into the triangle between the slit, and pull away.`],
    [`https://youtube.com/shorts/wPCaD15cEfg?feature=share`,`How did you able to fart even if you're going to poop?`, `DrKaran`, `There is a sensor in your rectal that can sample & differentiate between solid, liquid & gas, called Anal Inhibitory Reflex. This area, a complex also muscle can let fart gas pass through but the other 2. Although it is not perfect and it could misdetected sometimes into <i>wants to fart but pooped on pants instead</i>.`],
    [`https://vt.tiktok.com/ZS8xoekvV/`,`Pringles Can Sus`, `JOELwindows7`, ``],
    [`https://www.instagram.com/p/B2Lmz_hjtsu/?igshid=OTJlNzQ0NWM=`,`Theo takes break from social media`, `theounderstars`, `This is Celeste poromotional account`],
    [`https://instagram.com/theounderstars?igshid=OTJlNzQ0NWM=`,`Theo (Celeste) Instagram`, ``, `This is Celeste poromotional account`],
    [`https://knowyourmeme.com/memes/explosion-meme`,`Explosion meme Know your Meme`, ``, ``],
    [`https://knowyourmeme.com/memes/microwave-noises`,`Microwave noise Know your Meme`, ``, ``],
    [`https://knowyourmeme.com/memes/annoyed-bird`,`CAW Annoyted bird, annoying crow Know your Meme`, ``, ``],
    [`https://knowyourmeme.com/memes/trash-doves`,`Trash Dove Facebook sticker Know your Meme`, ``, ``],
    [`https://knowyourmeme.com/memes/among-us-twerk`,`Among Us Twerk Know your Meme`, ``, ``],
    [`https://twitter.com/ScreechyAurora/status/1308164017408663552?t=i-qnUHDtVao4dDYY9WbuDg&s=19`,`Among Us Twerk `, `ScreechyAurora`, ``],
    [`https://twitter.com/onemanshowoff/status/1340025732764995584?t=i-qnUHDtVao4dDYY9WbuDg&s=19`,`Among Us Twerk clap`, `edit onemanshowoff`, ``],
    [`https://twitter.com/MarioSonicPro1/status/1358958774439055361?t=i-qnUHDtVao4dDYY9WbuDg&s=19`,`Similar Twerk Energy`, `share MarioSonicPro1`, ``],
    [`https://spyballoonsim.hornetsnestguild.com/`,`Spy Balloon simulator`, `Kevin DeepFriedPancake`, `Simulate spy balloon deploy & its path it would go until expiry based on this Earth atmosphere. Thancc TechAltar!`],
    [`https://github.com/nimaid/bad-apples`,`Nimaid's Bad Apple Memes`, `nimaid`, ``],
    [`https://hackaday.com/2022/08/04/converting-an-80s-typewriter-into-a-linux-terminal/`,`COnvert 80s type writer into a Linux terminal`, `Hackaday`, ``],
    [`https://youtu.be/JvhT_Bru0AA`,`COnvert 80s type writer into a Linux terminal`, `Artillect`, ``],
    [`https://youtu.be/YkLjqFpBh84`,`FKA Twigs -- Cellophane`, ``, `Borzoi dog song original`],
    [`https://youtube.com/shorts/6XvzK1y0Qpc?feature=share`,`Off shore transport balancering`, `ddesignhub`, ``],
    [`https://youtube.com/shorts/4phl2HqKsu8?feature=share`,`Mod this train miniature into war train miniature`, `dancreator`, ``],
    [`https://youtube.com/shorts/WT6xRiqZZL4?feature=share`,`Test a DC motor and spins dangerously high speed`, `unique_person.p`, ``],
    [`https://youtube.com/@iguy`,`Imaginative guy YouTube Channel`, ``, `DIY Rat Trap`],
    [`https://youtu.be/IeTybKL1pM4`,`Question Copyright - Copying Is Not Theft`, ``, `Pls make FNF mod about this`],
    [`https://youtu.be/djVaJN0f0VQ`,`Question Copyright - Copying Is Not Theft (Nina Paley rerecording)`, `Nina Paley`, ``],
    [`https://youtu.be/jfGIgy43vxA`,`Smoking nic & sucking ${nsfw?`dick`:`8888`} baby, <b>EOUGH GHOUGCK!!!</b>`, `shrimpjoseph`, `<mark class='warning'>Smoking is hazard! Stop Smoking, Never Smoke.</mark>`],
    [`https://youtu.be/Ekur_Wcnmw8`,`Smoking nic & sucking ${nsfw?`dick`:`8888`} baby, <b>EOUGH GHOUGCK!!!</b> METAL COVER`, `Jules Conroy`, `<mark class='warning'>Smoking is hazard! Stop Smoking, Never Smoke.</mark>`],
    [`https://youtube.com/shorts/2eNYis7E5k0?feature=share`,`Out here in Amish smoking big doinks in Amish. ..... Big ol' doinks. ... Gang..`, `ElestrokGaming`, `<mark class='warning'>Smoking is hazard! Stop Smoking, Never Smoke.</mark>`],
    [`https://youtube.com/shorts/IJebx7Oakd4?feature=share`,`Out here in Amish smoking big doinks in Amish. ..... Big ol' doinks. ... Gang.. (High pitch dank)`, `coindidenc_`, `<mark class='warning'>Smoking is hazard! Stop Smoking, Never Smoke.</mark>`],
    [`https://youtube.com/@harbatah`,`Duo Harbatah YouTube Channel`, ``, ``],
    [`https://youtu.be/AX9B8V-fLtA`,`Christofer Nelwan - Jari Jari Cantik`, ``, `Aling Oh Aling`],
    [`https://youtu.be/B5PYJgs6HGM`,`I have Two Sides, in front of camera vs. in front of mirror`, `Layazzz`, ``],
    [`https://youtu.be/XfXqgRXfuXE`,`No Mutt November`, `PEAR`, `Doge hit with <i>HORNY</i> bat and then turns into thicc doge girl humanoid`],
    [`https://at.tumblr.com/shrekyourself/bananas-rotat-e/7385n6ue80f1`,`BANANAS ROTAT E`, `yungtera, emily-annabella`, `MAXIMUM VLELOCIPY`],
    [`https://at.tumblr.com/joelwindows7/bananas-rotat-e/8fib4w0i3r1x`,`BANANAS ROTAT E (backup)`, `yungtera, emily-annabella`, `MAXIMUM VLELOCIPY`],
    [`https://youtu.be/o6BsxnBI7Ng`,`BANANAS ROTAT E gif`, `rat punk`, `MAXIMUM VLELOCIPY`],
    [`https://at.tumblr.com/joelwindows7/amtrax-this-is-too-fucking-dumb-for-me-not-to/q6l1tg7lxf63`,`BANANAS ROTAT E audio (backup)`, `yungtera, emily-annabella, amtrax`, `MAXIMUM VLELOCIPY`],
    [`https://knowyourmeme.com/memes/bananas-rotat-e-bananamp4`,`BANANAS ROTAT E Know your Meme`, `rat punk, yungtera, emily-annabella, amtrax`, `MAXIMUM VLELOCIPY`],
    [`https://instagram.com/dmitripiankov.comics?igshid=OTJlNzQ0NWM=`,`Dimitri Plankov Instagram`, ``, `Funny comics twisted ending. featured <a href='https://pleated-jeans.com/2023/03/03/dark-humor-comics-dmitri-piankov/' target="_blank" rel="noopener noreferrer">here</a>`],
    [`https://youtube.com/@Emezie`,`Emezie Okorafor YouTube Channel`, ``, `Porkchop n' Flatscreen. Thicc chubby mermaid woman girl`],
    [`https://twitter.com/emezie?t=-SSUGhPIoB6hRGOyt9Vb3Q&s=09`,`Emezie Okorafor Twitter`, ``, `Porkchop n' Flatscreen. Thicc chubby mermaid woman girl`],
    [`https://twitter.com/emezie/status/1590883920903811073?t=-SSUGhPIoB6hRGOyt9Vb3Q&s=19`,`Emezie Okorafor Twitter Every SOcial Medias`, ``, `Porkchop n' Flatscreen. Thicc chubby mermaid woman girl`],
    [`https://www.deviantart.com/emezie`,`Emezie Okorafor DevianArt`, ``, `Porkchop n' Flatscreen. Thicc chubby mermaid woman girl`],
    [`https://www.tiktok.com/@emezie_okorafor?_t=8aQCAOmAGEk&_r=1`,`Emezie Okorafor TikTok`, ``, `Porkchop n' Flatscreen. Thicc chubby mermaid woman girl`],
    [`https://at.tumblr.com/emezie/g8p0v57l00rm`,`Emezie Okorafor Tumblr`, ``, `Porkchop n' Flatscreen. Thicc chubby mermaid woman girl`],
    [`https://emezie.tumblr.com`,`Emezie Okorafor Tumblr Site`, ``, `Porkchop n' Flatscreen. Thicc chubby mermaid woman girl`],
    [`https://www.facebook.com/emezie.okorafor`,`Emezie Okorafor Facebook`, ``, `Porkchop n' Flatscreen. Thicc chubby mermaid woman girl`],
    [`https://twitter.com/sonic_hedgehog/status/1632629399551119362?t=fq2A1HbOluELPIKqExVhyQ&s=19`,`Sonic says <i>Man</i>`, `Sonic the Hedgehog`, `yes, it's official account!`],
    [`https://youtube.com/playlist?list=PLN2yCnHTG_6rlyYFpwUX2u0m_HVHpHO0F`,`Techmoan Puppets Comedy`, `Techmoan`, `where is YouTube Pendant?`],
    [`https://youtu.be/jNQXAC9IVRw`,`Me at the zoo`, `jawed`, `The first ever YouTube video`],
    [`https://youtube.com/@loczniki`,`Loczniki YouTube channel`, ``, `NPC In Real Life`],
    [`https://youtu.be/Xt-LA2cnDmE`,`Arby's Explosion ads`, `reupload TheVideoLover3`, `All our food keeps blowing up!`],
    [`https://youtu.be/jeugFHf03lY`,`Bored Arby's OOoOO`, `Dylan Doodles`, `All our food keeps blowing up!`],
    [`https://youtube.com/shorts/R1Ehb3JA-cM?feature=share`,`How Zach King Gets away with doing graffiti`, `reupload dollarbill`, ``],
    [`https://youtube.com/shorts/9btQkaci6kA?feature=share`,`How Zach King Gets away with doing graffiti`, `Zach King`, ``],
    [`https://youtube.com/@ZachKing`,`Zach King YouTube Channel`, ``, `Magic illusionist perspectives`],
    [`https://youtu.be/szONkV3l21g`,`THE FIRST TAKE ft. Hoshimachi Suisei from Hololive`, `THE FIRST TAKE`, `Song sang by Suisei, and this is <b>the 1st take</b> as the title said?!?!`],
    [`https://youtube.com/@rossmanngroup`,`Louis Rossmann YouTube Channel`, ``, `Macbook repairs & Rights to Repair advocates`],
    [`https://youtube.com/@TheLinuxEXP`,`The Linux Experiment YouTube Channel`, ``, `News around Linux & stuffs Linux`],
    [`https://youtu.be/neOQ8s60sHU`,`TWISTED - WORTH NOTHING (ft. Oliver Tree)`, ``, `Never miss you again`],
    [`https://youtu.be/5t0e5Sw4Ar8`,`Biser King - Dom Dom Yes Yes Remix`, ``, `remix of dancing belly man song`],
    [`https://youtube.com/shorts/wdJEo9iN-qA?feature=share`,`CD Under Microscope`, `Oneminmicro`, `You will see the lines at 1000x. These lines are groves, like Vynil, bytes of data that was baked into it. These will be read with red laser illuminated data reading sensor. This particular CD had some contaminants too as well, which may explain difficulty reading & skips on some cheap players.`],
    [`https://billwurtz.com/`,`bill wurtz website`, ``, `surreal Jazz animated songs`],
    [`https://youtube.com/playlist?list=PL5-WT4DlkvgqOCJ0hwDQ_csV2iVHwfOfg`,`The Living Tombstone songs Playlist`, `The Living Tombstone`, `every TLT songs ever composed. FNAF songs, cat song, meme song`],
    [`https://youtu.be/bSsVxOsnpqA`,`Jon: DID YOU REALLY THINK YOU COULD DEFEAT ME YOU WRETCHED FOOL?!`, `Prip`, `Jon Arbuckle from Garfield goes gamer`],
    [`https://youtu.be/LylpKIYh4vY`,`Jon: DID YOU REALLY THINK YOU COULD DEFEAT ME YOU WRETCHED FOOL?! FULL CONTEXT EPISODE`, `7dovn sux`, `Jon Arbuckle from Garfield goes gamer`],
    [`https://youtu.be/_0zLKCcOmuU`,`Jon: DID YOU REALLY THINK YOU COULD DEFEAT ME YOU WRETCHED FOOL?! JP VERSION`, `orange's stuff dump`, `Jon Arbuckle from Garfield goes gamer`],
    [`https://twitter.com/EmojiMashupBot/status/1556097822407237634?t=a6n7-J9FvtBpbZmX8euyJw&s=19`,`😈 demon-smiling + 🤔 thinking =`, `Emoji Mashup Bot`, `lmao, <a href='https://twitter.com/JOELwindows7/status/1556181448797089792?t=a6n7-J9FvtBpbZmX8euyJw&s=19' target="_blank" rel="noopener noreferrer">tidy glasses</a>!`],
    [`https://youtube.com/@NCHProductions`,`NCHProductions YouTube Channel`,``, `Animation 2D`],
    [`https://youtube.com/@Berd`,`Berd YouTube Channel`,``, `Pencil birbs funny animation tweening`],
    [`https://youtube.com/@rerez`,`Rerez YouTube Channel`,``, `Pencil birbs funny animation tweening`],
    [`https://youtu.be/BgHL9H6fA6U`,`GYLT (Google Stadia) Game Longplay`,`World of Longplays`, `Played by Spazbo4. Note, <mark class='error'>Google Stadia has already died</mark>. Expect Steam or whatever game store release, or.. yeah.`],
    [`https://twitter.com/jack/status/20?t=rZNQC9QJNigKCfUF1SobEQ&s=19`,`Twitter first ever post`,`Jack Dorsey`, ``],
    [`https://youtu.be/wBqM2ytqHY4`,`Late for Meeting`,`David Lewandownski`, ``],
    [`https://youtu.be/iRT4bUl2iFA`,`Guys, this miranda`,`brombo`, `She's one of the boys!!`],
    [`https://youtu.be/PDHB_pbY-Js`,`Guys, this miranda 2`,`brombo`, `WHY DID YOU DO THAT?!`],
    [`https://youtu.be/xD8IWQY0IOM`,`Therapiss`,`brombo`, ``],
    [`https://youtube.com/@brombo`,`brombo YouTube Channel`,``, `mouse drawn ms paint animation`],
    [`https://youtube.com/playlist?list=PLAEth7SjO4L1sWqllzQkrWhE84M5h-7y-`,`Pet Russian Saga`,`Gen Scinmore`, ``],
    [`http://www.bearbrick.com/`,`Bearbrick website`,`Bearbrick`, `This bear standing hard plastic doll collection`],
    [`https://odysee.com/@JOELwindows7:a/meme-meme-meme:e?r=5QVnh7Qi8KKQzh7G7pWw9nkfaEGprCzM&lid=ed3849bb2746a53c77b185f8020d1d750d93c0c2`,`JOELwindows7 Meme's Playlist Odysee LBRY`,`JOELwindows7`, ``],
    [`https://vt.tiktok.com/ZS8Q7vyUS/`,`Hit the side of bedwall <b>AH!!!</b>`,`Katey Lorrell`, ``],
    [`https://vt.tiktok.com/ZS8Qvek2c/`,`Hit the side of bedwall <b>AH!!!</b> sounds`,`Katey Lorrell`, ``],
    [`https://vt.tiktok.com/ZS8Qv85GT/`,`WHAT THE HEEEEEEEEEEEE..EEEEE..EEEEEEE..EEEEEEEEEEEELLLL`,`Slv_Sounds`, ``],
    [`https://xkcd.com/927/`,`Standards`,`xkcd`, `There are many competing standards, let's make a standard for universal cases. Nope, that adds whole another competing standards.`],
    [`https://youtu.be/n0Z3Cuhq1qA`,`Feelipa 🟥⚠️🔵 Color Code`,`Feelipa`, `Color that is tactile & Simple. for lower color vision! Feelipa is a color alphabet using shape mixing system. There are 3 primary colors represented with shape: Square is Red, Corner Triangle is Yellow, & Circle is Blue. COmbine these shapes to create mixed color, e.g. Square Red & Circle Blue equals Bullet Purple. etc etc. ALso, <b class='success'>it's FREE for end users</b>.`],
    [`https://feelipa.com/`,`Feelipa 🟥⚠️🔵 Website`,`Feelipa`, `Color that is tactile & Simple. for lower color vision! Feelipa is a color alphabet using shape mixing system. There are 3 primary colors represented with shape: Square is Red, Corner Triangle is Yellow, & Circle is Blue. COmbine these shapes to create mixed color, e.g. Square Red & Circle Blue equals Bullet Purple. etc etc. ALso, <b class='success'>it's FREE for end users</b>.`],
    [`https://www.deviantart.com/loulouvz/art/RGB-vs-CMYK-868595044`,`Spaicy in RGB vs CMYK`,`LoulouVZ`, `the printer (CMYK) succ! it dehydrates her to dry!`],
    [`https://www.deviantart.com/loulouvz/art/Spaicy-Fancharacter-Base-585869486`,`Spaicy fan character base`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Niveles-de-las-Criaturas-en-Snoworld-611160159`,`Spaicy level of beastness`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Criaturas-del-Universo-de-Spaicy-557667582`,`Spaicy beastness & types`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Do-and-Don-t-Spaicy-734261911`,`Spaicy artstyle do's & don't`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/ZOOM-475854230`,`Spaicy eye zoomed werror`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/LoulouVZ-Spaizona-727109752`,`Spaicy styled LoulouVZ herself (Spaizona LoulouVZ)`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Mis-diferentes-avatares-640750541`,`Spaicy, LoulouVZ avatars`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/The-evolution-of-planet-snoworld-724252063`,`Spaicy, Evolution of Planet Snoworld, Evolution of Snoworldean`,`LoulouVZ`, `From looks like animal into humanoid forms. interestingly, type terrestrial, amphibian, reptiles, aves (birds), & pisces (fishes), combines into one Animalia type, while obviously, Planta & Minerals goes into each respective types.`],
    [`https://www.deviantart.com/loulouvz/art/Create-your-own-Spaizona-629287209`,`Spaicy, Create your own Spaizona`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/All-Spaicy-Characters-690770062`,`Spaicy, All Spaicy Character`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Snoworldean-Features-779384512`,`Spaicy, Snoworldean features`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Proporciones-standar-del-universo-de-Spaicy-639401214`,`Spaicy, Proportion guides using stacking circle`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Spaicy-Views-718459394`,`Spaicy, Spaicy angle views (2017)`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Physalis-921789787`,`Spaicy, Physalis (inspired from physalis literally)`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Mature-Spaicy-925668762`,`Spaicy, Ara Ara Mature Spaicy (no lewd, just the motherly)`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Spaicy-Chicross-2022-925672245`,`Spaicy Chicross (2022)`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Spaicy-Comic-without-text-930152350`,`Spaicy Comic Textless, first 3 chapter.`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Spaicy-Magic-whip-reference-931896597`,`Spaicy Magic Whip reference`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz/art/Salud-en-Snoworld-621489400`,`Spaicy, Snoworld receptionists`,`LoulouVZ`, ``],
    [`https://www.deviantart.com/loulouvz`,`LoulouVZ DeviantArt`,``, ``],
    [`https://twitter.com/PopBase/status/1603921222114283520?t=PvipLHJ8SbOqeR__f1a-dg&s=19`,`Jenna Ortega stuns in new photo`,`PopBase`, `Jenna's outfit was cloth-like bra wrapped in a mesh shirt, with a large tie & white collar. SHe also wears metallic corset.`],
    [`https://twitter.com/PopBase/status/1618847734152454145?t=PvipLHJ8SbOqeR__f1a-dg&s=19`,`Jenna Ortega stuns in new photo 2`,`PopBase`, `Jenna's outfit was white dress. camera in selfie mode, angled up. cleavage shown.`],
    [`https://twitter.com/Glabsterii/status/1598925096156270592?s=20`,`Genderbent Little Caesars mascot`,`Glabsterii`, ``],
    [`https://youtube.com/shorts/ZBZcnImNmhk?feature=share`,`How to win Tic Tac Toe`,`Dave Hax`, ``],
    [`https://youtu.be/VCouxBnT4rw`,`Sample 1090p 30fps`,`Christopher Barnatt (Explaining Computers / Explaining Future)`, ``],
    [`https://youtube.com/@Nebula7Antics`,`Annabelle's Antics YouTube Channel`,`Christopher Barnatt (Explaining Computers / Explaining The Future)`, `Cartoon 3D funny from <a href='https://explainingcomputers.com' target="_blank" rel="noopener noreferrer">ExplainingComputers.com</a>`],
    [`https://youtube.com/@ExplainingComputers`,`Explaining Computers YouTube Channel`,``, `Computer stuffs! Reviews, Educations, & other techs. SBC Raspberry Pi, Arduino, Motherboards, Electronics`],
    [`https://youtube.com/@ExplainingTheFuture`,`Explaining The Future YouTube Channel`,``, `Future stuffs! Technology predictions, upcoming tecs, Cyborg, AI, Masa depan`],
    [`https://www.instagram.com/reel/Cm2WNQxqSqB/?utm_source=ig_web_copy_link`,`Satisfying park pachinko crunch brain`,`betch`, `as reuploaded <a href='https://youtube.com/shorts/LUztwR3xGIw?feature=share' target="_blank" rel="noopener noreferrer">here</a>`],
    [`https://youtube.com/shorts/uqPppSlyJ5k?feature=share`,`Wanda (Avenger Campus, Disneyland) remembers April`,`Likeitis`, ``],
    [`https://youtu.be/dokE1J5wlhE`,`SM64 255 Coin Limit`,`pannenkoek2012`, ``],
    [`https://www.pcjs.org/`,`PCjs Machines`,`pcjs.org`, `Old computer emulator online`],
    [`https://blog.persistent.info/2022/03/blog-post.html?m=1`,`Infinite Mac`,`Mihai Parparita`, `Classic Macintosh emu`],
    [`https://macos8.app/`,`Mac OS 8 Emu`,``, `Classic Macintosh emu`],
    [`https://system7.app/`,`Mac OS 7 Emu`,``, `Classic Macintosh emu`],
    [`https://macos9.app/`,`Mac OS 9 Emu`,``, `Classic Macintosh emu`],
    [`https://www.mdawson.net/vic20chrome/vic20.php`,`Commodore VIC-20 Emu`,`M. Dawson`, `Commodore emu`],
    [`https://c64emulator.111mb.de/`,`Commodore 64 Emu`,`111MB`, `Commodore C64 emu`],
    [`https://jamesfriend.com.au/pce-js/atari-st/`,`Atari ST Emu`,`James Friend`, `Atari ST emu`],
    [`http://www.zx81stuff.org.uk/zx81/jtyone.html`,`ZX81 Emu`,`zx81 stuffs`, `ZX81 emu`],
    [`https://jsspeccy.zxdemo.org/`,`ZX Spectrum Emu`,`Matt Westcott`, `ZX Spectrum emu`],
    [`https://github.com/gasman/jsspeccy3`,`ZX Spectrum Emu Source Code`,`Matt Westcott`, `ZX Spectrum emu`],
    [`https://youtu.be/2kTa37_UunI`,`Online Retro Emulators`,`ExplainingComputers`, ``],
    [`https://youtu.be/Wb_mHn0llPA`,`The Fairly Oddparents Pilot (1998)`,`time 342 reupload`, ``],
    [`https://youtu.be/9UAC2qkcrDY`,`Supa Hot Fire - The Rap Battle Parody (FULL VIDEO) [DeShawn Raw]`,`yoon`, `OOOOOOOO!!! MLG No-scope, I'm about to end this man's whole career`],
    [`https://youtube.com/shorts/d_9ztU3tRU8?feature=share`,`Doctor says gaming is healthy`,`Doctor Mike`, `if used properly & not over`],
    [`https://youtube.com/@UgoLord`,`Ugo Lord YouTube Channel`,``, `Lawyer's Reactions`],
    [`https://youtu.be/dbpFpjLVabA`,`Snickers Ad: Elderly`,`funwithads reuploads`, `You're not you when you're hungy. Snickers satisfies.`],
    [`https://youtube.com/shorts/oCUEH75-sjI?feature=share`,`SNIIKIICKKERIISISISI`,`Slimeciclips`, `You're not you when you're hungy. Snickers satisfies.`],
    [`https://www.instagram.com/reel/CpcSX2lA7Wx/?igshid=YmMyMTA2M2Y=`,`Hideo tries Voice controlled Optimus Prime replica toy (JP)`,`Hideo Kojima`, `This is how does the Japanese version of Optimus Prime voice controlled replica toy looks like. The Japanese voice recognition also works pretty like like the English counterpart.`],
    [`https://youtube.com/shorts/I1uGKLsMiDo?feature=share`,`What the dog doin'`,`reupload myles212`, `dog also wants the mint`],
    [`https://youtu.be/SdmfidIYS84`,`What the dog doin' SFX cut`,`reupload Internet Things`, `dog also wants the mint`],
    [`https://youtu.be/vxsGpIUUN54`,`Budrek & Sakit Kepala`,`Assyafa Kazka`, ``],
    [`https://youtu.be/4mNdQwtxKUs`,`Zelda Guitared Fairy Fountain`,`Super Guitar Bros.`, ``],
    [`https://youtube.com/@MisterZedRobot`,`Mister Zed YouTube Channel`,``, `Robot guy comedy`],
    [`https://youtu.be/PTeraD1bjXo`,`Mike Michaels`,`RTL`, `Funny robotic human show`],
    [`https://youtube.com/@SightSeekerAnim`,`SightSeeker YouTube Channel`,``, `Funny Meme 2D Animations. Deltarune, Family Guy, Moar!!!`],
    [`https://youtube.com/shorts/IS5MfXM_Moc?feature=share`,`Optical Illusion line backforth animated with tone, Metronome`,`PccFree.Space`, ``],
    [`https://github.com/chunribu/polybeat`,`Polybeat Source Code`,`PccFree.Space`, ``],
    [`https://youtu.be/vk4QavIILBI`,`Polybeat How to get`,`PccFree.Space`, ``],
    [`https://colab.research.google.com/drive/1X9vMc6OhdtMvdGR_BPXF21fZ0tGMSY5F?usp=sharing`,`Polybeat Google Research`,`PccFree.Space`, `Result becomes:<br/>`],
    [`https://youtube.com/shorts/XhLWRnIhokE?feature=share`,`How to Media Streaming`,`GTID`, ``],
    [`https://youtube.com/shorts/5ygKOSyCP_k?feature=share`,`Swing Piston Engine Overengineered`,`Tech_Planet`, ``],
    [`https://youtube.com/shorts/GffiQggZUHM?feature=share`,`Jerma <i>ate the birb</i>`,`clip limerific`, `pretend birb`],
    [`https://www.eizo.be/monitor-test/`,`EIZO Monitor Test`,`EIZO`, `Test if you had bad pixels. fetured on <a href='https://youtube.com/shorts/rysrbaVbMck?feature=share' target="_blank" rel="noopener noreferrer">GTID video about this</a>`],
    [`https://youtube.com/shorts/rGC02J3Rk2w?feature=share`,`Breaking Bone with bloody`,`reupload WofS`, ``],
    [`https://youtu.be/Q_YwajWURu8`,`Broken Burger King`,`JC FOster`, `I walk to Burger King, then walk back home from Burger King. Broken Boulevard parody`],
    [`https://youtu.be/-P_9QUGVQ8w`,`Markiplier Are you Sure About that`,`Headless Creator`, `John Cena style`],
    [`https://youtu.be/wAUK9hVgmNI`,`NASCAR Nyoooooooooooom`,`Video Dubs`, `NASCAR races dubbed with human voices`],
    [`https://youtu.be/j6hffHMzhH0`,`Nyoom butt missle`,`clip Publi Space`, ``],
    [`https://youtu.be/oHC1230OpOg`,`John Cena Are you sure about that? v1`,`Joel Todd`, ``],
    [`https://youtu.be/BLikP6BDH5w`,`John Cena Are you sure about that? v2`,`Joel Todd`, ``],
    [`https://youtu.be/6Lad7s-sLIU`,`John Cena Are you sure about that? Extended COntext`,`IamTrolling`, ``],
    [`https://youtu.be/xOONs4Swbvo`,`Mumei Hololive waaaaaaaaaaah`,`Ransho`, ``],
    [`https://youtu.be/mgGYF7Stmnk`,`Genshin Impact 1st Person Glitch`,`m1sh3n`, ``],
    [`https://youtu.be/1Nq0Ae5I8R0`,`Mike`,`m1sh3n`, ``],
    [`https://youtu.be/1Nq0Ae5I8R0`,`Tyson DeGrasse Neil Nyoom SFX`,`clip Sound effect`, ``],
    [`https://youtube.com/shorts/uUZCbLQ2sxo?feature=share`,`Proving 5 GTA San Andreas myths`,`napriboy`, `correct & incorrect sfx made with his own voice`],
    [`https://youtu.be/ljryOkkRlKA`,`Madonna - Back That Up To The Beat (Sped up version)`,``, ``],
    [`https://youtube.com/shorts/gbmJUrZsSns?feature=share`,`Google search awards`,`reupload rychfast, original tweet yup.that.exists`, ``],
    [`https://youtube.com/shorts/QqsECpYUXaQ?feature=share`,`Have you any idea why a raven is like a writing desk?, Alice in Wonderland clips`,`reupload mayiwei8090`, ``],
    [`https://youtube.com/shorts/T4E7BvPw9Ac?feature=share`,`Grow Chia Seed`,`AmazingTubeTimeLapse`, ``],
    [`https://youtu.be/nGsQT3DAo7M`,`Afrika Bambaatas - Planet Rock`,``, ``],
    [`https://vt.tiktok.com/ZS8CBjFmK/`,`Phonk Piggies`,`EXNLXDE`, ``],
    [`https://vt.tiktok.com/ZS8CBMqg8/`,`Phonk Piggies Sound`,`EXNLXDE`, ``],
    [`https://vt.tiktok.com/ZS8CBFqx1/`,`Ching Cheng Hanji Grandpa full video`,`reupload music wang`, `Tribute to grandpa 🪦`],
    [`https://www.bilibili.tv/id/video/2047527501`,`Davie504 vs. TwoSetViolins VOD reupload`,`reupload bili______________`, `the VOD original is even limited time & now unavailable anymore. I have no idea what to say here, other than some.. controvercial words.`],
    [`https://youtu.be/80BwqQQY31w`,`Obamna. SODA!!!`,`Wheatskins`, ``],
    [`https://youtube.com/shorts/IfVsO0s6NSQ?feature=share`,`Auto-crank Guitar Tuner`,`LatestMusicGuitar`, ``],
    [`https://youtu.be/teYFeGD6Ilc`,`Markiplier punches you`,`Aliceinite`, ``],
    [`https://youtu.be/wLkfz10Srxw`,`School Simulator Cat Breakdancing`,`Swept`, ``],
    [`https://youtube.com/shorts/0w57uCX4p8U?feature=share`,`Mosquito coil container DIY`,`edy_art_studio`, ``],
    [`https://youtube.com/shorts/TL_o0QLP8Rg?feature=share`,`Bagus Pandega's Electro Botanical reader machine`,`Billy Mohdor`, ``],
    [`https://youtu.be/pXAQNGUcTjs`,`The Sweater`,`NFB`, ``],
    [`https://youtu.be/ZZyDsF-Gp3o`,`The Sweater, Go to the Church and ask God to forgive you`,`Zanzibane`, ``],
    [`https://youtu.be/iKJOL6aVR9A`,`Ahhhhh`,`Weird Helga`, ``],
    [`https://youtu.be/rCuC3fV_fHc`,`Make your own vinyl record at home | Teenage Engineering PO-80 & Gakken Record Maker`,`David Hilowitz`, ``],
    [`https://www.decentsamples.com/product/record-cutter-synth-free/`,`Record synth VST <mark class='error'>(requires email)</mark>`,`David Hilowitz`, ``],
    [`https://youtube.com/shorts/Te_QrzEYkPY?feature=share`,`loveon funny sped up`,`trungvasenda`, ``],
    [`https://youtu.be/PyCHSrKZGos`,`Inappropriate Timing SpongeBob Banner`,`Bebble clip`, ``],
    [`https://youtu.be/puwaCyXkVK4`,`Hey checkout how hard I can cry`,`Sals`, ``],
    [`https://youtube.com/shorts/74utVl8_cIc?feature=share`,`Internet Trends: Select All ✅✅✅✅✅✅`,`haleyybaylee`, ``],
    [`https://youtu.be/HUc6Z5bLwhU`,`GET OFF OF MY ${nsfw?`FUCKING`:`888888`} PORCH; South Park meme`,`Bluedew`, ``],
    [`https://fonts.google.com/specimen/DynaPuff`,`DynaPuff font`,`Toshi Omagari, Jennifer Daniel`, ``],
    [`https://design.google/library/dynapuff/`,`DynaPuff font about`,`Toshi Omagari, Jennifer Daniel`, ``],
    [`https://fonts.google.com/specimen/Roboto+Flex`,`Roboto Flex Font`,`Font Bureau`, ``],
    [`https://material.io/blog/roboto-flex`,`Roboto Flex Font about`,`Sarah Daily`, ``],
    [`https://vt.tiktok.com/ZS8CHJBmu/`,`No`,`There I Ruined it`, ``],
    [`https://vt.tiktok.com/ZS8CHB4sM/`,`chain hang low DJ HOLY`,`JayJax`, ``],
    [`https://vt.tiktok.com/ZS8CHDpVL/`,`Chain Hang Best Dance`,`Dj Tik Tok Mix`, ``],
    [`https://vt.tiktok.com/ZS8CHuAM8/`,`See Tinh (Remix)`,`Cukak & Hoàng Thuy Linh`, `Tin ting ting tang tang tang`],
    [`https://vt.tiktok.com/ZS8CHQHFe/`,`clip tade tang tang tan tang`,`zero1234phu`, ``],
    [`https://vt.tiktok.com/ZS8CHWxc8/`,`21st century sfx repeat after me`,`yasin`, ``],
    [`https://youtube.com/shorts/B-zBfU6aP54?feature=share`,`If you HOmeless, just buy a house`,`reupload SwaeKese`, ``],
    [`https://youtu.be/d_QyqXH6p6w`,`tangina mo`,`mikay`, ``],
    [`https://youtu.be/SHuqS8ej6fI`,`Rika <code>Nipaa!</code> compilation`,`clips yp`, `Anime = <code>Higurashi no Naku Koro ni</code>: S1E14, S1E15, E20, Special Nekogoroshi-hen, E2 alksdhfklahsdlkfkasdh`],
    [`https://youtube.com/@lockpickinglawyer`,`Lock Picking Lawyer YouTube Channel`,``, `Picks locks`],
    [`https://youtu.be/PHAfhxXZJus`,`Henkei Shoujo #3`,`DLE Channel`, `Girl becomes robot mecha`],
    [`https://youtu.be/LsovfpizZP0`,`NA NA NA NA NA NA NA BLYATMAN`, `Zurrapa47`, ``],
    [`https://youtu.be/7Z1Ld2SIVIA`,`${nsfw?`C888 B888`:`CYKA BLYAT`}!!!`, `Heavy Swag / Sittipon Moungkaew`, `<mark class='warning'>Profanity</mark>`],
    [`https://youtu.be/eKXVHBn396A`,` Russian Rage ${nsfw?`C888 B888`:`CYKA BLYAT`}`, `Cyril Deva`, `<mark class='warning'>Profanity</mark>`],
    [`https://youtu.be/nzY0ECYpUPQ`,`Holy moly surprised emoji`, `allegsa`, ``],
    [`https://youtu.be/ScN92oowxF0`,`Metro Boomin make it boom`, `ryn`, ``],
    [`https://vt.tiktok.com/ZS8Cpuwkp/`,`Ching Cheng Hanji throttled`, `JOELwindows7`, ``],
    [`https://vt.tiktok.com/ZS8Cpsk1k/`,`Ching Cheng Hanji sped up`, `vin_h667`, ``],
    [`https://vt.tiktok.com/ZS8CpE3wj/`,`Pirate Sailor song but cat (SOUND)`, `Rufus Goodboy`, ``],
    [`https://vt.tiktok.com/ZS8CpoX7b/`,`Pirate Sailor song but cat`, `Rufus Goodboy`, ``],
    [`https://youtu.be/lLGLUSzzuWU`,`Home Free - Sea Shanty Medley; Pirate Sailor song TikTok`, ``, ``],
    [`https://youtu.be/HUngLgGRJpo`,`Nuggets`, `Filmbilder & Friends`, ``],
    [`https://youtu.be/rq3U1kYonuw`,`Addiction`, `yongxian`, ``],
    [`https://youtu.be/e9dZQelULDk`,`Happiness`, `Steve Cuts`, ``],
    [`https://youtu.be/44HQJPxbiCg`,`Slimtime`, `Piedboeuf Patrick`, ``],
    [`https://youtu.be/4ZYVogCYsdA`,`Slimtime`, `Slimtime Team`, ``],
    [`https://youtu.be/VqB1uoDTdKM`,`DOOR STUCK!!!`, `KinetiK001`, ``],
    [`https://youtu.be/u95iEn42DVE`,`DOOR STUCK!!! 15th anniversary`, `KinetiK001`, ``],
    [`https://youtu.be/fh8VfFH78jY`,`IDIOTS OF GARRY'S MOD`, `ICTON`, ``],
    [`https://youtu.be/Bsjd7fVJQy0`,`IDIOTS OF GARRY'S MOD 2`, `ICTON`, ``],
    [`https://youtu.be/QlRSSbHcU0M`,`IDIOTS OF GARRY'S MOD 1.5`, `ICTON`, ``],
    [`https://youtube.com/playlist?list=PL96EF5FE8203331B2`,`IDIOTS OF GARRY'S MOD SERIES PLAYLIST`, `ICTON`, ``],
    [`https://youtu.be/hL1EN58YIwQ`,`Saber Lily clap clap`, `Rinslette`, ``],
    [`https://youtu.be/dQw4w9WgXcQ`,`Rick Astley - Never Gonna Give you Up`, ``, ``],
    [`https://youtu.be/-u7EuaX5wYU`,`Burger King Whopper Whopper instrument off-sync`, `UraniumGD`, ``],
    [`https://youtu.be/2h28LRxDyy8`,`Burger King Whopper Whopper Instrumental`, `Instrumental Central`, ``],
    [`https://youtu.be/LPvwtRcko4c`,`Burger King Whopper Whopper Acapella`, `Gabriel Helewa`, ``],
    [`https://youtu.be/7GI0GEKVbb0`,`GET THE ${nsfw?`FUCK`:`8888`} DOWN!!!`, `conorW062`, ``],
    [`https://youtu.be/rRm0NDo1CiY`,`Steve Ballmer Developer Remix`, `ViciousAloisius`, ``],
    [`https://youtu.be/WGooQ8yYC0c`,`Cilit Bang Techno Remix`, `BadBoiR, Remix by JAKAZiD`, ``],
    [`https://youtu.be/6-7NDP8V-6A`,`Kitchen Gun`, `BBC`, ``],
    [`https://youtu.be/t2UY_3RNggU`,`Toilet Grenade`, `BBC`, ``],
    [`https://youtu.be/BGGOn-H7s3Q`,`Mactini`, `BBC`, ``],
    [`https://youtu.be/ZZ5LpwO-An4`,`HEYYEAYYAEYYAYE`, `ProtoOfSnagem`, ``],
    [`https://youtube.com/playlist?list=PLsvYuSgEtSsLaXnw9Hwas7aCjJdm27NZE`,`Cartoon Hangover Playlist`, `ChannelFrederator`, ``],
    [`https://youtube.com/playlist?list=PL4tXvA6M94H4rOZcNQeLMsWeeSE-3i3-5`,`Bratz Season 1 Playlist`, `Bratz`, ``],
    [`https://youtube.com/playlist?list=PLE0FEB1781BCF65EC`,`Do's & Don'ts: A Children's Guide to Social Survival`, `Shut up Cartoon`, ``],
    [`https://smosh.fandom.com/wiki/Oishi_Kawaii`,`about Oishi Kawaii (Oishi High School Battle) Wikia`, ``, ``],
    [`https://youtube.com/@DougSharpe`,`Doug Sharpe YouTube Channel`, ``, `Fun Fact..`],
    [`https://youtube.com/@RicoPixelArt`,`Aseprite Rico YouTube Channel`, ``, `Pixel Arts Deltarune`],
    [`https://twitter.com/AsepriteRico`,`Aseprite Rico Twitter`, ``, `Pixel Arts Deltarune`],
    [`https://twitter.com/onemegawatt/status/1154102577165766661?t=1mO3nOvkpWnFlvHT8I7xjw&s=19`,`Cavalo spinning horse`, `onemegawatt`, ``],
    [`https://youtu.be/rYd4Y4v9qmw`,`Cavalo vinhetas`, `Jhonatan8558`, ``],
    [`https://knowyourmeme.com/memes/spinning-horse-cavalo`,`Cavalo Spinning horse Know your meme`, ``, ``],
    [`https://youtu.be/VthZEN93loQ`,`Ayo come look at this`, `Shaun Gamer_YT`, ``],
    [`https://youtu.be/pb_aEt07nbM`,`Wheezing uncontrolably while designing avatar skin in a game`, `Makino`, ``],
    [`https://youtu.be/WKeDrDwrDtE`,`suspenseful cat spongebob suspense`, `allegsa`, ``],
    [`https://youtu.be/IXAa1zdjdSE`,`Santa: Um excuse me what the actual ${nsfw?`fuck`:`peck`} you doing in my house?`, `Yoboirevenant`, ``],
    [`https://youtu.be/F7OuUWKrnwI`,`Gura first <code>A</code> after 2 months`, `Wholesome Hololive`, ``],
    [`https://www.youtube.com/live/vfsuo2Q1dEM?feature=share`,`VOD WHERE IS GURA`, `Gawr Gura`, ``],
    [`https://youtu.be/7U6eHY1M9WM`,`Gawr Gura first ever <code>A</code>`, `Anti`, ``],
    [`https://youtu.be/woMsPhVsAAk`,`Gawr Gura first ever <code>A</code> in <code>A Major</code>`, `GoodBoyChends`, ``],
    [`https://www.youtube.com/live/dBK0gKW61NU?feature=share`,`Gawr Gura Debut`, `Gawr Gura`, ``],
    [`https://youtu.be/g0yang7P344`,`Markiplier Dies meme`, `MarkiplierMemes`, ``],
    [`https://youtu.be/8A0AdGm3H30`,`Saloon Rag`, `Audio Libary (unofficial)`, ``],
    [`https://twitter.com/lupucs/status/1619456113904345088?s=20`,`Download Deltarune Lupucs Cyber City wallpaper`, `Lupucs`, ``],
    [`https://vt.tiktok.com/ZS8XeTLPG/`,`Si Optimum Pride!`, `Jose Angelo Tayco`, ``],
    [`https://youtube.com/shorts/Dmrp2spuOr0?feature=share`,`Si Optimum Pride!`, `reupload bambxm3538`, ``],
    [`https://youtube.com/shorts/hKytfYqQmXc?feature=share`,`Si Optimum Pride! Costume`, `KrisGuy`, ``],
    [`https://youtu.be/h3-PYAAxphA`,`Kobo Optimum Pride!`, `gsuth777`, ``],
    [`https://youtu.be/3fFNMCAUuQk`,`Macan Koramil Cisewu destroyed, RIP`, `TomoNews Indonesia`, ``],
    [`https://youtu.be/czGPXysv77E`,`AstroGirl - Tsukumo Sana (Orchestra remix)`, `GoodBoyChend`, ``],
    [`https://youtube.com/shorts/NAx0LSqg3ZM?feature=share`,`Floppa / Caracal. The most dangerous cat species`, `joni_wasabi`, `still couldn't even fight against Oyen / Orange cat`],
    [`https://youtu.be/6EEW-9NDM5k`,`Akon - Lonely; Chipmunk: I'm just so lonely, I have nobody`, ``, ``],
    [`https://youtube.com/shorts/sdRXpITgcoE?feature=share`,`meme from internet`, `TheMemeGeek`, ``],
    [`https://youtube.com/@scumbagdad`,`Scumbag Dad YouTube Channel`, ``, `Scumbag & Quirky portrait funny moments`],
    [`https://youtube.com/shorts/7QPzLgiETEk?feature=share`,`Yakult microscoped`, `CloseIntel`, `Yakult contains live bacteria called Lactobacillus Casei Shirota Strain which is a good bacteria that supresses bad bacteria growth in our stomach. They can withstand harsh environment in our stomach, as Dr. Shirota had researched by culturing them for 3 years and found ones that the most durable.`],
    [`https://youtube.com/shorts/yXcW33lU2R4?feature=share`,`Being stared down by a Turkish cat`, `tombomb5151`, `Menacingly 🤣`],
    [`https://youtu.be/XqJx5cZM6PU`,`Kobo Mahal Kita (I Love You) ${nsfw?`putangina`:`8888888888`}`, `breakdancing cat`, ``],
    [`https://www.youtube.com/live/C7yBIQzXeV0?feature=share`,`Kobo Hololive VOD Free Talk + Dono Reading Kedewasaan dini`, `Kobo Kanaeru`, ``],
    [`https://youtu.be/3G9LSRVhdYE`,`murder Snoopy`, `HzNoah`, ``],
    [`https://youtu.be/GwCkG_MToC8`,`Doofenshmirtz: She's 16!! (shoot teleport beam)!`, `Frdsyh`, ``],
    [`https://youtu.be/J6eI4ZF1tq8`,`Doofenshmirtz: She's 16!! (shoot teleport beam)!; meeme`, `lolpoop907m`, `teleport that pervert to alien baby at the top of hammer table to be smashed with its toy hammer`],
    [`https://youtu.be/quFtp01gbtM`,`My Hero Academia Doofenshmirtz: CURSE YOU, PLATYPUS!!!`, `Pakdoto`, ``],
    [`https://youtu.be/9YASHgTZuyI`,`Phineas and Ferb: Vanessa saves her father`, `Phinerb Bella`, ``],
    [`https://youtu.be/eZ2PtEx9-ls`,`Daler Mehndi - Tunak Tunak Tun`, ``, ``],
    [`https://youtu.be/Ee5NeD3NVyk`,`Spongebob 5 more whoper & 5 more whoppers`, `Dylan MP4`, ``],
    [`https://youtube.com/shorts/TDo3whbXC_8?feature=share`,`Oldest Diner in NYC that still serves Coca Coca that same old fashioned way as it's always been`, `jesusizabean`, ``],
    [`https://youtu.be/PXONttXVTac`,`The Encounter (2010) Christian Movie`, `reupload VIVE MOTIVATION`, ``],
    [`https://youtu.be/ZXsQAXx_ao0`,`DO IT!!`, `MotivaShian / Luke Turner`, ``],
    [`https://vimeo.com/125095515`,`DO IT!! Full 30 Minute`, `MotivaShian / Luke Turner`, ``],
    [`https://youtube.com/shorts/XTHZWqZt_AI?feature=share`,`Buttered Cat Load`, `broner9350`, ``],
    [`https://youtu.be/c2fZjTjQp44`,`Kobo Bing Chilling`, `gsuth777`, ``],
    [`https://youtube.com/shorts/dm1SL7JhQAw?feature=share`,`Kobo being Calli's Cute little gremlin`, `AmekiClips`, ``],
    [`https://youtu.be/-FE0za1DiD8`,`Bocchi Shredding Free Bird`, `Dan Dan`, ``],
    [`https://youtu.be/BuiMpKTlOpQ`,`Bocchi getting into small spaces compilations`, `ThunderPanzer`, ``],
    [`https://youtu.be/jkRy2qskw_Q`,`YOu mean, I'm awake?? AEOUGGGHHHHHH Spongebob`, `Jazz City`, ``],
    [`https://youtu.be/KuuLNZpn-rk`,`A Slav Russian guy failed to beat Snowman! Snowman: (Bowser CD-I) HE HEHAHAHAHAAA `, `HackBase`, ``],
    [`https://youtu.be/jVOJ1-YjctU`,`A Slav Russian guy failed to beat Snowman! Snowman: (Bowser CD-I) HE HEHAHAHAHAAA (LOWER QUALITY TIKTOK REUPLOAD)`, `turb`, ``],
    [`https://youtube.com/shorts/zK9smo7wCQs?feature=share`,`Sia Snowman Russian Cover `, `lidmila.olegovna`, ``],
    [`https://youtu.be/y4tGcI_FUfE`,`Guy Collapses Building `, `DailyPicksAndFlicks`, ``],
    [`https://youtu.be/gset79KMmt0`,`Sia - Snowman `, ``, ``],
    [`https://youtube.com/shorts/R48h5NB9NOA?feature=share`,`I have 2 Sides: I forgor. I REMBER! `, `reupload Bramv`, ``],
    [`https://youtube.com/shorts/wc_Xs6QgoJA?feature=share`,`I have 2 Sides: I forgor. I REMBER! `, `Gianni Matragrano`, ``],
    [`https://youtu.be/9tISaWeO9q8`,`Insider: How Ballerinas Customize Their Pointe Shoes Ballerina`, `Insider`, ``],
    [`https://youtube.com/playlist?list=RDQMOBTSVfIymSI`,`Classic Indonesian Pop MIX Playlist`, `YouTube Mix`, ``],
    [`https://youtube.com/shorts/0tC_cwWnAYE?feature=share`,`What if you Indonesiafy brand names?`,`Bang Joe`, `Government in Indonesia encourage all brands to sounds Indonesian-ee`],
    [`https://youtube.com/shorts/As3DNsmVipI?feature=share`,`Coconut Wo'er OR Bo'o'wo'er'?`,`Mark O'Dea`, ``],
    [`https://youtube.com/shorts/TtFQ6kdiUAY?feature=share`,`The Hose Pt. 3: Japanese Toilet`,`Mark O'Dea`, ``],
    [`https://youtube.com/@markodea`,`Mark O'Dea YouTube Channel`,``, `Random English videos`],
    [`https://youtu.be/RRKJiM9Njr8`,`My Chemical Romance - Welcome To The Black Parade`,``, ``],
    [`https://youtube.com/@ChipTheManx`,`Chip The Manx YouTube Channel`,``, `Chonk tabby cat`],
    [`https://youtube.com/@Dontstopmeowing`,`Don't Stop Meowing YouTube Channel`,``, `Chase, Millie, & Skye the cats`],
    
    
    
]
---
{
    dumpQuik.map(stuff => (
    <li><ButtonizedLink href={stuff[0]} target="_blank" rel="noopener noreferrer" set:html={stuff[1]}></ButtonizedLink> <Fragment set:html={stuff[2]}> </Fragment>. <Fragment set:html={stuff[3] || ``}></Fragment></li>
    ))
}
