---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href={"https://youtu.be/4jTKHE_T6Uo"} target="_blank" rel="noopener noreferrer">Shondo plays <code>Friday the 13th</code> game, peeked through keyhole to a room in this cabin & saw couple having sex inside</ButtonizedLink> recorded by OurOshi. pls <a href="https://twitch.tv/fallenshadow" target="_blank" rel="noopener noreferrer">Shondo Twitch</a></li>
<li><ButtonizedLink href={"https://youtu.be/F9HRw2xAJ6Q"} target="_blank" rel="noopener noreferrer">Me!Me!Me! Movie reupload</ButtonizedLink> reuploaded by Anime Op Full. Pls Archive! based on Teddyloid - ME!ME!ME!</li>
<li><ButtonizedLink href={"https://pin.it/6UjCUUZ"} target="_blank" rel="noopener noreferrer">(Pinterest) Latex Anime Kigurumi complete with also rubber anime head</ButtonizedLink> Where to get this?! Also how to import Latex suit to Indonesia? all we saw in our local online store are just that, that's it, that's all those listed. I want to buy. afraid, there are family members not in this contract, how do we get it? idk. let's explore Ali-Express! probably there. AH man! Is there any commisionable designer around me here? We are in Jakarta, Indonesia at the moment. I want latex suit!</li>
<li><ButtonizedLink href={"https://youtu.be/r6fnbtFtQXY"} target="_blank" rel="noopener noreferrer">CHOOSE ONE OF US!!</ButtonizedLink> No sauce Anime clip, <code>Your Sister Yukina-Chan</code>, cavaliereoscuro8522 said it's <code>Mysterious Girlfriend</code></li>
<li><ButtonizedLink href={"https://youtu.be/PTvTLvkiAbI"} target="_blank" rel="noopener noreferrer">Gunther - Ding Dong Song</ButtonizedLink> Oh, you touch my tralala. 😏😏😏 MMMMh, my ding ding DONG..</li>
<li><ButtonizedLink href={"https://youtube.com/shorts/vLR9SR4zRTY?feature=share"} target="_blank" rel="noopener noreferrer">Mommy Milkies Fogsmoke statue</ButtonizedLink> lunatheweedwitch, reupload by crycelunfann8568. This is a thick smoke statue that shapes like a big breasted woman. her breast niples are the smoke output.</li>
<li><ButtonizedLink href={"https://youtube.com/shorts/4foWBolUbqo?feature=share"} target="_blank" rel="noopener noreferrer">Mommy Milk Jugs</ButtonizedLink> StronllinStu, image sauce not listed. Depicts a coffeebuck worker in only coffeebuck apron, woman with big breast.</li>
<li><ButtonizedLink href={"https://youtu.be/ztVas5Q_ASU"} target="_blank" rel="noopener noreferrer">The Chinese Cunny (Kisaki from Blue Archive appreciation)</ButtonizedLink>It's A-Kun. <br/>Sauces:<br/>
    <!-- 
        https://danbooru.donmai.us/posts/6021375?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6021515?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6021515?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6022617?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/60222_04?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6022192?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6023352?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6023795?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6025092?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6025106?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6028814?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6030318?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6031411?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6032287?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6032374?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6032776?q=kisaki_%28blue_archive%29
        https://danbooru.donmai.us/posts/6033655?q=kisaki_%28blue_archive%29
     -->
    <ul>
        <ButtonizedLink href='https://pastebin.com/zb1qgVTv' target="_blank" rel="noopener noreferrer">Pls Pastebin</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6021375?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6021515?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6022617?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/60222_04?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6022192?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6023352?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6023795?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6025092?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6025106?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6028814?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6030318?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6031411?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6032287?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6032374?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6032776?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
        <ButtonizedLink href='https://danbooru.donmai.us/posts/6033655?q=kisaki_%28blue_archive%29' target="_blank" rel="noopener noreferrer">Pls Danbooru</ButtonizedLink>
    </ul>
</li>
<li><ButtonizedLink href={"https://youtube.com/shorts/BtPc1OPVWoM?feature=share"} target="_blank" rel="noopener noreferrer">MY SUPERBOWL COMMERCIAL</ButtonizedLink> steveioe duets this woman that was doing body internal shaking with sus claps</li>
<li><ButtonizedLink href={"https://youtu.be/jC3pGcRHeQ0"} target="_blank" rel="noopener noreferrer">Banned German Ninja Turtles Commerciall</ButtonizedLink> reuploaded by xxxxxxxxx. </li>
<li><ButtonizedLink href={"https://vimeo.com/1025922"} target="_blank" rel="noopener noreferrer">Ninja Turtle Webung Retro</ButtonizedLink> reuploaded by walterf. </li>
<li><ButtonizedLink href={"https://youtu.be/Cp-zA6Tyo9E"} target="_blank" rel="noopener noreferrer">Black guy orgasm meme scream original clip</ButtonizedLink> reuploaded by Bina Muhamad. the rest of the sex screen is missing</li>
<li><ButtonizedLink href={"https://youtu.be/ViXSzU8UjbI"} target="_blank" rel="noopener noreferrer">Sex Scream car chase</ButtonizedLink> Fumiin. There is no naked, just scream say <code>SEX</code></li>
<li><ButtonizedLink href={"https://youtu.be/ox5594fJ9_s"} target="_blank" rel="noopener noreferrer">Sex Delivery Service</ButtonizedLink> Fumiin.</li>