---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href={"https://youtu.be/4jTKHE_T6Uo"} target="_blank" rel="noopener noreferrer">Shondo plays <code>Friday the 13th</code> game, peeked through keyhole to a room in this cabin & saw couple having sex inside</ButtonizedLink> recorded by OurOshi. pls <a href="https://twitch.tv/fallenshadow" target="_blank" rel="noopener noreferrer">Shondo Twitch</a></li>
<li><ButtonizedLink href={"https://youtu.be/F9HRw2xAJ6Q"} target="_blank" rel="noopener noreferrer">Me!Me!Me! Movie reupload</ButtonizedLink> reuploaded by Anime Op Full. Pls Archive! based on Teddyloid - ME!ME!ME!</li>
<li><ButtonizedLink href={"https://pin.it/6UjCUUZ"} target="_blank" rel="noopener noreferrer">(Pinterest) Latex Anime Kigurumi complete with also rubber anime head</ButtonizedLink> Where to get this?! Also how to import Latex suit to Indonesia? all we saw in our local online store are just that, that's it, that's all those listed. I want to buy. afraid, there are family members not in this contract, how do we get it? idk. let's explore Ali-Express! probably there. AH man! Is there any commisionable designer around me here? We are in Jakarta, Indonesia at the moment. I want latex suit!</li>
<li><ButtonizedLink href={"https://youtu.be/r6fnbtFtQXY"} target="_blank" rel="noopener noreferrer">CHOOSE ONE OF US!!</ButtonizedLink> No sauce Anime clip, <code>Your Sister Yukina-Chan</code>, cavaliereoscuro8522 said it's <code>Mysterious Girlfriend</code></li>
<li><ButtonizedLink href={"https://youtu.be/PTvTLvkiAbI"} target="_blank" rel="noopener noreferrer">Gunther - Ding Dong Song</ButtonizedLink> Oh, you touch my tralala. 😏😏😏 MMMMh, my ding ding DONG..</li>