---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout 
    title="Android!!!" 
    description="Perkedel NTLF+ASTR. Embedded Hacks!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, android"
    >
    <h1>Android!!! (Not to be confused with Linux despite its kernel base)</h1>
        <p>Every Android stuffs</p>
        <h2>What to do?</h2>
        <ul>
            <li><ButtonizedLink href="winCE">???</ButtonizedLink></li>
        </ul>
</Layout>