---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout
    title="Android!!!"
    description="Perkedel NTLF+ASTR. Embedded Hacks!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, android, rooting, root, rooted"
    >
    <h1>Android!!! (Not to be confused with Linux despite its kernel base)</h1>
        <p>Every Android stuffs</p>
        <h2>What to do?</h2>
        <ul>
            <!-- <li><ButtonizedLink href="winCE">???</ButtonizedLink></li> -->
            <li><ButtonizedLink href="https://github.com/topjohnwu/Magisk" openInNewTab={true}>Magisk</ButtonizedLink> SuperUser APK that filters certain app root access. Great if your Games e.g. hates rooted phone.</li>
            <li><ButtonizedLink href="https://www.xda-developers.com/root/" openInNewTab={true}>XDA Developer's page of how to root Android phones</ButtonizedLink> List of rooting android phone & every rooting guides. <mark class="warning">Follow with caution! At your own risk!</mark><br/>
                Especially on Samsung Galaxy smartphone e.g., the security chip (called KNOX) <b class="error">will blow & you'll lose all KNOX features</b>.
                </li>
            <li><ButtonizedLink href="https://blissos.org" openInNewTab={true}>Bliss OS</ButtonizedLink> Android x86 continued development. Still has Android 9.0 but had betterizers & <b class="info">currently developing next Android versions!</b> yep, 11 & 12. <mark class="warning">the 12 one still too new though.</mark><br/>
              <span style='font-size:small;'>PSST! If you wanna download the 12 (Bliss OS 15) right now, lemme give you hint. the <code>logcat</code> command <b>outputs everything logcat on that terminal you told it on</b>, yess. AAAh, you know that? maybe you can <b>try bring whatever it wrote as a file write instead!</b> go try it! You know how to do that, don't ya?<br/>
                No, serious. the 12 is still way too unstable no matter whatever it is. unless you're testing things out or just to YouTube it out, you should not use nor tell anyone to try daily drive it at the moment.
                We cannot afford anyone immature goes all the way up scream in front of bunch of professionals, No, not again certainly. We can't have that once again!<br/>
                Just keep using the stable 9.0 (Bliss OS stable) for now until it's all done first. You can help if you want & had great amount of experience with Android on PC something2.<br/>
                Anyway who the hell still use Android anyway? We are all long time ago have been Linux or any POSIX, and Android phone markets in Dasandim has been deprecated in 2014. Oh that's right, Earth people still uses Android if not iOS, to this very day.<br/>
                Like, it's not POSIX compliant by core even just because it runs on Linux kernel! They're impostor! the graphic mode isn't even whatever X or Wayland, it's something SurfaceFlinger idk, I mean, it's proprietary sort, and app binary system doesn't sounds like ELF to me, Java precisely, Dalvikness Java. WaAAAaAAa!
                Look at this, I heard Kaorfa paid twenty five earth silvers (US$25) just to have the Google Play upload account. That's pretty expensive! I could pay a package of vacation in Beanstalk City, back forth twice! btw, the city is very high, don't do it if you fear of height.<br/>
                really. Yeah, I couldn't judge at all. Just.. pretty disappointed. You are still using an operating system controlled by the same guy who, idk.. sold over 200Ks of Dasandimians personal data.<br/>
                I know, can be cleaned, but still. It's not POSIX compliant. for real. why though? Yeah, that Bliss people already attempted it that, it had, but no, not enough.<br/>
                Why mobile apps still exclusively be there & iOS only?
              </span>
              </li>
            <li><ButtonizedLink href="https://www.android-x86.org/" openInNewTab={true}>Original Android PC where everything Android for PC starts from. Stuck at 9.0</li>
        </ul>
</Layout>
