---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout 
    title="Android!!!" 
    description="Perkedel NTLF+ASTR. Embedded Hacks!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, android, rooting, root, rooted"
    >
    <h1>Android!!! (Not to be confused with Linux despite its kernel base)</h1>
        <p>Every Android stuffs</p>
        <h2>What to do?</h2>
        <ul>
            <!-- <li><ButtonizedLink href="winCE">???</ButtonizedLink></li> -->
            <li><ButtonizedLink href="https://github.com/topjohnwu/Magisk">Magisk</ButtonizedLink> SuperUser APK that filters certain app root access. Great if your Games e.g. hates rooted phone.</li>
            <li><ButtonizedLink href="https://www.xda-developers.com/root/">XDA Developer's page of how to root Android phones</ButtonizedLink> List of rooting android phone & every rooting guides. <mark class="warning">Follow with caution! At your own risk!</mark><br/>
                Especially on Samsung Galaxy smartphone e.g., the security chip (called KNOX) <b class="error">will blow & you'll lose all KNOX features</b>.
                </li>
        </ul>
</Layout>