---
---
<li>
    <!-- <input onclick='setDownloadLinkVisibility(this.checked)' id="DownloadShowHideCheckBox" class="DownloadShowHideCheckBoxes" type="checkbox" name="HideDownloadLink"/>
    <label for="HideDownloadLink">Hide Download links</label> -->
    <label>
        <input onclick='setDownloadLinkVisibility(this.checked)' id="DownloadShowHideCheckBox" class="DownloadShowHideCheckBoxes" type="checkbox" name="HideDownloadLink"/> 
        Hide Download links
    </label>
</li>