---
---
<li>
    
    <label><input onChange="setPerkedelWoosieRevolutionTime(this.value+'s')" type='number' name='PerkedelWoosieRevTime' id='PerkedelWoosieRevTime' value='10' step='.01' list='PerkedelWoosieRevTimeList'/> Perkedel Woosie Revolution Time</label>
</li>
<li>
    <label>
        <select onChange="setPerkedelWoosieDirection(this.value)" name='PerkedelWoosieDirection' id='PerkedelWoosieDirection' value='forward'>
            <option value='forward'>Forward</option>
            <option value='reverse'>Reverse</option>
            <option value='alternate'>Alternate</option>
        </select> 
        Perkedel Woosie Direction
    </label>

</li>