---
import PerkedelWoosie from './Icons/PerkedelWoosie.astro';
import NavBar from './Elements/NavBar.astro';
export interface Props {
  viewSourceURL?: string;
}
// let currJustAddr = 'https://perkedel.netlify.app'+Astro.url.pathname; // crack! the hostname returns `localhost` wtf?!
let currJustAddr = Astro.url.origin+'/'+Astro.url.pathname; // crack! the hostname returns `localhost` wtf?!
let doViewSource = 'view-source:' + currJustAddr;
const {viewSourceURL = doViewSource} = Astro.props as Props;
---
<!-- HEADER & NAV
      Reusable Component pls!
    - https://medium.com/front-end-weekly/how-to-build-reusable-html-components-without-component-based-frameworks-2f7747f4c5db
    - https://dev.to/anuradha9712/create-reusable-web-components-in-html-1llc
    - https://www.educba.com/javascript-append/
    - https://stackoverflow.com/questions/60722734/how-can-i-append-html-code-using-javascript
    - https://stackoverflow.com/questions/17636528/how-do-i-load-an-html-page-in-a-div-using-javascript
    - https://ezgif.com for gif tools
    - https://stackoverflow.com/questions/1347675/html-img-scaling
    - https://www.w3schools.com/tags/att_img_width.asp
  -->
  <header>
    <!-- <h1><PerkedelWoosie/><a href="/">Perkedel NTLF+ASTR</a></h1> -->
    <!-- https://www.w3schools.com/tags/tag_hn.asp css of it pls -->
    <p style="font-size: 2em; font-weight: bold;"><a href="/"><PerkedelWoosie/>Perkedel NTLF+ASTR</a></p>
  </header>
  <hr/>
  <NavBar viewSourceURL={viewSourceURL}/>
  <hr/>