---
import PluginUsedMDX from './PluginsUsed.mdx'
import { Icon } from 'astro-icon'
import { Sprite } from 'astro-icon'
---
<!-- <PluginUsedMDX></PluginUsedMDX> -->
<ul>
    <li>(SUS) Google Search Console (Search Engine setting, adjust & optimize stuffs for search result appearance)</li>
    <li>(SUS) Google Font (Fonts hosted from Google)</li>
    <li>(SUS) Microsoft Bing Webmaster (Search Engine setting, adjust & optimize stuffs for search result appearance) </li>
    <li><strong>(IMPOSTOR) (<Icon height="18px" name="logos:brave" /> BRAVE VOTED)</strong> Microsoft Clarity (Heatmapper, see heatmap of users' clicks of certain part of website) <strong>(JESUS CHRIST!!! It can: Record mouseclick where did you click, etc. too as well!!!; I think I should vote this too, am I right?)</strong></li>
    <li><a href="https://jquery.com/download/#using-jquery-with-a-cdn" target="_blank" rel="noopener noreferrer">jQuery (CDNed from StackPath, not Google)</a></li>
    <li><a href="https://jquery.com/download/#using-jquery-with-a-cdn" target="_blank" rel="noopener noreferrer">jQuery (CDNed from StackPath, not Google)</a></li>
    <li><a href="https://zerodevx.github.io/zero-md/installation/" target="_blank" rel="noopener noreferrer">zero-md (Markdown file loader & parser)</a></li>
    <li><a href="https://mshaugh.github.io/nerdfont-webfonts/" target="_blank" rel="noopener noreferrer">Nerd Font CSS (Style that loads <code>nerd-fonts</code> edition of fonts which had every famous symbols &#xe24f; &#xea79; &#xea84; &#xe24f;)</a></li>
    <li><a href="https://mermaid-js.github.io/mermaid/#/n00b-gettingStarted?id=requirements-for-the-mermaid-api" target="_blank" rel="noopener noreferrer">Mermaid.js (Graph diagram code parser, which zero-md can use)</a></li>
    <li>(HEAP INEFFICIENCY BUG)<a href="https://docs.astro.build/en/guides/integrations-guide/mdx/" target="_blank" rel="noopener noreferrer">Markdown X Integration.</a> What is <a href="https://mdxjs.com/docs/what-is-mdx/" target="_blank" rel="noopener noreferrer">MDX</a>?</li>
    <li>(BUG: some gif file like my pet pet Perkedel errors out)<del><a href="https://docs.astro.build/en/guides/integrations-guide/image/" target="_blank" rel="noopener noreferrer">Image Integration + Sharp <strong>not Plasmacluster</strong> integration</a></del></li>
    <li><a href="https://docs.astro.build/en/guides/integrations-guide/prefetch/" target="_blank" rel="noopener noreferrer">Prefetcher. prefecth every links around here for faster navigation</a></li>
    <li><a href="https://docs.astro.build/en/guides/integrations-guide/sitemap/" target="_blank" rel="noopener noreferrer">Sitemapper, sitemap generator pecking finally!</a></li>
    <li><a href="https://docs.astro.build/en/guides/integrations-guide/partytown/" target="_blank" rel="noopener noreferrer">Partytown, Lazy library loader. move intensive JS to another Web Worker</a></li>
    <li><a href="https://github.com/jonasmerlin/astro-seo" target="_blank" rel="noopener noreferrer">Astro SEO, Simplified SEO tag kit!</a> Easily implement comprehensive SEO not just for search engines but also if linked to social media too as well whoahow!!!</li>
    <li><a href="https://github.com/natemoo-re/astro-icon" target="_blank" rel="noopener noreferrer">Astro Icon, Icon implementers</a> with icon collection packs like ones collected by <a href="https://iconify.design/" target="_blank" rel="noopener noreferrer">iconify</a></li>
    <li><a href="https://github.com/astro-community/astro-embed" target="_blank" rel="noopener noreferrer">Astro Embed. Easy Embed just with sauce link.</a> available: `YouTube`, `Vimeo`, `Tweet`</li>
    <li><a href="https://github.com/alextim/astro-lib/tree/main/packages/astro-robots-txt#readme" target="_blank" rel="noopener noreferrer">Astro Robot.txt. Generate `robot.txt` for SEOs to look at.</a> Note: the protest is only on the <code>readme</code> you saw there, I suppose, I hope.</li>
    <li><a href="https://github.com/BryceRussell/astro-github-elements/tree/main/packages/time#readme" target="_blank" rel="noopener noreferrer">Astro Time. API to tell time & interpret defined time said.</a> based on <a href="https://github.com/github/time-elements#readme" target="_blank" rel="noopener noreferrer">GitHub's Time API</a>, example <a href="https://github.github.io/time-elements/examples/" target="_blank" rel="noopener noreferrer">here</a>.</li>
    <li><a href="https://github.com/ayoayco/astro-github-stats" target="_blank" rel="noopener noreferrer">Astro GitHub stats, Widget that shows GitHub user page infos</a></li>
    <li><a href="https://github.com/ayoayco/astro-github-stats" target="_blank" rel="noopener noreferrer">Astro Emoji, uhhh idk, in case the emoji error on your device?</a></li>
    <li><a href="https://code.juliancataldo.com/component/astro-terminal-player/#doc" target="_blank" rel="noopener noreferrer">Astro Asciinema, Implement the terminal cmd replay player!!</a> see <a href="https://asciinema.org" target="_blank" rel="noopener noreferrer">Asciinema.org</a> for cool cmd replays.</li>
    <li><a href="https://code.juliancataldo.com/component/astro-diagram/" target="_blank" rel="noopener noreferrer">Astro Mermaid, Implement the diagram graphics!!</a> see <a href="https://mermaid-js.github.io/mermaid" target="_blank" rel="noopener noreferrer">mermaid-js.github.io</a> for documentation about mermaid diagram visio.</li>
    <li>(SUS) <a href="https://www.bing.com/indexnow" target="_blank" rel="noopener noreferrer">Microsoft Bing with IndexNow</a> see <a href="https://www.indexnow.org/documentation" target="_blank" rel="noopener noreferrer">IndexNow.org Docs</a> for documentation about IndexNow.</li>
    <li><strong>(VULNERABILITY)</strong><del><a href="https://github.com/oliverroick/netlify-plugin-html-validate#readme" target="_blank" rel="noopener noreferrer">Netlify HTML Validate, check HTML pages!!</a></del></li>
    <li><a href="https://github.com/sw-yx/netlify-plugin-no-more-404#readme" target="_blank" rel="noopener noreferrer">Netlify No more 404, check if there is 404s AMONG US!!</a></li>
    <li><a href="https://github.com/erezrokah/netlify-plugin-is-website-vulnerable#readme" target="_blank" rel="noopener noreferrer">Netlify Is Website Vulnerable, Check if the website result with involved stuffs is vulnerable with the power of Snyk</a></li>
    <li>(Maybe later) (BUG: idk why, attempt fail even after success?)<del><a href="https://github.com/perfbeacon/netlify-build-plugin-perfbeacon#readme" target="_blank" rel="noopener noreferrer">Netlify PerfBeacon, Check speed after build</a></del></li>
    <li><strong>(VULNERABILITY)</strong><del><a href="https://github.com/Tom-Bonnike/netlify-plugin-inline-critical-css#readme" target="_blank" rel="noopener noreferrer">Netlify Inline Critical CSS, Extract & Inline the CSS. idk..</a></del></li>
    <li><strong>(PAYWALLED:PageWatch!!!; PageWatch itself has severely limited features for Free tier) (VOTE OUT!)</strong><del><a href="https://github.com/pagewatchdev/netlify-plugin-pagewatch#readme" target="_blank" rel="noopener noreferrer">Netlify PageWatch, Test deployment.</a></del></li>
    <li><a href="https://github.com/natemoo-re/astro-remote#README" target="_blank" rel="noopener noreferrer">Astro Remote, Load remote Markdown & HTML</a></li>
    <li><a href="https://docs.astro.build/en/core-concepts/sharing-state/" target="_blank" rel="noopener noreferrer">NanoStore, Store & carry states & session data between routes/pages</a></li>
    <li><a href="https://colorjs.io/" target="_blank" rel="noopener noreferrer">Color.js, CSS Color function library</a></li>
    <li><a href="https://docs.astro.build/en/guides/rss/" target="_blank" rel="noopener noreferrer">Astro RSS, RSS thingy! Generate RSS of this website yey!!!</a></li>
    <li>(Maybe later..)<a href="https://docs.astro.build/en/guides/server-side-rendering/#adding-an-adapter" target="_blank" rel="noopener noreferrer">Astro Netlify Adapter, SSR Adapter to Netlify</a></li>
    <li><a href="https://github.com/genmon/aboutfeeds/blob/main/tools/pretty-feed-v3.xsl" target="_blank" rel="noopener noreferrer">Pretty Feed, RSS styler thingy! style & colorize the RSS yey!!!</a></li>
    <li>(SUS, uses Google API storage for default soundfont (SGM-V2.01))<a href="https://github.com/cifkao/html-midi-player" target="_blank" rel="noopener noreferrer">cifkao MIDI Player, Midi Player thingy! Play MIDI right at HTML yey!!!</a></li>
    <li><a href="https://archive.org/details/SGM-V2.01" target="_blank" rel="noopener noreferrer">SGM-V2.01 the General MIDI soundfont</a></li>
    <li><a href="https://archive.org/details/dawnsgmgs2" target="_blank" rel="noopener noreferrer">ColomboGMGS2 the General MIDI + GS + etc. + MEME LOL LMAO soundfont. Duwindu is based!</a></li>
    <li><a href="https://github.com/WICG/focus-visible" target="_blank" rel="noopener noreferrer">Focus Visible Polyfill. idk how to use this. the MIDI Player recommends me that. Basically as I read it, it's to outline element when a Keyboard focuses that element</a></li>
</ul>