---
import Layout from '../../components/Layout.astro';
---
<Layout title="OTHERWISE">
    <h1>How do I supposed to import everytime?!??!?!</h1>
        <p>HOW?!</p>
        <a class="Buttonnize" href="innerDaFolder">Beflon</a>
</Layout>