---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import Midi from '@components/Elements/MidiPlayer.astro';
import EmbedAudio from '@components/Elements/EmbedAudio.astro';
import RandomPlayMIDIs from '@components/Elements/SparePart/RandomPlayMIDIs.astro';
import RandomLoudLinks from '@components/Elements/SparePart/RandomLoudLinks.astro';
import OwenWowTest from '@components/Elements/SparePart/OwenWowTest.astro';
import IncredibleQuips from '@components/Elements/SparePart/IncredibleQuips.astro';
import HoverExpandTest from '@components/Elements/SparePart/Experiments/HoverExpandTest.astro';
import ScrollRevealTest from '@components/Elements/SparePart/Experiments/ScrollRevealTest.astro';
import JPEGXLTest from '@components/Elements/SparePart/Experiments/JPEGXLTest.astro';
import YearOnNetlify from '@components/Elements/SparePart/Experiments/YearOnNetlify.astro';
import HelloWorldButton from '@components/Elements/SparePart/Experiments/HelloWorldButton.astro';
import SignYamahaPetition from '@components/Messages/SignYamahaPetition.astro';
import MavrickleTest from '@components/Elements/SparePart/Experiments/MavrickleTest.astro';
import AstroEmbedsTest from '@components/Elements/SparePart/Experiments/AstroEmbedsTest.astro';
import HomestuckCSSTest from '@components/Elements/SparePart/Experiments/HomestuckCSSTest.astro';
---
<Layout title="OTHERWISE" description="" keywords="">
    <h1>How do I supposed to import everytime?!??!?!</h1>
        <p>HOW?!</p>
        <p>in your <code>/tsconfig.json</code> right at root of your project, inside <code>compilerOptions</code> Dictionary, there is <code>paths</code> Dictionary.<br/>
            Look at the example at <a href="https://github.com/Perkedel/perkedel-astro/blob/main/tsconfig.json" target="_blank" rel="noopener noreferrer">here</a> for how to add yours<br/>
            Also have a look at <a href="https://docs.astro.build/en/guides/aliases/" target="_blank" rel="noopener noreferrer">Astro Aliases</a> for more information about Path Aliases.<br/>
        </p>
        <!-- <a class="Buttonnize" href="./innerDaFolder">Beflon</a> -->
        <ButtonizedLink content="Beflon" href="./innerDaFolder"/>
        <ButtonizedLink content="404 Test" href="/404"/>
        <ButtonizedLink content="Experiment & Sample Stubs" href="./SamplesStubs"/>
    <h2>The <ButtonizedLink content="ICON" href="https://github.com/natemoo-re/astro-icon" target="_blank" rel="noopener noreferrer"/></h2>
        <!-- https://github.com/natemoo-re/astro-icon#readme -->
        <h3>Automatically fetches and inlines Material Design Icon's "account" SVG</h3>
        <!-- Automatically fetches and inlines Material Design Icon's "account" SVG -->
        <!-- <code><Icon pack="mdi" name="account" /></code> -->
        <Icon height="18px" pack="mdi" name="account" />

        <h3>Equivalent shorthand</h3>
        <!-- Equivalent shorthand -->
        <Icon height="18px" name="mdi:account" />

        <h3>Sprite</h3>
        <!-- Required ONCE per page as a parent of any <Sprite> components! Creates `<symbol>` for each icon -->
        <!-- Can also be included in your Layout component! -->
        <Sprite.Provider>
            <!-- Automatically fetches and inlines Material Design Icon's "account" SVG -->
            <Sprite pack="mdi" name="account" />

            <!-- Equivalent shorthand -->
            <Sprite name="mdi:account" />

        </Sprite.Provider>
    <h2>Programastic</h2>
        <h3>Discord-like Spoiler CSS Class</h3>
            <p class="Spoiler">Not sharing download link & sauce is cringe & virgin, giant L!</p>
        <h3>Accessible Emoji</h3>
            <p><Emoji symbol="🫀" label="heart organ" /></p>
    <h2>MIDI Player</h2>
        <SignYamahaPetition/>
        <RandomPlayMIDIs/>
    <h2>Hover which of these paragraphs bellow to play a sound the paragraph has!</h2>
        <RandomLoudLinks/>
    <h2>Every Owen Wilson's WOW</h2>
        <OwenWowTest/>
    <h2>Incredible Quips</h2>
        <IncredibleQuips/>
    <h2>Hover Expand</h2>
        <HoverExpandTest/>
    <h2>Scroll Reveal</h2>
        <ScrollRevealTest/>
    <h2 id="jpegxl">JPEG XL</h2>
        <JPEGXLTest/>
    <h2>Year On Netlify</h2>
        <YearOnNetlify/>
    <h2>Hello World Netlify FUnction</h2>
        <HelloWorldButton/>
    <h2 id="mavrickle">Mavrickle Test</h2>
        <MavrickleTest/>
    <h2>Astro Embeds</h2>
        <AstroEmbedsTest/>
    <h2>Homestuck CSS</h2>
        <HomestuckCSSTest/>
</Layout>
