---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<Layout 
    title="webTV / MSN TV!!! ancient Internet for your television" 
    description="Perkedel NTLF+ASTR. webTV / MSN TV!"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, webTV, msntv, msn, web, tv, internet, resurrected,"
    >
    <h1>webTV / MSN TV!!! Relive the moment of internet at your living room.</h1>
        <p>Every Web TV / MSN TV stuffs! ancient revolutionary "Smart TV" ancestor. Internet on your Television!</p>
        <h2>What to do?</h2>
        <ul>
            <!-- <li><ButtonizedLink href="winCE">???</ButtonizedLink></li> -->
            <!-- <li><ButtonizedLink href="winCE" target="_blank" rel="noopener noreferrer">???</ButtonizedLink></li> -->
            <li><ButtonizedLink href="http://turdinc.kicks-ass.net/Msntv/index.html" target="_blank" rel="noopener noreferrer">ABOUT WEBTV SECRET PICS / HACKTV</ButtonizedLink></li>
            <li><ButtonizedLink href="http://turdinc.kicks-ass.net/Msntv/viewer/Hackers-Edition-WebTV-Viewer-Auto-Gen-SSID.html" target="_blank" rel="noopener noreferrer">WebTV viewer Hackers edition</ButtonizedLink></li>
            <li><ButtonizedLink href="http://turdinc.kicks-ass.net/Msntv/WebTV-EMU/MiniSrv.html" target="_blank" rel="noopener noreferrer">WebTV / MsnTV Mini Server / Emu</ButtonizedLink></li>
            <li><ButtonizedLink href={"https://www.reddit.com/r/WebTV_MsnTV/comments/xywgbz/hacktv_mini_server_another_update_msn_messenger/"} target="_blank" rel="noopener noreferrer">HackTV Mini Server - Another Update - MSN Messenger</ButtonizedLink> Reddit Post</li>
            <li><ButtonizedLink href={"https://www.reddit.com/r/WebTV_MsnTV/comments/y0muev/webtv_viewer_hackers_edition_update/"} target="_blank" rel="noopener noreferrer">WebTV Viewer - Hackers Edition - Update</ButtonizedLink> Reddit Post</li>
            <li><ButtonizedLink href={"https://www.reddit.com/r/WebTV_MsnTV/"} target="_blank" rel="noopener noreferrer">r/WebTV_MsnTV</ButtonizedLink> Subreddit</li>
            <li><ButtonizedLink href="https://youtu.be/GCU9aWxHtic" target="_blank" rel="noopener noreferrer">Michael MJD's YouTube video about MSN TV 2</ButtonizedLink> went wrong</li>
            <li><ButtonizedLink href="https://www.youtube.com/c/MattMan69" target="_blank" rel="noopener noreferrer">MattMan69 YouTube channel</ButtonizedLink></li>
            <li><ButtonizedLink href="https://www.youtube.com/watch?v=nW6DNbasO-o" target="_blank" rel="noopener noreferrer">MattMan69's YouTube video of WebTV on smartphone</ButtonizedLink> all just with a Dreamcast game ROM!!!</li>
            <li><ButtonizedLink href="https://youtu.be/d4Ie35IVohw" target="_blank" rel="noopener noreferrer">MattMan69's YouTube video of Battleship WebTV</ButtonizedLink></li>
            <li><ButtonizedLink href="https://flyinghead.github.io/flycast-builds/" target="_blank" rel="noopener noreferrer">Flycast</ButtonizedLink> a Dreamcast Emulator</li>
        </ul>
</Layout>