---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import EnterNSFWButton from '@components/Elements/SparePart/EnterNSFWButton.astro';
import ListCellsCardiophileSFW from '@components/Elements/SparePart/ListCellsCardiophileSFW.astro';
import ListCellsCardiophileNSFW from '@components/Elements/SparePart/ListCellsCardiophileNSFW.astro';
import ListCellsCardiophileDiscordSFW from '@components/Elements/SparePart/ListCells/ListCellsCardiophileDiscordSFW.astro';
import ListCellsCardiophileDiscordNSFW from '@components/Elements/SparePart/ListCells/ListCellsCardiophileDiscordNSFW.astro';
import ListCellsCardiophileContainsSFW from '@components/Elements/SparePart/ListCells/ListCellsCardiophileContainsSFW.astro';
import ListCellsCardiophileContainsNSFW from '@components/Elements/SparePart/ListCells/ListCellsCardiophileContainsNSFW.astro';
import KolmoIsOverwhelmed from '@components/Messages/KolmoIsOverwhelmed.astro';
import CardiophileQuality from '@components/Elements/SparePart/Tables/CardiophileQuality.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';

export interface Props{
    nsfw?:Boolean;
}

const{
    nsfw=false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<Layout
    title={"🫀🩺Heartbeat Cardiophilia💓" + (nsfw?" NSFW🥵":"")}
    description={"Perkedel NTLF+ASTR. 🩺💓🫀Cardiophilia Heart beating stuffs"}
    keywords={"tech, fun, novelty, open source, gratis, free, Cardiophile, heartbeat, fetish, cardiophillia, cardiophilia, cardiophille"}
    author="JOELwindows7"
    rating={(nsfw?"adult":"")}
    >
    <h1>🫀🩺💓Heartbeat Stuffs {nsfw?'with SEX 🥵💦':''} ({nsfw?"FULL":"LITE"} VERSION)</h1>
        <p>Things related to <i>Detak Jantung</i> & its fetishes around it.</p>
        <h2>Quality Chart</h2>
            <p>Here's the quality chart for cardiophile sauce you can use if you want</p>
            <details>
                <summary>Here Table!</summary>
                <CardiophileQuality/>
                <p>Mind you, back when I was in HBP, this thread got me.. backlashed by those people including ones I know of. Surprising right? Well if that's you, I'm not gonna do anything, coz, no gives. But don't be excited though, <b class='warning'>your luck is not forever</b>.</p>
                <br/>
                <br/>
                <p>HA ha ha!! I was acting. <b class='error'>Or was I?</b> Okay, real, no cancel culture, promise.</p>
                <p>SO, Ha, Mi, any Redacted members from threads I can't find anymore, I won't dox, no gives to me, it's proven toxic (Twitter people did that & that's no good), & I got too many stuffs to do. I know, too few heartbeat {nsfw?'sex':'stuff'} related, but atleast I tried to archive them all here. Wait, hold on. Oh {nsfw?'shit fuck!':'peck!'}, did I just contributed to <b>witchhunt</b>? oh no! what have I done?! I'm sorry, I brought a hitmen!! Look, you don't have to apologize, but it's still appreciated, coz making ones is hard & often times is horrible, I did that & it is trash!</p>
                <p>You know what, how about just ignore this? coz right now heartbeat fetish files are too few, but when it grows, it takes whole time to review all of them.</p>
            </details>
        <h2>Psst! Got more heart beat stuff gamers can download?</h2>
            <p>
                Why not submit URLs Download Links you find?<br/>
                You recorded heartbeat, and wanted all gamers listen & watch it?<br/>
                Maybe.. you draw something, and wanted them here.<br/>
                Or maybe, have some cool things about heart, quirks, research, etc. etc.<br/>
                Perhaps uh, just a PSA about heart, how to keep ones healthy or something.<br/>
                If that's you, you can submit yours,
                <a class="Buttonnize" target="_blank" rel="noopener noreferrer" href={"https://github.com/Perkedel/perkedel-astro/issues/new?assignees=JOELwindows7&labels=enhancement&template=proposal.yml"}>Here, Submit your Download Links</a>!
                yeah!!<br/>
            </p>
            <p style="font-size:.75em;">
                And Ahei, if you post files like video, images, games,
                or what... uh.. can you please use
                <a href="http://odysee.com/$/invite/@JOELwindows7">Odysee</a>
                instead? thancc. hehe, Can't put those big
                files directly in this website repo.
                Go ahead, try Odysee, it's cool & good! We support Odysee fully!
                </p>
        
        <h2>Contains Heartbeat</h2>
            <p>Top moment that contains heart beating thingies</p>
            <ul>
                <li>Please check these out</li>
                <ListCellsCardiophileContainsSFW nsfw={nsfw}/>
                {nsfw?<BeginningOfNSFW/><ListCellsCardiophileContainsNSFW/>:""}
            </ul>
        
        <summary>
            <details>More</details>
            <h2>What to do?</h2>
            <p>Here heartbeat Stuffs</p>
            <KolmoIsOverwhelmed/>
            <ul>
                <ListCellsCardiophileSFW nsfw={nsfw}/>
                {nsfw?<BeginningOfNSFW/><ListCellsCardiophileNSFW/>:""}
            </ul>
            <h2>Discord Invites!</h2>
            <p>
                Discord is supposedly not recommended by Perkedel,
                But yeah, alot of heartbeat communities dwells there.<br/>
                It is not recommended because:
            </p>
                <details>
                    <summary>These reasons:</summary>
                    <ul>
                        <li>Each account only allows 100 joins in free tier. get Nitro / Premium subscription to increase this limit</li>
                        <li>Many of server owners & its moderators of the server around the world yeets certain group of people. If you find yourself in those sus servers and your specs are in their target list,
                            you could be banned for life! So immediately unjoin once you've found out how degenerate these rules are. Note, not all server does this, thankfully, idk which. <b class='success'>Certainly below invites are not those type yey!!</b><br/>
                            <span style="font-size:.75em;">
                                If you found any of those server below with mentioned behaviour,
                                please
                                <a href={"https://github.com/Perkedel/perkedel-astro/issues/new?assignees=JOELwindows7&labels=bug&template=bug.yml"} target="_blank" rel="noopener noreferrer">
                                    report bug immediately
                                    </a>
                                (with title tag & name of server as listed bellow like
                                <code>[Discord Karen] ENTITLED_SERVER_NAME</code>
                                & attach as all as possible proofs such as screenshots & chat logs)
                                and we'll comment it.
                                So pls stop this behaviour if you don't want to be commented.
                                </span>
                            </li>
                        <li>Obviously, you may need account, because perhaps some servers do not accept anonymous join even Discord indeed has this feature.
                            Yeah not to mention anything joining anonymously, anonymous join is messy anyways!
                            <!-- Ya, jangankan join secara anonim. join anonim itu berantakan! -->
                        </li>
                        <li>Some servers fails to age gates contents properly (like NSFW designed room / threads but did not checked <code>This is an NSFW</code> in the setting), therefore we'll put them in NSFW. Join at your own risk!</li>
                        <li>Last but not the least, obvious perma-ban from each server themselves.
                            Okay, I know we have perma-Yeeted too, but unlike Discord, you still can see everything, not deleted if possible,<br/>
                            and of course, we tried our best to make serverely offending entities' accounts strictly limited
                            to just contributing useful stuffs that's it, not hating it.<br/>
                            Impossible, I know!, we're trying our best to and infact it's our mission collect everything as all as possible,
                            get them all preserved, no matter background something. Idk how do I receive any questions atm.
                            </li>
                    </ul>
                </details>
            <p>Anyways, here servers*.. if you want, I guess..<br/>
                <span style="font-size:.75em;">*Servers we haven't tested its
                    age gate, explicitly restricts to mature only, OR failed the age gate
                    will be presumed / placed in 69420 underneath.</span>
            </p>
                <ul>
                    <ListCellsCardiophileDiscordSFW/>
                    {nsfw?<BeginningOfNSFW/><ListCellsCardiophileDiscordNSFW/>:""}
                    <li>Have some arts & videos too stingy to share & force gamers to join your Discord server? Or maybe have a place to just wanna hang out & share heartbeat live to each other? <a href={'https://github.com/Perkedel/perkedel-astro/issues/new?assignees=JOELwindows7&labels=enhancement&template=proposal.yml'} target="_blank" rel="noopener noreferrer">Propose here!</a> use this keywords in the title: <code>Discord Invite</code>
                    <br/>
                    <span style='font-size:small;'>Sir, you are not <a href={'https://twitter.com/dbrand'} target="_blank" rel="noopener noreferrer">dbrand</a>! Pls, do not insult exclusive people!</span>
                    </li>
                </ul>


        </summary>
        
        {nsfw?"":
            <EnterNSFWButton/>
        }

</Layout>
