---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import EnterNSFWButton from '@components/Elements/SparePart/EnterNSFWButton.astro';
import ListCellsCardiophileSFW from '@components/Elements/SparePart/ListCellsCardiophileSFW.astro';
import ListCellsCardiophileNSFW from '@components/Elements/SparePart/ListCellsCardiophileNSFW.astro';
import ListCellsCSSSFW from '@components/Elements/SparePart/ListCells/ListCellsCSSSFW.astro';
import ListCellsCSSNSFW from '@components/Elements/SparePart/ListCells/ListCellsCSSNSFW.astro';
import generateWord from '@assets/json/funnyWords/generateWord.json';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';

export interface Props{
    nsfw?:Boolean;
    addDescriptions?:string;
    addKeywords?:string;
}

const{
    nsfw=false,
    addDescriptions='CSS Mania',
    addKeywords='JS, random, math random, randomized, shuffle'
} = Astro.props.frontmatter || Astro.props as Props;

// https://docs.astro.build/en/guides/data-fetching/
// const response = await fetch('/assets/json/funnyWords/generateWord.json');
// const data = await response.json();

// const data = await fetch('/public/assets/json/funnyWords/generateWord.json').then((response) =>
//   response.json()
// );

// let daWordOfItD:Array<string> = data.daWordOfIt;
// let daWordOfItNSFWD:Array<string> = data.daWordOfIt;

// function getJSONFd(url="", kludgeGenerateWord = false, kludgeIncludeNSFW = true) {
//     // https://www.telerik.com/blogs/what-is-json-how-to-handle-unexpected-token-error
//     // https://youtu.be/C3dfjyft_m4
//     fetch(url)
//         .then(response => response.json())
//         .then(data => {
//             // console.log(data);
//             kludgeringDatasoid = data;
//             daWordOfItD = data.daWord;
//             daWordOfItNSFWD = data.daWordNSFW;
//             // return data;
//             if (kludgeGenerateWord)
//             {
//                 // regenerateWord();
//             }
//             // idk how to pause that function above until these here complete.
//         });
// }
// getJSONFd('/assets/json/funnyWords/generateWord.json', true, nsfw);

// https://stackoverflow.com/questions/73757456/hide-or-show-div-according-data-json-in-astros-component
// https://stackoverflow.com/a/73757777/9079640
// Look at import above, I have imported that generateWord JSON file!
const {daWord, daWordNSFW} = generateWord;
---
<Layout
    title={"CSS Mania" + (nsfw?" NSFW🥵":"")}
    description={"Perkedel NTLF+ASTR. " + addDescriptions}
    keywords={"tech, fun, novelty, open source, gratis, free, " + addKeywords}
    author="JOELwindows7"
    rating={(nsfw?"adult":"")}
    >
    <h1>Randomly Generated Words ({nsfw?"69420":"SFW"} VERSION)</h1>
        <p>
            List of all Random words & promotions in 
            <!-- TODO: separate JSON file between NSFW & SFW -->
            {
                nsfw?
                <a href="/assets/json/funnyWords/generateWord.json" target="_blank" rel="noopener noreferrer">
                    <code>/assets/json/funnyWords/generateWord.json</code>
                    </a>
                :<code>/assets/json/funnyWords/generateWord.json</code>
            }
            .<br/>
            Randomly Selected sentence is installed at the bottom of this HTML.<br/>
            click <code>Regenerate</code> to get new sentence!<br/>
            Additionally, it's here so all links in every promotion if exist definitely got Archived.
        </p>

        <!-- <script is:inline>
            
            // getJSONFx('/assets/json/funnyWords/generateWord.json', true, nsfw);
        </script> -->

        <h2>List of Words</h2>
            <ul>
                {
                    daWord.map(
                    word=>(
                        <li set:html={word}/>
                    )
                )
                }
                {nsfw?<BeginningOfNSFW/>:``}
                {nsfw?
                    daWordNSFW.map(
                        word=>(
                            <li set:html={word}/>
                        )
                    )
                :""}
            </ul>
        {nsfw?"":
            <EnterNSFWButton/>
        }
        <hr/>
        <h2>Now go ahead & try below!</h2>
            <p>Yes, it works! try it! just scroll to the very bottom & you'll see a text underneath <kbd>Regenerate</kbd> button</p>
            <p>
                <Icon style="color:cyan;" height="36px" name="mdi:chevron-triple-down" />
                <Icon style="color:cyan;" height="36px" name="mdi:chevron-triple-down" />
                <Icon style="color:cyan;" height="36px" name="mdi:chevron-triple-down" />
                <Icon style="color:cyan;" height="36px" name="mdi:chevron-triple-down" />
                <Icon style="color:cyan;" height="36px" name="mdi:chevron-triple-down" />
                <Icon style="color:cyan;" height="36px" name="mdi:chevron-triple-down" />
                <Icon style="color:cyan;" height="36px" name="mdi:chevron-triple-down" />
                <Icon style="color:cyan;" height="36px" name="mdi:chevron-triple-down" />
                <Icon style="color:cyan;" height="36px" name="mdi:chevron-triple-down" />
                <Icon style="color:cyan;" height="36px" name="mdi:chevron-triple-down" />
            </p>
<!-- IDEA: Maybe separate the JSON file because you will give the JSON to everyone. 
    Don't let them whose unready saw those sections!!! -->
        
</Layout>