---
import LayoutEmbedGame from '../../../components/Layout/LayoutEmbedGame.astro'
---
<LayoutEmbedGame 
    title="&#xfd2f; Shape Text Copy &#xf069;"
    name = "Copy paste the shape code"
    src="https://gotm.io/perkedel/shapetextcopy?forceFullscreen=truel"
    style = 'border:none;'
    height = '500px'
    width = '100%'
    author = 'JOELwindows7'
    description = 'Copy paste the shape code'
    keywords = 'tech, fun, novelty, open source, gratis, free, game, html5, embed, embedded, web, online, game, game online, online game, free play, f2p, Shape, tutorial, code'
    favIcon ='/favicon.ico'
    favIconType ='image/x-icon'
    favIconAlt ='/favicon.gif'
    favIconAltType ='image/gif'
    SauceURLs = {[
        // ['Example','https://example.com','beforeLink','afterLink'],
        // ['Example2','https://example.org','beforeLink','afterLink'],
        ['https://github.com/Perkedel/ShapeTextCopy','https://github.com/Perkedel/ShapeTextCopy','Source Code',''],
        ['https://gotm.io/perkedel/transparencyquestionairetest','https://gotm.io/perkedel/transparencyquestionairetest','gotm.io (Play Online, FAST PERFORMANCE)',''],
        ]}
    MiscEmbedsURLs = {[
        // ['Example','https://example.com','.75em', '200px'],
        // ['Example2','https://example.org','.75em', '200px'],
    ]}
    MiscEmbedsThings = {[
        // '<p>HELLO HELLO</p>',
        // '<p>HELLO HELLO2</p>',
    ]}
    ChangelogURL = './Changelogs'
    ChangelogIsExternalTab = {false}
    >
    
    <!-- Place your extra content here -->
    <!-- VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV -->
    <!-- https://docs.astro.build/en/core-concepts/astro-components/#slots -->
    <!-- <p slot="aboveEmbed"><strong>Here Above the embed</strong></p>
    <p slot="bellowEmbed"><strong>Here Bellow the embed</strong></p>
    <p slot="inDescription">in Description</p>
    <p slot="inMiscEmbeds">in misc embeds</p>
    <p>Hello extra slot</p> -->
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

</LayoutEmbedGame>
<!-- IDEA: github action checkout other git, render, and then push the render to here -->
