---
// import { Image, Picture } from '@astrojs/image/components';
import ButtonizedLink from '../ButtonizedLink.astro';
import ListButtonizedLink from './ListButtonizedLink.astro'
import TebengeGuy from '../Icons/TebengeGuy.astro';
import TebengeBullet from '../Icons/TebengeBullet.astro';
import LFMSymbol from '../Icons/LFMSymbol.astro';
---
<ListButtonizedLink>
    <!-- <li><a href="https://benisland.neocities.org/petpet/" target="_blank" rel="noopener noreferrer">Benisland's pet pet generator</a></li> -->
    <li><a href="https://benisland.neocities.org/petpet/" target="_blank" rel="noopener noreferrer">Benisland's pet pet generator <img alt="Perkedel pet pet" src="/assets/img/pet_perkedel.gif" width="50px"/></a></li>
    <li><a href="https://thirtydollar.website" target="_blank" rel="noopener noreferrer">gdcolon's Thirty Dollar Haircut Music Machine 🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿</a></li>
    <li><a href="https://mrdoob.neocities.org/" target="_blank" rel="noopener noreferrer">Mr. Doob's Three.js Sketches &#xe735; &#xf6a5;</a>! wait, what is <a href="https://threejs.org/" target="_blank" rel="noopener noreferrer">Three.js</a>?</li>
    <li><a href="https://kevinjycui.github.io/css-video/" target="_blank" rel="noopener noreferrer">Junferno's CSS Video collection</a>! as seen on <a href="https://youtu.be/MQbjW2VfaHs" target="_blank" rel="noopener noreferrer">This YouTube video of Bad Apple in CSS</a></li>
    <li><a href="https://www.extremelyfungible.com" target="_blank" rel="noopener noreferrer">Extremely Fungible Tokens</a>! Collection of Guiltless & Guilt-free Right Clickable profile pictures as seen on <a href={"https://youtu.be/1ZgWHxsknPg"} target="_blank" rel="noopener noreferrer">This YouTube video SullyG Otomatone introduces Right Clickable profile pictures</a><br/>
        <i>As always, right click, save as folks!</i><br/>
        <mark style="font-size:.75em;" class="warning">Contents inside the collection are licensed CC4.0-BY-<b class="error">NC</b>
            </mark><br/>
            Also pls don't NFT any of these, it's ironic & absolutely prepostorous. It's there because we hate NFTs. Over-priced pixels & hex codes?! wtf!?!?<br/>
            This makes Adobe a saner company compared. No, just same idk, still. NFT bad!
        </li>
    <li><a href="https://github.com/monicahq/monica" target="_blank" rel="noopener noreferrer">Monica CRM</a>! as seen on 
        <a href="https://itsfoss.com/monica/" target="_blank" rel="noopener noreferrer">This It's FOSS article</a>, 
        & <a href="https://www.monicahq.com/" target="_blank" rel="noopener noreferrer">website of Monica CRM</a>. <u style="font-size=.75em;">Not to be confused with <a href="https://ddlc.moe/" target="_blank" rel="noopener noreferrer">Doki-Doki things!!!</a></u></li>
    <li><a href="https://www.officelife.io/" target="_blank" rel="noopener noreferrer">OfficeLife the company admin managing something2..</a> Monica CRM releases this, idk where to look, maybe later.</li>
    <li><a href="https://www.testufo.com/ghosting" target="_blank" rel="noopener noreferrer">Test UFO Ghosting</a> Test your display's ghosting blur. Does your display succ?</li>
</ListButtonizedLink>