---
// import { Image, Picture } from '@astrojs/image/components';
import ButtonizedLink from '../ButtonizedLink.astro';
import ListButtonizedLink from './ListButtonizedLink.astro'
import TebengeGuy from '../Icons/TebengeGuy.astro';
import TebengeBullet from '../Icons/TebengeBullet.astro';
import LFMSymbol from '../Icons/LFMSymbol.astro';
import { Time } from '@astro-github-elements/time';
import DRMFreeQuote from '@components/Elements/SparePart/DRMFreeQuote.astro';

export interface Props{
    nsfw?:boolean;

}

const{
    nsfw=false,

}= Astro.props.frontmatter || Astro.props as Props;
---
<ListButtonizedLink>
    <!-- <li><a href="https://benisland.neocities.org/petpet/" target="_blank" rel="noopener noreferrer">Benisland's pet pet generator</a></li> -->
    <li><a href="https://benisland.neocities.org/petpet/" target="_blank" rel="noopener noreferrer">Benisland's pet pet generator <img alt="Perkedel pet pet" src="/assets/img/pet_perkedel.gif" height="50px"/></a></li>
    <li><a href="https://thirtydollar.website" target="_blank" rel="noopener noreferrer">gdcolon's Thirty Dollar Haircut Music Machine 🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿🗿</a></li>
    <li><a href="https://mrdoob.neocities.org/" target="_blank" rel="noopener noreferrer">Mr. Doob's Three.js Sketches &#xe735; &#xf6a5;</a>! wait, what is <a href="https://threejs.org/" target="_blank" rel="noopener noreferrer">Three.js</a>?</li>
    <li><a href="https://kevinjycui.github.io/css-video/" target="_blank" rel="noopener noreferrer">Junferno's CSS Video collection</a>! as seen on <a href="https://youtu.be/MQbjW2VfaHs" target="_blank" rel="noopener noreferrer">This YouTube video of Bad Apple in CSS</a></li>
    <li><a href="https://www.extremelyfungible.com" target="_blank" rel="noopener noreferrer">Extremely Fungible Tokens</a>! Collection of Guiltless & Guilt-free Right Clickable profile pictures as seen on <a href={"https://youtu.be/1ZgWHxsknPg"} target="_blank" rel="noopener noreferrer">This YouTube video SullyG Otomatone introduces Right Clickable profile pictures</a><br/>
        <i>As always, right click, save as folks!</i><br/>
        <mark style="font-size:.75em;" class="warning">Contents inside the collection are licensed CC4.0-BY-<b class="error">NC</b>
            </mark><br/>
            Also pls don't NFT any of these, it's ironic & absolutely prepostorous. It's there because we hate NFTs. Over-priced pixels & hex codes?! wtf!?!?<br/>
            This makes Adobe a saner company compared. No, just same idk, still. NFT bad!
        </li>
    <li><a href="https://github.com/monicahq/monica" target="_blank" rel="noopener noreferrer">Monica CRM</a>! as seen on
        <a href="https://itsfoss.com/monica/" target="_blank" rel="noopener noreferrer">This It's FOSS article</a>,
        & <a href="https://www.monicahq.com/" target="_blank" rel="noopener noreferrer">website of Monica CRM</a>. <u style="font-size=.75em;">Not to be confused with <a href="https://ddlc.moe/" target="_blank" rel="noopener noreferrer">Doki-Doki things!!!</a></u></li>
    <li><a href="https://www.officelife.io/" target="_blank" rel="noopener noreferrer">OfficeLife the company admin managing something2..</a> Monica CRM releases this, idk where to look, maybe later.</li>
    <li><a href="https://www.testufo.com/ghosting" target="_blank" rel="noopener noreferrer">Test UFO Ghosting</a> Test your display's ghosting blur. Does your display succ?</li>
    <li><a href="https://kushview.net/" target="_blank" rel="noopener noreferrer">Kushview.net</a> Repented!!! Element is now <b class="success">$0 / GRATIS</b>!!! Not just Open Source. No more paywall!!! Download & Donate again!</li>
    <li><a href="https://html5test.com/" target="_blank" rel="noopener noreferrer">HTML5Test.com</a> Test your browser might!</li>
    <li><a href="https://christitus.com/windows-tool/" target="_blank" rel="noopener noreferrer">Chris Titus' Windows Tool pack</a> All-in-one Utilities for Windows! here <a href="https://github.com/ChrisTitusTech/winutil" target="_blank" rel="noopener noreferrer">Source code</a>!</li>
    <!-- iwr -useb https://christitus.com/win | iex -->
    <!-- irm christitus.com/win | iex -->
    <!--shorter above thancc to https://github.com/ChrisTitusTech/winutil/issues/144-->
    <!--If you have TLS Issue-->
    <!--[Net.ServicePointManager]::SecurityProtocol=[Net.SecurityProtocolType]::Tls12;iex(New-Object Net.WebClient).DownloadString('https://raw.githubusercontent.com/ChrisTitusTech/winutil/main/winutil.ps1')-->
    <li><a href="https://www.oldversion.com/" target="_blank" rel="noopener noreferrer">OldVersion.com</a> (<b class="warning">HTTPS cert failed, insecure!</b>) Download older version of softwares (& old games too)!</li>
    <li><a href="https://github.com/Stoxis/Godette-Tale" target="_blank" rel="noopener noreferrer">Stoxis' Godette Tale</a> Undertale framework made with Godot</li>
    <li><a href="https://www.craftplicator.com/" target="_blank" rel="noopener noreferrer">Craftplicator</a> Minecraft creation OR any 3D model to LEGO</li>
    <li><a href="https://mixxx.org/" target="_blank" rel="noopener noreferrer">MIXXX</a> Gratis & Open Source DJ Software for Windows, macOS, & Linux. here <a href="https://github.com/mixxxdj/mixxx" target="_blank" rel="noopener noreferrer">source code</a></li>
    <li><a href="https://plask.ai/" target="_blank" rel="noopener noreferrer">Plask.ai</a> AI Powered Motion Capture Animation tool!</li>
    <li><a href="https://latex.codecogs.com/" target="_blank" rel="noopener noreferrer">LaTeX Equation Render</a> Render the math equations!</li>
    <li><a href="https://projectnaptha.com/" target="_blank" rel="noopener noreferrer">Project Naptha</a> Select Text out of image assets appeared in the page! Browser Extension!</li>
    <li><a href="https://speek.network/" target="_blank" rel="noopener noreferrer">Speek</a> Decentralized Chat app! as seen on <a href="https://itsfoss.com/speek/" target="_blank" rel="noopener noreferrer">ItsFoss</a>, here <a href="https://github.com/Speek-App/Speek" target="_blank" rel="noopener noreferrer">Source code</a></li>
    <li><a href="https://getsession.org/" target="_blank" rel="noopener noreferrer">Session</a> End-to-end encrypted Chat app! here <a href="https://github.com/oxen-io/session-desktop" target="_blank" rel="noopener noreferrer">Source code</a></li>
    <li><a href="https://bun.sh/" target="_blank" rel="noopener noreferrer">Bun JS</a> Fast JavaScript runtime! <a href="https://github.com/oven-sh/bun" target="_blank" rel="noopener noreferrer">Source code pls</a>. the Bakpau</li>
    <li><a href="https://projectnaptha.com/" target="_blank" rel="noopener noreferrer">Video Title & Thumbnail Ranker for YouTube</a> Analyze choice of thumbnails & picks the best!</li>
    <li><a href="https://client.badlion.net/id" target="_blank" rel="noopener noreferrer">Badlion Client</a> a Minecraft Launcher that manages mods as PhoenixSC did used!</li>
    <li><a href="https://prismlauncher.org/" target="_blank" rel="noopener noreferrer">Prism Launcher</a> a profile managed Minecraft Launcher that manages mods as every guides for Steam Deck recommends! here source code <a href="https://github.com/PrismLauncher/PrismLauncher" target="_blank" rel="noopener noreferrer">Source code pls</a></li>
    <li><a href="http://gamelab.mit.edu/games/a-slower-speed-of-light/" target="_blank" rel="noopener noreferrer">Slower speed of light</a> Simulation of what if light speed slowed down, 3D Game, as seen on <a href="https://youtube.com/shorts/rtA0Gw5Sotk?feature=share" target="_blank" rel="noopener noreferrer">This ActionLab (HydraulicPressLab) video</a> & <a href="https://youtu.be/udqihUBGuZ8" target="_blank" rel="noopener noreferrer">Full video</a></li>
    <li><a href="https://natrongithub.github.io/" target="_blank" rel="noopener noreferrer">Natron</a> Open Source VFX Augmented Reality. Alt of After Effects</li>
    <li><a href="https://openhardwaremonitor.org/downloads/" target="_blank" rel="noopener noreferrer">Open Hardware Monitor</a> Monitor your Computer! here <a href='https://github.com/openhardwaremonitor/openhardwaremonitor' target="_blank" rel="noopener noreferrer">source code</a></li>
    <li><a href="https://code.google.com/archive/p/replicaisland/" target="_blank" rel="noopener noreferrer">Replica Island APK Source Code</a> Open SOurce game themed ANdroid</li>
    <li id='heart_locket_mavrickle'><a href="https://makesweet.com/my/heart-locket" target="_blank" rel="noopener noreferrer">Heart Locket Meme Generator</a> 3D Heart locket! put your own pictures!
        <DRMFreeQuote author={`Heart Locket Mavrickle`} authorSauce={`https://makesweet.com/my/heart-locket`} authorImgSrc={`/assets/img/heart_locket/Our_beloved_Mavrickle.gif`} nsfw={nsfw}>
            Our Beloved Mavrickle
        </DRMFreeQuote>
    </li>
    <li><a href="https://freedoom.github.io/" target="_blank" rel="noopener noreferrer">Freedoom</a> Free WAD for Doom Engine! here <a href='https://github.com/freedoom/freedoom' target="_blank" rel="noopener noreferrer">source code</a></li>
    <li><a href="https://github.com/danielyxie/bitburner" target="_blank" rel="noopener noreferrer">bitburner</a> Hacking simulator game. here <a href='https://store.steampowered.com/app/1812820/Bitburner/' target="_blank" rel="noopener noreferrer">Steam</a></li>
    <li><a href="https://github.com/0x192/universal-android-debloater" target="_blank" rel="noopener noreferrer">Universal Android Debloater</a> Debloat your Android phone by uninstalling bloatwares shipped with your phone. here <a href='https://gitlab.com/W1nst0n/universal-android-debloater' target="_blank" rel="noopener noreferrer">Legacy</a></li>
    <li><a href="https://testmysite.io/" target="_blank" rel="noopener noreferrer">Test My Site</a> Test your website load speed & security setting. here <a href='https://testmysite.io/6415bd9697a24a5978ec1316/perkedel.netlify.app' target="_blank" rel="noopener noreferrer">our website result</a> as of <Time format="relative" datetime='2023-03-18'/></li>
    <li><a href="https://getavataaars.com/" target="_blank" rel="noopener noreferrer">Avatar Generator</a> Generate Avataar. here <a href='https://github.com/gkoberger/avataaars' target="_blank" rel="noopener noreferrer">Protocol Avataar source code</a> & <a href='https://github.com/fangpenlin/avataaars-generator' target="_blank" rel="noopener noreferrer">generator UI source code </a> <br/><img src={'https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light'} alt="Aveeta-chan" title="Aveeta-chan"/></li>
    <li><a href="https://bumptop.github.io/" target="_blank" rel="noopener noreferrer">Bumtop</a> 3D Desktop environment. here <a href='https://github.com/bumptop/BumpTop' target="_blank" rel="noopener noreferrer">source code</a></li>
</ListButtonizedLink>
