---
---
<ul>
    <li><a href="https://odysee.com/$/invite/@JOELwindows7" target="_blank" rel="noopener noreferrer">(International, SFW) Odysee (you can also pay with <i>real</i> / centralized money! Well, if you don't want crypto, but hey you can directly now!)</a></li>
    <li><a href="https://sociabuzz.com/joelwindows7/tribe" target="_blank" rel="noopener noreferrer">(Indonesia, SFW) Sociabuzz</a></li>
    <li><a href="https://trakteer.id/JOELwindows7" target="_blank" rel="noopener noreferrer">(Indonesia, SFW) Trakteer</a></li>
    <li><a href="https://saweria.co/JOELwindows7" target="_blank" rel="noopener noreferrer">(Indonesia, SFW) Saweria</a></li>
    <li><a href="https://www.subscribestar.com/perkedel-technologies" target="_blank" rel="noopener noreferrer">(International, SFW) SubscribeStar</a></li>
    <li><a href="https://paypal.me/JOELwindows7" target="_blank" rel="noopener noreferrer">(International, SFW) PayPal</a> (Not Recommended due to scandals, but if you have to, that's alright too.)</li>
</ul>