---
const linksDumped:Array<string>=[
    ' https://docs.astro.build/en/core-concepts/endpoints/',
    ' https://docs.astro.build/en/reference/configuration-reference/',
    ' https://github.com/withastro/astro/issues/397',
    ' https://docs.astro.build/en/guides/imports/',
    ' https://github.com/netlify-templates/astro-quickstart',
    ' https://docs.netlify.com/integrations/frameworks/astro/',
    ' https://github.com/netlify-templates/astro-quickstart',
    ' https://www.netlify.com/pricing/',
    ' https://docs.astro.build/en/core-concepts/astro-components/',
    ' https://www.w3schools.com/html/html_scripts.asp',
    ' https://www.freecodecamp.org/news/javascript-document-ready-jquery-example/',
    ' https://duckduckgo.com/?q=html+js+ready&t=brave&ia=web',
    ' https://www.w3schools.com/cssref/playdemo.asp?filename=playcss_background-color&preval=transparent',
    ' https://www.w3schools.com/howto/howto_js_scroll_to_top.asp',
    ' https://www.w3schools.com/cssref/pr_background-color.asp',
    ' https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top',
    ' https://support.microsoft.com/en-us/topic/how-to-build-a-virtual-keyboard-in-an-html-page-5b815ae2-c43c-c7a6-b4a2-f801b760ba3a',
    ' https://stackoverflow.com/questions/23077537/create-an-html-numeric-keypad-without-table-layout#23077759',
    ' https://www.w3schools.com/howto/howto_js_topnav.asp',
    ' https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav',
    ' https://www.javatpoint.com/how-to-make-a-navigation-bar-in-html',
    ' https://developer.mozilla.org/en-US/docs/Web/Accessibility/Keyboard-navigable_JavaScript_widgets',
    ' https://www.w3schools.com/Css/css_navbar.asp',
    ' https://www.w3schools.com/Css/tryit.asp?filename=trycss_navbar_basic_css',
    ' https://www.w3schools.com/Css/css_navbar_vertical.asp',
    ' https://www.w3schools.com/Css/css_navbar_horizontal.asp',
    ' https://www.inogic.com/blog/2014/09/using-ctrl-s-to-save-the-html-webresource-content/',
    ' https://stackoverflow.com/questions/11362106/how-do-i-capture-a-ctrl-s-without-jquery-or-any-other-library',
    ' https://www.designcise.com/web/tutorial/how-to-fix-issues-with-css-position-sticky-not-working',
    ' https://caniuse.com/css-sticky',
    ' https://dinbror.dk/blog/help-css-position-sticky-doesnt-work-solved/',
    ' https://www.w3docs.com/snippets/css/how-to-set-sticky-positioning-with-css.html',
    ' https://www.w3schools.com/Css/tryit.asp?filename=trycss_navbar_sticky',
    ' https://www.w3schools.com/Css/tryit.asp?filename=trycss_navbar_horizontal_responsive',
    ' https://www.w3schools.com/Css/css_dropdowns.asp',
    ' https://www.w3schools.com/Css/tryit.asp?filename=trycss_dropdown_navbar2',
    ' https://www.w3schools.com/Css/css_image_gallery.asp',
    ' https://www.tutsmake.com/javascript-get-element-by-id-name-class-tag-value/',
    ' https://www.w3schools.com/CSSref/css3_pr_opacity.asp',
    ' https://www.w3schools.com/js/js_htmldom_css.asp',
    ' https://www.w3schools.com/jsref/jsref_forEach.asp',
    ' https://www.w3schools.com/js/js_htmldom_css.asp',
    ' https://stackoverflow.com/questions/22754315/for-loop-for-htmlcollection-elements',
    ' https://www.tabnine.com/academy/javascript/how-to-change-css-javascript/',
    ' https://www.delftstack.com/howto/css/background-opacity-css/',
    ' https://www.designcise.com/web/tutorial/how-to-apply-css-opacity-to-background-color-only',
    ' https://www.w3schools.com/html/html_links.asp',
    ' https://www.w3schools.com/cssref/css_colors.asp',
    ' https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_style_cursor2',
    ' https://www.w3schools.com/jsref/prop_style_cursor.asp',
    ' https://www.w3schools.com/cssref/pr_class_cursor.asp',
    ' https://www.w3schools.com/cssref/playit.asp?filename=playcss_cursor&preval=alias',
    ' https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor',
    ' https://www.w3schools.com/cssref/css_selectors.asp',
    ' https://www.computerhope.com/issues/ch000071.htm',
    ' https://stackoverflow.com/a/12369387/9079640',
    ' https://html.com/attributes/a-title/',
    ' https://www.w3schools.com/Css/css_dropdowns.asp',
    ' https://www.w3schools.com/Css/tryit.asp?filename=trycss_dropdown_right',
    ' https://www.w3schools.com/css/css_overflow.asp',
    ' https://www.w3schools.com/Css/tryit.asp?filename=trycss_dropdown_image',
    ' https://www.w3schools.com/Css/tryit.asp?filename=trycss_dropdown_navbar2',
    'https://docs.astro.build/en/core-concepts/astro-components/',
    'https://docs.astro.build/en/reference/directives-reference/#script--style-directives',
    'https://www.w3schools.com/tags/tag_applet.asp',
    'https://www.w3schools.com/tags/tag_doctype.asp',
    'https://www.w3schools.com/tags/ref_html_dtd.asp',
    'https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_object_video',
    'https://www.w3schools.com/tags/tag_object.asp',
    'https://docs.astro.build/en/guides/styling/',
    'https://www.w3schools.com/tags/tag_ruby.asp', // Japanese pronounciation on the top of kanji
    'https://www.w3schools.com/tags/ref_httpmessages.asp',
    'https://www.w3schools.com/html/html_xhtml.asp',
    'https://www.w3schools.com/xml/default.asp',
    'https://validator.w3.org/',
    'https://developers.google.com/search/docs/advanced/crawling/special-tags?hl=id',
    'https://css-tricks.com/essential-meta-tags-social-media/',
    'https://devhints.io/html-meta',
    'https://www.bing.com/indexnow#implementation',
    'https://www.indexnow.org/documentation',
    'https://www.w3schools.com/tags/tag_hn.asp',
    'https://www.w3schools.com/tags/tag_hr.asp',
    'https://www.w3schools.com/css/css_border.asp',
    'https://www.w3schools.com/css/tryit.asp?filename=trycss_layout_clearfix2',
    'https://www.w3schools.com/css/css_float_examples.asp',
    'https://www.w3schools.com/css/tryit.asp?filename=trycss_layout_float3',
    'https://www.w3schools.com/css/css_float.asp',
    'https://www.w3schools.com/css/css_float_clear.asp',
    'https://www.w3schools.com/html/html5_audio.asp',
    'https://www.w3schools.com/tags/tag_video.asp',
    'https://www.w3schools.com/html/tryit.asp?filename=tryhtml5_audio_autoplay_mute',
    'https://www.w3schools.com/tags/tag_audio.asp',
    'https://www.w3schools.com/html/html_youtube.asp',
    'https://www.w3schools.com/html/html_quiz.asp',
    'https://www.w3schools.com/tags/ref_charactersets.asp',
    'https://www.w3schools.com/tags/ref_eventattributes.asp',
    'https://www.w3schools.com/tags/ref_urlencode.asp',
    'https://www.w3schools.com/tags/ref_html_browsersupport.asp',
    'https://www.w3schools.com/tags/tag_strike.asp',
    'https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_del',
    'https://stackoverflow.com/questions/29884654/button-that-refreshes-the-page-on-click',
    'https://stackoverflow.com/a/29884677/9079640',
    'https://www.monsterinsights.com/submit-website-to-search-engines/',
    'https://www.w3schools.com/tags/att_style.asp',
    'https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_global_style',
    'https://www.w3schools.com/tags/tag_script.asp',
    'https://www.w3schools.com/jsref/met_win_alert.asp',
    'https://docs.astro.build/en/reference/api-reference/#astrourl',
    'https://developer.mozilla.org/en-US/docs/Web/API/URL',
    'https://www.w3schools.com/howto/howto_js_copy_clipboard.asp',
    'https://www.w3schools.com/jsref/jsref_startswith.asp',
    'https://stackoverflow.com/a/30810322/9079640',
    'https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_copy_clipboard',
    'https://www.w3schools.com/tags/tag_script.asp',
    'https://docs.astro.build/en/guides/markdown-content/',
    'https://docs.astro.build/en/guides/deploy/',
    'https://developer.mozilla.org/en-US/docs/Web/CSS/@layer',
    'https://github.com/natemoo-re/astro-remote#README',
    'https://github.com/perkinsjr/simple-astro-seo/tree/master/',
    'https://github.com/theisel/astro-toc/blob/main/packages/astro-toc/README.md',
    'https://docs.astro.build/en/core-concepts/sharing-state/',
    'https://github.com/nanostores/nanostores#guide',
    'https://www.w3.org/TR/css-color-4/#ok-lab',
    'https://bottosson.github.io/posts/oklab/',
    'https://huetone.ardov.me/',
    'https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl',
    'https://github.com/nanostores/nanostores#guide',
    'https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl',
    'https://docs.astro.build/en/reference/configuration-reference/#site',
    'https://docs.astro.build/en/guides/server-side-rendering/#adding-an-adapter',
    'https://docs.astro.build/en/guides/aliases/',
    'https://docs.astro.build/en/guides/fonts/',
    'https://fontsource.org/fonts/twinkle-star',
    'https://docs.astro.build/en/concepts/mpa-vs-spa/',
    'https://docs.astro.build/en/concepts/islands/',
    'https://docs.astro.build/en/migrate/',
    'https://docs.astro.build/en/core-concepts/routing/',
    'https://www.w3schools.com/xml/xsl_intro.asp',
    'https://vitejs.dev/guide/features.html#glob-import',
    'https://www.w3schools.com/xml/xml_rss.asp',
    'https://www.w3schools.com/xml/xml_dtd_intro.asp',
    'https://www.w3schools.com/xml/dom_intro.asp',
    'https://www.w3schools.com/html/default.asp',
    'https://bobbyhadz.com/blog/typescript-ignore-error',
    'https://www.lloydatkinson.net/posts/2022/static-site-redirects-with-astro/',
    'https://docs.netlify.com/routing/redirects/',
    'https://stackoverflow.com/questions/13237421/how-to-generate-random-words-in-javascript',
    'https://stackoverflow.com/questions/4550505/getting-a-random-value-from-a-javascript-array',
    'https://stackoverflow.com/a/4550514/9079640',
    'https://stackoverflow.com/a/13237436/9079640',
    'https://randomwordgenerator.com/',
    'https://stackoverflow.com/questions/50401390/promises-fetch-in-javascript-how-to-extract-text-from-text-file',
    'https://www.w3schools.com/js/js_json_parse.asp',
    'https://stackoverflow.com/a/12460434/9079640',
    'https://stackoverflow.com/a/48212558/9079640',
    'https://archive.org/details/dawnsgmgs2',
    'https://codepen.io/cifkao/pen/GRZxqZN',
    'https://cifkao.github.io/html-midi-player/',
    'https://surikov.github.io/webaudiofont/',
    'https://github.com/surikov/webaudiofont',
    'https://stackoverflow.com/questions/5662293/how-to-play-a-midi-file-in-html',
    'https://sites.google.com/site/soundfonts4u/',
    'https://magenta.github.io/magenta-js/music/index.html#soundfonts',
    'https://npm.io/package/timidity',
    'https://bitmidi.com/',
    'https://www.npmjs.com/package/bg-sound',
    'https://chdk.fandom.com/wiki/Compiling_CHDK_under_Linux',
    'https://chdk.fandom.com/wiki/CHDK_Links',
    'https://chdk.fandom.com/wiki/For_Developers',
    'https://github.com/frantony/magic-lantern',
    'https://builds.magiclantern.fm/experiments.html',
    'https://falcosoft.hu/softwares.html#midiplayer',
    'https://github.com/magenta/magenta-js/tree/master/music/demos',
    'https://magenta.github.io/magenta-js/music/demos/player.html#soundfonts',
    'https://github.com/magenta/magenta-js/tree/master/music',
    'https://www.w3schools.com/tags/tag_area.asp',
    'https://www.w3schools.com/tags/tag_map.asp',
    'https://www.w3schools.com/html/html_images_picture.asp',
    'https://www.w3schools.com/tags/tag_picture.asp',
    'https://www.w3schools.com/tags/tag_wbr.asp',
    'https://www.w3schools.com/tags/att_a_download.asp',
    'https://www.w3schools.com/howto/howto_html_download_link.asp',
    'https://www.w3schools.com/cssref/pr_font_weight.php',
    'https://docs.astro.build/en/guides/styling/',
    'https://www.magiclantern.fm/forum/index.php?topic=23369.0',
    'https://builds.magiclantern.fm/experiments.html',
    'https://www.magiclantern.fm/forum/index.php?board=34.0',
    'https://www.magiclantern.fm/forum/index.php?topic=23606.0',
    'https://www.magiclantern.fm/forum/index.php?topic=22770.0',
    'https://nikonhacker.com/',
    'https://stackoverflow.com/a/12091134/9079640',
    'https://jsonformatter.curiousconcept.com/#',
    'https://api.jquery.com/jquery.getjson/',
    'https://jsonformatter.curiousconcept.com/#',
    'https://www.telerik.com/blogs/what-is-json-how-to-handle-unexpected-token-error',
    'https://www.youtube.com/watch?v=C3dfjyft_m4',
    'https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_tbody',
    'https://stackoverflow.com/a/41825270/9079640',
    'https://www.w3schools.com/tags/tag_thead.asp',
    'https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_tbody_css',
    'https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_tbody',
    'https://stackoverflow.com/questions/41825129/how-to-return-a-jsx-element-with-an-inline-switch',
    'https://www.w3schools.com/css/css_overflow.asp',
    'https://www.w3schools.com/tags/tag_meta.asp',
    'https://www.w3schools.com/tags/att_link_type.asp',
    'https://tauri.app/v1/api/config#allowlistconfig',
    'https://doc.rust-lang.org/cargo/reference/manifest.html#the-name-field',
    'https://tauri.app/v1/guides/features/menu',
    'https://tauri.app/v1/guides/features/splashscreen',
    'https://tauri.app/v1/guides/features/icons/',
    'https://tauri.app/v1/guides/debugging/vs-code',
    'https://tauri.app/v1/guides/building/cross-platform',
    'https://www.atlassian.com/git/tutorials/setting-up-a-repository/git-clone',
    'https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/',
    'https://github.com/reticulatedpines/magiclantern_simplified/issues/76',
    'https://stackoverflow.com/a/14219160/9079640',
    'https://stackoverflow.com/a/39527986/9079640',
    'https://askubuntu.com/a/861053/64076',
    'https://docs.rs/tauri/1.2.0/tauri/struct.AboutMetadata.html',
    'https://stackoverflow.com/a/27841363/9079640',
    'https://docs.rs/tauri/1.2.0/tauri/enum.MenuItem.html',
    'https://tauri.app/v1/guides/features/menu/',
    'https://github.com/apvarun/toastify-js',
    'https://trustmeofficial.com/plugin-javascript-terbaik-dan-gratis/',
    'https://www.npmjs.com/package/js-plugin',
    'https://refreshless.com/nouislider/',
    'https://github.com/sampotts/plyr',
    'https://github.com/vidstack/player',
    'https://www.vidstack.io/docs/player/getting-started/quickstart/audio.html#select-media-provider',
    'https://github.com/dinbror/blazy',
    'https://www.w3schools.com/cssref/pr_import_rule.php',
    'https://github.com/rishabhp/bideo.js',
    'https://speckyboy.com/top-50-javascript/',
    'https://uppy.io/',
    'https://tonejs.github.io/',
    'https://github.com/alexfoxy/lax.js',
    'https://github.com/alexmacarthur/typeit',
    'https://iro.js.org/',
    'https://nosir.github.io/cleave.js/',
    'https://github.com/ctrl-freaks/freezeframe.js/',
    'https://darkmodejs.learn.uno/',
    'https://github.com/daybrush/scenejs',
    'https://bun.js.org/',
    'https://kingsora.github.io/OverlayScrollbars/#!overview',
    'https://mailtoui.com/',
    'https://github.com/timqian/chart.xkcd',
    'https://feimosi.github.io/baguetteBox.js/',
    'https://scrollrevealjs.org/pricing/',
    'https://cdnjs.com/libraries/slick-carousel',
    'https://www.jsdelivr.com/',
    'https://www.jsdelivr.com/package/npm/@change-org/longlinks',
    'https://askubuntu.com/questions/61826/how-do-i-check-the-sha1-hash-of-a-file',
    'https://ahelpme.com/linux/ubuntu/install-and-make-gnu-gcc-10-default-in-ubuntu-20-04-focal/',
    'https://askubuntu.com/questions/26498/how-to-choose-the-default-gcc-and-g-version',
    'https://gitlab.com/qemu-project/qemu/-/issues/1064',
    'https://www.mail-archive.com/qemu-devel@nongnu.org/msg860682.html',
    'https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/indexOf',
    'https://github.com/MahdiF/loud-links/blob/master/loudlinks.js',
    'https://youtu.be/5VM0tQ7GDNc',
    'https://www.w3schools.com/tags/tag_details.asp',
    'https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_details',
    'https://www.youtube.com/shorts/uFCpCkVgvd0',
    'https://coolors.co/contrast-checker',
    'https://stackoverflow.com/a/47488174/9079640',
    'https://stackoverflow.com/questions/47488109/is-it-possible-to-put-a-switch-statement-inside-of-a-conditional-ternary',
    'https://stackoverflow.com/questions/4949523/json-keys-as-numbers',
    'https://owen-wilson-wow-api.onrender.com/',
]
---
<ul>
    {linksDumped.map(link => (
        <li><a href={link} target="_blank" rel="noopener noreferrer">{link}</a></li>
    ))}
</ul>

<!-- victoria was made up by an old dude in Ohio -->
<!-- Import everything
---
const mdPosts = await Astro.glob('../pages/posts/*.md');
const mdxPosts = await Astro.glob('../pages/posts/*.mdx');
const allPosts = [...mdxPosts, ...mdPosts];
---
-->
