---
const Filler:Array<Array<any>> = [
    ["Title",
        [
            'https://example.com',
            'https://example.org',
            'https://example.gov',
        ]
    ],
]
---

<ul>
    <!-- <li>Odysee, an LBRY instance. <a href="http://www.odysee.com/" target="_blank" rel="noopener noreferrer">http://www.odysee.com</a></li> -->
    {Filler.map(link=>(
        <li><Fragment set:html={link[0]}></Fragment> 
                {link[1].map(sauces=>(
                    <a href={sauces} target="_blank" rel="noopener noreferrer">{sauces}</a> 
                ))}    
        </li>
    ))}
</ul>