---

---
<ul>
    <li><a href="https://odysee.com/$/invite/@JOELwindows7" target="_blank" rel="noopener noreferrer">(Video) Odysee. did you realize that you've been given this same invite link all this time?</a></li>
    <li><a href="https://heygotrade.com/referral?code=192761" target="_blank" rel="noopener noreferrer">(Stonk) GoTrade</a></li>
    <li><a href="https://www.dropbox.com/referrals/AACwhbb2bYjHwCWqzdH3-A9tf6yKXzK2jcg?src=global9" target="_blank" rel="noopener noreferrer">(Storage) Dropbox.</a> Why would you want this? not only they can also take down share links, but also its free storage is very tiny! only 2 GB!!!</li>
</ul>