---
---
<!-- https://stackoverflow.com/a/29884677/9079640 -->

<!-- <button onClick="window.location.href=window.location.href">Refresh Page</button> -->
<a title="Reload the page" class="NavBtn" href={`javascript:alert(`+'URL Info for:\n'+Astro.url.href+'\n\nPathname: '+Astro.url.pathname+'\nOrigin: '+Astro.url.origin+'\n'+`)`}>&#xf836; URL Info &#xea74;</a>