---
---
<!-- https://stackoverflow.com/a/29884677/9079640 -->

<!-- <button onClick="window.location.href=window.location.href">Refresh Page</button> -->
<a title="Reload the page" class="NavBtn" href="javascript:URLInfoPls()">&#xf836; URL Info &#xf7fb;</a>

<script is:inline>
    function URLInfoPls(){
        alert(`URL Info for:\n`+location.href+`\n\nPathname: `+location.pathname+`\nOrigin: `+location.origin+`\n`);
        // alert(`URL Info for:\n`+{Astro.url.href}+`\n\nPathname: `+{Astro.url.pathname}+`\nOrigin: `+location.origin+`\n`);
    }
</script>