---
import Layout from '../../../components/Layout.astro';
import ButtonizedLink from '../../../components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import InternetOMeter from '@components/Icons/InternetOMeter.astro';
---
<Layout title="Internet-O-meter" description="Perkedel NTLF+ASTR. Give JOELwindows7 from Perkedel an `Internet` " keywords="tech, fun, novelty, open source, gratis, free, internet, fun, widget, donate, just for fun, internetometer,internet,o,meter,internet-o-meter">
    <h1>Internetometer!</h1>
        <p>Internetometer is fun little widget for people to click and give "<i>internet points</i>" to bespoke people that own the username.<br>We have no idea what merit, but still a fun toy to try idk.</p>
        <p>Giving "<i>internet points</i>" are free, $0. Simply click the widget & confirm the "giving internet". The number in the widget will shown goes up next time the widget image load.</p>
        
        <h2>Try me!</h2>
            <h3>Rectangle</h3>
                <!-- <a href='https://internetometer.com/give/42554' target="_blank" rel="noopener noreferrer"><img src='https://internetometer.com/image/42554.png'/></a> -->
                <InternetOMeter id='42554' design='rectangle'/>
            <h3>Square</h3>
                <!-- <a href='https://internetometer.com/give/42554' target="_blank" rel="noopener noreferrer"><img src='https://internetometer.com/imagesmall/42554.png'/></a> -->
                <InternetOMeter id='42554' design='square'/>
        <h2>You can have your own internetometer!</h2>
            <p>Simply register at <a href="https://internetometer.com" target="_blank" rel="noopener noreferrer">https://internetometer.com</a> for $0 & go crazy! Implement anywhere you'd like.</p>
            <p>Remember folks, just for fun! Never force ask or sponsor click give "<i>internet points</i>" yess! & avoid vandalism, only implement on your own site or profile or yeah. idk..</p>
</Layout>