---
---
<!-- <style is:inline>
    #astroIconLight{display:none;}
    #astroIconDark{display:inherit;}
    @media(prefers-color-scheme: light){
        #astroIconLight{display:inherit;}
        #astroIconDark{display:none;}
    }
</style> -->
<span title="Astro framework">
<img id="astroIconDark" height="36px" src="https://astro.build/assets/press/logomark-dark.svg" alt="Astro framework icon Dark mode" />
<img id="astroIconLight" height="36px" src="https://astro.build/assets/press/logomark-light.svg" alt="Astro framework icon Light mode" />
</span>