---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import MicrositeListOwn from '@components/Elements/MicrositeListOwn.astro';
---
<Layout
    title="Microsites. List of special evens (NSFW)" 
    description="Perkedel NTLF+ASTR. Microsites!"
    keywords="tech, fun, novelty, open source, gratis, free, microsite"
    author="JOELwindows7"
    rating="adult"
    >
    <h1>Microsites of Special Events (SFW + NSFW)</h1>
        <p>This directory lists microsites for which are special events that needs somekind of homepage but obviously too small to be on its own.</p>
        <MicrositeListOwn enableNSFW={true}/>
</Layout>