---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import { LocalTime, RelativeTime, TimeAgo } from '@astro-github-elements/time';
---
<Layout 
    title="Sony Rolly!!! MP3 Player hacks" 
    description="Perkedel NTLF+ASTR. Sony Rolly! MP3 Player Hacks"
    keywords="tech, fun, novelty, open source, gratis, free, embedded, hacks, hack, wceload, download, custom, firmware, Apple, Jailbreak, jailbroken, iOS, jailbreaking"
    >
    <h1>Sony Rolly!!! MP3 Player hacks</h1>
        <p>Every Apple stuffs! iOS, macOS, MacBook, iPad, iPhone, etc.</p>
        <h2>Essential Informations</h2>
            <h3>Sony Rolly Huntings</h3>
                <p>Go to <a href="https://ebay.com" target="_blank" rel="noopener noreferrer">https://ebay.com</a> and search sony rolly. Listing exists.</p>
                <p class="warning">Quickly acquire yours! It may getting more scarce.</p>
                <p><a href={"https://www.reddit.com/r/SonyRolly/comments/qbx07q/techmoan_a_pecking_freaking_sony_rolly_behind_him/?utm_source=share&utm_medium=web2x&context=3"} target="_blank" rel="noopener noreferrer">Techmoan has Sony Rolly now</a>, 
                    but apparently <u class="error">he could not make it work</u> at this time as of <LocalTime date datetime="2022-11-08"/></p>
            <h3>Sony Rolly known models</h3>
                <p><mark>pls citation!</mark></p>
                <ul>
                    <li>SEP-10BT . v1 Japan. 1GB</li>
                    <li>SEP-20BT . v1 Worldwide. 1GB</li>
                    <li>SEP-30BT . v2 Worldwide. 2GB</li>
                    <li>SEP-50BT . v2 Japan. 2GB</li>
                </ul>
            <h3>Regional Differences</h3>
                <p>Evilfully, each regional type do have regional locks in it. Software that came for Japanese model<wbr/>
                    was tested or atleast claimed (from <a href="http://www.sonyrolly.net/" target="_blank" rel="noopener noreferrer">sonyrolly.net</a>)<wbr/> 
                    do not work for other region.<br/>
                    Respective software for matching region type is required.
                </p>
            <h3>Japanese Version</h3>
                <p>
                    The <a href="http://www.sonyrolly.net/" target="_blank" rel="noopener noreferrer">sonyrolly.net</a> website even provided you way how to setup softwares for 
                    Japanese Rolly model. They even provided you special Japanese version of 
                    Windows XP iso installation disc just to get it run. In addition, they also had iso (disc image file) 
                    of both region types of Rolly softwares. Heck, the Japanese version of 
                    Rolly Software also has patched one there so hopefully it works on 
                    worldwide version of Windows. If not wrong.
                </p>
            <h3>Joel's preconcepted ideas for Sony Corporation and its affiliates</h3>
                <p>
                    He wish that Sony Rolly to be restarted. For the reboot, 
                    Sony Rolly would no longer be region locked, meaning one model for all around globe or 
                    better, this universe. Things now done in a modern way, like today's electronic devices 
                    that relates in Internet of things:
                </p>
                <ul>
                    <li>Connection to a common smartphones, even non-XPERIA ones.</li>
                    <li>Downloadable software(s) from application repository each platform.</li>
                    <li>NFC which Sony often brags about (look at those NFC symbols on every device with it enabled, considering they're the one invented it)</li>
                    <li>Benefit from the power of PS5 and so forth.</li>
                    <li>SD card expansion.</li>
                    <li>Education of robotics</li>
                </ul>
                <p>Please forget <code>financial succ!</code> We want sony rolly<br/>
                    <mark class="error" style="font-weight:900;font-size:200em">B a c k !</mark>
                </p>
        <h2>What to do?</h2>
        <ul>
            <!-- <li><ButtonizedLink href="winCE">???</ButtonizedLink></li> -->
            <li><ButtonizedLink href="http://www.sonyrolly.net/" target="_blank" rel="noopener noreferrer">SonyRolly.net</ButtonizedLink> Sony Rolly fan website</li>
            <li><ButtonizedLink href="https://youtu.be/7VPaXdQoKXs" target="_blank" rel="noopener noreferrer">Techmoan's YouTube video about Sony Walkman firmware hacks</ButtonizedLink></li>
            <li><ButtonizedLink href="https://youtu.be/HTxdKi77G20" target="_blank" rel="noopener noreferrer">(YouTube of Diginfo, now Ikinamo) The Latest Sony Music Player, the Rolly</ButtonizedLink> will be released on September of 29th...</li>
            <li><ButtonizedLink href={"https://www.reddit.com/r/SonyRolly/comments/ih47z2/guide_types_and_model_no_of_sony_rolly/?utm_source=share&utm_medium=web2x&context=3"} target="_blank" rel="noopener noreferrer">List of Known Models</ButtonizedLink> Reddit Post</li>
            <li><ButtonizedLink href={"https://www.reddit.com/r/SonyRolly/comments/if7z48/tips_for_rolly_hunters_please_regularly_check/?utm_source=share&utm_medium=web2x&context=3"} target="_blank" rel="noopener noreferrer">Tips for Sony Rolly ebay Hunters</ButtonizedLink> Reddit Post</li>
            <li><ButtonizedLink href={"https://www.reddit.com/r/SonyRolly/comments/qbx07q/techmoan_a_pecking_freaking_sony_rolly_behind_him/?utm_source=share&utm_medium=web2x&context=3"} target="_blank" rel="noopener noreferrer">Sony Rolly spotted on Techmoan's background</ButtonizedLink> Reddit Post</li>
            <li><ButtonizedLink href={"https://www.reddit.com/r/SonyRolly/"} target="_blank" rel="noopener noreferrer">Sony Rolly Subreddit r/SonyRolly</ButtonizedLink></li>
        </ul>
</Layout>