---
// import { Tweet, Vimeo, YouTube } from 'astro-embed';
// import { Vimeo, YouTube } from 'astro-embed';
import ButtonizedLink from "@components/ButtonizedLink.astro";
---

<!-- https://github.com/astro-community/astro-embed/tree/main/packages/astro-embed -->

<!-- <ButtonizedLink href='https://github.com/astro-community/astro-embed/tree/main/packages/astro-embed' openInNewTab={true}>Learn More about Astro Embeds</ButtonizedLink> -->

<!-- <Tweet id="https://twitter.com/astrodotbuild/status/1512144306898976768" /> -->

<!-- <Vimeo id="https://vimeo.com/32001208" /> -->

<!-- <YouTube id="https://youtu.be/xtTy5nKay_Y" /> -->

<p class='error'>Astro Embeds is currently out of date & will fail to compile if we force using it. The addon contributors must update to support newer version of Astro.</p>