---
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<p>Homestuck CSS Test. Test the Homestuck CSSers</p>
<h3>DialogLog</h3>
<p>
    <span class="HS JOELwindows7">Ahei, Dasandimian!</span>
    <br/>
    <span class="HS VriskaSerket">Oh cool, A CSS Stylizer for our HTMLLog!! 8ravo!</span>
    <br/>
    <span class="HS TereziPyrope">AND <code>MarkdownLog</code> 4LSO, 1F W3 PUT TH4T TOO H3R3. SO F4R SO GOOD, Y34H!</span>
    <br/>
    <span class="HS JOELwindows7">Perhaps. wai wait. I got an idea.</span>
</p>
<h3>DialogLog per Paragraph</h3>
    <p class='HS JOELwindows7'>hmmm, Maybe it's a good idea to have each of our line on 1 paragraph, how does that look?</p>

    <p class='HS TereziPyrope'>H3Y, 1 TH1NK TH4T LOOKS B3TT3R. PROB4BLY JUST DO TH1S L1K3 TH1S FROM NOW ON.</p>

    <p class='HS VriskaSerket'>Yeah yeah, I like this one more.</p>

    <p class='HS JOELwindows7'>Yep, it's better. in fact that's how the new paragraph in Markdown interpretation, people. I think, idk, but yeah!</p>

    <p class='HS NepetaLeijon'>Hey guys! What'rre doing here?</p>

    <p class='HS JOELwindows7'>We're building your <a href='/assets/css/Homestuck/homestuck.css' target="_blank" rel="noopener noreferrer">captioning style system.</a> We will have our caption automatically stylized just like your writing style back in the day.</p>

    <p class='HS NepetaLeijon'><b style='font-size:large;'>OwO!?!?!? AWWSUMM!!!!</b></p>

    <p class='HS JOELwindows7'>Go check it out. You will only need to type whatever inside the tag, install your class, & voilla. everything in style.</p>

    <p class='HS NepetaLeijon'>(Look this result & compare with this source code) HOHOHO,, YESS!!!</p>

    <p class='HS JOELwindows7'>Yeah. Enjoy.</p>
<h3>Stories & Pages</h3>
<ul>
    <li><ButtonizedLink href='https://homestuck.com/story/808' openInNewTab={true}>(Homestuck<sup>1</sup>) Page 808</a></li>
</ul>