---

// https://www.ics.uci.edu/~fielding/pubs/dissertation/rest_arch_style.htm
// https://htmx.org/docs/#introduction
---
<div hx-get="/clicked" hx-trigger="click[ctrlKey]">
    Control Click Me
</div>