---
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<p>Yo, JPEG XL!</p>
<p>To Enable plugin, enable flag! 
    <a href="https://jpegxl.io/tutorials/brave/" target="_blank" rel="noopener noreferrer">Brave how here</a><br/>
    Basically, open URL <code>chrome://flags</code>, search <code>enable-jxl</code>, <code>Enable</code> it! Click Relaunch browser.
</p>

<!-- style="display:flex;align-self:center;" -->
<!-- style="display:flex;align-content:center;" -->

<p style="text-align:center;">
    <img  class="hoverExpand" title="Sample JXL 1. Photo Table" src="/assets/img/steal/jxl_Test/jxl_test.jxl" alt="JXL Sample 1" width="25%"/><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/jxl_test.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;">
    <img class="hoverExpand" title="Sample JXL 2. Sci-Fi abberation" src="/assets/img/steal/jxl_Test/jxl_test2.jxl" alt="JXL Sample 2" width="25%"/><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/jxl_test2.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;">
    <img class="hoverExpand" title="1x1_exif_xmp" src="/assets/img/steal/jxl_Test/1x1_exif_xmp.jxl" alt="exif_xmp" width="25%"/><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/1x1_exif_xmp.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;">
    <img class="hoverExpand" title="traffic light" src="/assets/img/steal/jxl_Test/cropped_traffic_light.jxl" alt="traffic light" width="25%"/><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/cropped_traffic_light.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;">
    <img class="hoverExpand" title="PQ Gradient" src="/assets/img/steal/jxl_Test/pq_gradient.jxl" alt="pq_gradient" width="25%"/><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/pq_gradient.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;">
    <img class="hoverExpand" title="Spline on 1st frame" src="/assets/img/steal/jxl_Test/spline_on_first_frame.jxl" alt="spline_on_first_frame" width="25%"/><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/spline_on_first_frame.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;">
    <img class="hoverExpand" title="Splines" src="/assets/img/steal/jxl_Test/splines.jxl" alt="splines" width="25%"/><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/splines.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;">
    <img class="hoverExpand" title="Square extended size container" src="/assets/img/steal/jxl_Test/square-extended-size-container.jxl" alt="square-extended-size-container" width="25%"/><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/square-extended-size-container.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>


<p>Checkout the 
    <a href="https://github.com/niutech/jxl.js" target="_blank" rel="noopener noreferrer">sort of Polyfill JS by niutech</a>. & peck you 
    <a href="https://youtu.be/Jyk87VVfh9s" target="_blank" rel="noopener noreferrer">Chromium</a>!<br/>
    Hey, plugin unreliable! just enable the flag!<br/>
    <a href="https://jpegxl.io/tutorials/brave/" target="_blank" rel="noopener noreferrer">Brave how here</a><br/>
    Moar Data <a href="https://github.com/libjxl/testdata" target="_blank" rel="noopener noreferrer">pls Now</a><br/>
    libjxl source code <a href="https://github.com/libjxl/libjxl" target="_blank" rel="noopener noreferrer">pls Now</a><br/>
</p>