---
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import PerkedelWoosie from '@components/Icons/PerkedelWoosie.astro';
---
<p>Yo, JPEG XL!</p>
<p>To Enable plugin, enable flag!
    <a href="https://jpegxl.io/tutorials/brave/" target="_blank" rel="noopener noreferrer">Brave how here</a><br/>
    Basically, open URL <code>chrome://flags</code>, search <code>enable-jxl</code>, <code>Enable</code> it! Click Relaunch browser.
</p>

<!-- style="display:flex;align-self:center;" -->
<!-- style="display:flex;align-content:center;" -->

<!-- OLD
  width="25%"

-->
<div class="hideOverflowsSide">
<p style="text-align:center;" >
    <img  class="hoverExpand SpecialityImageWide" title="Sample JXL 1. Photo Table" src="/assets/img/steal/jxl_Test/jxl_test.jxl" alt="JXL Sample 1"/><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/jxl_test.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="Sample JXL 2. Sci-Fi abberation" src="/assets/img/steal/jxl_Test/jxl_test2.jxl" alt="JXL Sample 2" /><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/jxl_test2.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="1x1_exif_xmp" src="/assets/img/steal/jxl_Test/1x1_exif_xmp.jxl" alt="exif_xmp"/><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/1x1_exif_xmp.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="traffic light" src="/assets/img/steal/jxl_Test/cropped_traffic_light.jxl" alt="traffic light" /><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/cropped_traffic_light.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="PQ Gradient" src="/assets/img/steal/jxl_Test/pq_gradient.jxl" alt="pq_gradient" /><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/pq_gradient.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="Spline on 1st frame" src="/assets/img/steal/jxl_Test/spline_on_first_frame.jxl" alt="spline_on_first_frame" /><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/spline_on_first_frame.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="Splines" src="/assets/img/steal/jxl_Test/splines.jxl" alt="splines" /><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/splines.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="Square extended size container" src="/assets/img/steal/jxl_Test/square-extended-size-container.jxl" alt="square-extended-size-container" /><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/square-extended-size-container.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="Red Room" src="/assets/img/steal/jxl_Test/red-room.jxl" alt="red-room" /><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/red-room.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;">
    <img class="hoverExpand SpecialityImageWide" title="Dice" src="/assets/img/steal/jxl_Test/dice.jxl" alt="dice" /><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/dice.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="Faint Webkit logo in this p3 red" src="/assets/img/steal/jxl_Test/Webkit-logo-P3.jxl" alt="Webkit-logo-P3" /><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/Webkit-logo-P3.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="Tesseract JPEG XL" src="/assets/img/steal/jxl_Test/anim-icos.jxl" alt="anim-icos" /><br/>
    <ButtonizedLink href="/assets/img/steal/jxl_Test/anim-icos.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="Perkedel Logo Dark border" src="/assets/img/Perkedel Logo Darkborder.jxl" alt="Perkedel Logo Darkborder" /><br/>
    <ButtonizedLink href="/assets/img/Perkedel Logo Darkborder.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="Perkedel Logo No border" src="/assets/img/Perkedel Logo Noborder.jxl" alt="Perkedel Logo Noborder" /><br/>
    <ButtonizedLink href="/assets/img/Perkedel Logo Noborder.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="Perkedel Logo Type border" src="/assets/img/Perkedel Logo Typeborder.jxl" alt="Perkedel Logo Noborder" /><br/>
    <ButtonizedLink href="/assets/img/Perkedel Logo Typeborder.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <img class="hoverExpand SpecialityImageWide" title="Perkedel Banner" src="/assets/img/perkedelbannerrender4KDCI.jxl" alt="Perkedel Banner 4KDCI" /><br/>
    <ButtonizedLink href="/assets/img/perkedelbannerrender4KDCI.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>

<p style="text-align:center;" >
    <PerkedelWoosie classe="hoverExpand SpecialityImageWide" size='75%'/><br/>
    <ButtonizedLink href="/favicon_2048.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink><br/>
</p>
</div>

<p>Checkout the
    <a href="https://github.com/niutech/jxl.js" target="_blank" rel="noopener noreferrer">sort of Polyfill JS by niutech</a>. & peck you
    <a href="https://youtu.be/Jyk87VVfh9s" target="_blank" rel="noopener noreferrer">Chromium</a>!<br/>
    Hey, plugin unreliable! just enable the flag!<br/>
    <a href="https://jpegxl.io/tutorials/brave/" target="_blank" rel="noopener noreferrer">Brave how here</a>. basically again, you <b>enable</b> that <code>enable-jpegxl</code> experiemental flag, restart browser, that's it.<br/>
    Moar Data <a href="https://github.com/libjxl/testdata" target="_blank" rel="noopener noreferrer">pls Now libjxl Test</a><br/>
    <b>EVEN Moar Data</b> <a href="https://jpegxl.info/test-page/" target="_blank" rel="noopener noreferrer">pls Now JPEG XL Info Test</a><br/>
    libjxl source code <a href="https://github.com/libjxl/libjxl" target="_blank" rel="noopener noreferrer">pls Now</a><br/>
    JPEG XL Info <a href="https://jpegxl.info" target="_blank" rel="noopener noreferrer">pls Now</a><br/>
    JPEG XL Arts <a href="https://jpegxl.info/art/" target="_blank" rel="noopener noreferrer">pls Now</a><br/>
    JPEG XL Official Website <a href="https://jpeg.org/jpegxl" target="_blank" rel="noopener noreferrer">pls Now</a><br/>
    JPEG XL Art Surma generator <a href="https://jxl-art.surma.technology/" target="_blank" rel="noopener noreferrer">pls Now</a><br/>
    Perkedel Logo kit <a href="https://github.com/Perkedel/HexagonEngine/tree/master/Inkscape/Logo%20Setup" target="_blank" rel="noopener noreferrer">pls Now</a><br/>
    <br/>
    MOAR:
    <ul>
        <li><a href='https://arxiv.org/abs/1311.2540' target="_blank" rel="noopener noreferrer">Patent ANS on Arxiv</a></li>
        <li><a href='https://jpegxl.io/articles/rans/' target="_blank" rel="noopener noreferrer">Microsoft granted the ANS patent</a></li>
    </ul>
</p>

<p style='font-size:xx-large;' class='info'><ButtonizedLink href="https://jpegxl.io/" target="_blank" rel="noopener noreferrer">Click here to visit any image to JXL converter!</ButtonizedLink> a $0 tool to convert any image to JPEG XL.</p>

<p style='font-size:xx-large;' class='error'>GONE!!! ALL GONE!!! <ButtonizedLink href="https://chrome.google.com/webstore/detail/jpeg-xl-viewer/bkhdlfmkaenamnlbpdfplekldlnghchp" target="_blank" rel="noopener noreferrer">INSTALL THIS CHROMIUM EXTENSION TO AUTO-COVERT 1ST FRAME OF JXL OBJECTS IN EVERY PAGE & RENDER IT</ButtonizedLink>. The animation is not supported, only 1st frame. HDR still supported as is! </p>
