---
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<p>Yo, JPEG XL!</p>

<img class="hoverExpand" title="Sample JXL 1. Photo Table" src="/assets/img/steal/jxl_test.jxl" alt="JXL Sample 1" width="75%"/><br/>
<ButtonizedLink href="/assets/img/steal/jxl_test.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink>

<img class="hoverExpand" title="Sample JXL 2. Sci-Fi abberation" src="/assets/img/steal/jxl_test2.jxl" alt="JXL Sample 2" width="75%"/><br/>
<ButtonizedLink href="/assets/img/steal/jxl_test2.jxl" target="_blank" rel="noopener noreferrer" download="">&#xf6d9; Download</ButtonizedLink>

<p>Checkout the 
    <a href="https://github.com/niutech/jxl.js" target="_blank" rel="noopener noreferrer">sort of Polyfill JS by niutech</a>. & peck you 
    <a href="https://youtu.be/Jyk87VVfh9s" target="_blank" rel="noopener noreferrer">Chromium</a>!
</p>