---
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import EnglishO from '@components/Icons/EnglishO.astro';
import EmbedVideo from '@components/Elements/EmbedVideo.astro';
---
<p>Welcome to New Nerd Font New test <span class='nf nf-fa-smile_o' title='Smiley'/>. Here new update. You can checkout <a href='https://nerdfonts.com' target="_blank" rel="noopener noreferrer">NerdFonts.com</a> for more info.</p>
<p><span class='nf nf-fa-resistance' title='Resistance'/></p>
<p><span class='nf nf-md-copyleft' title='Copyleft'/></p>
<p><span class='nf nf-md-copyright' title='Copyright'/></p>
<p><span class='nf nf-seti-godot' title='Godot Engine'/></p>
<p> Wait, then I can do this? 󱃎</p>
<p>Or perhaps &#xf05d7; Altimeter? Like <span class='nf nf-md-altimeter' title='Spanned Altimeter'/></p>
