---
import SauceShortCut from '@components/Elements/SparePart/Shortcuts/SauceShortcut.astro';
---
<p><SauceShortCut website='ODSY' id='@JOELwindows7' nsfw={false}/></p>
<p><SauceShortCut website='LIBRARIAN-SEGFAULT' id='@JOELwindows7' nsfw={false}/></p>
<p><SauceShortCut website='R34X' id='2432343' nsfw={false}/></p>