---
export interface Props{
    inConfirmation?:Boolean;
}

const{ inConfirmation = false} = Astro.props.frontmatter || Astro.props as Props;
---
<!-- Make the Poop button / return to SFW modular to be reusable on everything. -->
<a title={inConfirmation?"Throw the red pill to the toilet & then flush it":"Return to SFW version of this page"} href={inConfirmation?"..":"../.."} class="NavBtn" id="PoopButton" style={""} set:html={"🚽 &#xe20e;"}></a>
<!-- I'm confused now!
- I think holding poop is discouraged! But then
- `Puke` / `Muntah` is disgusting and means a disease
- `Castract` / `Kebiri` is too dark and maybe a permanent desire loss
- `Poop` / `Berak` is natural
Then what & how am I supposed to philosophize this?
poop on command? maybe?!??!?
-->