---
---
<!-- Make the Poop button / return to SFW modular to be reusable on everything. -->
<a title="Return to SFW version of this page" href="../.." class="NavBtn" id="PoopButton" style={""}>🚽 &#xe20e;</a>
<!-- I'm confused now!
- I think holding poop is discouraged! But then
- `Puke` / `Muntah` is disgusting and means a disease
- `Castract` / `Kebiri` is too dark and maybe a permanent desire loss
- `Poop` / `Berak` is natural
Then what & how am I supposed to philosophize this?
poop on command? maybe?!??!?
-->