---
import BlenderVersion from '@assets/json/idk/blender_version.json';

const {blender_version} = BlenderVersion;

export interface Props{
  rating?:string;
  nsfw?:Boolean;
  addDescriptions?:string;
  addKeywords?:string;
  nsfwConfirmation?:Boolean;
}

const{
  rating="",
  nsfw=false,
  addDescriptions='',
  addKeywords='',
  nsfwConfirmation = false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<div class="row">
    <div class="column colLeft">
        <p>Main</p>
        <ul>
            <li><a href='/'>Home &#xf015;</a></li>
            <li><a href='/apps'>Applications &#xf003b;</a></li>
        </ul>
    </div>
    <div class="column colLeft">
        <p>Applications</p>
        <ul>
            <li><a href='/apps/'>Applications &#xf003b;</a></li>
            <li><a href='/apps/profile'>BioLinks &#xf4ff;</a></li>
            <li><a href='/apps/profile/@JOELwindows7'>JOELwindows7's Biolink &#xf4ff;</a> <b class='info'>Please donate, thancc</b></li>
            <li><a href='/apps/donate'><b>Donate NOW Pls</b> &#xf4ff;</a> Thancc</li>
            <li><a href='/apps/3DModels'>3D Models &#xf00ab;</a> (Blender: <b class='info' title='Latest (Recommended)' transition:name={`blenderVersionLatest`}>v{blender_version.latest}</b>, <span title='Long Term Support'>v{blender_version.LTS} LTS</span>)</li>
            <li><a href='/apps/external_links'>3rd Party links &#xf081a;</a></li>
            <!-- TODO: install unbuttonized app lists both own & 3rd party -->
        </ul>
    </div>
    <div class="column colLeft">
        <p>Whitepapers</p>
        <ul>
            <li><a href='/about'>About &#xf05a;</a></li>
            <li><a href='/terms_of_service'>Terms Of Service &#xf495;</a></li>
            <li><a href='/privacy_policy'>Privacy Policy &#xf069;</a></li>
            <li><a href='/sitemap-0.xml' target="_blank" rel="noopener noreferrer">Sitemap XML &#xf0e8;</a></li>
            <li><a href='/rss.xml' target="_blank" rel="noopener noreferrer">RSS XML &#xf143;</a></li>
        </ul>
    </div>
    <div class="column colLeft">
        <p>Source Code</p>
        <ul>
            <li><a href="https://github.com/Perkedel/perkedel-astro" target="_blank" rel="noopener noreferrer">This Website's GitHub Repository &#xf09b;</a></li>
            <li><a href="https://app.netlify.com/sites/perkedel/deploys" target="_blank" rel="noopener noreferrer" title='Netlify Deployment Status'><img src='https://api.netlify.com/api/v1/badges/faf44159-afa6-46d4-b5fe-aac959b44466/deploy-status' alt='Netlify Deployment Status'/></a></li>
            <li><a href="https://github.com/Perkedel" target="_blank" rel="noopener noreferrer">Our GitHub &#xf09b;</a></li>
        </ul>
    </div>
</div>