---
export interface Props{
  rating?:string;
  nsfw?:Boolean;
  addDescriptions?:string;
  addKeywords?:string;
  nsfwConfirmation?:Boolean;
}

const{
  rating="",
  nsfw=false,
  addDescriptions='',
  addKeywords='',
  nsfwConfirmation = false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<div class="row">
    <div class="column colVertCenter">
        <p>Main</p>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/apps'>Applications</a></li>
        </ul>
    </div>
    <div class="column colVertCenter">
        <p>Applications</p>
        <ul>
            <li><a href='/apps'>Applications</a></li>
            <!-- TODO: install unbuttonized app lists both own & 3rd party -->
        </ul>
    </div>
    <div class="column colVertCenter">
        <p>Whitepapers</p>
        <ul>
            <li><a href='/about'>About</a></li>
            <li><a href='/terms_of_service'>Term Of Service</a></li>
            <li><a href='/sitemap-0.xml'>Sitemap.xml</a></li>
            <li><a href='/rss.xml'>RSS.xml</a></li>
        </ul>
    </div>
</div>