---
export interface Props{
  rating?:string;
  nsfw?:Boolean;
  addDescriptions?:string;
  addKeywords?:string;
  nsfwConfirmation?:Boolean;
}

const{
  rating="",
  nsfw=false,
  addDescriptions='',
  addKeywords='',
  nsfwConfirmation = false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<div class="row">
    <div class="column colLeft">
        <p>Main</p>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/apps'>Applications</a></li>
        </ul>
    </div>
    <div class="column colLeft">
        <p>Applications</p>
        <ul>
            <li><a href='/apps/'>Applications</a></li>
            <li><a href='/apps/profile'>BioLinks</a></li>
            <li><a href='/apps/external_links'>3rd Party links</a></li>
            <!-- TODO: install unbuttonized app lists both own & 3rd party -->
        </ul>
    </div>
    <div class="column colLeft">
        <p>Whitepapers</p>
        <ul>
            <li><a href='/about'>About</a></li>
            <li><a href='/terms_of_service'>Term Of Service</a></li>
            <li><a href='/privacy_policy'>Privacy Policy</a></li>
            <li><a href='/sitemap-0.xml'>Sitemap.xml</a></li>
            <li><a href='/rss.xml'>RSS.xml</a></li>
        </ul>
    </div>
    <div class="column colLeft">
        <p>Source Code</p>
        <ul>
            <li><a href="https://github.com/Perkedel/perkedel-astro" target="_blank" rel="noopener noreferrer">This Website's GitHub Repository</a></li>
            <li><a href="https://app.netlify.com/sites/perkedel/deploys" target="_blank" rel="noopener noreferrer"><img src='https://api.netlify.com/api/v1/badges/faf44159-afa6-46d4-b5fe-aac959b44466/deploy-status' alt='Netlify Deployment Status'/></a></li>
            <li><a href="https://github.com/Perkedel" target="_blank" rel="noopener noreferrer">Our GitHub</a></li>
        </ul>
    </div>
</div>