---
---
<!-- Straight Rips from NECT -->
<div style="overflow-x:auto;">
<!--
    <h3>Base</h3>
    <video controls>
      <source src="https://example.com" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>EXAMPLE, Ripped by <a href="https://example.com" target="_blank" rel="noopener noreferrer">EXAMPLE_YOUTUBE_CHANNEL</a> & bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, video <a href="https://example.com" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i>https://example.com URL CDN DISCORD VIDEO</i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit EXAMPLE_USERNAME yess.</b></p>
    <br> -->

    <h3>Brain Power (Flashing 📸)</h3>
    <video controls>
      <!-- <source src="https://cdn.discordapp.com/attachments/212735460747902976/1003048670159175680/coloride.webm?size=4096" type="video/webm"> -->
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/coloride.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/watch?v=h-mUGj41hWA" target="_blank" rel="noopener noreferrer">NOMA - Brain Power fan lyric video by Martin</a>, Ripped by <a href="https://www.youtube.com/channel/UCzuK492RgF4vcsRxnv3-BdA" target="_blank" rel="noopener noreferrer">Coloride</a> & bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, video <a href="https://www.youtube.com/watch?v=rlW0ktqqPhY" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/212735460747902976/1003048670159175680/coloride.webm?size=4096</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit Coloride, PanIntegralus (for collecting this) yess.</b></p>
    <p><a class="Buttonnize" href="h/assets/video/steal/Discord%20Bouncing/PanIntegralus/coloride.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Yeah 🐱 Bounce</h3>
    <video controls>
      <!-- <source src="https://cdn.discordapp.com/attachments/440120590754643968/1004944707975118858/yeah_Bounce.webm" type="video/webm"> -->
      <source src="/assets/video/steal/Discord%20Bouncing/MOAR2/yeah_Bounce.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Random Cat dancing rave video, Ripped by <a href="https://www.youtube.com/user/RSFewOfTheMany" target="_blank" rel="noopener noreferrer">VoidG</a> & bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, video <a href="https://youtu.be/StnWybsCzS0" target="_blank" rel="noopener noreferrer" >here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/440120590754643968/1004944707975118858/yeah_Bounce.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit VoidG / RSFewOfTheMany yess.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/MOAR2/yeah_Bounce.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <p>
    INCOMING, MOAR FUNI!!!<br>
    LET'S GO!!<br>
    Hopefully your device can keep up here<br>
    coz there's alot!<br>
    yeah.<br>
    </p>
    <br>

    <h3>BINGBONG 🐱</h3>
    <video controls>
      <!-- <source src="https://cdn.discordapp.com/attachments/950077002654814229/1018508500512542740/bingbong.webm" type="video/webm"> -->
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/bingbong.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>BingBong (same as above), Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/950077002654814229/1018508500512542740/bingbong.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/bingbong.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>MIXED OAOU</h3>
    <video controls>
      <!-- <source src="https://cdn.discordapp.com/attachments/880342502660530176/1003330211972137070/mixed.webm" type="video/webm"> -->
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/mixed.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Funi random scream shrink, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/880342502660530176/1003330211972137070/mixed.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/mixed.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Minecraft Piston</h3>
    <video controls>
      <!-- <source src="https://cdn.discordapp.com/attachments/617061138877906944/1002968648052387850/piston.webm" type="video/webm"> -->
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/piston.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Minecraft Piston, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/617061138877906944/1002968648052387850/piston.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/piston.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>OUTPUT CARAMELDANSEN KIRBY</h3>
    <video controls>
      <!-- <source src="https://media.discordapp.net/attachments/554047934543560715/1002785763819270215/output.webm" type="video/webm"> -->
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/output.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Kirby does <a href="https://www.youtube.com/watch?v=zvq9r6R6QAY" target="_blank" rel="noopener noreferrer">Caramel Dance</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://media.discordapp.net/attachments/554047934543560715/1002785763819270215/output.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/output.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>CLICK TO DELETE</h3>
    <video controls>
      <source src="assets/video/steal/Discord%20Bouncing/PanIntegralus/clicktodelete_1.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Click to Delete this video ft. <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Rick Astley - Never Gonna Give You Up</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/701114760187478126/1002998748357603389/clicktodelete_1.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/clicktodelete_1.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Catch Wii if you can</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/1642522983372.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>With <a href="https://www.youtube.com/watch?v=ZwniAZqvdCs" target="_blank" rel="noopener noreferrer">Soy Boy</a>, Haha Im running you cannot catch Wii ft. <a href="https://youtu.be/E9s1ltPGQOo" target="_blank" rel="noopener noreferrer">Mii Channel song</a> sped up, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/616739915937480717/1002898590500397076/1642522983372.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/1642522983372.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Mario GameOver bye</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/1654910361143.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Mario Game Over bye leave, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/616739915937480717/1002898431741804614/1654910361143.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/1654910361143.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Bitwars</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/bitwars.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>AVGN's <a href="https://youtu.be/_u5dtBtG9yU?t=743" target="_blank" rel="noopener noreferrer">Bitwars Wrtist Watch Game</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/616739915937480717/1002897803950960751/bitwars.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/bitwars.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Bouncin Saul</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/Bouncing.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://youtu.be/gDjMZvYWUdo" target="_blank" rel="noopener noreferrer">bETTer CAlL sAuL</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>This was where <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii7vs78/" target="_blank" rel="noopener noreferrer">OIRNOIR did get started</a> apparently</p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/616739915937480717/1002897273941938326/Bouncing.webm</code></i></b> OR <b><i>https://cdn.discordapp.com/attachments/846133147934654565/1002785152310706227/Bouncing.webm</i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus & OIRNOIR yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro. As well as OIRNOIR too, he made the script for us all to automate all these funi bouncing videos! yeah.</b></p>
    <p><a class="Buttonnize" href="h/assets/video/steal/Discord%20Bouncing/PanIntegralus/Bouncing.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Funky Size Change</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/funky_size_change.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Outline drawing guy transforming, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/616739915937480717/1002896701822074961/funky_size_change.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/funky_size_change.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>SUS</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/sus.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Sussy baka <a href="https://knowyourmeme.com/memes/amogus" target="_blank" rel="noopener noreferrer">AMOGUS</a> <a href="https://stonetoss.com" target="_blank" rel="noopener noreferrer">StoneToss.com</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/887689631204802590/1002655825711611914/sus.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/sus.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Expand & Popsicle Bon Apetit</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/1656800525664.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Expand & Popsicle Bon Apetit, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/616739915937480717/1002895521201008670/1656800525664.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/1656800525664.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <!--<h3>Ruptured Rollercoaster</h3>
    <video controls>
      <source src="https://cdn.discordapp.com/attachments/1002683090113658930/1002683210238545941/Ruptured_Rollercoaster.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Ruptured Roller Coaster, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i>https://cdn.discordapp.com/attachments/1002683090113658930/1002683210238545941/Ruptured_Rollercoaster.webm</i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    -->
    <p>Ruptured Roller coaster (https://cdn.discordapp.com/attachments/1002683090113658930/1002683210238545941/Ruptured_Rollercoaster.webm) from <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">PanIntegralus' collection</a> Gone! 😭😭😭😭😭😭😭😭😭😭</p>
    <!--<p><a class="Buttonnize" href="https://cdn.discordapp.com/attachments/1002683090113658930/1002683210238545941/Ruptured_Rollercoaster.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>-->
    <br>

    <h3>The True <i>Schit</i> Sporadic</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/thetruecshit_Sporadic.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://play.google.com/store/apps/details?id=com.outfit7.talkingtom" target="_blank" rel="noopener noreferrer">Outfit7 Tom the cat</a> does Wewek Heum!, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/891822405935304704/1003362967112388628/thetruecshit_Sporadic.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/thetruecshit_Sporadic.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Peter chokes on rice cake (Loud 🔊)</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/Rice_Cakes.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/watch?v=SnaRPu2UEDE" target="_blank" rel="noopener noreferrer">LOL!</a> AHem <a href="https://www.youtube.com/watch?v=0iAuw5dxQFg" target="_blank" rel="noopener noreferrer">Peter tries Rice Cake</a> & choked horribly, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/872257939585531944/1003150751146725466/Rice_Cakes.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/Rice_Cakes.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>AudioBouncee Popupapepipomu</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/7a85953152014d9ba7dbef7bb5a625b7_Audiobounce.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>AudioBouncee Popupapepipomu (<a href="https://www.youtube.com/watch?v=R2DS_CUqZ9I" target="_blank" rel="noopener noreferrer">Phonk Killer - Trunk (Slowed + Reverb)</a>) cowbelling inspired from <a href="https://knowyourmeme.com/memes/wenomechainsama" target="_blank" rel="noopener noreferrer">Wenamechainsama</a> meme, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/593357132015992843/1008857013721255996/7a85953152014d9ba7dbef7bb5a625b7_Audiobounce.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/7a85953152014d9ba7dbef7bb5a625b7_Audiobounce.webm" target="_blank" rel="noopener noreferrer download">&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Sad Party Cat Goodbye</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/54b8a5d66d964a48a7e0d0c698fffe1d-1_Shrink.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Sad Party Cat Goodbye ft. <a href="https://youtu.be/W2TE0DjdNqI" target="_blank" rel="noopener noreferrer">Porter Robinson - Goodbye to a world</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/593357132015992843/1008857045379842169/54b8a5d66d964a48a7e0d0c698fffe1d-1_Shrink.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/54b8a5d66d964a48a7e0d0c698fffe1d-1_Shrink.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>PEANUT BUTTER RAVE TIME</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/hhhhhh_weirdm_1.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/watch?v=eRBOgtp0Hac" target="_blank" rel="noopener noreferrer">PEANUT BUTTER</a> RAVE TIME, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/593357132015992843/1008857082096795698/hhhhhh_weirdm_1.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/hhhhhh_weirdm_1.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Wazooooooooooooooooooooook</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/capci_sporadic.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>Wazooooooooooooooooooooook ft. that sound, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/593357132015992843/1008857117890986045/capci_sporadic.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/capci_sporadic.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>QUACK QUACK</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/QuackQuack2.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://youtu.be/0Da8ZhKcNKQ" target="_blank" rel="noopener noreferrer">Moko quacks</a> & she's disappeared. Nope, nvm she came back, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/593357132015992843/1006809675402072164/QuackQuack2.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/QuackQuack2.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Spy off to visits your mother</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/spy.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://youtu.be/FwYSTEv2XSE" target="_blank" rel="noopener noreferrer">Yippiekiyaayh</a>...........!, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1008891430640570418/1008891866294530158/spy.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/spy.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>necosquish</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/necosquish.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://typemoon.fandom.com/wiki/Neco-Arc" target="_blank" rel="noopener noreferrer">Neco-ARC</a> got squished which honestly you should squish Nvidia instead lmao! btw, <a href="https://knowyourmeme.com/memes/neco-arc" target="_blank" rel="noopener noreferrer">she</a>'s still alive yey, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1008891430640570418/1008891863777951794/necosquish.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/necosquish.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Huj</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/huj.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://youtu.be/ug6G-XQNXBc" target="_blank" rel="noopener noreferrer">San Piggies</a> Piglovania Megalovania Bad Piggies <a href="https://www.youtube.com/c/LilAlienBeepBoop" target="_blank" rel="noopener noreferrer">Lil'Alien</a> Remix, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1008891430640570418/1008891824716386404/huj.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/huj.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Go Crazy AaAAAaAAAArjrfjajrgbaiuebrgiububBGASBRGUIbiIUBIUBIUb</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/go_crazy.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/shorts/kyPzl8M4yCE">Krezi</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1008891430640570418/1008891824196296714/go_crazy.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/go_crazy.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Elegant</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/elegant.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/shorts/LsBnVKqByIE" target="_blank" rel="noopener noreferrer">Elegant</a> ft. <a href="https://www.youtube.com/watch?v=Jq4-ZXQfeZk" target="_blank" rel="noopener noreferrer">CJ SO COOL - Tired</a> <mark class="warning">(&#xf071; explicit)</mark>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1008891430640570418/1008891823277752350/elegant.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/elegant.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>EFR SP (Loud 🔊)</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/efr_sp.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/watch?v=KUq49B_eKDg" target="_blank" rel="noopener noreferrer">Wizard Yensid scratches straw in the cup like a DJ</a> (OBNOXIOUSLY LOUD) (BONUS <a href="https://osu.ppy.sh/beatmapsets/1473788#osu/3024832" target="_blank" rel="noopener noreferrer">osu! beatmap</a> here <a href="https://www.youtube.com/watch?v=3bj2K-eFw4Q" target="_blank" rel="noopener noreferrer">vid</a>), Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1008891430640570418/1008891822652797008/efr_sp.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/efr_sp.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <p>Coloride already exist! see above</p>
    <h3>Brain Power (Flashing 📸) (copy)</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/coloride.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/watch?v=h-mUGj41hWA" target="_blank" rel="noopener noreferrer">NOMA - Brain Power fan lyric video by Martin</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1008891430640570418/1008891822069792868/coloride.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit Coloride & PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p>Coloride already exist! see above</p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/coloride.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Cirno</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/cirno.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="http://touhou.wikia.com/wiki/Cirno" target="_blank" rel="noopener noreferrer">Cirno</a> shrink & disappear ft. what is this Touhou level song?, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1008891430640570418/1008891779510186045/cirno.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/cirno.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Carl</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/carl.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://roblox.com/" target="_blank" rel="noopener noreferrer">Carl Roblox</a> side bounce ft. <a href="https://www.youtube.com/watch?v=OAC4ItP0xWM" target="_blank" rel="noopener noreferrer">Lipps inc. - Funkytown</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1008891430640570418/1008891779128492082/carl.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/carl.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Okay I shrink up</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/capybara_shrink.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/watch?v=7YR56cFm7LM" target="_blank" rel="noopener noreferrer">Capybara Pull Up</a> shrink ft. <a href="https://www.youtube.com/watch?v=Yo4X-1Y0vn8" target="_blank" rel="noopener noreferrer">Don Toliver - After Party</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1008891430640570418/1008891778579042445/capybara_shrink.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/capybara_shrink.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Dis Keyframes</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/dis_keyframes.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/watch?v=CsCS5BOjdgk" target="_blank" rel="noopener noreferrer">EOHEOOOK!!!</a>............. ft. <a href="https://www.youtube.com/watch?v=L-x8DYTOv7w" target="_blank" rel="noopener noreferrer">Tom Scott - YouTubers have to declare ads</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://media.discordapp.net/attachments/874719200059486240/1008982530126528603/dis_keyframes.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/dis_keyframes.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>TU WA GA PAT! PERTAMINA!</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/out.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/watch?v=M3Keg5XKJO8" target="_blank" rel="noopener noreferrer">Un Dos Tres Quatro</a> <a href="https://www.tiktok.com/@defaltyboii28/video/7113585170506206510?_t=8VessHMkAe3&_r=1" target="_blank" rel="noopener noreferrer">Tiktokeh ORIGINAL</a> ft. <a href="https://youtu.be/x47NYUbtYb0" target="_blank" rel="noopener noreferrer">Hechizeros Band - El Sonidito</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/891283371538395156/1006983270224904252/out.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/out.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Scatman Wacky-attack</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/ski-ba-bop-ba-dop-bop_wacked..webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/watch?v=Hy8kmNEo1i8" target="_blank" rel="noopener noreferrer">Ska-bada-bidi-asdlkfjasgaegkjjdfsbgjkdodododop.</a> ft. <a href="https://www.youtube.com/watch?v=Hy8kmNEo1i8" target="_blank" rel="noopener noreferrer">Scatman John - ski-ba-bop-ba-dop-bop I'm a Scatman</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/825907716987158588/1003796440012816526/ski-ba-bop-ba-dop-bop_wacked..webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/ski-ba-bop-ba-dop-bop_wacked..webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Cat nonsense</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/cat_nonsense.webm?size=4096" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/shorts/iisfUPZy3B0" target="_blank" rel="noopener noreferrer">Nyanyame Nyanyaju nyanyaku.</a> ft. <a href="https://youtu.be/WAOOk93Hp9c" target="_blank" rel="noopener noreferrer">Monogatari</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/883415418709114893/1003580305908695110/cat_nonsense.webm?size=4096</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/cat_nonsense.webm?size=4096" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Dog Keyframe</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/dog_keyframes.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/shorts/a440-jN8drc" target="_blank" rel="noopener noreferrer">Dog OJOJOJOJOJOCK.</a> ft. <a href="https://www.youtube.com/shorts/a440-jN8drc" target="_blank" rel="noopener noreferrer">OJOJOJOJOCK</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/359882301267509250/1020465720880005140/dog_keyframes.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/dog_keyframes.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>bASED (No, I mean cringe, that redirecting away from Gura is not funny at all! I like vtuber!!! Not all Vtuber bad. & not all agency is good either, lol serious.)</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/based.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/channel/UCoSrY_IQQVpmIRZ9Xf-y93g" target="_blank" rel="noopener noreferrer">Gawr Gura ch.</a> ft. <a href="https://www.youtube.com/watch?v=yXQViqx6GMY" target="_blank" rel="noopener noreferrer">Mariah Carey - All I want for Christmas is you</a>, Collected by <a href="https://github.com/PanIntegralus/" target="_blank" rel="noopener noreferrer">PanIntegralus</a> & was bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, repo <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1008891430640570418/1023413479169863781/based.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit PanIntegralus yess. PLS PLS VERY PLS credit PanIntegralus, because he/she is Giga Chad, super based giant Win because he put it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/based.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <p>Oh yeah! keep 'em coming, people! <br>
    & sorry, You people are too many! I'll archive you all & your name should hopefully immortalized! Man, if only there's better framework that doesn't require server ends<br>
    because of this Neocities situations.<br>
    run locally on machine,<br>
    datas on this page,<br>
    I just fill it in<br>
    tidy up automatically anytime you opened this<br>
    with that tidier machine run locally<br>
    <font size="150"><b>AAAAAAAA SEBEL!!! MANA FRAMEWORKNYA?!?!?!?</b></font>
    </p>
    <br>

    <h3>EXPANDEN POPSICLE</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/EXPAND.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">EXPANDEN POPSICLE (same as above but starts wider & goes even wider).</a> ft. <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">???</a>, Thread started by <a href="https://www.reddit.com/user/Lucario_o_o/" target="_blank" rel="noopener noreferrer">Lucario_o_o</a> with contributions from many & were bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, thread <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii3slky/" target="_blank" rel="noopener noreferrer">here</a> & total Reddit Post <a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/1000017001667887104/1002500853699182592/EXPAND.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit Lucario_o_o & friends yess. PLS PLS VERY PLS credit Lucario_o_o & those people, because they are is Giga Chads, super based giant Win because he started it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/EXPAND.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>ren THere's also this one</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/1657270280182.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">a beautiful girl.</a> ft. <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">???</a>, Thread started by <a href="https://www.reddit.com/user/Lucario_o_o/" target="_blank" rel="noopener noreferrer">Lucario_o_o</a> with contributions from many & were bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, thread <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii3slky/" target="_blank" rel="noopener noreferrer">here</a> & total Reddit Post <a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/784668677596250123/1002351800176877669/1657270280182.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit Lucario_o_o & friends yess. PLS PLS VERY PLS credit Lucario_o_o & those people, because they are is Giga Chads, super based giant Win because he started it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/1657270280182.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>There's also this one Popsicle toooooooooo</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/1656800525664.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">Same Expand Popsicle with smaller start.</a> ft. <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">???</a>, Thread started by <a href="https://www.reddit.com/user/Lucario_o_o/" target="_blank" rel="noopener noreferrer">Lucario_o_o</a> with contributions from many & were bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, thread <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii3slky/" target="_blank" rel="noopener noreferrer">here</a> & total Reddit Post <a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/748691054450049099/1002498141771268116/1656800525664.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit Lucario_o_o & friends yess. PLS PLS VERY PLS credit Lucario_o_o & those people, because they are is Giga Chads, super based giant Win because he started it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/1656800525664.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Ruptured Rollercoaster</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/Ruptured_Rollercoaster.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">Ruptured Roller coaster.</a> ft. <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">Pls tell me what is this TikTok brass trap song!!!</a>, Thread started by <a href="https://www.reddit.com/user/Lucario_o_o/" target="_blank" rel="noopener noreferrer">Lucario_o_o</a> with contributions from many & were bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, thread <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii3slky/" target="_blank" rel="noopener noreferrer">here</a> & total Reddit Post <a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/935027818771914804/1000648883560530030/Ruptured_Rollercoaster.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit Lucario_o_o & friends yess. PLS PLS VERY PLS credit Lucario_o_o & those people, because he/she is Giga Chad, super based giant Win because he started it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/Ruptured_Rollercoaster.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>SUS again</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/sus.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://knowyourmeme.com/memes/amogus" target="_blank" rel="noopener noreferrer">SUSsy baka again.</a> ft. <a href="https://stonetoss.com" target="_blank" rel="noopener noreferrer">StoneToss.com</a>, Thread started by <a href="https://www.reddit.com/user/Lucario_o_o/" target="_blank" rel="noopener noreferrer">Lucario_o_o</a> with contributions from many & were bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, thread <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii3slky/" target="_blank" rel="noopener noreferrer">here</a> & total Reddit Post <a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/887689631204802590/1002655825711611914/sus.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit Lucario_o_o & friends yess. PLS PLS VERY PLS credit Lucario_o_o & those people, because they are is Giga Chads, super based giant Win because he started it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/sus.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>2quack</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/2quack.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://youtu.be/0Da8ZhKcNKQ" target="_blank" rel="noopener noreferrer">Moko quacks bye & comeback (same as above).</a> ft. <a href="https://www.youtube.com/c/RyuzoArts" target="_blank" rel="noopener noreferrer">RyuzoArts</a>, Thread started by <a href="https://www.reddit.com/user/Lucario_o_o/" target="_blank" rel="noopener noreferrer">Lucario_o_o</a> with contributions from many & were bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, thread <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii3slky/" target="_blank" rel="noopener noreferrer">here</a> & total Reddit Post <a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/309581028601626624/1003614704511500369/2quack.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit Lucario_o_o & friends yess. PLS PLS VERY PLS credit Lucario_o_o & those people, because they are is Giga Chads, super based giant Win because he started it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/2quack.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Brain Power again & again (Flashing 📸)</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/coloride.webm?size=4096" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/watch?v=rlW0ktqqPhY" target="_blank" rel="noopener noreferrer">Brain Bounced by Coloride (same as above).</a> ft. <a href="https://www.youtube.com/watch?v=h-mUGj41hWA" target="_blank" rel="noopener noreferrer">NOMA - Brain Power fan lyric video by Martin</a>, Thread started by <a href="https://www.reddit.com/user/Lucario_o_o/" target="_blank" rel="noopener noreferrer">Lucario_o_o</a> with contributions from many & were bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, thread <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii3slky/" target="_blank" rel="noopener noreferrer">here</a> & total Reddit Post <a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/212735460747902976/1003048670159175680/coloride.webm?size=4096</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit Lucario_o_o & friends yess. PLS PLS VERY PLS credit Lucario_o_o & those people, because they are is Giga Chads, super based giant Win because he started it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/coloride.webm?size=4096" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>ONE cannot catch Wii</h3>
    <video controls>
      <!-- <source src="https://cdn.discordapp.com/attachments/681606453987115024/1004095749400834120/1.webm" type="video/webm"> -->
      <source src="/assets/video/steal/Discord%20Bouncing/PanIntegralus/1642522983372.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>With <a href="https://www.youtube.com/watch?v=ZwniAZqvdCs" target="_blank" rel="noopener noreferrer">Soy Boy</a>, You cannot catch Wii Mii Channel ft. <a href="https://youtu.be/E9s1ltPGQOo" target="_blank" rel="noopener noreferrer">Mii Channel song</a> sped up, Thread started by <a href="https://www.reddit.com/user/Lucario_o_o/" target="_blank" rel="noopener noreferrer">Lucario_o_o</a> with contributions from many & were bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, thread <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii3slky/" target="_blank" rel="noopener noreferrer">here</a> & total Reddit Post <a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/681606453987115024/1004095749400834120/1.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit Lucario_o_o & friends yess. PLS PLS VERY PLS credit Lucario_o_o & those people, because they are is Giga Chads, super based giant Win because he started it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/PanIntegralus/1642522983372.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>1nce upon a time</h3>
    <video controls>
      <source src="/assets/video/steal/Discord%20Bouncing/MOAR/test.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">Pls tell what is this Anime / Cartoon!.</a> ft. <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">???</a>, Thread started by <a href="https://www.reddit.com/user/Lucario_o_o/" target="_blank" rel="noopener noreferrer">Lucario_o_o</a> with contributions from many & were bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, thread <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii3slky/" target="_blank" rel="noopener noreferrer">here</a> & total Reddit Post <a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/374047317902229504/1002364672814612571/test.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit Lucario_o_o & friends yess. PLS PLS VERY PLS credit Lucario_o_o & those people, because they are is Giga Chads, super based giant Win because he started it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/MOAR/test.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <h3>Welcome to the Hydraulic Press Channel</h3>
    <img src="/assets/img/steal/Discord%20Bouncing/press_1.png" alt="Hydraulic Press"><br>
    <video controls width="500px">
      <source src="/assets/video/steal/Discord%20Bouncing/MOAR/EXPAND.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video><br>
    <img src="/assets/img/steal/Discord%20Bouncing/press_2.png" alt="Hydraulic Base"><br>
    <p><a href="javascript:void(0)" target="_blank" rel="noopener noreferrer">Today we have Popsicle.</a> ft. <a href="https://www.youtube.com/c/HydraulicPressChannel" target="_blank" rel="noopener noreferrer">Hydraulic Press Channel</a>, Thread started by <a href="https://www.reddit.com/user/Lucario_o_o/" target="_blank" rel="noopener noreferrer">Lucario_o_o</a> with contributions from many & were bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, thread <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii3slky/" target="_blank" rel="noopener noreferrer">here</a> & total Reddit Post <a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <p>You can copy & paste these following text <br>
      <b><i><code>https://cdn.discordapp.com/attachments/959947290007728179/1002403780186357892/press_1.png</code></i></b><br>
      <br>
      <b><i><code>https://cdn.discordapp.com/attachments/959947290007728179/1002403780723216535/EXPAND.webm</code></i></b><br>
      <br>
      <b><i><code>https://cdn.discordapp.com/attachments/959947290007728179/1002403781037793280/press_2.png</code></i></b><br>
      <br>
      in that order & arrangement, into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how for the video</a>, & <a href="https://www.w3schools.com/tags/tag_img.asp" target="_blank" rel="noopener noreferrer">here's the image one</a>. <b>Please credit Lucario_o_o & friends yess. PLS PLS VERY PLS credit Lucario_o_o & those people, because they are is Giga Chads, super based giant Win because he started it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/img/steal/Discord%20Bouncing/press_1.png" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD Top Press (can also be copied)</a></p>
    <p><a class="Buttonnize" href="/assets/video/steal/Discord%20Bouncing/MOAR/EXPAND.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <p><a class="Buttonnize" href="/assets/img/steal/Discord%20Bouncing/press_2.png" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD Base Press (can also be copied)</a></p>
    <br>

    <h3>WOOOO YEAH BABY</h3>
    <video controls>
      <source src="/assets/img/steal/Discord%20Bouncing/MOAR/wooo.webm" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p><a href="https://www.youtube.com/watch?v=sAXZbfLzJUg" target="_blank" rel="noopener noreferrer">That's what I've been waiting for, that's what I'm talkin' about, WOOOOO!!...</a> (but <a href="https://youtu.be/sBmjUoB5OPo" target="_blank" rel="noopener noreferrer">disappeared</a>) ft. <a href="https://youtu.be/SsW4npZ0bDk?t=165" target="_blank" rel="noopener noreferrer">MoistCritikal / penguinz0 Reviews that toy thingy</a>, Thread started by <a href="https://www.reddit.com/user/P0zY_UwU/" target="_blank" rel="noopener noreferrer">P0zY_UwU</a> with contributions from many & were bounced with <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">this tool</a> I think, thread <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii7m914" target="_blank" rel="noopener noreferrer">here</a> & total Reddit Post <a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <p>You can copy & paste this following text <b><i><code>https://cdn.discordapp.com/attachments/644641274632339467/1002696659827966084/wooo.webm</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit P0zY_UwU & friends yess. PLS PLS VERY PLS credit Lucario_o_o & those people, because they are is Giga Chads, super based giant Win because he started it here so you don't have to join someone's discord as you already know you only have 100 join limits without nitro.</b></p>
    <p><a class="Buttonnize" href="/assets/img/steal/Discord%20Bouncing/MOAR/wooo.webm" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>

    <p>
    Well, that's all I can have today.<br>
    Now onto my own funny dank meme videos yey!<br>
    Here we go!<br>
    </p>
    <br/>

    <h3>SUCC remake</h3>
    <video controls>
      <source src="https://odysee.com/$/download/succ-reverberations-remake_sporadic/14a3c83716a34c4ed159c50bdef6b522b46e397a" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>from <a href="https://odysee.com/@JOELwindows7:a/succ-reverberations-remake_sporadic:1" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://odysee.com/$/download/succ-reverberations-remake_sporadic/14a3c83716a34c4ed159c50bdef6b522b46e397a</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit JOELwindows7 yess.</b></p>
    <p><a class="Buttonnize" href="https://odysee.com/$/download/succ-reverberations-remake_sporadic/14a3c83716a34c4ed159c50bdef6b522b46e397a" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br/>

    <h3>SUCC remake (with set <i>width</i> & <i>height</i>)</h3>
    <video width="device-width" height="500" controls>
      <source src="https://odysee.com/$/download/succ-reverberations-remake_sporadic/14a3c83716a34c4ed159c50bdef6b522b46e397a" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p> Same as above but with <i>width</i> & <i>height</i> set</p>
    <p>Setting <i>width</i> & <i>height</i> on the video player, makes the player element size stays, while the video inside still able to funny bounce size.</p>

    <br/>

    <h3>SUCC remake (with CSS class <code>SpecialityImageWide</code>)</h3>
    <video class="SpecialityImageWide" controls>
      <source src="https://odysee.com/$/download/succ-reverberations-remake_sporadic/14a3c83716a34c4ed159c50bdef6b522b46e397a" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p> Same as above but with CSS class <code>SpecialityImageWide</code> set</p>
    <p>Setting CSS class <code>SpecialityImageWide</code> on the video player, makes the player element size expands widest on phone & usual on desktop or larger screen, while the video inside still able to funny bounce size.</p>
    <br/>

    <h3>Spinning Phedang (Spinning original fan Final Fantasy sword)</h3>
    <video controls>
      <source src="https://odysee.com/$/download/SpinningPhedang_fixed_rotate/b0f094fa6f1b24a1dadd4ad5b70466d34751c4c5" type="video/webm">
      Werror! Your browser cannot player HTML video! warm and bad! 😭
    </video>
    <p>from <a href="https://odysee.com/@JOELwindows7:a/SpinningPhedang_fixed_rotate:b" target="_blank" rel="noopener noreferrer">here</a></p>
    <p>You can copy & paste this following text <b><i><code>https://odysee.com/$/download/SpinningPhedang_fixed_rotate/b0f094fa6f1b24a1dadd4ad5b70466d34751c4c5</code></i></b> into Discord Chat & any HTML video tags with format of <i>video/webm</i>, <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. <b>Please credit JOELwindows7 yess.</b></p>
    <p><a class="Buttonnize" href="https://odysee.com/$/download/SpinningPhedang_fixed_rotate/b0f094fa6f1b24a1dadd4ad5b70466d34751c4c5" target="_blank" rel="noopener noreferrer" download>&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>
    <br>
  </div>
