---
---
<ul>
    <li>The inconsistent frame size <i>feature</i> I believe is only exist in WEBM.</li>
    <li> Here's No Text To Speech's tutorial how to make funny webm video <a href="https://www.youtube.com/watch?v=ZjGMjv1Gv94" target="_blank" rel="noopener noreferrer">here</a>. <mark><b class="warning">⚠️/!\ NOTE /!\⚠️, DO NOT run the command provided due to Windows bug! I broke my cmd doing that!</b> (sigh)...</mark> Instead, <i>Win</i>+<i>Pause / Break</i>, <i>Advanced System Setting</i>, <i>Environment Variables</i>, & in bottom list (System environment variables), find <i>PATH</i>, open it up, add <i>C:\ffmpeg\bin</i>, OK, OK. close & reopen CMD or PowerShell, OR if you've opened the command prompt, type <i>refreshenv</i> & <i>ENTER</i> to refresh & reload latest saved environment variables. Then continue with the instruction.</li>
    <li> Here's Cadrin the Werecat's tutorial how to make funny webm video <a href="https://www.youtube.com/watch?v=AJCn5aaSNfM" target="_blank" rel="noopener noreferrer">here</a></li>
    <li>Here's the funny WEBM generator tool by OIRNOIR <a href="https://github.com/OIRNOIR/WackyWebM" target="_blank" rel="noopener noreferrer">https://github.com/OIRNOIR/WackyWebM</a></li>
    <li><a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">MOAR COMPILATIONS OF DISCORD BOUNCING WEBM Collected by PanIntegralus.</a> Keep in mind, he/she already said that he/she lost credit, so take with discretion. Yeah, there are so many Bouncing funi memers and they often don't clout their names today.</li>
    <li><a href="https://www.reddit.com/r/discordapp/comments/wazl23/weird_video_what_is_this_new_feature/" target="_blank" rel="noopener noreferrer">Reddit Post about this.</a></li>
    <li><a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii3slky/" target="_blank" rel="noopener noreferrer">(REDDIT) lucario_o_o: I request those links!.</a></li>
    <li><a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii7vs78/" target="_blank" rel="noopener noreferrer">OIRNOIR Commented that & that's where the tool was started.</a></li>
    <li><a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii7vs78/" target="_blank" rel="noopener noreferrer">OIRNOIR Commented that & that's where the tool was started.</a></li>
    <li><a href="https://github.com/OIRNOIR/WebM-Maker-Thing-Idk" target="_blank" rel="noopener noreferrer">& here OIRNOIR webm thingy idk.</a></li>
    <li><a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii6r4bs/" target="_blank" rel="noopener noreferrer">Also another attempt by maniek-86.</a></li>
    <li><a href="https://github.com/maniekx86/webm-resolution" target="_blank" rel="noopener noreferrer">yeah maniek-86 here code script.</a></li>
    <li><a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii7m914/" target="_blank" rel="noopener noreferrer">Oh, God, there are so many!!! here P0zY_UwU's share.</a></li>
    <li><a href="https://daluve.tech/como-videos-estao-bugando-o-discord/" target="_blank" rel="noopener noreferrer">(Portuguese) daluve's article about this Discord Bouncing Videos & technical information to each files..</a> from comment <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ik6nn70/" target="_blank" rel="noopener noreferrer">here</a></li>
    <li><a href="https://0x150.cf/2022/07/29/WEBM-trolling.html" target="_blank" rel="noopener noreferrer">Technical information about Discord bouncing videos. blog of 0x150</a> as he/she commented <a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/ii8hn6a/">here</a></li>
    <li><a href="https://www.reddit.com/r/discordapp/comments/wazl23/comment/iri158r/" target="_blank" rel="noopener noreferrer">Pls upvote my comment cool and good thancc.</a></li>
    <li><a href="https://sites.google.com/view/perkedel/applications/discord-bouncing-videos" target="_blank" rel="noopener noreferrer">I tried to implement on Google Sites, check this out!</a> It works, but not as authentic, due to every widgets are contained in a box. </li>
    <li>(BONUS)<a href="https://discordresources.com/resources/fun-links/" target="_blank" rel="noopener noreferrer">Other Discord fun links at DiscordResources.com</a> <span class="warning">WARNING! Rickrolls ahead!</span> </li>
    <li>(BONUS)<a href="https://animationresources.org/category/discord/" target="_blank" rel="noopener noreferrer">AnimationResources blog archive category <code>discord</code></a>  </li>
    <li>(BONUS)<a href="https://bouncingdvdlogo.com/" target="_blank" rel="noopener noreferrer">DVD Logo hits the corner</a> an emulation of simple yet addicting moment meme by <a target="_blank" rel="noopener noreferrer" href="https://tayeb.dev">tayeb.dev</a> </li>
    <li><a href="https://perkedel.neocities.org/discord_bouncing_video" target="_blank" rel="noopener noreferrer">(Legacy) Check out this same page, on our Neocities deployement at Perkedel NECT.</a></li>
</ul>
