---
import EmbedVideoDiscord from '@components/Elements/EmbedVideoDiscord.astro';
---
<div style="overflow-x:auto;">
<!-- BASE -->
<!-- <EmbedVideoDiscord
    title = 'embedded video' 
    description = 'title'
    creditTo = 'NAME??'
    creditURL = 'https://example.com'
    creditToolTo = "OIRNOIR's video bouncer CMD utility"
    creditToolURL = 'https://github.com/OIRNOIR/WackyWebM'
    creditSauceCall = 'collection'
    creditSauceURL = 'https://example.org'
    happenSauce = 'Collected'
    type = 'video/webm'
    src = ''
    srcExtra = {[]}
    width = ""
    height = ""
    controls='controls'
    autoplay = ''
    loop = ''
    preload = ''
    poster = '/assets/img/perkedelbannerrender4KDCI.png'
    muted = ''
    errorSay = 'Werror! Your browser cannot player HTML video! warm and bad! 😭'
    isFlashing = {false}
    isLoud = {false}
    >
</EmbedVideoDiscord> -->

<!-- YouTubers -->
<EmbedVideoDiscord
    title = 'Brain Power' 
    description = '<a href="https://www.youtube.com/watch?v=h-mUGj41hWA" target="_blank" rel="noopener noreferrer">NOMA - Brain Power fan lyric video by Martin</a>'
    creditTo = 'NAME??'
    creditURL = 'https://example.com'
    creditToolTo = "OIRNOIR's video bouncer CMD utility"
    creditToolURL = 'https://github.com/OIRNOIR/WackyWebM'
    creditSauceCall = 'collection'
    creditSauceURL = 'https://example.org'
    happenSauce = 'Collected'
    type = 'video/webm'
    src = 'https://cdn.discordapp.com/attachments/212735460747902976/1003048670159175680/coloride.webm?size=4096'
    srcExtra = {[]}
    width = ""
    height = ""
    controls='controls'
    autoplay = ''
    loop = ''
    preload = ''
    poster = '/assets/img/perkedelbannerrender4KDCI.png'
    muted = ''
    errorSay = 'Werror! Your browser cannot player HTML video! warm and bad! 😭'
    isFlashing = {false}
    isLoud = {false}
    >
</EmbedVideoDiscord>

<!-- INTERLUDE -->
<p>
    INCOMING, MOAR FUNI!!!<br/>
    LET'S GO!!<br/>
    Hopefully your device can keep up here<br/>
    coz there's alot!<br/>
    yeah.<br/>
</p>
<br>

<!-- PanIntegralus -->


<p>Ruptured Roller coaster (https://cdn.discordapp.com/attachments/1002683090113658930/1002683210238545941/Ruptured_Rollercoaster.webm) from <a href="https://github.com/PanIntegralus/discord.webm-compilation" target="_blank" rel="noopener noreferrer">PanIntegralus' collection</a> Gone! 😭😭😭😭😭😭😭😭😭😭</p>
    <!--<p><a class="Buttonnize" href="https://cdn.discordapp.com/attachments/1002683090113658930/1002683210238545941/Ruptured_Rollercoaster.webm" target="_blank" rel="noopener noreferrer">&#xf6d9; DOWNLOAD LINK (can also be copied)</a></p>-->
    <br/>

<!-- INTERLUDE -->
<p>Oh yeah! keep 'em coming, people! <br/>
    & sorry, You people are too many! I'll archive you all & your name should hopefully immortalized! Man, if only there's better framework that doesn't require server ends<br/>
    because of this Neocities situations.<br/>
    run locally on machine,<br/>
    datas on this page,<br/>
    I just fill it in<br/>
    tidy up automatically anytime you opened this<br/>
    with that tidier machine run locally<br/>
    <font size="150"><b>AAAAAAAA SEBEL!!! MANA FRAMEWORKNYA?!?!?!?</b></font>
</p>
<br/>

<!-- REDDIT THREAD -->

<!-- INTERLUDE -->

<!-- JOELwindows7 -->

<!-- END -->
</div>
<h2>More informations:</h2>