---
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<!-- https://www.w3schools.com/jsref/met_his_back.asp -->
<li class="NavHistoryPutLeft"><a title="Go back to past visited page" href="javascript:history.back()" class="NavBtn" id="PrevButton">&#xf013d;</a></li>
<li class="NavHistoryPutLeft"><a title="Go forward to future visited page" href="javascript:history.go(1)" class="NavBtn" id="NextButton">&#xf013e;</a></li>
<li class="NavHistoryPutLeft"><a title="Go back one level in address bar path" href="../" class="NavBtn" id="BackButton">&#xf077;</a></li>