---
import ButtonizedLink from '@components/ButtonizedLink.astro';
import EmbedRAWHTML from '@components/EmbedRAWHTML.astro';
import BackToTopButton from '@components/BackToTopButton.astro';
import EmbedVideo from '@components/Elements/EmbedVideo.astro';
import EmbedAudio from '@components/Elements/EmbedAudio.astro';
import MessageBoxTemplate from "@components/Messages/MessageBoxTemplate.astro";
import MayContainsNSFW from '@components/Messages/MayContainsNSFW.astro';
import { LocalTime, RelativeTime, TimeAgo } from '@astro-github-elements/time';
---
<h3><code>{"<samp></samp>"}</code> tag</h3>
    <p><ButtonizedLink href="https://www.w3schools.com/tags/tag_samp.asp"target="_blank" rel="noopener noreferrer">w3school samp tag</ButtonizedLink></p>
    <p>
        <samp>
        PS W:\starring codes\Astro Projects\perkedel-astro{'>'} ls

            Directory: W:\starring codes\Astro Projects\perkedel-astro
        
        Mode                 LastWriteTime         Length Name
        ----                 -------------         ------ ----
        d----          10/11/2022    20.33                .github
        d----          16/11/2022    02.25                .vscode
        d----          20/10/2022    14.57                cypress_bak
        d----          22/10/2022    23.05                dist
        d----          29/11/2022    01.19                node_modules
        d----          24/11/2022    01.54                public
        d----          02/11/2022    20.46                scrappe
        d----          20/10/2022    14.57                src
        d----          15/11/2022    23.48                src-tauri
        -a---          05/11/2022    23.42            407 .gitignore
        -a---          20/10/2022    14.57             69 .npmrc
        -a---          16/11/2022    02.18          52738 app-icon.png
        -a---          24/10/2022    02.01            913 astro.config.mjs
        -a---          27/10/2022    18.31           1550 CODE_OF_CONDUCT.md
        -a---          18/11/2022    03.05          20081 CONTRIBUTING.md
        -a---          28/10/2022    17.11            298 cypress.config.ts
        -a---          20/10/2022    15.45          35182 LICENSE
        -a---          15/11/2022    02.59           3815 netlify.toml
        -a---          29/11/2022    01.19         877558 package-lock.json
        -a---          29/11/2022    21.05           1695 package.json
        -a---          29/11/2022    21.05             64 packagescrap.txt
        -a---          21/10/2022    00.59             60 perkedel-astro.code-workspace
        -a---          25/10/2022    15.11           2284 README.md
        -a---          20/10/2022    15.17           7777 readmescrap.md
        -a---          20/10/2022    14.57            141 renovate.json
        -a---          20/10/2022    16.44            136 scrap toml netlify.txt
        -a---          28/10/2022    23.31           1201 tsconfig.json
        
        PS W:\starring codes\Astro Projects\perkedel-astro{'>'} 
        </samp>
    </p>
<h3><code>{"<kbd></kbd>"}</code> tag</h3>
    <p><ButtonizedLink href="https://www.w3schools.com/tags/tag_kbd.asp"target="_blank" rel="noopener noreferrer">w3school kbd tag</ButtonizedLink></p>
    <p>Press <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>T</kbd> to open Terminal</p>
<!-- <h3><code>{"<kbd></kbd>"}</code> tag</h3> -->