---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<!-- <li><ButtonizedLink href="https://example.com" target="_blank" rel="noopener noreferrer">Example</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href="https://github.com/Perkedel/After-Church/tree/master/RAW%20files/Blender" target="_blank" rel="noopener noreferrer">Entire Blender Collections</ButtonizedLink> <span class="warning">Contains some 69420</span>
    Be sure to just clone entire <a href="https://github.com/Perkedel/After-Church/" target="_blank" rel="noopener noreferrer"><code>Perkedel/After-church</code></a> instead.
    <b>EASY!</b> just use <a href="https://desktop.github.com" target="_blank" rel="noopener noreferrer">GitHub Desktop</a>!
    Oh wait, you need <a href="https://git-annex.branchable.com/git-annex/" target="_blank" rel="noopener noreferrer">Git Annex</a>.., sync with <code>git annex sync --content</code> at the root of repository.
    </li>
<!-- DONE: add NSFW external links page with `adult` rating, that links things such as `Smutba.se`  -->
<li><ButtonizedLink href="https://sketchfab.com/JOELwindows7" target="_blank" rel="noopener noreferrer">Joel's Sketchfabs</ButtonizedLink>
    Also, he has liked alot of 3D models there. usually likes most downloadable ones
    </li>
<li><ButtonizedLink href="https://skfb.ly/oxZY8" target="_blank" rel="noopener noreferrer">Pablo's sculpt of Godette Chan but zahlenmaller rigged it</ButtonizedLink>
    based on <a href="https://cloud.blender.org/p/gallery/60b7a091e781884330b23588" target="_blank" rel="noopener noreferrer">this thing that was Pablo was sculpted</a> (including posing it destructively directly with that bend sculpt tool instead of rig bones 💀).
    Awesome div by zero, Extremely impressive, considering that the model was indeed bent without reference T-pose whatsoever since Pablo directly sculpt the pose as is, or I missed the T-posing history, idk.
    <!-- Less point out Unmatter: Paywalled tutorial -->
    </li>
<li><ButtonizedLink classe="Paywalled" href="https://studio.blender.org/characters/" target="_blank" rel="noopener noreferrer">Blender Foundation Characters Blend Files</ButtonizedLink> Every up to date Characters' Blender files in Every Blender Open Movies & Other stuffs. <mark class="error">Some of them are paywalled, requires subscription</mark> <b style="font-size:.75em;">Yes, my friend. Blender has their in-house <i>Patreon-like system.</i>, <a target="_blank" rel="noopener noreferrer" href="https://odysee.com/@JOELwindows7:7/expensive-cloud-of-freeopen-cgi-thingy:0?r=5QVnh7Qi8KKQzh7G7pWw9nkfaEGprCzM">warm & bad??</a></b></li>
<li><ButtonizedLink href="https://peach.blender.org/" target="_blank" rel="noopener noreferrer">(Website) Big Buck Bunny</ButtonizedLink> Infamous Earliest if not the 1st, Open Movie from Blender Foundation</li>
<li><ButtonizedLink href="https://web.archive.org/web/20141023025154/http://blender-mirror.kino3d.org/peach/" target="_blank" rel="noopener noreferrer">(Website) Entire Studio Backup for Big Buck Bunny</ButtonizedLink> Archived, over 200 GB</li>
<li><ButtonizedLink href="https://www.patreon.com/jcthornton/posts" target="_blank" rel="noopener noreferrer">JC Thornton's Patreon Posts</ButtonizedLink> 3DS Max Models, with Blender file alongside each!</li>
<li><ButtonizedLink href="https://www.youtube.com/@TheDucky3D" target="_blank" rel="noopener noreferrer">Ducky3D (Nathan Duck) YouTube channel</ButtonizedLink> Artistic Blender Tutorials. Oh God, there are alot of things to follow!!! SO MANY!!!<br/>
    <mark style="font-size:.1em;" class="error">May contains Patreon Exclusive / Paywalled Tutorials</mark>
    <!-- Less point out Unmatter: Some Paywalled addons -->
    <!-- pls IanHubert, CGMatter, etc.-->
    </li>
<li><ButtonizedLink href="https://www.youtube.com/@IanHubert2" target="_blank" rel="noopener noreferrer">Ian Hubert YouTube channel</ButtonizedLink> Quick Fast Blender Tutorial</li>
<li><ButtonizedLink href="https://www.youtube.com/watch?v=_0mFLJG_Cyo" target="_blank" rel="noopener noreferrer">CG Geek's Blender Tutorial 1 Minute YouTube video</ButtonizedLink> Based on <a href="long series Donut tutorial by Blender Guru" target="_blank" rel="noopener noreferrer">long series Donut tutorial by Blender Guru (YouTube Playlist)</a></li>
<li><ButtonizedLink href="https://cappyadams.itch.io" target="_blank" rel="noopener noreferrer">CappyAdams' Itch</ButtonizedLink> (a.k.a. YuriMayori) every download 3D Model she modeled yey! here <a href="https://cappyadams.carrd.co/" target="_blank" rel="noopener noreferrer">Carrd</a>, <a href="https://cappyadams.github.io/">Website</a></li>
<!--I know, yeah. Uh, here's a deal. let's not use the *full featured* version for now, just use the regular, and as of this time, in 3 years & 18 days after, you can do it.-->
<!--And please, your behaviour. Archivers only judge availability, not looks.-->
<li><ButtonizedLink href={"https://cappyadams.gumroad.com/"} target="_blank" rel="noopener noreferrer">CappyAdams' Gumroad</ButtonizedLink> She has Gumroad too, & base files are $0.</li>
<!--idk, last time I tested Gumroad on everyone, it had no NSFW filter, so umm.. ye. But there is no adult content this one.-->
<li><ButtonizedLink href={"https://youtube.com/shorts/p2NSR25Zgjo?feature=share"} target="_blank" rel="noopener noreferrer">DibalikMindplace tutorial how to rotoscope scan yourself into 3D Model with Polycam</ButtonizedLink> </li>
<li><ButtonizedLink href={"https://youtu.be/G2SacOKhJto"} target="_blank" rel="noopener noreferrer">InLightVFX tutorial VFX workflow without Guesswork</ButtonizedLink> </li>
<li><ButtonizedLink href={"https://inlightvfx.gumroad.com/l/zeyufi"} target="_blank" rel="noopener noreferrer">InLightVFX tutorial VFX workflow without Guesswork tutorial assets</ButtonizedLink> </li>
<li><ButtonizedLink href={"https://inlightvfx.gumroad.com/l/zeyufi"} target="_blank" rel="noopener noreferrer">InLightVFX tutorial VFX workflow without Guesswork tutorial assets</ButtonizedLink> </li>
<li><ButtonizedLink href={"https://blendswap.com/blend/4046"} target="_blank" rel="noopener noreferrer">Dodge Challenger 1970 R / T 3D Model</ButtonizedLink> Pls all BlendSwap files! <mark class='error'>BlendSwap has download limit that resets every month (but you can subscribe to increase limit idk). Requires login!</mark></li>
<li><ButtonizedLink href={"https://youtu.be/mY2YlKlDOJc"} target="_blank" rel="noopener noreferrer">Procedural Bluetooth logo Material Node</ButtonizedLink> CMZW. Pls node!</li>
<li><ButtonizedLink href={"https://twitter.com/d1_gq"} target="_blank" rel="noopener noreferrer">D1GQ's Twitter</ButtonizedLink><br/>
    Bro got models!!!<br/>
    <ul>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1453388958390435843?s=20&t=Sp2-GV3s9UPTG9IAACRmuw"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Huggy Wuggy</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1607467161425174528?t=r2EFN-Gj9PyaSUH_6sI2xg&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Mommy Long Leg</li>
        <li><ButtonizedLink href="https://www.deviantart.com/d1gq/art/PP-Mommy-Long-Legs-Blender-2-8-Release-942548841" target="_blank" rel="noopener noreferrer"></ButtonizedLink> Mommy Long Leg</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1605422709445480448?t=uAaSdnnvHvxEhpc2GbtSqg&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Poppy Playtime Player Pack</li>
        <li><ButtonizedLink href="https://www.deviantart.com/d1gq/art/PP-Player-Pack-1-Blender-2-8-Release-941853548" target="_blank" rel="noopener noreferrer"></ButtonizedLink> Poppy Playtime Player Pack</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1603817302759194624?t=7dcCzT8Shsxj_E4TvetfRg&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Huggy Wuggy Pack</li>
        <li><ButtonizedLink href="https://www.deviantart.com/d1gq/art/Huggy-Wuggy-Blender-2-8-Rig-Release-941291638" target="_blank" rel="noopener noreferrer"></ButtonizedLink> Huggy Wuggy Pack</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1602735739954929667?t=KXsjq2BeLvrRuQnqysbhTw&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Boxy Boo</li>
        <li><ButtonizedLink href={"https://www.deviantart.com/d1gq/art/Boxy-Boo-Rig-Blender-2-8-Release-940917712"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Boxy Boo</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1534601214683496448?t=zY--RPFBnSpYtqIwS9fHHQ&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Minecraft Steve</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1527418778090360851?t=DUBlsBTV8-0TnSW9kDazWQ&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Minecraft Mommy Long Leg</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1524170147266797568?t=pf4OWcp-hoYps-q5yurJPg&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Poppy Playtime Ch. 2 Pack</li>
        <li><ButtonizedLink href={"https://www.deviantart.com/d1gq/art/Poppy-Playtime-Chapter-2-Pack-Part-1-915719123"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Poppy Playtime Ch. 2 Pack</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1463323514388336645?t=EXM4HsdS62dBgemMivGG9g&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Music Man in Lukasz Borges' FNAF: Security Breach style</li>
        <li><ButtonizedLink href="https://www.deviantart.com/d1gq/art/Security-Breach-Styled-Music-Man-Blender-2-8-Port-898786641" target="_blank" rel="noopener noreferrer"></ButtonizedLink> Music Man in Lukasz Borges' FNAF: Security Breach style</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1459696034569986049?t=kP6Sk6-5NKOFA8B5nMzpNQ&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Poppy Grab Pack</li>
        <li><ButtonizedLink href="https://www.deviantart.com/d1gq/art/Grab-Pack-V1-0-rig-releases-for-Blender-2-8-897852337" target="_blank" rel="noopener noreferrer"></ButtonizedLink> Poppy Grab Pack</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1458954009222553601?t=CA9U5kVmKshfZUEGdsCYPg&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Kissy Missy (v2??)</li>
        <li><ButtonizedLink href="https://www.deviantart.com/d1gq/art/Kissy-Missy-V2-0-rig-releases-for-Blender-2-8-897590868" target="_blank" rel="noopener noreferrer"></ButtonizedLink> Kissy Missy v2</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1458689060889939971?t=m_i8ibx6f0t_xiuxvcEUtw&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Kissy Missy</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1457427804128268294?t=xh7Gmnc0t_hUgPjaumoS6w&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> E. Breddy</li>
        <li><ButtonizedLink href="https://www.deviantart.com/d1gq/art/E-Breddy-CTWFuntimeFreddyBonbon-Blender-2-8-Port-897256931" target="_blank" rel="noopener noreferrer"></ButtonizedLink> E. Breddy</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1455657153486888965?t=Yr6MG2ql_5BhAjUfriG0Zg&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> E. Breddy Lonely v2</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1446033564429131777?t=zY--RPFBnSpYtqIwS9fHHQ&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> E. Breddy Lonely v1</li>
        <li><ButtonizedLink href="https://www.deviantart.com/d1gq/art/E-Breddy-Lonely-Freddy-V2-rig-for-blender-2-8-2-9-896731811" target="_blank" rel="noopener noreferrer"></ButtonizedLink> E. Breddy Lonely v2</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1446936437711114240?t=4lxlj8TlMmRyEMSiVPkA4Q&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> Eleanor</li>
        <li><ButtonizedLink href="https://steamcommunity.com/sharedfiles/filedetails/?id=2119014599" target="_blank" rel="noopener noreferrer"></ButtonizedLink> Eleanor SFM</li>
        <li><ButtonizedLink href="https://steamcommunity.com/sharedfiles/filedetails/?id=2119014599" target="_blank" rel="noopener noreferrer"></ButtonizedLink> Eleanor SFM</li>
        <li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1446343096858554371?t=nfKswuIBGH_S0j9yTYfI7Q&s=19"} target="_blank" rel="noopener noreferrer"></ButtonizedLink> FNAF Halloween Pack</li>
    </ul>
</li>
<li><ButtonizedLink href={"https://twitter.com/mediocre_pack"} target="_blank" rel="noopener noreferrer">TheMediocreMakers Twitter!</ButtonizedLink> Here Twtiter, & <br/>
    Models:
    <ul>
        <li><ButtonizedLink href={"https://twitter.com/mediocre_pack/status/1607195660373360640?t=zY--RPFBnSpYtqIwS9fHHQ&s=19"} target="_blank" rel="noopener noreferrer">Discohead's Stylized Mini Pack</ButtonizedLink> yeah! Pls retweet this, & <a href={"https://twitter.com/mediocre_pack/status/1607195662311116805?t=zY--RPFBnSpYtqIwS9fHHQ&s=19"} target="_blank" rel="noopener noreferrer">that</a></li>
    </ul>
</li>
<li><ButtonizedLink href="https://youtube.com/shorts/ztFiJzNbTms?feature=share" target="_blank" rel="noopener noreferrer">Sharp Edged in Blender with Mean Crease in N control</ButtonizedLink> BlenderArt</li>
<li><ButtonizedLink href="https://youtube.com/shorts/Om5-17CxpjE?feature=share" target="_blank" rel="noopener noreferrer">How to model Mic in Blender, easy!</ButtonizedLink> BlenderArt</li>
<li><ButtonizedLink href="https://youtu.be/EsufneMOvWA" target="_blank" rel="noopener noreferrer">Hard Surface model, How to Create 3D Objects</ButtonizedLink> ExplainingComputers</li>