---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<li><ButtonizedLink href="https://smutba.se" target="_blank" rel="noopener noreferrer">Smutbase</ButtonizedLink> Blender & Other Models, also utilities</li>
<li><ButtonizedLink href="https://sfmlab.com" target="_blank" rel="noopener noreferrer">SFMLab</ButtonizedLink> Source Film Maker Models</li>