---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<!-- <li><ButtonizedLink href="https://example.com" target="_blank" rel="noopener noreferrer">Example</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href="https://github.com/Perkedel/After-Church/tree/master/RAW%20files/Blender" target="_blank" rel="noopener noreferrer">Entire Blender Collections</ButtonizedLink> <span class="warning">Contains some 69420</span>
    Be sure to just clone entire <a href="https://github.com/Perkedel/After-Church/" target="_blank" rel="noopener noreferrer"><code>Perkedel/After-church</code></a> instead.
    <b>EASY!</b> just use <a href="https://desktop.github.com" target="_blank" rel="noopener noreferrer">GitHub Desktop</a>!
    Oh wait, you need <a href="https://git-annex.branchable.com/git-annex/" target="_blank" rel="noopener noreferrer">Git Annex</a>.., sync with <code>git annex sync --content</code> at the root of repository.
    </li>
<!-- DONE: add NSFW external links page with `adult` rating, that links things such as `Smutba.se`  -->
<li><ButtonizedLink href="https://sketchfab.com/JOELwindows7" target="_blank" rel="noopener noreferrer">Joel's Sketchfabs</ButtonizedLink>
    Also, he has liked alot of 3D models there. usually likes most downloadable ones
    </li>
<li><ButtonizedLink href="https://skfb.ly/oxZY8" target="_blank" rel="noopener noreferrer">Pablo's sculpt of Godette Chan but zahlenmaller rigged it</ButtonizedLink>
    based on <a href="https://cloud.blender.org/p/gallery/60b7a091e781884330b23588" target="_blank" rel="noopener noreferrer">this thing that was Pablo was sculpted</a> (including posing it destructively directly with that bend sculpt tool instead of rig bones 💀).
    Awesome div by zero, Extremely impressive, considering that the model was indeed bent without reference T-pose whatsoever since Pablo directly sculpt the pose as is, or I missed the T-posing history, idk.
    <!-- Less point out Unmatter: Paywalled tutorial -->
    </li>
<li><ButtonizedLink classe="Paywalled" href="https://studio.blender.org/characters/" target="_blank" rel="noopener noreferrer">Blender Foundation Characters Blend Files</ButtonizedLink> Every up to date Characters' Blender files in Every Blender Open Movies & Other stuffs. <mark class="error">Some of them are paywalled, requires subscription</mark> <b style="font-size:.75em;">Yes, my friend. Blender has their in-house <i>Patreon-like system.</i>, <a target="_blank" rel="noopener noreferrer" href="https://odysee.com/@JOELwindows7:7/expensive-cloud-of-freeopen-cgi-thingy:0?r=5QVnh7Qi8KKQzh7G7pWw9nkfaEGprCzM">warm & bad??</a></b></li>
<li><ButtonizedLink href="https://peach.blender.org/" target="_blank" rel="noopener noreferrer">(Website) Big Buck Bunny</ButtonizedLink> Infamous Earliest if not the 1st, Open Movie from Blender Foundation</li>
<li><ButtonizedLink href="https://web.archive.org/web/20141023025154/http://blender-mirror.kino3d.org/peach/" target="_blank" rel="noopener noreferrer">(Website) Entire Studio Backup for Big Buck Bunny</ButtonizedLink> Archived, over 200 GB</li>
<li><ButtonizedLink href="https://www.patreon.com/jcthornton/posts" target="_blank" rel="noopener noreferrer">JC Thornton's Patreon Posts</ButtonizedLink> 3DS Max Models, with Blender file alongside each!</li>
<li><ButtonizedLink href="https://www.youtube.com/@TheDucky3D" target="_blank" rel="noopener noreferrer">Ducky3D (Nathan Duck) YouTube channel</ButtonizedLink> Artistic Blender Tutorials. Oh God, there are alot of things to follow!!! SO MANY!!!<br/>
    <mark style="font-size:.1em;" class="error">May contains Patreon Exclusive / Paywalled Tutorials</mark>
    <!-- Less point out Unmatter: Some Paywalled addons -->
    </li>
<li><ButtonizedLink href="https://www.youtube.com/@IanHubert2" target="_blank" rel="noopener noreferrer">Ian Hubert YouTube channel</ButtonizedLink> Quick Fast Blender Tutorial</li>
<li><ButtonizedLink href="https://www.youtube.com/watch?v=_0mFLJG_Cyo" target="_blank" rel="noopener noreferrer">CG Geek's Blender Tutorial 1 Minute YouTube video</ButtonizedLink> Based on <a href="long series Donut tutorial by Blender Guru" target="_blank" rel="noopener noreferrer">long series Donut tutorial by Blender Guru (YouTube Playlist)</a></li>
<li><ButtonizedLink href="https://cappyadams.itch.io" target="_blank" rel="noopener noreferrer">CappyAdams' Itch</ButtonizedLink> (a.k.a. YuriMayori) every download 3D Model she modeled yey! here <a href="https://cappyadams.carrd.co/" target="_blank" rel="noopener noreferrer">Carrd</a>, <a href="https://cappyadams.github.io/">Website</a></li>
<!--I know, yeah. Uh, here's a deal. let's not use the *full featured* version for now, just use the regular, and as of this time, in 3 years & 18 days after, you can do it.-->
<!--And please, your behaviour. Archivers only judge availability, not looks.-->
<li><ButtonizedLink href={"https://cappyadams.gumroad.com/"} target="_blank" rel="noopener noreferrer">CappyAdams' Gumroad</ButtonizedLink> She has Gumroad too, & base files are $0.</li>
<!--idk, last time I tested Gumroad on everyone, it had no NSFW filter, so umm.. ye. But there is no adult content this one.-->
<li><ButtonizedLink href={"https://youtube.com/shorts/p2NSR25Zgjo?feature=share"} target="_blank" rel="noopener noreferrer">DibalikMindplace tutorial how to rotoscope scan yourself into 3D Model with Polycam</ButtonizedLink> </li>
