---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href={"https://odysee.com/@JOELwindows7:a/Joel-is-Cardiophile-confirmed:0"} target="_blank" rel="noopener noreferrer">Joel's devlog of heartbeat emulator experiment in Godot Engine</ButtonizedLink> with 
    <ButtonizedLink href={"https://github.com/Perkedel/HexagonEngine/tree/master/GameDVDCardtridge/DetakJantungProsotipe"} target="_blank" rel="noopener noreferrer">Hexagon Engine Part of this</ButtonizedLink>
    </li>