---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<li><ButtonizedLink href="https://github.com/Perkedel/After-Church/tree/master/RAW%20files/Blender" target="_blank" rel="noopener noreferrer">Entire Blender Collections</ButtonizedLink> <span class="warning">Contains some 69420</span> 
    Be sure to just clone entire <a href="https://github.com/Perkedel/After-Church/" target="_blank" rel="noopener noreferrer"><code>Perkedel/After-church</code></a> instead. 
    <b>EASY!</b> just use <a href="https://desktop.github.com" target="_blank" rel="noopener noreferrer">GitHub Desktop</a>! 
    Oh wait, you need <a href="https://git-annex.branchable.com/git-annex/" target="_blank" rel="noopener noreferrer">Git Annex</a>.., sync with <code>git annex sync --content</code> at the root of repository.
    </li>
<!-- DONE: add NSFW external links page with `adult` rating, that links things such as `Smutba.se`  -->
<li><ButtonizedLink href="https://sketchfab.com/JOELwindows7" target="_blank" rel="noopener noreferrer">Joel's Sketchfabs</ButtonizedLink>
    Also, he has liked alot of 3D models there. usually likes most downloadable ones
    </li>
<li><ButtonizedLink href="https://skfb.ly/oxZY8" target="_blank" rel="noopener noreferrer">Pablo's sculpt of Godette Chan but zahlenmaller rigged it</ButtonizedLink>
    based on <a href="https://cloud.blender.org/p/gallery/60b7a091e781884330b23588" target="_blank" rel="noopener noreferrer">this thing that was Pablo was sculpted</a> (including posing it destructively directly with that bend sculpt tool instead of rig bones 💀). 
    Awesome div by zero, Extremely impressive, considering that the model was indeed bent without reference T-pose whatsoever since Pablo directly sculpt the pose as is, or I missed the T-posing history, idk.
    </li>