---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import EmbedPicture from '@components/Elements/EmbedPicture.astro';
import Figurative from '@components/Elements/SparePart/Figurative.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href={"https://odysee.com/@JOELwindows7:a/Joel-is-Cardiophile-confirmed:0"} target="_blank" rel="noopener noreferrer">Joel's devlog of heartbeat emulator experiment in Godot Engine</ButtonizedLink> with
    <ButtonizedLink href={"https://github.com/Perkedel/HexagonEngine/tree/master/GameDVDCardtridge/DetakJantungProsotipe"} target="_blank" rel="noopener noreferrer">Hexagon Engine Part of this</ButtonizedLink><br/>
    <iframe id="odysee-iframe" width="75%" height="315" src="https://odysee.com/$/embed/@JOELwindows7:a/Joel-is-Cardiophile-confirmed:0?r=5QVnh7Qi8KKQzh7G7pWw9nkfaEGprCzM" allowfullscreen></iframe>
    </li>
<li><ButtonizedLink href={"https://sns.prtls.jp/hbsnsjp/"} target="_blank" rel="noopener noreferrer">HSBSNS JP Kousakunin's heartbeat forum</ButtonizedLink> <mark class="error">Use Only Japanese Zip Code</mark> you have or anything JP Zip Code (if you don't have) to sign up!
    either
    <a href="https://japan-postcode.810popo.net/" target="_blank" rel="noopener noreferrer">This website</a> or
    <a href="https://zipcode-jp.com/" target="_blank" rel="noopener noreferrer">That website</a>
    <mark class="warning">Requires Japanese Language fluency OR Translator.</mark>
    </li>
<li><ButtonizedLink href={"https://hbsnsjp.relav.jp/"} target="_blank" rel="noopener noreferrer">HSBSNS JP Kousakunin's heartbeat forum but using Relav</ButtonizedLink> INFO</li>
<li><ButtonizedLink href={"https://github.com/GrazedAnkle/SHR-SKSE64"} target="_blank" rel="noopener noreferrer">Skyrim Heart rate mod</ButtonizedLink> Introduced by HBObsession from Ichor Mongrel's server</li>
<li><ButtonizedLink href={"https://heart2h.com"} target="_blank" rel="noopener noreferrer">Heart2h.com website</ButtonizedLink> <b class="error">Majority of function requires account, not archive friendly!</b> Video & Forum</li>
<li><ButtonizedLink href={"https://www.deviantart.com/joelwindows7/art/My-Laptop-is-extremely-laggy-let-s-cardiophile-806144320"} target="_blank" rel="noopener noreferrer">A Hat in Time steth moment</ButtonizedLink> Because my laptop is laaaaaaaaaaaaaaggy.
  <Figurative figcaption="Graffiti image featuring Hat Kid & Bow Kid stething their own heart.">
    <div style="overflow-x:auto;">
    <!--<EmbedPicture src="https://github.com/Perkedel/After-Church/raw/master/RAW%20files/ImageScan/AhitHeartbeatSteth.png" title='Graffiti image featuring Hat Kid & Bow Kid stething their own heart.'/>-->
    <img class="SpecialityImageWide" style="max-width=90vw;" title="Graffiti image featuring Hat Kid & Bow Kid stething their own heart." src="https://github.com/Perkedel/After-Church/raw/master/RAW%20files/ImageScan/AhitHeartbeatSteth.png" alt="Ahit_Steth" />
    </div>
  </Figurative>
  <br/>
  <a href="https://github.com/Perkedel/After-Church/blob/master/RAW%20files/ImageScan/AhitHeartbeatSteth.png" target="_blank" rel="noopener noreferrer">Original File</a>
</li>
