---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import EmbedVideo from '../EmbedVideo.astro';
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href={"https://lbry.projectsegfau.lt/@JOELwindows7:a/HaatoBiitoGuradoru-1st-gameplay:7"} target="_blank" rel="noopener noreferrer">Joel's 1st gameplay of Shinon51788's Heartbeat Guravore</ButtonizedLink>.. Guradoru.. whatever.
    <mark class="error">Paid Game</mark>, <ButtonizedLink classe="Dangerous" href="https://shinon51788.gumroad.com/l/eqiut" target="_blank" rel="noopener noreferrer">here game, for just US$30!</ButtonizedLink>
    Available in digital only for: PC, Android APK!<br/>
    <!-- <iframe id="lbry-iframe" width="75%" height="315" src="https://madiator.com/$/embed/HaatoBiitoGuradoru-1st-gameplay/7c5e488df3182566efa16befa9656756a3a5bea5?" allowfullscreen></iframe> -->
    <EmbedVideo title="Heartbeat Guradoru 1st Gameplay. Shinon51788 IS BACK!!!!!" width="75%" height="315" src="https://proxy.lbry.projectsegfau.lt/stream/api/v4/streams/free/HaatoBiitoGuradoru-1st-gameplay/7c5e488df3182566efa16befa9656756a3a5bea5/9a36f4?download=1"/>
    </li>
<li><ButtonizedLink href={"https://lbry.projectsegfau.lt/@JOELwindows7:a/Abby-Heartbeat-Cardiophillia-moment-Legit:e"} target="_blank" rel="noopener noreferrer">Joel's gameplay of oxo potion's Poke Abby</ButtonizedLink>
    oxo_potion's stuffs & game <ButtonizedLink href="https://lbry.bcow.xyz/@X0P1R4T3-33NSVREENMNT-0FFICIAL:f/oxo_potion_entire_except_Reappear:f" target="_blank" rel="noopener noreferrer">here stuffs</ButtonizedLink> except reappeared & Unity Assets.
    Reappeared ones that egregiously repaywalled: <ButtonizedLink classe="Dangerous" href="https://oxopotion.itch.io/poke-abby" target="_blank" rel="noopener noreferrer">here game, for just US$1!</ButtonizedLink><br/>
    Okay folks. the reappeared ones are not HD ones, supposedly. <ButtonizedLink classe="" href="https://lbry.projectsegfau.lt/@X0P1R4T3-33NSVREENMNT-0FFICIAL:f/oxo_potion_entire_except_Reappear:f" target="_blank" rel="noopener noreferrer">here entire life files</ButtonizedLink>.
    He was confirmed to quit because he was married, I saw it on Patreon, well through an information I got from serveral Zumi's citizens some random random days, mind you, sorry about that.
    It's gone now.., But real, I heard they said that to me.
    And then now to come back, with <b class='error'>this state</b>?
    HUH?! Really brother?! Well, at least you should give us all other files too back, HUHH?!
    Oh c'mon, be serious man. Not only these young adults have to spend their entire month of salary again just to see it, it's.. idk man. Why??
    <EmbedVideo title="LEGIT? POKE ABBY GAME CONTAINS HEARTBEAT? REALLY???" width="75%" height="315" src="https://proxy.lbry.projectsegfau.lt/stream/api/v4/streams/free/Abby-Heartbeat-Cardiophillia-moment-Legit/eb451aac0b09a2417eefaad1c787a7e2ae8e8883/2f60c3?download=1"/>
    </li>
<li><ButtonizedLink href={"https://lbry.projectsegfau.lt/@X0P1R4T3-33NSVREENMNT-0FFICIAL:f/HHBB1:0"} target="_blank" rel="noopener noreferrer">msbart27's woman heart pounding out of chest</ButtonizedLink>
    <a href="https://heart27.gumroad.com/" target="_blank" rel="noopener noreferrer">msbart27 un-comeback gumroad page</a> &
    <a href="https://www.deviantart.com/msbart27" target="_blank" rel="noopener noreferrer">msbart27 DeviantArt page</a><br/>
    <EmbedVideo title="HHBB1" width="75%" height="315" src="https://proxy.lbry.projectsegfau.lt/stream/api/v4/streams/free/HHBB1/011f9bff5b7d90d6d56fd603acdfe0eb558fc52f/cbaa65?download=1"/>
    </li>
<!-- https://odysee.com/@X0P1R4T3-33NSVREENMNT-0FFICIAL:f/jshb1:b -->
<li><ButtonizedLink href={"https://lbry.projectsegfau.lt/@X0P1R4T3-33NSVREENMNT-0FFICIAL:f/jshb1:b"} target="_blank" rel="noopener noreferrer">msbart27's Jessica Rabbit Heartbeat interactive</ButtonizedLink> This also goned.</li>
<li><ButtonizedLink href={"https://www.pixiv.net/en/users/12958968/"} target="_blank" rel="noopener noreferrer">gMr28's Pixiv page</ButtonizedLink> Hand drawn illustrations, such as heart guro.</li>
<!--https://www.pixiv.net/en/users/12958968/artworks?p=2-->
<li><ButtonizedLink href={"https://tamatoysdirect.tma.co.jp/products/detail/14742"} target="_blank" rel="noopener noreferrer">Grasp Heart 🫀</ButtonizedLink>
    Heart organ shapped fleshlight.
    <a href={"https://twitter.com/tamatoys_TMA_01/status/1600309593128636416?t=LPzN0eAshbjClynB8wkxZw&s=19"}>Twitter sauce here</a>
    discovered by <code>master</code>
    at Ichor Mongrel's Discord server, & the Store URL discovered by Aerik, also in the Ichor Mongrel's server.</li>
<li><ButtonizedLink href={"https://at.tumblr.com/joelwindows7/cardiomason-shadow-banned-or-they-chose/8n4ngk38kxhw"} target="_blank" rel="noopener noreferrer">Reblogs from cardiomason's Tumblr</ButtonizedLink> they seems deactivated themselves, probably repost outside Tumblr where they hated it, idk man. Oh pls, why?!</li>
<li><ButtonizedLink href={"https://at.tumblr.com/ay-heart-collection/ay-heart-collection/nj3uobwnwu2b"} target="_blank" rel="noopener noreferrer">A.Y. Heart Collection Dropbox</ButtonizedLink> Dropbox folder of A.Y. Heartbeat Cardiophilia creative works & every heartbeat stuffs. pls reblog!</li>
<!-- https://www.dropbox.com/sh/hi7uqdubgmgpvf9/AACsYjAsFAHua3udGwhsjguha?dl=0 -->
<!--(lick)!! oh okay sorry, but you got the point-->
<li><ButtonizedLink href={"https://youtube.com/playlist?list=PLdUsjOPIqIz9Yy3nJpntRaK-Ay3UcGQgC"} target="_blank" rel="noopener noreferrer">Playlist Heartbeat in Games</ButtonizedLink> B. I assume there is alot of NSFW contents. Pls archive all!</li>
<li><ButtonizedLink href={"https://at.tumblr.com/museumsweasel/pxhh6l1pjfj4"} target="_blank" rel="noopener noreferrer">Museumsweasel Tumblr</ButtonizedLink> seems forgor Mature mark.. uh..</li>
<li><ButtonizedLink href={"https://at.tumblr.com/ctbffgcf/zerwmxh1jmk4"} target="_blank" rel="noopener noreferrer">& ctbffcgf Tumblr</ButtonizedLink> the R-18 blog of it, idk, it says that.</li>
<li><ButtonizedLink href={"https://www.furaffinity.net/user/apexthump/"} target="_blank" rel="noopener noreferrer">apexthump FurAffinity</ButtonizedLink> ultra mega enhanced embiggened muscular 🫀 hearts! Giga hearts, double hearts, <a href="https://www.furaffinity.net/view/25649902/" target="_blank" rel="noopener noreferrer">balls heart too believe it or not!</a></li>
<!-- Sought after! a 3d image of naked loli pig girl stething herself. I should've saved the image even I am upset that the fact the artist never share her 3D models. I saw this image on InkBunny!!! -->
<li><ButtonizedLink href={"http://swfchan.com/31/152464/?Nai+by+tlaezotilli.swf"} target="_blank" rel="noopener noreferrer">tlaezotilli's Nai SWF Heart guro mini novel comic</ButtonizedLink> Pls find tlaezotilli on Pixiv! he got also ELE too. Pls reupload all video, link down.</li>
<li><ButtonizedLink href={"https://www.pixiv.net/en/users/10345162"} target="_blank" rel="noopener noreferrer">tlaezotilli's Pixiv</ButtonizedLink> </li>
<li><ButtonizedLink href={"https://www.pixiv.net/users/40236011"} target="_blank" rel="noopener noreferrer">lasoroesanimae Pixiv</ButtonizedLink> Pls reupload all their videos! Tumblr destroyed it back then. You Know what, upload all Tumblr we last time asked to download data.</li>
<li><ButtonizedLink href={"https://joelwindows7.tumblr.com"} target="_blank" rel="noopener noreferrer">Joel's Tumblr</ButtonizedLink> Hey did you know I also have Tumblr too aswell! mind you, old posts there have no filter because that different new one we use today haven't been introduced. and it's broken, because middle age, Tumblr destroyed it but then repent again introducing instead this new filter instead of the old filterer. idk. I'll reupload as all as data as I can later.</li>
