---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import ListCells3DModelsDumpQuikNSFW from './ListCells/ListCells3DModelsDumpQuikNSFW.astro';
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">???</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href="https://smutba.se" target="_blank" rel="noopener noreferrer">Smutbase</ButtonizedLink> Blender & Other Models, also utilities</li>
<li><ButtonizedLink href="https://sfmlab.com" target="_blank" rel="noopener noreferrer">SFMLab</ButtonizedLink> Source Film Maker Models</li>
<li><ButtonizedLink href="https://www.patreon.com/rafaknight/posts" target="_blank" rel="noopener noreferrer">RafaKnight's Patreon Posts</ButtonizedLink> Maya 3D Models,
    <b>has High Quality Shantae too!!!</b> Formerly not $0,
    <a href="https://www.patreon.com/posts/patreon-update-71139010" target="_blank" rel="noopener noreferrer">
        Now are $0
        </a>!!<br/>
    Also pls checkout <a href="https://www.artstation.com/rafaknight" target="_blank" rel="noopener noreferrer">her ArtStation</a> yess.
    </li>
<li><ButtonizedLink href="https://www.furaffinity.net/view/39547918/" target="_blank" rel="noopener noreferrer">Yttreia's 3D Model Collection</ButtonizedLink>
    Blender Inflatable models! NO, not balloon based, it's a species that can inflate as much as possible.<br/>
    <a href={"https://twitter.com/Yttreia?t=GsVhIq-RGn_4eaZc3WCPDQ&s=09"} target="_blank" rel="noopener noreferrer">& Twitter too here</a>. & <a href={"https://linktr.ee/yttreia"} target="_blank" rel="noopener noreferrer">& Linktree too here</a>
</li>
<li><ButtonizedLink href="https://archive.org/details/@strange_anomaly" target="_blank" rel="noopener noreferrer">Strange Anomaly's Archive.org page</ButtonizedLink> Filter by <code>3D Models & Environment</code> collections or some sort idk..</li>
<li><ButtonizedLink href="https://smutba.se/user/83769/" target="_blank" rel="noopener noreferrer">NightBOTgrey's Smutbase page</ButtonizedLink></li>
<li><ButtonizedLink href={"https://twitter.com/d1_gq/status/1453388958390435843?t=W-OuQmOa3WEttAgAK41_wQ&s=19"} target="_blank" rel="noopener noreferrer">D1GQ's Huggy Wuggy 3D Model</ButtonizedLink> <b class="error">uses Google Drive to host the file, not Archive friendly!!!</b></li>
<li><ButtonizedLink href={"https://smutba.se/tutorials/view/105/"} target="_blank" rel="noopener noreferrer">Tutorial How to Volume Tracked Boob Physics</ButtonizedLink> Lewdineer</li>
<li><ButtonizedLink href={"https://smutba.se/project/36789/"} target="_blank" rel="noopener noreferrer">Shego</ButtonizedLink> HentaicoreR18</li>
<li><ButtonizedLink href={"https://smutba.se/user/4618/"} target="_blank" rel="noopener noreferrer">All HentaicoreR18</ButtonizedLink> HentaicoreR18</li>
<ListCells3DModelsDumpQuikNSFW/>
