---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import EmbedPicture from '@components/Elements/EmbedPicture.astro';
import Figurative from '@components/Elements/SparePart/Figurative.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<!-- <li><ButtonizedLink href={""} target="_blank" rel="noopener noreferrer">HERE</ButtonizedLink> INFO</li> -->
<li><ButtonizedLink href={"https://odysee.com/@JOELwindows7:a/Joel-is-Cardiophile-confirmed:0"} target="_blank" rel="noopener noreferrer">Joel's devlog of heartbeat emulator experiment in Godot Engine</ButtonizedLink> with
    <ButtonizedLink href={"https://github.com/Perkedel/HexagonEngine/tree/master/GameDVDCardtridge/DetakJantungProsotipe"} target="_blank" rel="noopener noreferrer">Hexagon Engine Part of this</ButtonizedLink><br/>
    <iframe id="odysee-iframe" width="75%" height="315" src="https://odysee.com/$/embed/@JOELwindows7:a/Joel-is-Cardiophile-confirmed:0?r=5QVnh7Qi8KKQzh7G7pWw9nkfaEGprCzM" allowfullscreen></iframe>
    </li>
<li><ButtonizedLink href={"https://sns.prtls.jp/hbsnsjp/"} target="_blank" rel="noopener noreferrer">HSBSNS JP Kousakunin's heartbeat forum</ButtonizedLink> <mark class="error">Use Only Japanese Zip Code</mark> you have or anything JP Zip Code (if you don't have) to sign up!
    either
    <a href="https://japan-postcode.810popo.net/" target="_blank" rel="noopener noreferrer">This website</a> or
    <a href="https://zipcode-jp.com/" target="_blank" rel="noopener noreferrer">That website</a>
    <mark class="warning">Requires Japanese Language fluency OR Translator.</mark>
    </li>
<li><ButtonizedLink href={"https://hbsnsjp.relav.jp/"} target="_blank" rel="noopener noreferrer">HSBSNS JP Kousakunin's heartbeat forum but using Relav</ButtonizedLink> INFO</li>
<li><ButtonizedLink href={"https://github.com/GrazedAnkle/SHR-SKSE64"} target="_blank" rel="noopener noreferrer">Skyrim Heart rate mod</ButtonizedLink> Introduced by HBObsession from Ichor Mongrel's server</li>
<li><ButtonizedLink href={"https://heart2h.com"} target="_blank" rel="noopener noreferrer">Heart2h.com website</ButtonizedLink> <b class="error">Majority of function requires account, not archive friendly!</b> Video & Forum</li>
<li><ButtonizedLink href={"https://www.deviantart.com/joelwindows7/art/My-Laptop-is-extremely-laggy-let-s-cardiophile-806144320"} target="_blank" rel="noopener noreferrer">A Hat in Time steth moment</ButtonizedLink> Because my laptop is laaaaaaaaaaaaaaggy.
    <Figurative figcaption="Graffiti image featuring Hat Kid & Bow Kid stething their own heart.">
        <div style="overflow-x:auto;">
        <!--<EmbedPicture src="https://github.com/Perkedel/After-Church/raw/master/RAW%20files/ImageScan/AhitHeartbeatSteth.png" title='Graffiti image featuring Hat Kid & Bow Kid stething their own heart.'/>-->
        <img class="SpecialityImageWide" title="Graffiti image featuring Hat Kid & Bow Kid stething their own heart." src="https://github.com/Perkedel/After-Church/raw/master/RAW%20files/ImageScan/AhitHeartbeatSteth.png" alt="Ahit_Steth" />
        </div>
    </Figurative>
    <br/>
    <a href="https://github.com/Perkedel/After-Church/blob/master/RAW%20files/ImageScan/AhitHeartbeatSteth.png" target="_blank" rel="noopener noreferrer">Original File</a>
</li>
<li><ButtonizedLink href={"https://www.deviantart.com/hokoj"} target="_blank" rel="noopener noreferrer">Hokoj's DeviantArt</ButtonizedLink> They got cool interesting cardiophile drawings in their signature style! e.g. <a href='https://www.deviantart.com/hokoj/art/A-little-transparent-945277187' target="_blank" rel="noopener noreferrer">this semi transparent chest girl</a>. MMPH, Mantab! Yeah! </li>
<li><ButtonizedLink href={"https://youtu.be/EIGxc6crmxY"} target="_blank" rel="noopener noreferrer">Amelie's Heartbeat scene</ButtonizedLink> Clip by virgyniah </li>
<li><ButtonizedLink href={"https://joelwindows7.tumblr.com/post/708778708308213761/dbfan2948-is-back-yeyyyy"} target="_blank" rel="noopener noreferrer">dfban2948 is back!!!</ButtonizedLink> Pls also archive & download entire <a href="https://www.youtube.com/@user-lj3kd2xz3s" target="_blank" rel="noopener noreferrer">YouTube channel</a> </li>
<li><ButtonizedLink href={"https://at.tumblr.com/joelwindows7/mantelfungus-deactivated/unfujug6nlql"} target="_blank" rel="noopener noreferrer">MantelFungus is deactivated!!!</ButtonizedLink> Pls also archive & download entire <a href="https://www.deviantart.com/mantelfungus" target="_blank" rel="noopener noreferrer">DeviantArt</a> </li>
<li><ButtonizedLink href={"https://at.tumblr.com/alaxzaidergore/zsyrlvsfi4jr"} target="_blank" rel="noopener noreferrer">alaxzaidergore Tumblr pls!</ButtonizedLink> <b class='warning'>Warning: some contents are suggestive & a bit lewd!</b> </li>
<li><ButtonizedLink href={"https://twitter.com/HChirmiaB"} target="_blank" rel="noopener noreferrer">HChirmiaB twitter</ButtonizedLink> thancc <a href="https://at.tumblr.com/pleasantbananafireprune/credits-twittercomhchirmiab/5gn3hyhh139o" target="_blank" rel="noopener noreferrer">pleasantbananafireprune Tumblr</a> yey!</li>
<li><ButtonizedLink href={"https://twitter.com/HChirmiaB"} target="_blank" rel="noopener noreferrer">HChirmiaB twitter</ButtonizedLink> thancc <a href="https://at.tumblr.com/pleasantbananafireprune/credits-twittercomhchirmiab/5gn3hyhh139o" target="_blank" rel="noopener noreferrer">pleasantbananafireprune Tumblr</a> yey!</li>
<li><ButtonizedLink href={"https://at.tumblr.com/nyank00/cplj3w768lq3"} target="_blank" rel="noopener noreferrer">nyank00 Tumblr</ButtonizedLink> </li>
<!-- I am not messing around when it comes to content gone. we shall now trust solely to archive, because Tumblr reblogs keeps the file alive! -->
<li><ButtonizedLink href={"https://pin.it/XMxdLm1"} target="_blank" rel="noopener noreferrer">(Pinterest) transparent girl compare to un-xray, anime figurines</ButtonizedLink> This seems not much heartbeat but just in case somebody.. idk.</li>
<li><ButtonizedLink href={"https://at.tumblr.com/materiaheartt/fr1nj15vkqjh"} target="_blank" rel="noopener noreferrer">Materiaheartt Tumblr</ButtonizedLink> Heartbeat animation arrhythmia lub dub visible baboom! <b class='error'>Only allows follower whose age number above 18 years old (pressumably regardless any being).</b> Yikesss😬😬😬😬😬, Let's just say because mature people usually have manners compared to younger people. idk, <a href='https://at.tumblr.com/joelwindows7/what-kind-of-cardiophile-animations-will-you-not/6a377p9ys1vu' target="_blank" rel="noopener noreferrer">also though she said 69420, Dark Cardiophilia, CPR Resus are off the table (not into all of them)</a>. So that's the deductions, what do you think? Now the question remains. Are we allowed to make 69420?, because that's what we do at Perkedel!, Not just SFW. She doesn't have to see it of course. That's why, I am afraid to ask this question, so you, Materia or Aces, if you see this, I'm sorry. I'm just asking. So, that's why we put this shoutout in SFW section, you're not into SFW, but only allows mature <i>Homo sapiens</i> & other beings... <b style='font-size:large;'>AHH, foggetaboudiz.</b> Anyways, pls archive! don't forget!</li>