---
---
<!-- https://www.w3schools.com/html/html_tables.asp -->
<table>
    <tr>
        <th>FAT version</th>
        <th>Volume Label = <code>EOS_DEVELOP</code></th>
        <th>Bootcode+2 = <code>BOOTDISK</code></th>
        <th><code>SCRIPT</code></th>
    </tr>
    <tr>
        <td>FAT12/16</td>
        <td>0x2b / 43</td>
        <td>0x40 / 64</td>
        <td>0x1f0</td>
    </tr>
    <tr>
        <td>FAT32</td>
        <td>0x47 / 71</td>
        <td>0x5c / 92</td>
        <td>0x1f0</td>
    </tr>
    <tr>
        <td>ExFAT</td>
        <td>0x82 / 130</td>
        <td>0x7a / 122</td>
        <td>0x1f0</td>
    </tr>
    <tr>
        <td>BtrFS (unsupported)</td>
        <td>0x??? / ???</td>
        <td>0x??? / ???</td>
        <td>0x???</td>
    </tr>
    <tr>
        <td>ext3 (unsupported)</td>
        <td>0x??? / ???</td>
        <td>0x??? / ???</td>
        <td>0x???</td>
    </tr>
    <tr>
        <td>ext4 (unsupported)</td>
        <td>0x??? / ???</td>
        <td>0x??? / ???</td>
        <td>0x???</td>
    </tr>
</table>
<!-- Microsoft filesystem monopoly! what's the point exFAT if we still have to pay manufacturing license?
Why can't we have bigger yet simpler file system for $0 Royalty free?!?!?!??!
-->