---

---
<p class="busy"><font size="1">
    * Only covers good doings, Reuploading without credits (even also paywall that reupload) & even terrorism are not & will never be covered** by this warranty. Also pls don't simply reupload still existing stuffs! You gotta be creative or else you'll risk demonetization & dereputation.<br>
    ** Reuploading lost media (including telling where were you got it from as much as you remember) could be covered*** & has to be<br>
    *** Beware of DMCAers! they'll always abuse DCMA <b style="color:red"><u>🚩&#xf024;</u></b> to censor you! While the DMCA reader are more mature than YouTube, still, just beware to never touch companies political stance & probably their creative work. Fair use might not be obeyed!<br>
    **** While yes, nobody but you owns the content, it means you can even delete content you had uploaded, and so either others. Be wise & don't be too over-reliant, to always backup & hoard whatever content you see & like as all as you can! Odysee & LBRY blockchain system basically cannot & won't prevent author's deletion.<br>
  </font></p>