---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import FormSubmit3DModels from './Forms/FormSubmit3DModels.astro';

export interface Props{
    nsfw?:Boolean;

}

const{
    nsfw=false,

} = Astro.props.frontmatter || Astro.props as Props;
---
<p>If anyone happened to have one of those above, please do not hesitate to reupload & give us the download link at one of the following:</p>
<ul>
    <li><ButtonizedLink href={"https://github.com/Perkedel/perkedel-astro/issues/new?assignees=JOELwindows7&labels=proposal&template=proposal.yml"} target="_blank" rel="noopener noreferrer">Propose on our GitHub repository</ButtonizedLink> <b>Recommended</b>, but <b class="warning">not anonymous</b>. Please use Title tag <code>[FOUND 3D MODEL]</code>!</li>
    <li><ButtonizedLink href={"https://forms.gle/SarngKeLR1vDwG4t6"} target="_blank" rel="noopener noreferrer">Submit link on our Google Forms</ButtonizedLink> <b class="warning">Semi-Anonymous</b> (because it's Google)</li>
    {nsfw?
        <li>Or Fill out this form bellow <b class="info">Anonymous RECOMMENDED</b>:
            <FormSubmit3DModels/>
        </li>
    :""}
    
</ul>
<p>Please please PLEASE!, even if that would <i>infringe copyright</i>, you still should do anyways because here, restriction goes with the official file existence.</p>