---
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import Midi from '@components/Elements/MidiPlayer.astro';
import EmbedAudio from '@components/Elements/EmbedAudio.astro';
---
<ul>
    <!-- <li><ButtonizedLink href="winCE">???</ButtonizedLink></li> -->
    <!-- <li><ButtonizedLink href="winCE" target="_blank" rel="noopener noreferrer">???</ButtonizedLink></li> -->
    <li><ButtonizedLink href="https://archive.org/details/tucows_59033_CE_Task_Manager">Windows CE Task Manager</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/tucows_32378_RegEditCE">Windows CE Regedit Registry Editor</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/solitaire-cegame-0.1">Windows CE Solitaire</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/windows-ce-diskprep-tool">Windows CE Diskprep tool</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/tucows_32174_SolPack_2_HPC">HPC Solitaire Pack</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/tucows_32162_PocketChess">Windows CE Pocket Chess</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/tucows_32187_BeamLink">HPC Beamlink</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/tucows_32092_Maze_Master_CE">Windows CE Maze Master</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/tucows_32193_FingerCE">Windows CE Finger</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/win98retail">Windows 98 Retail</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/HBCD16">Hiren Boot CD v16</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/100LaguAnakAnakIndonesia">100 Indonesian Children Songs (MP3 OGG)</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/dominos-miku-1.15">(iOS) Dominos Pizza Hatsune Miku resurrected</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/ps2homebrewroms">(Not Windows CE) PS2 Homebrew roms</ButtonizedLink></li>
    <li><ButtonizedLink href="http://www.freewarelovers.com/winmobile">Freeware Lovers Category Windows Mobile</ButtonizedLink></li>
    <li><ButtonizedLink href="https://www.reddit.com/r/wceload/comments/iycyps/freewareloverscom_gratis_windows_mobile_apps_free/">Freeware Lovers Category Windows Mobile Reddit post</ButtonizedLink></li>
    <li><ButtonizedLink href="http://www.freewarepocketpc.net/">FreewarePocketPC.net</ButtonizedLink></li>
    <li><ButtonizedLink href="https://www.reddit.com/r/wceload/comments/iycx2m/freewarepocketpc_a_great_source_for_pocket_pc/">FreewarePocketPC.net Reddit Post</ButtonizedLink></li>
    <li><ButtonizedLink href="https://www.navit-project.org/">Navit</ButtonizedLink> Open Source GPS Map PND Windows CE</li>
    <li><ButtonizedLink href="https://archive.org/details/mio-pocket-4.0-release-68">Mio Pocket 4.0 Release 68</ButtonizedLink></li>
    <li><ButtonizedLink href="https://archive.org/details/mio-pocket-mini-4.0-release-2">Mio Pocket Mini 4.0 Release 2</ButtonizedLink></li>
    <li><ButtonizedLink href="https://youtu.be/CqmXbtzPTFE" target="_blank" rel="noopener noreferrer">Windows CE 6 Emulator Starter kit</ButtonizedLink> Collected by I am Interested in Apathy</li>
    <li><ButtonizedLink href="https://youtu.be/gLYka8eN5cQ" target="_blank" rel="noopener noreferrer">ZuneMod YouTube video</ButtonizedLink> in Griffen Sander</li>
    <li><ButtonizedLink href="https://youtu.be/kX20GP2b_J4" target="_blank" rel="noopener noreferrer">Install Zune App 2018 YouTube video</ButtonizedLink> in Griffen Sander</li>
    <li><ButtonizedLink href={`https://onedrive.live.com/?authkey=%21ACNBGa1EvpOAgjs&id=A8E253EB06E99DEB%21502118&cid=A8E253EB06E99DEB&parId=root&parQt=sharedby&parCid=2ED10053EB96FC60&o=OneUp`} target="_blank" rel="noopener noreferrer">Zune App Patch Registry</ButtonizedLink> in Griffen Sander</li>
    <li><ButtonizedLink href={`https://onedrive.live.com/?authkey=%21APGZWB8OY8tE9Xo&id=8EA7CE299BC476C%214015&cid=08EA7CE299BC476C`} target="_blank" rel="noopener noreferrer">Entire Zune Archive folder</ButtonizedLink> in Griffen Sander</li>
    <li><ButtonizedLink href={`https://github.com/ZuneDev/ZuneModdingHelper/`} target="_blank" rel="noopener noreferrer">Zune Modding Helper</ButtonizedLink> in Griffen Sander</li>
    <li><ButtonizedLink href={`https://www.reddit.com/r/Zune/comments/52yo3h/all_the_original_zune_hd_apps_and_games/`} target="_blank" rel="noopener noreferrer">All Original Zune Games all Dropbox, Reddit Post</ButtonizedLink> in Griffen Sander</li>
</ul>