---
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import Midi from '@components/Elements/MidiPlayer.astro';
import EmbedAudio from '@components/Elements/EmbedAudio.astro';
---
<ul>
    <!-- <li><ButtonizedLink href="winCE">???</ButtonizedLink></li> -->
    <!-- <li><ButtonizedLink href="winCE" target="_blank" rel="noopener noreferrer">???</ButtonizedLink></li> -->
    <li><ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/winCEforTabletsandNetbooks">WM8605 Sylvania AliExpress Windows CE netbook firmwares</ButtonizedLink> <b class="success">&#xf060; &#xf060; &#xf060; &#xf060; &#xf060; with wceload here!!</b></li>
    <li><ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/windows-ce-disk-images">Windows CE Disk Images Collection</ButtonizedLink></li>
    <li><ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/WindowsCEVHDs4VPC2004SP1_201808">Windows CE VHD for MS Virtual PC 2004 SP1</ButtonizedLink></li>
    <li><ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/ce-dotnet">Windows CE .NET</ButtonizedLink></li>
    <li><ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/windows-ce-5.0-live-cd">Windows CE 5.0 Live CD</ButtonizedLink></li>
    <li><ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/WindowsEmbeddedCompact7">Windows CE 7 (Windows Embedded Compact 7)</ButtonizedLink></li>
    <li><ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/windows-ce-3.00-vmdk">Windows CE 3.0 VMDK (Virtualbox Disk)</ButtonizedLink></li>
    <li><ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/CE6R3">Windows CE 6 R3</ButtonizedLink></li>
    <li><ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/en_windows_embedded_ce_6.0_r3_dvd__x16-28730">Windows CE 6 R3 another ISO</ButtonizedLink></li>
    <li>Windows CE .NET here CD: 
        <ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/en_win_ce_net_cd1">1</ButtonizedLink> 
        <ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/en_win_ce_net_cd2">2</ButtonizedLink> 
        <ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/en_win_ce_net_cd3">3</ButtonizedLink> 
        <ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/en_win_ce_net_cd4">4</ButtonizedLink> 
        <ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/en_win_ce_net_cd5">5</ButtonizedLink> 
        <ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/en_win_ce_net_cd6">6</ButtonizedLink> 
        </li>
    <li><ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/wincesdk" target="_blank" rel="noopener noreferrer">Windows CE SDK</ButtonizedLink></li>
    <li><ButtonizedLink target="_blank" rel="noopener noreferrer" href="https://archive.org/details/ms-wince-pb30" target="_blank" rel="noopener noreferrer">Windows CE PB30</ButtonizedLink></li>
</ul>