---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
//import { Time } from '@astro-github-elements/time';
---
<!-- <li><a href={""} target="_blank" rel="noopener noreferrer">GONE_FILE</a>. INFO</li> -->
<li><a href={"https://www.patreon.com/Dannih4/posts?filters%5Btag%5D=Glitch%20Techs"} target="_blank" rel="noopener noreferrer">Miko Kubota</a>. I find far & beyond, the $0 not found. here last <a class="Paywalled" href="https://www.patreon.com/Dannih4" target="_blank" rel="noopener noreferrer">from Danni-H4</a></li>
<li>Kim Possible series of 3D Models: Kim, Shego, etc.</li>
<li>Pixar: Sunny Miami (Knick Knack)</li>
<li>Complete Skull girl pack series</li>