---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
---
<li><a href="https://www.deviantart.com/joelwindows7/journal/Maya-Putri-MMD-3D-Model-situation-928109950" target="_blank" rel="noopener noreferrer">Maya Putri</a>. <a href="https://web.archive.org/web/20190823202407/http://maya-putri.com/download/" target="_blank" rel="noopener noreferrer">Gone</a>, nobody will give us download to obey copyright to a file that no longer exist. egregious!</li>
<li><a href="" target="_blank" rel="noopener noreferrer">EFK-san's Equestria Girl edit</a>. I was late to get that MEGA link and it's gone too. basically, it's <a href="https://www.deviantart.com/creatorofpony" target="_blank" rel="noopener noreferrer">CreatoOfPony</a>'s Equestria girls 3d models, edited to wear somekind of metalic shinny Iron-man-like suit.<br/>
    <ul>
        <li>ASRG324234234, <a href="https://mega.nz/#!aRFBySAY!RqkNxuzz4PT6K5EWy6WLtvSpPDneKTeO-Xc0pq7WxYM" target="_blank" rel="noopener noreferrer">Download link <code>EQG 3D Base .OBJ.7z</code> dead</a>! Sorry didn't read, didn't expect anyone would fill this. 💀 PECK!</li>
        <li>Edik, <a href="https://mega.nz/#!3QdDxYwR!-xXcZTWQrL834bs7uu8wNhJHgEFc2EBCCMF6KiNxD4g" target="_blank" rel="noopener noreferrer">Download link <code>PinkiePie Ultimate Model.7z</code> dead</a>! Sorry didn't read, didn't expect anyone would fill this. 💀 PECK!</li>
    </ul>
    </li>