---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';

export interface Props{
    blenderVersion?:string;
    blenderVersionLTS?:string;
}

const{
    blenderVersion = '3.5.1',
    blenderVersionLTS = '3.3',
} = Astro.props.frontmatter || Astro.props as Props;
---
<h2>Today's Blender Version is:</h2>
    <p style="background-color:blue;color:white;font-size:3.5em;font-weight:bolder;border-radius:5px;margin:0px;text-align:center;padding:5px;">{blenderVersion}</p>
    <p style="margin:0px;">& latest LTS at <b style="background-color:darkblue;color:white;border-radius:2px;">{blenderVersionLTS} LTS</b></p>
    <p><ButtonizedLink href="https://blender.org" target="_blank" rel="noopener noreferrer">&#xf6d9; Get / Update Blender Now</ButtonizedLink><br/>
        be sure to get the latest stable version!
        </p>