---
// https://youtu.be/O_zh9L8Hvtk

const Tabling = [
    
]
---
<table>

</table>
<p>Source: <a href="https://youtu.be/O_zh9L8Hvtk" target="_blank" rel="noopener noreferrer">DARK MODE IN WINDOWS 3.1 - INFORMATIONAL TAPE 001, 86Box</a></p>